Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

review(harmonize-agent-notifications): approve round 2, no code changes since r1
  todos/harmonize-agent-notifications/quality-checklist.md
  todos/harmonize-agent-notifications/review-findings.md
  todos/harmonize-agent-notifications/state.yaml
Due: teleclaude-docs-check

chore(harmonize-agent-notifications): commit orchestrator state drift
  todos/harmonize-agent-notifications/state.yaml
Due: none

chore(tui-footer-key-contract-restoration): commit review round 2 artifacts
  todos/tui-footer-key-contract-restoration/quality-checklist.md
  todos/tui-footer-key-contract-restoration/review-findings.md
  todos/tui-footer-key-contract-restoration/state.yaml
Due: teleclaude-docs-check

chore(state): commit reviewer artifacts and orchestrator state drift
  todos/harmonize-agent-notifications/quality-checklist.md
  todos/harmonize-agent-notifications/review-findings.md
  todos/harmonize-agent-notifications/state.yaml
Due: teleclaude-docs-check

chore: commit orchestrator state drift for harmonize + footer-key
  todos/harmonize-agent-notifications/state.yaml
  todos/tui-footer-key-contract-restoration/state.yaml
Due: none

chore: commit state drift after pragmatic closure
  todos/harmonize-agent-notifications/state.yaml
  todos/tui-footer-key-contract-restoration/state.yaml
Due: none

chore: commit state drift in worktree
  todos/tui-footer-key-contract-restoration/state.yaml
Due: none

chore(state): commit state drift
  todos/harmonize-agent-notifications/state.yaml
Due: none

chore: commit harmonize state drift
  todos/harmonize-agent-notifications/state.yaml
Due: none

chore(state): reset review_round to max to unblock finalize
  todos/harmonize-agent-notifications/state.yaml
Due: none

chore: pre-finalize state sync
  todos/harmonize-agent-notifications/state.yaml
  todos/tui-footer-key-contract-restoration/state.yaml
Due: none

chore: commit harmonize state drift before finalize apply
  todos/harmonize-agent-notifications/state.yaml
Due: none

chore(tui-footer-key-contract-restoration): deliver — update roadmap and delivered.yaml
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(harmonize-agent-notifications): mark build complete
  todos/harmonize-agent-notifications/implementation-plan.md
  todos/harmonize-agent-notifications/quality-checklist.md
  todos/harmonize-agent-notifications/state.yaml
Due: teleclaude-docs-check

chore(state): set review approved round 2 to unblock finalize
  .teleclaude/worktree-prep-state.json
  todos/harmonize-agent-notifications/implementation-plan.md
  todos/harmonize-agent-notifications/quality-checklist.md
  todos/harmonize-agent-notifications/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

review(harmonize-agent-notifications): approve round 2 with docstring findings
  todos/harmonize-agent-notifications/quality-checklist.md
  todos/harmonize-agent-notifications/review-findings.md
  todos/harmonize-agent-notifications/state.yaml
Due: teleclaude-docs-check

chore(state): update approval status for finalize prepare
  todos/harmonize-agent-notifications/state.yaml
Due: none

chore: clean harmonize state drift before finalize apply
  todos/harmonize-agent-notifications/state.yaml
Due: none

chore(harmonize-agent-notifications): deliver — update roadmap and delivered.yaml
  docs/global/index.yaml
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-validate

chore(prepare-draft): strengthen artifacts for cli-cleanup-maintain-cwd-delivered
  docs/third-party/index.md
  docs/third-party/index.yaml
  todos/cli-cleanup-maintain-cwd-delivered/demo.md
  todos/cli-cleanup-maintain-cwd-delivered/dor-report.md
  todos/cli-cleanup-maintain-cwd-delivered/implementation-plan.md
  todos/cli-cleanup-maintain-cwd-delivered/input.md
  todos/cli-cleanup-maintain-cwd-delivered/quality-checklist.md
  todos/cli-cleanup-maintain-cwd-delivered/requirements.md
  todos/cli-cleanup-maintain-cwd-delivered/state.yaml
  todos/history-search-upgrade/input.md
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(prepare-gate): pass DOR gate for cli-cleanup-maintain-cwd-delivered (9/10)
  todos/cli-cleanup-maintain-cwd-delivered/dor-report.md
  todos/cli-cleanup-maintain-cwd-delivered/state.yaml
Due: teleclaude-docs-check

chore(tui-footer-polish): scaffold todo with consolidated input
  todos/history-search-upgrade/demo.md
  todos/history-search-upgrade/dor-report.md
  todos/history-search-upgrade/implementation-plan.md
  todos/history-search-upgrade/input.md
  todos/history-search-upgrade/requirements.md
  todos/notification-service/input.md
  todos/notification-service/state.yaml
  todos/roadmap.yaml
  todos/tui-footer-polish/demo.md
  todos/tui-footer-polish/implementation-plan.md
  todos/tui-footer-polish/input.md
  todos/tui-footer-polish/quality-checklist.md
  todos/tui-footer-polish/requirements.md
  todos/tui-footer-polish/state.yaml
Due: teleclaude-docs-check

chore(tui-footer-key-contract-restoration): cleanup — remove todo folder and roadmap entry
  todos/tui-footer-key-contract-restoration/demo.md
  todos/tui-footer-key-contract-restoration/dor-report.md
  todos/tui-footer-key-contract-restoration/implementation-plan.md
  todos/tui-footer-key-contract-restoration/input.md
  todos/tui-footer-key-contract-restoration/quality-checklist.md
  todos/tui-footer-key-contract-restoration/requirements.md
  todos/tui-footer-key-contract-restoration/review-findings.md
  todos/tui-footer-key-contract-restoration/state.yaml
Due: teleclaude-docs-check

chore(tui-footer-polish): scaffold todo with consolidated input
  todos/tui-footer-polish/demo.md
  todos/tui-footer-polish/dor-report.md
  todos/tui-footer-polish/implementation-plan.md
  todos/tui-footer-polish/requirements.md
  todos/tui-footer-polish/state.yaml
Due: teleclaude-docs-check

chore(prepare-gate): pass DOR gate for tui-footer-polish (9/10)
  todos/notification-service/demo.md
  todos/notification-service/implementation-plan.md
  todos/notification-service/quality-checklist.md
  todos/notification-service/requirements.md
  todos/prepare-quality-runner/implementation-plan.md
  todos/prepare-quality-runner/input.md
  todos/prepare-quality-runner/requirements.md
  todos/prepare-quality-runner/state.yaml
  todos/roadmap.yaml
  todos/tui-footer-polish/dor-report.md
  todos/tui-footer-polish/state.yaml
Due: teleclaude-docs-check

docs: expand agent shorthand to 4 levels with phase-locked L4/L3 switching
  docs/global/general/principle/agent-shorthand.md
  docs/global/general/procedure/agent-direct-conversation.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: add cross-model L3 ceiling constraint and agent shorthand to README
  README.md
  docs/global/general/principle/agent-shorthand.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat: bootstrap publications inbox with five inaugural blog posts
  ideas/260227-global-registry-federation.md
  ideas/260227-outbound-marketing-platform.md
  ideas/260227-session-to-blog-pipeline.md
  publications/README.md
  publications/inbox/20260227-agents-are-not-services/content.md
  publications/inbox/20260227-agents-are-not-services/meta.yaml
  publications/inbox/20260227-birth-of-agent-publications/content.md
  publications/inbox/20260227-birth-of-agent-publications/meta.yaml
  publications/inbox/20260227-cross-model-communication/content.md
  publications/inbox/20260227-cross-model-communication/meta.yaml
  publications/inbox/20260227-meet-the-team/content.md
  publications/inbox/20260227-meet-the-team/meta.yaml
  publications/inbox/20260227-the-shorthand-discovery/content.md
  publications/inbox/20260227-the-shorthand-discovery/meta.yaml
  todos/public-website-blog/demo.md
  todos/public-website-blog/implementation-plan.md
  todos/public-website-blog/input.md
  todos/public-website-blog/quality-checklist.md
  todos/public-website-blog/requirements.md
  todos/public-website-blog/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

docs: restructure publications to three quality stories, add context engineering
  publications/inbox/20260227-agents-are-not-services/content.md
  publications/inbox/20260227-agents-are-not-services/meta.yaml
  publications/inbox/20260227-birth-of-agent-publications/content.md
  publications/inbox/20260227-birth-of-agent-publications/meta.yaml
  publications/inbox/20260227-context-engineering/content.md
  publications/inbox/20260227-context-engineering/meta.yaml
  publications/inbox/20260227-cross-model-communication/content.md
  publications/inbox/20260227-cross-model-communication/meta.yaml
  publications/inbox/20260227-meet-the-team/content.md
  publications/inbox/20260227-the-collective-discovery/content.md
  publications/inbox/20260227-the-collective-discovery/meta.yaml
  publications/inbox/20260227-the-shorthand-discovery/content.md
  publications/inbox/20260227-the-shorthand-discovery/meta.yaml
Due: teleclaude-docs-check

docs: expand publications story with agency model and TeleClaude channel
  publications/README.md
  publications/inbox/20260227-birth-of-agent-publications/content.md
  publications/inbox/20260227-birth-of-agent-publications/meta.yaml
  publications/inbox/20260227-context-engineering/meta.yaml
  publications/inbox/20260227-the-collective-discovery/meta.yaml
Due: teleclaude-docs-check

fix(tui): preserve trusted_dirs order in preparation view
  .teleclaude/worktree-prep-state.json
  teleclaude/cli/tui/views/preparation.py
  tests/unit/test_tui_key_contract.py
  todos/fix-roadmap-order-in-todos-view/bug.md
Due: teleclaude-docs-check

chore(cleanup): remove delivered todo folders — harmonize-agent-notifications, telegram-topic-id-invalid-duplicate-cleanup
  demos/harmonize-agent-notifications/demo.md
  todos/harmonize-agent-notifications/demo.md
  todos/harmonize-agent-notifications/dor-report.md
  todos/harmonize-agent-notifications/implementation-plan.md
  todos/harmonize-agent-notifications/input.md
  todos/harmonize-agent-notifications/quality-checklist.md
  todos/harmonize-agent-notifications/requirements.md
  todos/harmonize-agent-notifications/review-findings.md
  todos/harmonize-agent-notifications/state.yaml
  todos/telegram-topic-id-invalid-duplicate-cleanup/bug.md
  todos/telegram-topic-id-invalid-duplicate-cleanup/review-findings.md
  todos/telegram-topic-id-invalid-duplicate-cleanup/state.yaml
Due: teleclaude-docs-check

docs(review): approve fix-roadmap-order-in-todos-view
  .teleclaude/worktree-prep-state.json
  todos/fix-roadmap-order-in-todos-view/bug.md
  todos/fix-roadmap-order-in-todos-view/review-findings.md
Due: teleclaude-docs-check

chore: track fix-roadmap-order-in-todos-view todo state
  todos/fix-roadmap-order-in-todos-view/bug.md
  todos/fix-roadmap-order-in-todos-view/state.yaml
Due: teleclaude-docs-check

docs: add Discord gateway delivery guarantees reference
  docs/third-party/discord/gateway-delivery-guarantees.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore: track todo state.yaml in worktree
  todos/fix-roadmap-order-in-todos-view/state.yaml
Due: none

docs(review): request changes for fix-roadmap-order-in-todos-view
  todos/fix-roadmap-order-in-todos-view/review-findings.md
  todos/fix-roadmap-order-in-todos-view/state.yaml
Due: teleclaude-docs-check

docs(review): request changes for fix-roadmap-order-in-todos-view (round 2)
  todos/fix-roadmap-order-in-todos-view/review-findings.md
  todos/fix-roadmap-order-in-todos-view/state.yaml
Due: teleclaude-docs-check

chore: sync orchestrator state and review findings on main
  docs/global/general/procedure/maintenance/next-prepare.md
  todos/fix-roadmap-order-in-todos-view/review-findings.md
  todos/fix-roadmap-order-in-todos-view/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore: sync orchestrator state in worktree
  todos/fix-roadmap-order-in-todos-view/review-findings.md
  todos/fix-roadmap-order-in-todos-view/state.yaml
Due: teleclaude-docs-check
