Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

feat(config): improve actionable agent validation errors
  teleclaude/config/__init__.py
  tests/unit/test_agent_config_loading.py
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check

docs(config): align spec with enforced agents contract
  docs/project/spec/teleclaude-config.md
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor(agents): add canonical known-agent constant
  teleclaude/core/agents.py
  tests/unit/test_agents.py
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check

feat(agents): add centralized policy helper APIs
  teleclaude/core/agents.py
  tests/unit/test_agents.py
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check

feat(agent-policy): enforce enabled-agent selection across surfaces
  teleclaude/api_server.py
  teleclaude/cli/tui/widgets/modal.py
  teleclaude/cli/tui/widgets/modals.py
  teleclaude/cli/tui/widgets/status_bar.py
  teleclaude/core/command_handlers.py
  teleclaude/core/command_mapper.py
  teleclaude/core/next_machine/core.py
  teleclaude/helpers/agent_cli.py
  tests/unit/test_agent_guidance.py
  tests/unit/test_api_server.py
  tests/unit/test_command_handlers.py
  tests/unit/test_tui_modal.py
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check

chore(plan): record config-validation verification run
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check

fix(agent-cli): preserve app_config compatibility contract
  teleclaude/helpers/agent_cli.py
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check

chore(plan): record dispatch verification adaptation
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check

chore(plan): record tui verification run
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check

chore(plan): record integration verification adaptation
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check

chore(plan): mark fail-closed config done
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check

chore(plan): mark centralized selection contract done
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check

chore(plan): mark guidance placeholder contract done
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check

Normalize synthetic tool previews and strip legacy markers
  teleclaude/core/polling_coordinator.py
  teleclaude/core/tool_activity.py
  tests/unit/test_agent_activity_events.py
  tests/unit/test_polling_coordinator.py
Due: none

test(config): align fixtures with explicit agents contract
  tests/unit/test_config_experiments_overlay.py
  tests/unit/test_config_working_dir.py
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check

chore(demo): align and promote build demo artifact
  demos/agent-config-driven-selection-contract/demo.md
  todos/agent-config-driven-selection-contract/quality-checklist.md
Due: teleclaude-docs-check

test(config): stabilize experiments overlay cleanup reload
  tests/unit/test_config_experiments_overlay.py
Due: none

Fix bug workflow cwd/status parity and bug artifact handling
  docs/project/spec/telec-cli-surface.md
  teleclaude/cli/telec.py
  teleclaude/cli/tui/widgets/todo_row.py
  teleclaude/core/next_machine/core.py
  tests/unit/test_bugs_list_status_parity.py
  tests/unit/test_next_work_bug_worktree_cwd.py
  tests/unit/test_todo_row_bug_artifacts.py
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

fix(telec): make demo and sync validation config-independent
  teleclaude/cli/telec.py
  teleclaude/sync.py
  tests/unit/test_next_machine_demo.py
Due: check-cli-help

refactor: remove legacy teleclaude__ tool naming
  demos/mcp-migration-agent-config/demo.md
  docs/global/software-development/procedure/orchestration.md
  docs/project/design/architecture/next-machine.md
  scripts/diagrams/extract_commands.py
  scripts/diagrams/extract_state_machines.py
  scripts/verify_resilience.py
  teleclaude/api/auth.py
  teleclaude/cli/telec.py
  teleclaude/context_selector.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/session_listeners.py
  teleclaude/core/tool_access.py
  teleclaude/core/tool_activity.py
  tests/unit/test_agent_activity_events.py
  tests/unit/test_api_auth.py
  tests/unit/test_help_desk_features.py
  tests/unit/test_next_machine_breakdown.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
  tests/unit/test_polling_coordinator.py
  tests/unit/test_role_tools.py
  tests/unit/test_session_listeners.py
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

fix(api): enforce agent policy on auto_command session creates
  teleclaude/api_server.py
  tests/unit/test_api_server.py
Due: none

fix(command-mapper): fail closed when no enabled agents exist
  teleclaude/core/command_mapper.py
  tests/unit/test_command_mapper.py
Due: none

chore(review): record applied fixes and commit hashes
  todos/agent-config-driven-selection-contract/review-findings.md
Due: teleclaude-docs-check

Fix TUI tab reactivation switching to sessions
  teleclaude/cli/tui/app.py
  tests/unit/test_tui_tab_activation.py
Due: none

fix(cli): honor config-driven default agent for sessions run
  teleclaude/cli/tool_commands.py
  tests/unit/cli/test_tool_commands.py
Due: none

chore(build): close round-2 build gates
  todos/agent-config-driven-selection-contract/implementation-plan.md
  todos/agent-config-driven-selection-contract/quality-checklist.md
  todos/agent-config-driven-selection-contract/review-findings.md
  todos/agent-config-driven-selection-contract/state.yaml
Due: teleclaude-docs-check

feat(discord): align Discord launch UX with Telegram flow
  demos/discord-slash-commands-like-telegram/demo.md
  teleclaude/adapters/discord/__init__.py
  teleclaude/adapters/discord/session_launcher.py
  teleclaude/adapters/discord_adapter.py
  teleclaude/api/auth.py
  teleclaude/cli/telec.py
  teleclaude/core/adapter_client.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/output_poller.py
  teleclaude/core/session_listeners.py
  teleclaude/utils/markdown.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_discord_adapter.py
  todos/discord-slash-commands-like-telegram/implementation-plan.md
  todos/discord-slash-commands-like-telegram/quality-checklist.md
  todos/discord-slash-commands-like-telegram/state.yaml
Due: teleclaude-docs-check, check-cli-help

chore(todo): record build lint gate result
  todos/discord-slash-commands-like-telegram/quality-checklist.md
Due: teleclaude-docs-check

fix: decouple telegram startup housekeeping from daemon readiness
  bin/daemon-control.sh
  teleclaude/adapters/telegram_adapter.py
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_breakdown.py
  tests/unit/test_next_machine_state_deps.py
Due: none

review(agent-config-driven-selection-contract): request changes for auto_command resume alias gap
  todos/agent-config-driven-selection-contract/quality-checklist.md
  todos/agent-config-driven-selection-contract/review-findings.md
  todos/agent-config-driven-selection-contract/state.yaml
Due: teleclaude-docs-check

Use shell cwd for todo work and remove --cwd requirement
  docs/global/software-development/procedure/orchestration.md
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
  tests/unit/test_todo_work_cli.py
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

docs(cli): make local computer defaults explicit in help and scripts
  docs/plans/2026-02-22-bug-delivery-service-plan.md
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_hitl.py
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

fix(agent-policy): enforce resume alias checks before dispatch
  teleclaude/api_server.py
  teleclaude/core/command_mapper.py
  tests/unit/test_api_server.py
  todos/agent-config-driven-selection-contract/quality-checklist.md
  todos/agent-config-driven-selection-contract/review-findings.md
  todos/agent-config-driven-selection-contract/state.yaml
Due: teleclaude-docs-check

fix(cli): lazy-load global auth config lookup
  teleclaude/cli/telec.py
Due: check-cli-help

chore(agent-config-driven-selection-contract): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(agent-config-driven-selection-contract): add demo snapshot
  demos/agent-config-driven-selection-contract/snapshot.json
Due: none

chore: cleanup agent-config-driven-selection-contract
  todos/agent-config-driven-selection-contract/demo.md
  todos/agent-config-driven-selection-contract/dor-report.md
  todos/agent-config-driven-selection-contract/implementation-plan.md
  todos/agent-config-driven-selection-contract/input.md
  todos/agent-config-driven-selection-contract/quality-checklist.md
  todos/agent-config-driven-selection-contract/requirements.md
  todos/agent-config-driven-selection-contract/review-findings.md
  todos/agent-config-driven-selection-contract/state.yaml
Due: teleclaude-docs-check

fix(build): unblock lint hooks and add runtime version command
  .pre-commit-config.yaml
  docs/project/design/architecture/next-machine.md
  pyproject.toml
  teleclaude.yml
  teleclaude/__init__.py
  teleclaude/api/auth.py
  teleclaude/cli/session_auth.py
  teleclaude/cli/telec.py
  teleclaude/constants.py
  teleclaude/core/adapter_client.py
  teleclaude/core/lifecycle.py
  teleclaude/core/models.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/origins.py
  teleclaude/core/output_poller.py
  teleclaude/core/session_listeners.py
  teleclaude/daemon.py
  teleclaude/mcp_server.py
  tests/unit/test_discord_adapter.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_output_poller.py
  tests/unit/test_package_version.py
  tests/unit/test_telec_cli.py
  todos/deployment-versioning/implementation-plan.md
  todos/deployment-versioning/state.yaml
  todos/roadmap.yaml
  tools/lint.sh
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help
