Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

docs(qos): add review findings — APPROVE with 3 important findings
  todos/adapter-output-qos-scheduler/quality-checklist.md
  todos/adapter-output-qos-scheduler/review-findings.md
Due: teleclaude-docs-check

fix(frontend): improve API auth error handling and fix dev session loading
  frontend/app/api/sessions/route.ts
  frontend/components/sidebar/SessionList.tsx
  frontend/lib/api/sessions.ts
  frontend/lib/identity/email.ts
  frontend/middleware.ts
Due: none

chore(main): checkpoint canonical changes for finalize
  cookies.txt
  docs/global/index.yaml
  sessions_debug.json
  todos/adapter-output-qos-scheduler/state.yaml
Due: teleclaude-docs-validate

chore(delivery): log help-desk-startup-command-ordering delivery
  todos/adapter-output-qos-scheduler/state.yaml
  todos/delivered.yaml
  todos/fix-sticky-removal-layout-issues/bug.md
  todos/fix-sticky-removal-layout-issues/review-findings.md
  todos/fix-sticky-removal-layout-issues/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore: cleanup help-desk-startup-command-ordering todo artifacts
  todos/help-desk-startup-command-ordering/demo.md
  todos/help-desk-startup-command-ordering/dor-report.md
  todos/help-desk-startup-command-ordering/implementation-plan.md
  todos/help-desk-startup-command-ordering/input.md
  todos/help-desk-startup-command-ordering/quality-checklist.md
  todos/help-desk-startup-command-ordering/requirements.md
  todos/help-desk-startup-command-ordering/review-findings.md
  todos/help-desk-startup-command-ordering/state.yaml
Due: teleclaude-docs-check

review(fix-tty-corruption-errors): APPROVE — round 2 re-review, all findings resolved
  todos/fix-tty-corruption-errors/review-findings.md
Due: teleclaude-docs-check

chore: update state, findings, and roadmap after review approval
  todos/adapter-output-qos-scheduler/review-findings.md
  todos/adapter-output-qos-scheduler/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(qos): sync local todo artifacts before merge
  todos/adapter-output-qos-scheduler/implementation-plan.md
  todos/adapter-output-qos-scheduler/review-findings.md
  todos/adapter-output-qos-scheduler/state.yaml
Due: teleclaude-docs-check

chore: cleanup adapter-output-qos-scheduler delivery artifacts
  todos/adapter-output-qos-scheduler/deferrals.md
  todos/adapter-output-qos-scheduler/demo.md
  todos/adapter-output-qos-scheduler/implementation-plan.md
  todos/adapter-output-qos-scheduler/input.md
  todos/adapter-output-qos-scheduler/quality-checklist.md
  todos/adapter-output-qos-scheduler/requirements.md
  todos/adapter-output-qos-scheduler/research.md
  todos/adapter-output-qos-scheduler/review-findings.md
  todos/adapter-output-qos-scheduler/state.yaml
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore: cleanup fix-tty-corruption-errors todo artifacts
  todos/fix-tty-corruption-errors/bug.md
  todos/fix-tty-corruption-errors/review-findings.md
  todos/fix-tty-corruption-errors/state.yaml
Due: teleclaude-docs-check

review(integration): request changes — supersession tie-break, missing test coverage
  todos/integration-events-model/quality-checklist.md
  todos/integration-events-model/review-findings.md
  todos/integration-events-model/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(roadmap): commit orchestrator-managed drift before finalize
  todos/roadmap.yaml
Due: none

chore(deployment-migrations): commit orchestrator state drift
  todos/deployment-migrations/implementation-plan.md
  todos/deployment-migrations/quality-checklist.md
  todos/deployment-migrations/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

fix(integration): enforce deterministic supersession ties
  teleclaude/core/integration/readiness_projection.py
  tests/unit/test_integration_events_model.py
Due: none

fix(integration): replay durable history on service init
  teleclaude/core/integration/service.py
  tests/unit/test_integration_events_model.py
Due: none

fix(integration): preserve event type in timestamp errors
  teleclaude/core/integration/events.py
  tests/unit/test_integration_events_model.py
Due: none

refactor(integration): reuse canonical idempotency digest
  teleclaude/core/integration/event_store.py
Due: none

docs(skills): define exploratory skill taxonomy and build quality-checklist
  docs/global/general/concept/skill-taxonomy.md
  todos/roadmap.yaml
  todos/skills-procedure-taxonomy-alignment/implementation-plan.md
  todos/skills-procedure-taxonomy-alignment/quality-checklist.md
  todos/skills-procedure-taxonomy-alignment/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(deployment-migrations): mark build tasks complete
  todos/deployment-migrations/implementation-plan.md
  todos/deployment-migrations/quality-checklist.md
  todos/deployment-migrations/state.yaml
Due: teleclaude-docs-check

docs(skills): extract procedures for 5 exploratory skills
  docs/global/general/procedure/socratic-design-refinement.md
  docs/global/general/procedure/youtube-research.md
  docs/global/software-development/procedure/research/tech-stack-documentation.md
  docs/global/software-development/procedure/root-cause-debugging.md
  docs/global/software-development/procedure/silent-failure-audit.md
  todos/skills-procedure-taxonomy-alignment/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(integration): narrow persisted record field types
  teleclaude/core/integration/events.py
  tests/unit/test_integration_events_model.py
Due: none

chore(deployment-migrations): finalize build gates
  todos/deployment-migrations/quality-checklist.md
Due: teleclaude-docs-check

test(integration): cover replay durability after restart
  tests/integration/test_integration_readiness_projection.py
Due: none

test(integration): enforce required field contract parity
  tests/unit/test_integration_events_model.py
Due: none

test(integration): cover ingest_raw service boundary
  tests/unit/test_integration_events_model.py
Due: none

fix(integration): export checker aliases in package API
  teleclaude/core/integration/__init__.py
  tests/unit/test_integration_events_model.py
Due: none

docs(integration): record applied review fixes
  todos/integration-events-model/review-findings.md
Due: teleclaude-docs-check

refactor(skills): convert 5 exploratory skill wrappers to thin procedure references
  agents/skills/brainstorming/SKILL.md
  agents/skills/next-silent-failure-hunter/SKILL.md
  agents/skills/systematic-debugging/SKILL.md
  agents/skills/tech-stack-docs/SKILL.md
  agents/skills/youtube/SKILL.md
  docs/global/index.yaml
  docs/project/index.yaml
  docs/third-party/index.yaml
  todos/skills-procedure-taxonomy-alignment/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(build): validate and record build readiness for skills-procedure-taxonomy-alignment
  demos/skills-procedure-taxonomy-alignment/demo.md
  todos/skills-procedure-taxonomy-alignment/implementation-plan.md
  todos/skills-procedure-taxonomy-alignment/quality-checklist.md
Due: teleclaude-docs-check

chore(deployment-migrations): finalize build gates
  todos/roadmap.yaml
Due: none

chore(integration-events-model): close builder gates with fresh verification
  todos/integration-events-model/quality-checklist.md
Due: teleclaude-docs-check

docs(quality): document pre-existing flaky test in build gates
  todos/roadmap.yaml
  todos/skills-procedure-taxonomy-alignment/implementation-plan.md
  todos/skills-procedure-taxonomy-alignment/quality-checklist.md
Due: teleclaude-docs-check

review(integration): approve round 2 with one non-blocking finding
  todos/integration-events-model/implementation-plan.md
  todos/integration-events-model/quality-checklist.md
  todos/integration-events-model/review-findings.md
  todos/integration-events-model/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

docs(review): approve skills-procedure-taxonomy-alignment with 2 suggestions
  todos/skills-procedure-taxonomy-alignment/quality-checklist.md
  todos/skills-procedure-taxonomy-alignment/review-findings.md
  todos/skills-procedure-taxonomy-alignment/state.yaml
Due: teleclaude-docs-check

chore: commit in-progress work on main before finalize
  agents/commands/next-demo.md
  agents/commands/next-work.md
  docs/global/general/procedure/socratic-design-refinement.md
  docs/global/general/procedure/youtube-research.md
  docs/global/index.yaml
  docs/global/software-development/concept/orchestrator.md
  docs/global/software-development/procedure/lifecycle-overview.md
  docs/global/software-development/procedure/lifecycle/demo.md
  docs/global/software-development/procedure/orchestration.md
  docs/global/software-development/procedure/research/tech-stack-documentation.md
  docs/global/software-development/procedure/root-cause-debugging.md
  docs/global/software-development/procedure/silent-failure-audit.md
  frontend/cli/components/sessions/SessionsView.tsx
  frontend/cli/hooks/useDoublePress.ts
  pyproject.toml
  teleclaude/api/auth.py
  teleclaude/api/session_access.py
  teleclaude/core/cache.py
  teleclaude/core/db.py
  teleclaude/core/migrations/024_add_sessions_performance_indexes.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/schema.sql
  teleclaude/daemon.py
  tests/unit/test_api_auth.py
  tests/unit/test_daemon.py
  todos/harmonize-agent-notifications/demo.md
  todos/harmonize-agent-notifications/implementation-plan.md
  todos/harmonize-agent-notifications/input.md
  todos/harmonize-agent-notifications/quality-checklist.md
  todos/harmonize-agent-notifications/requirements.md
  todos/harmonize-agent-notifications/state.yaml
  todos/integration-events-model/review-findings.md
  todos/integration-events-model/state.yaml
  todos/roadmap.yaml
  todos/skills-procedure-taxonomy-alignment/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate, check-raw-sql

chore: commit remaining doc drift before finalize
  docs/project/design/architecture/outbox.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(deployment-migrations): set build: complete in state
  todos/deployment-migrations/state.yaml
Due: none

chore(todos): refine harmonize agent notifications plan
  todos/harmonize-agent-notifications/implementation-plan.md
Due: teleclaude-docs-check

feat(config-wizard): register whatsapp env vars in adapter registry
  teleclaude/cli/config_handlers.py
  todos/config-wizard-whatsapp-wiring/implementation-plan.md
Due: teleclaude-docs-check

feat(config-wizard): wire whatsapp adapter component env vars
  teleclaude/cli/tui/config_components/adapters.py
  todos/config-wizard-whatsapp-wiring/implementation-plan.md
Due: teleclaude-docs-check
