Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

fix(docs): resolve all schema violations in project procedure, policy, and third-party doc snippets
  docs/project/policy/cache-contract.md
  docs/project/policy/scripts-standalone-execution.md
  docs/project/procedure/deploy.md
  docs/project/procedure/member-onboarding.md
  docs/project/procedure/runner-operations.md
  docs/project/procedure/troubleshooting.md
  docs/third-party/art-of-hosting/chaordic-design.md
  docs/third-party/art-of-hosting/harvesting.md
  docs/third-party/art-of-hosting/methods.md
  docs/third-party/art-of-hosting/overview.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(docs): resolve all schema violations in project spec and design doc snippets
  docs/project/design/cli-authorization-matrix.md
  docs/project/design/ux/session-highlight/implementation-plan.md
  docs/project/design/ux/session-preview-sticky.md
  docs/project/design/ux/tui-animations.md
  docs/project/spec/cache-ttl-matrix.md
  docs/project/spec/event-vocabulary.md
  docs/project/spec/identity-and-auth.md
  docs/project/spec/inbound-queue.md
  docs/project/spec/integration-orchestrator.md
  docs/project/spec/jobs/log-bug-hunter.md
  docs/project/spec/jobs/memory-review.md
  docs/project/spec/jobs/next-prepare-draft.md
  docs/project/spec/jobs/next-prepare-gate.md
  docs/project/spec/jobs/next-prepare.md
  docs/project/spec/jobs/youtube-sync-subscriptions.md
  docs/project/spec/release-inspector-prompt.md
  docs/project/spec/release-report-schema.md
  docs/project/spec/session-output-routing.md
  docs/project/spec/telec-cli-surface.md
  docs/project/spec/teleclaude-config.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(context-delivery-dedup): stop auto-expanding deps in build_context_output
  teleclaude/context_selector.py
  teleclaude/resource_validation.py
  tests/unit/test_context_selector.py
  todos/context-delivery-dedup/implementation-plan.md
Due: teleclaude-docs-check

fix(validation): skip code blocks in section validator; fix 2 straggler doc issues
  docs/global/general/concept/agent-invocation-modes.md
  docs/global/software-development/procedure/lifecycle/finalize.md
  teleclaude/resource_validation.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(context-delivery-dedup): trim AGENTS.md baseline — remove large inline sections
  docs/global/baseline-progressive.md
  docs/global/baseline.md
  docs/global/general/spec/tools/telec-cli.md
  todos/context-delivery-dedup/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(context-delivery-dedup): update context-retrieval policy for three-phase flow
  docs/global/general/policy/context-retrieval.md
  todos/context-delivery-dedup/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(state-machine-gate-sharpening): implement false-invalidation loop fixes
  demos/state-machine-gate-sharpening/demo.md
  teleclaude/core/next_machine/core.py
  tests/unit/test_state_machine_gate_sharpening.py
  todos/state-machine-gate-sharpening/implementation-plan.md
  todos/state-machine-gate-sharpening/quality-checklist.md
Due: teleclaude-docs-check

chore(state-machine-gate-sharpening): mark build phase complete
  todos/state-machine-gate-sharpening/state.yaml
Due: none

chore(context-delivery-dedup): finalize build — quality checklist + demo artifact
  demos/context-delivery-dedup/demo.md
  todos/context-delivery-dedup/quality-checklist.md
Due: teleclaude-docs-check

chore(context-delivery-dedup): check off tasks 4.2 and 4.3 in implementation plan
  todos/context-delivery-dedup/implementation-plan.md
Due: teleclaude-docs-check

chore(context-delivery-dedup): mark build phase complete
  todos/context-delivery-dedup/state.yaml
Due: none

chore(context-delivery-dedup): sync generated artifacts after build
  .teleclaude/worktree-prep-state.json
  docs/global/index.yaml
  docs/project/index.yaml
  docs/third-party/index.yaml
Due: teleclaude-docs-validate

fix(tests): align test fixtures with stricter validation rules
  tests/unit/test_resource_validation.py
  tests/unit/test_telec_sync.py
Due: none

review(state-machine-gate-sharpening): 3 critical, 5 important — REQUEST CHANGES
  todos/state-machine-gate-sharpening/quality-checklist.md
  todos/state-machine-gate-sharpening/review-findings.md
Due: teleclaude-docs-check

fix(state-machine-gate-sharpening): address critical and important review findings
  teleclaude/core/next_machine/core.py
Due: none

fix(demo): correct wrong test file reference and broken grep in demo.md
  demos/state-machine-gate-sharpening/demo.md
Due: teleclaude-docs-check

test(state-machine-gate-sharpening): update tests for new algorithm, add missing coverage
  tests/unit/test_state_machine_gate_sharpening.py
Due: none

docs(review): record fixes applied for all critical and important findings
  todos/state-machine-gate-sharpening/review-findings.md
Due: teleclaude-docs-check

review(state-machine-gate-sharpening): round 2 — APPROVE with 1 important (demo narrative)
  todos/state-machine-gate-sharpening/quality-checklist.md
  todos/state-machine-gate-sharpening/review-findings.md
Due: teleclaude-docs-check

chore(delivery): deliver state-machine-gate-sharpening
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore: commit orchestrator state before merge
  todos/context-delivery-dedup/state.yaml
  todos/roadmap.yaml
Due: none

fix(config-wizard): re-focus config view after guided mode activation
  teleclaude/cli/tui/app.py
Due: none

chore(context-delivery-dedup): mark build phase complete
  state.yaml
Due: none

fix(tests): isolate guardrail tests from host environment
  tests/unit/test_gh_wrapper_guardrails.py
  tests/unit/test_git_wrapper_guardrails.py
  tests/unit/test_pre_push_guardrails.py
Due: none

review(context-delivery-dedup): REQUEST CHANGES — demo uses dep-free snippet, test gap
  todos/context-delivery-dedup/quality-checklist.md
  todos/context-delivery-dedup/review-findings.md
Due: teleclaude-docs-check

fix(demo): use orchestration snippet with real Required reads dep
  demos/context-delivery-dedup/demo.md
Due: teleclaude-docs-check

test(context_selector): cover dual-fetch (snippet + dep in one call)
  tests/unit/test_context_selector.py
Due: none

fix(context_selector): log warning on resolve_requires read failure
  teleclaude/context_selector.py
Due: none

docs(review): record fixes applied for C1, I1, I2
  todos/context-delivery-dedup/review-findings.md
Due: teleclaude-docs-check

review(context-delivery-dedup): APPROVE — all findings resolved
  todos/context-delivery-dedup/quality-checklist.md
  todos/context-delivery-dedup/review-findings.md
Due: teleclaude-docs-check

feat(animations): sprite direction chain, tab bar entity rendering, car sprites
  docs/project/design/ux/tui-animations.md
  docs/project/index.yaml
  teleclaude.yml
  teleclaude/cli/tui/animation_engine.py
  teleclaude/cli/tui/animations/base.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/animations/sprites/__init__.py
  teleclaude/cli/tui/animations/sprites/birds.py
  teleclaude/cli/tui/animations/sprites/cars.py
  teleclaude/cli/tui/animations/sprites/celestial.py
  teleclaude/cli/tui/animations/sprites/clouds.py
  teleclaude/cli/tui/animations/sprites/composite.py
  teleclaude/cli/tui/animations/sprites/ufo.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/banner.py
  teleclaude/cli/tui/widgets/box_tab_bar.py
  tests/unit/test_gh_wrapper_guardrails.py
  tests/unit/test_git_wrapper_guardrails.py
  tests/unit/test_pre_push_guardrails.py
  todos/person-proficiency-level/input.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(delivery): deliver context-delivery-dedup
  todos/context-delivery-dedup/quality-checklist.md
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

fix(config-wizard): free navigation in guided mode
  teleclaude/cli/tui/views/config.py
Due: none

fix(config-wizard): remove focus bar, prevent VerticalScroll focus theft
  teleclaude/cli/tui/views/config.py
Due: none

fix(config-wizard): remove focus bar and fix click focus theft
  teleclaude/cli/tui/views/config.py
Due: none

feat(config-wizard): add full click support to ConfigContent
  teleclaude/cli/tui/views/config.py
Due: none

feat(config-wizard): remove validate tab, add people inline editing
  teleclaude/cli/tui/views/config.py
Due: none

feat(config-wizard): cycle role enum instead of free-text input
  teleclaude/cli/tui/views/config.py
Due: none

chore(integration): housekeeping commit before cli-knowledge-commands integration
  docs/global/index.yaml
  docs/project/index.yaml
  docs/third-party/index.yaml
  state.yaml
  teleclaude/cli/tui/animations/base.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/animations/sprites/cars.py
  teleclaude/cli/tui/animations/sprites/clouds.py
  teleclaude/cli/tui/animations/sprites/composite.py
  teleclaude/cli/tui/widgets/box_tab_bar.py
Due: teleclaude-docs-validate

feat(cli): add telec history and telec memories subcommands
  demos/cli-knowledge-commands/demo.md
  docs/global/baseline.md
  docs/global/general/procedure/agent-artifact-authoring.md
  docs/global/general/procedure/memory-management.md
  docs/global/general/spec/tools/agent-restart.md
  docs/global/general/spec/tools/history-search.md
  docs/global/general/spec/tools/memory-management-api.md
  docs/global/index.yaml
  docs/project/design/architecture/memory-system.md
  docs/project/spec/telec-cli-surface.md
  scripts/history.py
  teleclaude/cli/api_client.py
  teleclaude/cli/telec.py
  teleclaude/core/next_machine/core.py
  teleclaude/history/__init__.py
  teleclaude/history/search.py
  teleclaude/sync.py
  tests/unit/test_telec_knowledge_commands.py
  todos/cli-knowledge-commands/implementation-plan.md
  todos/cli-knowledge-commands/quality-checklist.md
  todos/cli-knowledge-commands/review-findings.md
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
