Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs (sync_resources strict)
  entry: bash -c
  args:
  - uv run --quiet scripts/sync_resources.py --project-root "$PWD"
  language: system
  pass_filenames: false

docs: add Memento restart pattern and share output design docs
  docs/global/general/spec/tools/agent-restart.md
  docs/project/design/architecture/output-delivery.md
  docs/project/design/architecture/output-sizing.md
  docs/project/index.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(project): add operational truth specs and index entries
  docs/project/index.yaml
  docs/project/spec/hook-normalized-events.md
  docs/project/spec/runtime-operations-truth.md
  docs/project/spec/session-identity-truth.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: add naming and commenting rules to shared code-quality-practices
  docs/global/software-development/policy/code-quality-practices.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(primer): add knowledge-sharing guidance to resist private memory hoarding
  agents/CLAUDE.primer.md
Due: teleclaude-docs-check

docs(baseline): add agent-restart spec to global baseline
  docs/global/baseline.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: promote Memento pattern to Continuity principle
  agents/CLAUDE.primer.md
  docs/global/baseline.md
  docs/global/general/principle/continuity.md
  docs/global/general/procedure/agent-artifact-authoring.md
  docs/global/general/spec/tools/agent-restart.md
  docs/global/index.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

feat: add --show and --thinking flags to history tool
  docs/global/general/spec/tools/history-search.md
  scripts/history.py
  teleclaude/utils/transcript.py
Due: teleclaude-docs-check, teleclaude-docs-validate

idea: memory review job for periodic memory analysis
  ideas/260209-memory-review-job.md
Due: teleclaude-docs-check

feat(memory): add DELETE endpoint and clean up gravel
  docs/global/general/spec/tools/memory-management-api.md
  teleclaude/memory/api_routes.py
  teleclaude/memory/store.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(cron): add agent-type jobs — spawn headless AI sessions from config
  docs/project/design/architecture/jobs-runner.md
  docs/project/index.yaml
  docs/project/spec/jobs/memory-review.md
  teleclaude.yml
  teleclaude/cron/runner.py
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(todos): add job-contract-refinements todo, create icebox, reorder roadmap
  todos/icebox.md
  todos/job-contract-refinements/requirements.md
  todos/job-contract-refinements/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

docs: add agent-job-hygiene procedure and align jobs architecture to script/job discriminator
  docs/global/general/procedure/agent-job-hygiene.md
  docs/global/index.yaml
  docs/project/design/architecture/jobs-runner.md
  docs/project/index.yaml
  docs/project/spec/hook-normalized-events.md
  docs/project/spec/jobs/memory-review.md
  docs/project/spec/jobs/youtube-sync-subscriptions.md
  docs/project/spec/runtime-operations-truth.md
  docs/project/spec/session-identity-truth.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(jobs): finalize next-prepare runner and scheduling contract prep
  docs/project/spec/jobs/next-prepare.md
  teleclaude.yml
  todos/config-schema-validation/implementation-plan.md
  todos/config-schema-validation/requirements.md
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(cron): enforce job-based agent contract and sync validation
  docs/project/design/architecture/jobs-runner.md
  docs/project/spec/jobs/merge-runner.md
  docs/project/spec/jobs/next-prepare.md
  jobs/base.py
  teleclaude.yml
  teleclaude/cron/discovery.py
  teleclaude/cron/runner.py
  teleclaude/resource_validation.py
  teleclaude/sync.py
  tests/unit/test_cron_discovery.py
  tests/unit/test_cron_runner_job_contract.py
  tests/unit/test_resource_validation.py
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(commits): make policy canonical and de-sprawl references
  agents/CLAUDE.primer.md
  agents/CODEX.primer.md
  agents/GEMINI.primer.md
  agents/commands/next-build.md
  agents/commands/next-finalize.md
  agents/commands/next-fix-review.md
  agents/commands/sync-todos.md
  docs/global/software-development/policy/commits.md
  docs/global/software-development/procedure/lifecycle/build.md
  docs/global/software-development/procedure/lifecycle/finalize.md
  docs/global/software-development/procedure/lifecycle/fix-review.md
  teleclaude/core/next_machine/core.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(tui): finalize remaining adapter and monitor plan changes
  teleclaude/adapters/telegram_adapter.py
  teleclaude/cli/tui/views/sessions.py
  todos/agent-output-monitor/implementation-plan.md
Due: teleclaude-docs-check

feat(todos): add real-time TODO updates via filesystem watcher
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/tui/app.py
  teleclaude/constants.py
  teleclaude/core/cache.py
  teleclaude/core/todo_watcher.py
  teleclaude/daemon.py
Due: teleclaude-docs-validate

docs(todo): finalize phase2 checkpoint precedence and codex parity
  todos/agent-output-monitor/implementation-plan.md
  todos/agent-output-monitor/input.md
  todos/agent-output-monitor/requirements.md
Due: teleclaude-docs-check

docs(checkpoint): remove baseline exposure and policy/procedure snippets
  docs/global/baseline.md
  docs/global/general/concept/memory-tiers.md
  docs/global/general/policy/checkpoint.md
  docs/global/general/procedure/checkpoint.md
  docs/global/index.yaml
  docs/project/design/architecture/checkpoint-system.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(hooks): block staged/unstaged overlap before pre-commit
  teleclaude/project_setup/hooks.py
Due: none

chore: commit all pending workspace changes
  teleclaude/adapters/telegram_adapter.py
  teleclaude/api_server.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/todos.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/mcp/handlers.py
  teleclaude/transport/redis_transport.py
  tests/unit/test_api_server.py
  tests/unit/test_redis_adapter_cache_pull.py
  tests/unit/test_telegram_adapter.py
  tests/unit/test_tui_todos.py
  todos/agent-output-monitor/implementation-plan.md
  todos/agent-output-monitor/requirements.md
Due: teleclaude-docs-check

docs(agents): add full-commit intent inspection reminder
  agents/AGENTS.global.md
Due: teleclaude-docs-check

refactor(next-prepare): remove input-slug capture; rename session output summary fields
  teleclaude/api_models.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/core/command_handlers.py
  teleclaude/core/models.py
  teleclaude/core/next_machine/core.py
  tests/conftest.py
  tests/unit/test_api_client.py
  tests/unit/test_sessions_view.py
  tests/unit/test_tui_sessions_view.py
  tests/unit/test_tui_tree.py
  tests/unit/test_tui_view_snapshots.py
Due: none

fix(tts): make qwen3 model-id loading robust in daemon
  config.sample.yml
  teleclaude/config.py
  teleclaude/tts/backends/qwen3_tts.py
Due: none

refactor(next-prepare): unify scope handling and align docs; pin deps
  agents/commands/next-prepare.md
  docs/global/general/procedure/maintenance/next-prepare.md
  docs/project/spec/jobs/next-prepare.md
  pyproject.toml
  teleclaude/core/agent_coordinator.py
  teleclaude/core/next_machine/core.py
  tests/unit/test_agent_coordinator.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(config): implement Pydantic-based schema validation for teleclaude.yml
  scripts/distribute.py
  teleclaude/config/__init__.py
  teleclaude/config/loader.py
  teleclaude/config/schema.py
  teleclaude/context_selector.py
  teleclaude/core/adapter_client.py
  teleclaude/core/next_machine/core.py
  teleclaude/cron/discovery.py
  teleclaude/cron/runner.py
  teleclaude/docs_index.py
  teleclaude/entrypoints/youtube_sync_subscriptions.py
  teleclaude/helpers/git_repo_helper.py
  teleclaude/mcp/handlers.py
  test_escape.py
  tests/integration/conftest.py
  tests/integration/test_ai_to_ai_regression.py
  tests/integration/test_output_download.py
  tests/integration/test_run_agent_command_e2e.py
  tests/integration/test_voice_flow.py
  tests/unit/test_config_experiments_overlay.py
  tests/unit/test_config_schema.py
  tests/unit/test_config_working_dir.py
  tests/unit/test_cron_runner_job_contract.py
  tests/unit/test_polling_coordinator.py
  tests/unit/test_redis_adapter.py
  tests/unit/test_sessions_view.py
  tests/unit/test_threaded_output.py
  todos/roadmap.md
Due: teleclaude-docs-check

chore(orchestrator): sync phase state after build verification
  todos/config-schema-validation/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

chore(orchestrator): record review findings and review status
  todos/config-schema-validation/review-findings.md
  todos/config-schema-validation/state.json
Due: teleclaude-docs-check

fix(config): validate job duration format and enforce minimum
  teleclaude/config/schema.py
Due: none

fix(config): warn for unknown keys at all nesting levels
  teleclaude/config/loader.py
Due: none

test(config): add coverage for review findings
  tests/unit/test_config_schema.py
Due: none

fix(tests): remove invalid noqa directives from test_db
  tests/unit/test_db.py
Due: none

chore(orchestrator): document fix-review completion
  todos/config-schema-validation/review-findings.md
Due: teleclaude-docs-check

chore(orchestrator): reset review to pending after fixes
  todos/config-schema-validation/state.json
Due: none

chore(orchestrator): record review findings and verdict
  todos/config-schema-validation/review-findings.md
  todos/config-schema-validation/state.json
Due: teleclaude-docs-check

fix(adapter): check env token instead of config for telegram startup
  teleclaude/core/adapter_client.py
Due: none

feat(config): add HH:MM format validation for jobs.when.at
  teleclaude/config/schema.py
Due: none

fix(config): enable unknown-key warnings for job configs
  teleclaude/config/schema.py
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)
