Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

chore(todo): gate youtube-scrape-channels-job
  todos/youtube-scrape-channels-job/dor-report.md
  todos/youtube-scrape-channels-job/implementation-plan.md
  todos/youtube-scrape-channels-job/state.yaml
Due: teleclaude-docs-check

fix(mirrors): use native session IDs and stop truncating search output
  teleclaude/history/search.py
  teleclaude/mirrors/processors.py
  teleclaude/utils/transcript_discovery.py
  tests/unit/test_mirror_processors.py
  tests/unit/test_transcript_discovery.py
Due: none

fix(chiptunes): callback remainder buffer, cold resume, and status logging
  teleclaude/chiptunes/player.py
  teleclaude/chiptunes/worker.py
  tests/unit/test_chiptunes.py
Due: none

feat(tui): idle-aware animation runtime with focus/unfocus pausing
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/state_store.py
  teleclaude/cli/tui/widgets/status_bar.py
  teleclaude/cli/tui/widgets/telec_footer.py
  tests/unit/test_tui_animation_runtime.py
  tests/unit/test_tui_state.py
  tests/unit/test_tui_state_store.py
Due: none

fix(config): prevent restoring transient loading state from disk
  teleclaude/config/runtime_settings.py
Due: none

fix(cleanup): narrow session replay window from 12 hours to 60 seconds
  teleclaude/core/session_cleanup.py
  teleclaude/services/maintenance_service.py
  tests/unit/test_session_cleanup.py
Due: none

fix(hooks): recognize NotebookEdit as file mutation in checkpoint
  teleclaude/hooks/checkpoint.py
Due: none

feat(install): add Firecrawl MCP server to Claude, Codex, and Gemini
  agents/skills/firecrawl/SKILL.md
  mcp.json
  teleclaude/install/install_hooks.py
  teleclaude/install/settings/gemini.json
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: add design discovery references, Firecrawl fallback, creative domain
  agents/commands/next-research.md
  docs/demos/developers.md
  docs/global/creative/procedure/design-discovery.md
  teleclaude.yml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore: update TmuxLauncher binary
  bin/TmuxLauncher.app/Contents/MacOS/tmux-launcher
Due: none

chore: remove obsolete stash prevention ADR
  adr/0001-precommit-stash-prevention.md
Due: teleclaude-docs-check

chore(todos): remove delivered work items
  todos/codex-control-lane/demo.md
  todos/codex-control-lane/implementation-plan.md
  todos/codex-control-lane/input.md
  todos/codex-control-lane/quality-checklist.md
  todos/codex-control-lane/requirements.md
  todos/codex-control-lane/state.yaml
  todos/codex-render-baseline/demo.md
  todos/codex-render-baseline/dor-report.md
  todos/codex-render-baseline/implementation-plan.md
  todos/codex-render-baseline/input.md
  todos/codex-render-baseline/plan-review-findings.md
  todos/codex-render-baseline/quality-checklist.md
  todos/codex-render-baseline/requirements.md
  todos/codex-render-baseline/state.yaml
  todos/codex-render-runtime/demo.md
  todos/codex-render-runtime/implementation-plan.md
  todos/codex-render-runtime/input.md
  todos/codex-render-runtime/quality-checklist.md
  todos/codex-render-runtime/requirements.md
  todos/codex-render-runtime/state.yaml
  todos/codex-render-semantic-runtime/demo.md
  todos/codex-render-semantic-runtime/dor-report.md
  todos/codex-render-semantic-runtime/implementation-plan.md
  todos/codex-render-semantic-runtime/input.md
  todos/codex-render-semantic-runtime/quality-checklist.md
  todos/codex-render-semantic-runtime/requirements.md
  todos/codex-render-semantic-runtime/state.yaml
  todos/tui-chiptunes-resource-leaks/demo.md
  todos/tui-chiptunes-resource-leaks/dor-report.md
  todos/tui-chiptunes-resource-leaks/implementation-plan.md
  todos/tui-chiptunes-resource-leaks/input.md
  todos/tui-chiptunes-resource-leaks/quality-checklist.md
  todos/tui-chiptunes-resource-leaks/requirements.md
  todos/tui-chiptunes-resource-leaks/state.yaml
Due: teleclaude-docs-check

chore(todos): add session runtime work items and update roadmap
  todos/roadmap.yaml
  todos/session-adaptive-runtime/demo.md
  todos/session-adaptive-runtime/implementation-plan.md
  todos/session-adaptive-runtime/input.md
  todos/session-adaptive-runtime/quality-checklist.md
  todos/session-adaptive-runtime/requirements.md
  todos/session-adaptive-runtime/state.yaml
  todos/session-async-control-lane/demo.md
  todos/session-async-control-lane/implementation-plan.md
  todos/session-async-control-lane/input.md
  todos/session-async-control-lane/quality-checklist.md
  todos/session-async-control-lane/requirements.md
  todos/session-async-control-lane/state.yaml
  todos/session-polling-baseline/demo.md
  todos/session-polling-baseline/dor-report.md
  todos/session-polling-baseline/implementation-plan.md
  todos/session-polling-baseline/input.md
  todos/session-polling-baseline/plan-review-findings.md
  todos/session-polling-baseline/quality-checklist.md
  todos/session-polling-baseline/requirements.md
  todos/session-polling-baseline/state.yaml
  todos/session-runtime-overhaul/input.md
  todos/session-runtime-overhaul/state.yaml
  todos/telec-init-enrichment/state.yaml
  todos/youtube-scrape-channels-job/demo.md
  todos/youtube-scrape-channels-job/state.yaml
Due: teleclaude-docs-check

feat(sessions): add --agent flag to revive for native session ID lookup
  teleclaude/api_server.py
  teleclaude/cli/api_client.py
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
  teleclaude/hooks/checkpoint.py
  tests/unit/test_checkpoint_builder.py
  tests/unit/test_telec_cli.py
Due: check-cli-help

docs(testing): broaden output text assertion guardrail beyond documentation
  docs/global/software-development/policy/test-structure.md
  docs/global/software-development/policy/testing.md
Due: teleclaude-docs-check, teleclaude-docs-validate

review(refactor-large-files): block stale target inventory
  todos/refactor-large-files/requirements-review-findings.md
  todos/refactor-large-files/requirements.md
  todos/refactor-large-files/state.yaml
Due: teleclaude-docs-check

review(refactor-large-files): record scope mismatch verdict
  todos/refactor-large-files/requirements-review-findings.md
  todos/refactor-large-files/state.yaml
Due: teleclaude-docs-check

fix(refactor-large-files): resolve stale inventory finding and approve requirements
  todos/refactor-large-files/requirements-review-findings.md
  todos/refactor-large-files/state.yaml
Due: teleclaude-docs-check

docs(prepare-phase-tiering): consolidate observed failures from refactor-large-files
  todos/prepare-phase-tiering/input.md
Due: teleclaude-docs-check

fix(quality): lower module size gate from 1500 to 1000 lines
  tools/lint/guardrails.py
Due: none

fix(quality): remove module size allowlist — hard 1000-line gate, no exceptions
  tools/lint/guardrails.py
Due: none

fix(todo-split): use group dependency and seed input.md for split children
  teleclaude/todo_scaffold.py
  todos/split-children-deps/bug.md
Due: teleclaude-docs-check

fix(bugs): add --body flag to bug reports and add observability to event producer
  teleclaude/cli/telec.py
  teleclaude/todo_scaffold.py
  teleclaude_events/producer.py
  templates/todos/bug.md
  todos/fix-bugs-report-needs-description-field/bug.md
  todos/fix-event-producer-silent-write-failure/bug.md
Due: teleclaude-docs-check, check-cli-help

chore(todos): add scaffolded bug state files
  todos/fix-artifact-verification-gate-checks-for-im/bug.md
  todos/fix-artifact-verification-gate-checks-for-im/state.yaml
  todos/fix-bugs-report-needs-description-field/state.yaml
  todos/fix-event-producer-silent-write-failure/state.yaml
  todos/fix-eventproducer-emit-silently-fails-to-wri/bug.md
  todos/fix-eventproducer-emit-silently-fails-to-wri/state.yaml
Due: teleclaude-docs-check

chore(split-children-deps): delivery bookkeeping
  todos/roadmap.yaml
Due: none

fix(events): use instrukt_ai_logging in event producer for daemon log visibility
  teleclaude_events/producer.py
Due: none

docs(prepare-phase-tiering): add split inheritance failure from refactor-large-files
  todos/prepare-phase-tiering/input.md
Due: teleclaude-docs-check

fix(logging): include teleclaude_events package in app log level
  teleclaude/logging_config.py
  todos/fix-event-producer-silent-write-failure/bug.md
Due: teleclaude-docs-check

fix(content): use configured Redis URL instead of hardcoded localhost
  teleclaude/content_scaffold.py
Due: none

docs(prepare-phase-tiering): block until split inheritance is fully verifiable
  todos/prepare-phase-tiering/requirements-review-findings.md
  todos/prepare-phase-tiering/requirements.md
  todos/prepare-phase-tiering/state.yaml
Due: teleclaude-docs-check

chore(prepare): approve prepare-phase-tiering requirements
  todos/prepare-phase-tiering/requirements-review-findings.md
  todos/prepare-phase-tiering/requirements.md
  todos/prepare-phase-tiering/state.yaml
Due: teleclaude-docs-check

docs(prepare-phase-tiering): draft implementation plan and demo
  todos/prepare-phase-tiering/demo.md
  todos/prepare-phase-tiering/implementation-plan.md
  todos/prepare-phase-tiering/state.yaml
Due: teleclaude-docs-check

review(prepare-phase-tiering): record needs-work plan verdict
  todos/prepare-phase-tiering/implementation-plan.md
  todos/prepare-phase-tiering/plan-review-findings.md
  todos/prepare-phase-tiering/state.yaml
Due: teleclaude-docs-check

fix(tui): pass hook events through — italicize only agent thinking
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/session_row.py
Due: none

fix(tui): remove italic from tool_done — no italic in session rows
  teleclaude/cli/tui/widgets/session_row.py
Due: none

fix(tui): restore italic for tool_done, remove trailing dots
  teleclaude/cli/tui/widgets/session_row.py
Due: none

fix(tui): tool_done renders dots without italic
  teleclaude/cli/tui/widgets/session_row.py
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
