Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

chore(proficiency-to-expertise): split into 4 focused sub-todos with DOR assessment
  todos/proficiency-to-expertise-cli/breakdown.md
  todos/proficiency-to-expertise-cli/demo.md
  todos/proficiency-to-expertise-cli/implementation-plan.md
  todos/proficiency-to-expertise-cli/input.md
  todos/proficiency-to-expertise-cli/quality-checklist.md
  todos/proficiency-to-expertise-cli/requirements.md
  todos/proficiency-to-expertise-cli/state.yaml
  todos/proficiency-to-expertise-injection/breakdown.md
  todos/proficiency-to-expertise-injection/demo.md
  todos/proficiency-to-expertise-injection/implementation-plan.md
  todos/proficiency-to-expertise-injection/input.md
  todos/proficiency-to-expertise-injection/quality-checklist.md
  todos/proficiency-to-expertise-injection/requirements.md
  todos/proficiency-to-expertise-injection/state.yaml
  todos/proficiency-to-expertise-schema/breakdown.md
  todos/proficiency-to-expertise-schema/demo.md
  todos/proficiency-to-expertise-schema/implementation-plan.md
  todos/proficiency-to-expertise-schema/input.md
  todos/proficiency-to-expertise-schema/quality-checklist.md
  todos/proficiency-to-expertise-schema/requirements.md
  todos/proficiency-to-expertise-schema/state.yaml
  todos/proficiency-to-expertise-tui/breakdown.md
  todos/proficiency-to-expertise-tui/demo.md
  todos/proficiency-to-expertise-tui/implementation-plan.md
  todos/proficiency-to-expertise-tui/input.md
  todos/proficiency-to-expertise-tui/quality-checklist.md
  todos/proficiency-to-expertise-tui/requirements.md
  todos/proficiency-to-expertise-tui/state.yaml
  todos/proficiency-to-expertise/breakdown.md
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(prepare-state-machine): complete preparation — DOR 9, pass
  todos/prepare-state-machine/demo.md
  todos/prepare-state-machine/dor-report.md
  todos/prepare-state-machine/implementation-plan.md
  todos/prepare-state-machine/requirements.md
  todos/prepare-state-machine/state.yaml
Due: teleclaude-docs-check

feat(tui): restore session ID field with native/teleclaude toggle
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/messages.py
  teleclaude/cli/tui/telec.tcss
  teleclaude/cli/tui/widgets/modals.py
Due: none

Restore emoji play icon in TUI footer
  teleclaude/cli/tui/widgets/telec_footer.py
  tests/unit/test_tui_footer_migration.py
Due: none

Stabilize TUI footer transport spacing
  teleclaude/cli/tui/widgets/telec_footer.py
Due: none

feat(adapter-reflection-cleanup): decouple reflection from core, move presentation to adapters
  demos/adapter-reflection-cleanup/demo.md
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/telegram/message_ops.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/cli/tui/widgets/session_row.py
  teleclaude/core/adapter_client.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/command_handlers.py
  teleclaude/core/models.py
  teleclaude/core/tmux_bridge.py
  teleclaude/services/maintenance_service.py
  tests/ignored.md
  tests/integration/test_multi_adapter_broadcasting.py
  tests/unit/test_adapter_client.py
  tests/unit/test_command_handlers.py
  tests/unit/test_discord_adapter.py
  tests/unit/test_telegram_adapter.py
  todos/adapter-reflection-cleanup/implementation-plan.md
  todos/adapter-reflection-cleanup/quality-checklist.md
  todos/adapter-reflection-cleanup/review-findings.md
Due: teleclaude-docs-check

chore(adapter-reflection-cleanup): delivery bookkeeping
  agents/commands/next-review-build.md
  agents/commands/next-review-plan.md
  agents/commands/next-review-requirements.md
  demos/adapter-reflection-cleanup/snapshot.json
  docs/global/software-development/procedure/lifecycle/review-plan.md
  docs/global/software-development/procedure/lifecycle/review-requirements.md
  teleclaude/tts/audio_focus.py
  todos/conversation-projection-unification/schema.md
  todos/delivered.yaml
  todos/prepare-state-machine/input.md
  todos/prepare-state-machine/quality-checklist.md
  todos/roadmap.yaml
  tui-footer-check.png
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(adapter-reflection-cleanup): worktree and todo cleanup after delivery
  todos/adapter-reflection-cleanup/breakdown.md
  todos/adapter-reflection-cleanup/demo.md
  todos/adapter-reflection-cleanup/implementation-plan.md
  todos/adapter-reflection-cleanup/input.md
  todos/adapter-reflection-cleanup/quality-checklist.md
  todos/adapter-reflection-cleanup/requirements.md
  todos/adapter-reflection-cleanup/review-findings.md
  todos/adapter-reflection-cleanup/state.yaml
Due: teleclaude-docs-check

chore(tui): footer button migration from Button to Static with icon reactives
  teleclaude/cli/tui/widgets/telec_footer.py
  tests/unit/test_tui_footer_migration.py
Due: none

chore: housekeeping commit — in-flight conversation-projection-unification and session cleanup changes
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/022_add_session_user_role.py
  teleclaude/core/models.py
  teleclaude/core/schema.sql
  tests/unit/test_command_handlers.py
  tests/unit/test_db.py
  todos/conversation-projection-unification/implementation-plan.md
Due: teleclaude-docs-check, check-raw-sql

feat(proficiency-to-expertise): replace flat proficiency with structured expertise model
  .teleclaude/worktree-prep-state.json
  demos/proficiency-to-expertise/demo.md
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/config_cli.py
  teleclaude/cli/models.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/widgets/telec_footer.py
  teleclaude/config/schema.py
  teleclaude/hooks/receiver.py
  tests/integration/test_voice_flow.py
  tests/unit/test_config_cli.py
  tests/unit/test_config_schema.py
  tests/unit/test_diagram_extractors.py
  tests/unit/test_hooks_receiver_memory.py
  tests/unit/test_tmux_io.py
  tests/unit/test_tui_key_contract.py
  todos/proficiency-to-expertise/deferrals.md
  todos/proficiency-to-expertise/implementation-plan.md
  todos/proficiency-to-expertise/quality-checklist.md
  todos/proficiency-to-expertise/review-findings.md
  todos/proficiency-to-expertise/state.yaml
Due: teleclaude-docs-check, check-cli-help, check-raw-sql

chore(proficiency-to-expertise): delivery bookkeeping
  demos/proficiency-to-expertise/snapshot.json
  teleclaude/core/migrations/023_backfill_human_role_from_user_role.py
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(proficiency-to-expertise): worktree and todo cleanup after delivery
  todos/proficiency-to-expertise/breakdown.md
  todos/proficiency-to-expertise/deferrals.md
  todos/proficiency-to-expertise/demo.md
  todos/proficiency-to-expertise/implementation-plan.md
  todos/proficiency-to-expertise/input.md
  todos/proficiency-to-expertise/quality-checklist.md
  todos/proficiency-to-expertise/requirements.md
  todos/proficiency-to-expertise/review-findings.md
  todos/proficiency-to-expertise/state.yaml
Due: teleclaude-docs-check

feat(integration-event-chain-phase2): wire ReadinessProjection into integration trigger chain
  demos/integration-event-chain-phase2/demo.md
  demos/integration-event-chain-phase2/snapshot.json
  docs/project/design/architecture/operation-receipts.md
  docs/project/spec/telec-cli-surface.md
  teleclaude/api/operations_routes.py
  teleclaude/api/todo_routes.py
  teleclaude/cli/tool_commands.py
  teleclaude/core/integration_bridge.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/operations/service.py
  teleclaude/daemon.py
  teleclaude/resource_validation.py
  teleclaude/sync.py
  teleclaude_events/cartridges/integration_trigger.py
  teleclaude_events/schemas/software_development.py
  tests/integration/test_integrator_wiring.py
  tests/unit/core/test_next_machine_deferral.py
  tests/unit/test_chiptunes.py
  tests/unit/test_integration_state_machine.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
  tests/unit/test_operations_service.py
  tests/unit/test_state_machine_gate_sharpening.py
  tests/unit/test_todo_operations_api.py
  todos/integration-event-chain-phase2/implementation-plan.md
  todos/integration-event-chain-phase2/quality-checklist.md
  todos/integration-event-chain-phase2/review-findings.md
  todos/integration-event-chain-phase2/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(integration-event-chain-phase2): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(integration-event-chain-phase2): worktree and todo cleanup after delivery
  todos/integration-event-chain-phase2/breakdown.md
  todos/integration-event-chain-phase2/demo.md
  todos/integration-event-chain-phase2/dor-report.md
  todos/integration-event-chain-phase2/implementation-plan.md
  todos/integration-event-chain-phase2/input.md
  todos/integration-event-chain-phase2/quality-checklist.md
  todos/integration-event-chain-phase2/requirements.md
  todos/integration-event-chain-phase2/review-findings.md
  todos/integration-event-chain-phase2/state.yaml
Due: teleclaude-docs-check

fix(state-machine): merge origin/main before build dispatch, skip already-merged integration candidates
  teleclaude/core/integration/state_machine.py
  teleclaude/core/next_machine/core.py
Due: none

Tighten TUI footer transport icons
  teleclaude/cli/tui/widgets/telec_footer.py
  tests/unit/test_tui_footer_migration.py
Due: none

Toggle chiptunes favorites and relocate state files
  docs/project/design/architecture/session-lifecycle.md
  teleclaude/chiptunes/favorites.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/state_store.py
  teleclaude/cron/state.py
  teleclaude/hooks/receiver.py
  teleclaude/paths.py
  tests/unit/test_chiptunes.py
  tests/unit/test_tui_footer_migration.py
Due: teleclaude-docs-check, teleclaude-docs-validate, check-raw-sql

Use neutral highlight color for footer transport icons
  teleclaude/cli/tui/widgets/telec_footer.py
  tests/unit/test_tui_footer_migration.py
Due: none

Persist chiptunes pause state across restarts
  docs/project/design/architecture/tts-system.md
  teleclaude/api_server.py
  teleclaude/chiptunes/manager.py
  teleclaude/chiptunes/player.py
  teleclaude/chiptunes/worker.py
  teleclaude/config/__init__.py
  teleclaude/config/runtime_settings.py
  teleclaude/daemon.py
  teleclaude/tts/audio_focus.py
  teleclaude/tts/manager.py
  tests/unit/test_chiptunes.py
Due: teleclaude-docs-check, teleclaude-docs-validate

Fix finalize handoff timing in next-work
  agents/commands/next-finalize.md
  docs/global/software-development/concept/finalizer.md
  docs/global/software-development/procedure/lifecycle/finalize.md
  teleclaude/api/todo_routes.py
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

fix(events): strip trust metadata before integration ingest
  docs/global/baseline-progressive.md
  docs/global/index.yaml
  docs/project/design/architecture/operation-receipts.md
  docs/project/index.yaml
  teleclaude/adapters/discord_adapter.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/telec_footer.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/db.py
  teleclaude/core/integration/queue.py
  teleclaude/core/integration/state_machine.py
  teleclaude/core/next_machine/core.py
  teleclaude/daemon.py
  teleclaude/tts/backends/mlx_tts.py
  teleclaude_events/cartridges/integration_trigger.py
  tests/integration/test_integrator_wiring.py
  tests/unit/test_mlx_tts_backend.py
  tests/unit/test_teleclaude_events/test_pipeline_integration.py
  todos/next-machine-old-code-cleanup/demo.md
  todos/next-machine-old-code-cleanup/dor-report.md
  todos/next-machine-old-code-cleanup/implementation-plan.md
  todos/next-machine-old-code-cleanup/input.md
  todos/next-machine-old-code-cleanup/quality-checklist.md
  todos/next-machine-old-code-cleanup/requirements.md
  todos/next-machine-old-code-cleanup/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate, check-raw-sql

feat(integration): deliver integration-event-chain-phase2
  docs/project/design/architecture/operation-receipts.md
  teleclaude/core/integration_bridge.py
  tests/integration/test_integrator_wiring.py
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(integration-event-chain-phase2): delivery bookkeeping
  todos/sfsd-asds-asdas/demo.md
  todos/sfsd-asds-asdas/implementation-plan.md
  todos/sfsd-asds-asdas/input.md
  todos/sfsd-asds-asdas/quality-checklist.md
  todos/sfsd-asds-asdas/requirements.md
  todos/sfsd-asds-asdas/state.yaml
Due: teleclaude-docs-check

feat(history): deliver mirror-backed transcript search
  demos/history-search-upgrade/demo.md
  scripts/history.py
  teleclaude/api_server.py
  teleclaude/cli/telec.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
  teleclaude/core/migrations/026_add_mirrors_table.py
  teleclaude/daemon.py
  teleclaude/history/search.py
  teleclaude/mirrors/__init__.py
  teleclaude/mirrors/api_routes.py
  teleclaude/mirrors/event_handlers.py
  teleclaude/mirrors/generator.py
  teleclaude/mirrors/processors.py
  teleclaude/mirrors/store.py
  teleclaude/mirrors/worker.py
  teleclaude/tts/manager.py
  teleclaude/utils/transcript_discovery.py
  tests/unit/test_api_server.py
  tests/unit/test_db.py
  tests/unit/test_history_mirror_search.py
  tests/unit/test_mirror_api_routes.py
  tests/unit/test_mirror_generator.py
  tests/unit/test_mirror_processors.py
  tests/unit/test_mirror_worker.py
  tests/unit/test_telec_cli.py
  tests/unit/test_telec_knowledge_commands.py
  tests/unit/test_transcript_discovery.py
  todos/history-search-upgrade/deferrals.md
  todos/history-search-upgrade/implementation-plan.md
  todos/history-search-upgrade/quality-checklist.md
  todos/history-search-upgrade/review-findings.md
  todos/history-search-upgrade/state.yaml
  tools/lint.sh
Due: teleclaude-docs-check, check-cli-help, check-raw-sql

chore(history-search-upgrade): delivery bookkeeping
  demos/history-search-upgrade/snapshot.json
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(history-search-upgrade): worktree and todo cleanup after delivery
  todos/history-search-upgrade/deferrals.md
  todos/history-search-upgrade/demo.md
  todos/history-search-upgrade/dor-report.md
  todos/history-search-upgrade/implementation-plan.md
  todos/history-search-upgrade/input.md
  todos/history-search-upgrade/quality-checklist.md
  todos/history-search-upgrade/requirements.md
  todos/history-search-upgrade/review-findings.md
  todos/history-search-upgrade/state.yaml
Due: teleclaude-docs-check

fix(chiptunes): restore optimistic state updates and guard disabled controls
  docs/global/software-development/procedure/lifecycle/integration.md
  docs/project/spec/integration-orchestrator.md
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/widgets/telec_footer.py
  teleclaude/core/integration/state_machine.py
  teleclaude/daemon.py
  tests/unit/test_integration_state_machine.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(conversation-projection-unification): deliver unified output projection
  .teleclaude/worktree-prep-state.json
  demos/conversation-projection-unification/demo.md
  docs/project/design/architecture/web-api-facade.md
  docs/project/design/architecture/web-interface.md
  teleclaude/api/streaming.py
  teleclaude/api/transcript_converter.py
  teleclaude/api_server.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/polling_coordinator.py
  teleclaude/output_projection/__init__.py
  teleclaude/output_projection/conversation_projector.py
  teleclaude/output_projection/models.py
  teleclaude/output_projection/serializers.py
  teleclaude/output_projection/terminal_live_projector.py
  teleclaude/utils/transcript.py
  tests/integration/test_multi_adapter_broadcasting.py
  tests/integration/test_voice_flow.py
  tests/unit/test_access_control.py
  tests/unit/test_api_server.py
  tests/unit/test_output_projection.py
  tests/unit/test_polling_coordinator.py
  tests/unit/test_threaded_output_updates.py
  tests/unit/test_tmux_io.py
  todos/conversation-projection-unification/implementation-plan.md
  todos/conversation-projection-unification/quality-checklist.md
  todos/conversation-projection-unification/review-findings.md
  todos/conversation-projection-unification/state.yaml
  todos/web-frontend-test-bugs/bug.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(conversation-projection-unification): delivery bookkeeping
  demos/conversation-projection-unification/snapshot.json
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(conversation-projection-unification): worktree and todo cleanup after delivery
  todos/conversation-projection-unification/demo.md
  todos/conversation-projection-unification/dor-report.md
  todos/conversation-projection-unification/implementation-plan.md
  todos/conversation-projection-unification/input.md
  todos/conversation-projection-unification/quality-checklist.md
  todos/conversation-projection-unification/requirements.md
  todos/conversation-projection-unification/review-findings.md
  todos/conversation-projection-unification/schema.md
  todos/conversation-projection-unification/state.yaml
Due: teleclaude-docs-check

fix(integration): prevent infinite auto-enqueue loop for already-integrated candidates
  teleclaude/core/integration/state_machine.py
Due: none

feat(telegram): deliver telegram-callback-payload-migration
  demos/telegram-callback-payload-migration/demo.md
  teleclaude/adapters/telegram/callback_handlers.py
  teleclaude/adapters/telegram_adapter.py
  tests/unit/test_telegram_menus.py
  todos/telegram-callback-payload-migration/implementation-plan.md
  todos/telegram-callback-payload-migration/quality-checklist.md
  todos/telegram-callback-payload-migration/review-findings.md
Due: teleclaude-docs-check

chore(telegram-callback-payload-migration): delivery bookkeeping
  demos/telegram-callback-payload-migration/snapshot.json
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(telegram-callback-payload-migration): worktree and todo cleanup after delivery
  todos/telegram-callback-payload-migration/demo.md
  todos/telegram-callback-payload-migration/dor-report.md
  todos/telegram-callback-payload-migration/implementation-plan.md
  todos/telegram-callback-payload-migration/input.md
  todos/telegram-callback-payload-migration/quality-checklist.md
  todos/telegram-callback-payload-migration/requirements.md
  todos/telegram-callback-payload-migration/review-findings.md
  todos/telegram-callback-payload-migration/state.yaml
Due: teleclaude-docs-check

feat(next-machine): deliver prepare-state-machine
  demos/prepare-state-machine/demo.md
  demos/prepare-state-machine/snapshot.json
  teleclaude/api/todo_routes.py
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_breakdown.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_prepare_state_machine.py
  todos/prepare-state-machine/quality-checklist.md
  todos/prepare-state-machine/review-findings.md
  todos/prepare-state-machine/state.yaml
Due: teleclaude-docs-check, check-cli-help

chore(prepare-state-machine): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
