Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs (sync_resources strict)
  entry: bash -c
  args:
  - uv run --quiet scripts/sync_resources.py --project-root "$PWD"
  language: system
  pass_filenames: false

feat(init): add idempotent help desk workspace bootstrap
  teleclaude/project_setup/help_desk_bootstrap.py
  teleclaude/project_setup/init_flow.py
Due: none

feat(commands): add global /author-knowledge command for brain-dump documentation
  agents/commands/author-knowledge.md
  teleclaude/adapters/discord_adapter.py
  teleclaude/mcp/handlers.py
Due: teleclaude-docs-check

feat(templates): expand operator brain with full help desk persona, escalation awareness, and routines
  teleclaude/channels/__init__.py
  teleclaude/channels/worker.py
  teleclaude/config/schema.py
  templates/help-desk/AGENTS.master.md
Due: teleclaude-docs-check

feat(discord): add relay message routing, admin forwarding, and @agent handback
  teleclaude/adapters/discord_adapter.py
Due: none

feat(jobs): add help-desk-intelligence daily digest job
  jobs/help_desk_intelligence.py
Due: none

feat(lifecycle): add customer idle compaction without session termination
  teleclaude/services/maintenance_service.py
Due: none

fix(tests): fix test failures from help-desk-platform changes
  docs/project/spec/mcp-tool-surface.md
  teleclaude/services/maintenance_service.py
  tests/unit/test_threaded_output.py
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor(lifecycle): generalize idle compaction and memory extraction
  jobs/session_memory_extraction.py
  teleclaude/services/maintenance_service.py
Due: none

docs(checklist): mark Build Gates complete for help-desk-platform
  todos/help-desk-platform/quality-checklist.md
Due: teleclaude-docs-check

chore: commit worktree index sync and state update from build
  docs/global/index.yaml
  docs/project/index.yaml
  docs/third-party/index.yaml
  todos/help-desk-platform/state.json
Due: teleclaude-docs-validate

feat(tui): implement config tab structure and animation engine evolution
  teleclaude/cli/tui/animation_colors.py
  teleclaude/cli/tui/animation_engine.py
  teleclaude/cli/tui/animation_triggers.py
  teleclaude/cli/tui/animations/base.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/config_components/guidance.py
  teleclaude/cli/tui/pixel_mapping.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/state_store.py
  teleclaude/cli/tui/views/configuration.py
  teleclaude/cli/tui/widgets/footer.py
  teleclaude/cli/tui/widgets/tab_bar.py
  tests/unit/test_animations.py
  todos/tui-config-experience/visual-specs/ai_keys.md
  todos/tui-config-experience/visual-specs/discord.md
  todos/tui-config-experience/visual-specs/environment.md
  todos/tui-config-experience/visual-specs/notifications.md
  todos/tui-config-experience/visual-specs/people.md
  todos/tui-config-experience/visual-specs/telegram.md
  todos/tui-config-experience/visual-specs/tui_wide.md
  todos/tui-config-experience/visual-specs/validate.md
Due: teleclaude-docs-check

chore: update todo state and plan
  todos/tui-config-experience/dor-report.md
  todos/tui-config-experience/implementation-plan.md
  todos/tui-config-experience/quality-checklist.md
  todos/tui-config-experience/requirements.md
  todos/tui-config-experience/state.json
Due: teleclaude-docs-check

review(help-desk-platform): REQUEST CHANGES — 3 critical, 10 important findings
  todos/help-desk-platform/quality-checklist.md
  todos/help-desk-platform/review-findings.md
  todos/help-desk-platform/state.json
Due: teleclaude-docs-check

fix(next-machine): replace STOP with WAIT and add activation triggers in dispatch template
  teleclaude/core/next_machine/core.py
Due: none

fix(mcp): wire publish, channels_list, and escalate tools to dispatch
  teleclaude/mcp/tool_definitions.py
  teleclaude/mcp_server.py
Due: none

fix(schema): add identity_key column to memory_observations
  teleclaude/core/schema.sql
Due: none

fix(review): address I1-I10 important review findings
  jobs/session_memory_extraction.py
  teleclaude/adapters/discord_adapter.py
  teleclaude/channels/api_routes.py
  teleclaude/channels/consumer.py
  teleclaude/context_selector.py
  teleclaude/mcp/handlers.py
  teleclaude/mcp/role_tools.py
  teleclaude/project_setup/help_desk_bootstrap.py
Due: none

test(help-desk): add 23 unit tests for help desk platform features
  tests/unit/test_help_desk_features.py
Due: none

docs(review): record fixes applied to review findings
  todos/help-desk-platform/review-findings.md
Due: teleclaude-docs-check

fix(spec): add teleclaude__escalate to MCP tool surface contract
  docs/project/spec/mcp-tool-surface.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(tui): replace interactive config menu with TUI Config tab
  teleclaude/cli/config_handlers.py
  teleclaude/cli/config_menu.py
  teleclaude/cli/onboard_wizard.py
  teleclaude/cli/prompt_utils.py
  teleclaude/cli/telec.py
  teleclaude/cli/tui/animations/config.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/config_components/__init__.py
  teleclaude/cli/tui/config_components/adapters.py
  teleclaude/cli/tui/config_components/base.py
  teleclaude/cli/tui/config_components/environment.py
  teleclaude/cli/tui/config_components/notifications.py
  teleclaude/cli/tui/config_components/people.py
  teleclaude/cli/tui/config_components/validate.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/views/configuration.py
  tests/integration/test_contracts.py
  tests/unit/test_checkpoint_hook.py
  tests/unit/test_config_cli.py
  tests/unit/test_config_interactive.py
  tests/unit/test_next_machine_state_deps.py
  tests/unit/test_todo_validation.py
  tests/unit/test_verify_deploy.py
  todos/tui-config-experience/implementation-plan.md
  todos/tui-config-experience/quality-checklist.md
Due: teleclaude-docs-check

Fix preview row color attributes in session tree
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_sessions_view.py
Due: none

docs(review): round 2 review — APPROVE with 5 important findings
  todos/help-desk-platform/quality-checklist.md
  todos/help-desk-platform/review-findings.md
  todos/help-desk-platform/state.json
Due: teleclaude-docs-check

chore: mark deferred visual polish items in implementation plan
  todos/tui-config-experience/implementation-plan.md
Due: teleclaude-docs-check

chore(help-desk-platform): update finalize gates and state
  todos/help-desk-platform/quality-checklist.md
  todos/help-desk-platform/state.json
Due: teleclaude-docs-check

wip: tui-config-experience in-progress work (pyright errors expected)
  config.sample.yml
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/widgets/agent_status.py
  teleclaude/cli/tui/widgets/footer.py
  teleclaude/config/__init__.py
  teleclaude/config/runtime_settings.py
  teleclaude/helpers/agent_cli.py
  tests/unit/test_tui_footer_widget.py
Due: none

review(tui-config): round 1 verdict REQUEST CHANGES — 4 critical, 9 important findings
  todos/tui-config-experience/quality-checklist.md
  todos/tui-config-experience/review-findings.md
  todos/tui-config-experience/state.json
Due: teleclaude-docs-check

docs(delivery): log help-desk-platform delivery and update roadmap
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check

chore: remove help-desk-platform worktree, branch, and todo folder
  teleclaude/cli/tui/widgets/footer.py
  tests/unit/test_tui_footer_widget.py
  todos/help-desk-platform/implementation-plan.md
  todos/help-desk-platform/quality-checklist.md
  todos/help-desk-platform/requirements.md
  todos/help-desk-platform/review-findings.md
  todos/help-desk-platform/state.json
  todos/tui-config-experience/dor-report.md
  todos/tui-config-experience/implementation-plan.md
  todos/tui-config-experience/requirements.md
  todos/tui-config-experience/state.json
  todos/tui-config-experience/visual-specs/ai_keys_animations.py
  todos/tui-config-experience/visual-specs/ai_keys_palette.py
  todos/tui-config-experience/visual-specs/animation_modes.md
  todos/tui-config-experience/visual-specs/banner_scenes.md
  todos/tui-config-experience/visual-specs/banner_scenes.py
  todos/tui-config-experience/visual-specs/discord_animations.py
  todos/tui-config-experience/visual-specs/discord_palette.py
  todos/tui-config-experience/visual-specs/environment_animations.py
  todos/tui-config-experience/visual-specs/environment_palette.py
  todos/tui-config-experience/visual-specs/notifications_animations.py
  todos/tui-config-experience/visual-specs/notifications_palette.py
  todos/tui-config-experience/visual-specs/people_animations.py
  todos/tui-config-experience/visual-specs/people_palette.py
  todos/tui-config-experience/visual-specs/telegram_animations.py
  todos/tui-config-experience/visual-specs/telegram_palette.py
  todos/tui-config-experience/visual-specs/transitions.md
  todos/tui-config-experience/visual-specs/validate_animations.py
  todos/tui-config-experience/visual-specs/validate_palette.py
  todos/tui-config-experience/visual-specs/whatsapp_animations.py
  todos/tui-config-experience/visual-specs/whatsapp_palette.py
Due: teleclaude-docs-check

fix(tui): address review findings — types, tests, encapsulation, guards
  teleclaude/cli/tui/animation_colors.py
  teleclaude/cli/tui/animation_engine.py
  teleclaude/cli/tui/animation_triggers.py
  teleclaude/cli/tui/config_components/adapters.py
  teleclaude/cli/tui/config_components/environment.py
  teleclaude/cli/tui/config_components/notifications.py
  teleclaude/cli/tui/config_components/people.py
  teleclaude/cli/tui/config_components/validate.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/state_store.py
  tests/unit/test_config_handlers.py
  tests/unit/test_tui_state.py
Due: none

review(tui-config): round 2 verdict REQUEST CHANGES — 2 Important findings remain
  todos/tui-config-experience/quality-checklist.md
  todos/tui-config-experience/review-findings.md
  todos/tui-config-experience/state.json
Due: teleclaude-docs-check

fix(tui): resolve remaining review findings I1, I7
  teleclaude/cli/tui/animation_triggers.py
  teleclaude/cli/tui/views/configuration.py
Due: none

docs(finalize): record tui-config-experience delivery metadata
  todos/delivered.md
  todos/roadmap.md
  todos/tui-config-experience/quality-checklist.md
Due: teleclaude-docs-check

chore: remove tui-config-experience worktree, branch, and todo folder
  todos/tui-config-experience/dor-report.md
  todos/tui-config-experience/implementation-plan.md
  todos/tui-config-experience/input.md
  todos/tui-config-experience/quality-checklist.md
  todos/tui-config-experience/requirements.md
  todos/tui-config-experience/review-findings.md
  todos/tui-config-experience/state.json
  todos/tui-config-experience/visual-specs/ai_keys.md
  todos/tui-config-experience/visual-specs/ai_keys_animations.py
  todos/tui-config-experience/visual-specs/ai_keys_palette.py
  todos/tui-config-experience/visual-specs/animation_modes.md
  todos/tui-config-experience/visual-specs/banner_scenes.md
  todos/tui-config-experience/visual-specs/banner_scenes.py
  todos/tui-config-experience/visual-specs/discord.md
  todos/tui-config-experience/visual-specs/discord_animations.py
  todos/tui-config-experience/visual-specs/discord_palette.py
  todos/tui-config-experience/visual-specs/environment.md
  todos/tui-config-experience/visual-specs/environment_animations.py
  todos/tui-config-experience/visual-specs/environment_palette.py
  todos/tui-config-experience/visual-specs/notifications.md
  todos/tui-config-experience/visual-specs/notifications_animations.py
  todos/tui-config-experience/visual-specs/notifications_palette.py
  todos/tui-config-experience/visual-specs/people.md
  todos/tui-config-experience/visual-specs/people_animations.py
  todos/tui-config-experience/visual-specs/people_palette.py
  todos/tui-config-experience/visual-specs/telegram.md
  todos/tui-config-experience/visual-specs/telegram_animations.py
  todos/tui-config-experience/visual-specs/telegram_palette.py
  todos/tui-config-experience/visual-specs/transitions.md
  todos/tui-config-experience/visual-specs/tui_wide.md
  todos/tui-config-experience/visual-specs/validate.md
  todos/tui-config-experience/visual-specs/validate_animations.py
  todos/tui-config-experience/visual-specs/validate_palette.py
  todos/tui-config-experience/visual-specs/whatsapp_animations.py
  todos/tui-config-experience/visual-specs/whatsapp_palette.py
Due: teleclaude-docs-check

feat(tui): implement 5-state pane theming toggle with race-fix
  teleclaude/api_models.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/config_components/base.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/footer.py
  tests/unit/test_pane_manager.py
  tests/unit/test_runtime_settings.py
  tests/unit/test_tui_footer_widget.py
  tests/unit/test_tui_theme.py
Due: none

fix(discord): start Claude agent when creating sessions from messages
  config.sample.yml
  teleclaude/adapters/discord_adapter.py
Due: none

fix(security): use restricted profile for non-admin sessions
  teleclaude/core/command_handlers.py
  tests/unit/test_command_handlers.py
Due: none

feat(discord): add inbound channel gating and guild verification (R1)
  teleclaude/adapters/discord_adapter.py
  tests/unit/test_discord_adapter.py
  todos/help-desk-discord/implementation-plan.md
  todos/help-desk-discord/quality-checklist.md
Due: teleclaude-docs-check

fix(tui): restore agent-colored highlights, enable truecolor in tmux sessions
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/core/tmux_bridge.py
  tests/unit/test_pane_manager.py
Due: none

fix(identity): preserve all 5 roles in _normalize_role (R2)
  teleclaude/core/identity.py
  tests/unit/test_identity.py
  todos/help-desk-discord/implementation-plan.md
Due: teleclaude-docs-check

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)
