Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

docs(codex-render-baseline): record plan review verdict
  todos/codex-render-baseline/implementation-plan.md
  todos/codex-render-baseline/plan-review-findings.md
  todos/codex-render-baseline/state.yaml
Due: teleclaude-docs-check

chore(todos): mark codex-render-baseline ready for build
  todos/codex-render-baseline/demo.md
  todos/codex-render-baseline/dor-report.md
  todos/codex-render-baseline/plan-review-findings.md
  todos/codex-render-baseline/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(todos): re-ground codex-render-baseline and mark plan ready
  todos/codex-render-baseline/state.yaml
Due: none

feat(cache): enforce always-serve contract and callback-based stale notification
  demos/cache-transparency-refactor/demo.md
  teleclaude/api_server.py
  teleclaude/core/cache.py
  teleclaude/daemon.py
  tests/integration/test_e2e_smoke.py
  tests/unit/test_api_server.py
  tests/unit/test_cache.py
  tests/unit/test_daemon.py
  todos/cache-transparency-refactor/implementation-plan.md
  todos/cache-transparency-refactor/quality-checklist.md
  todos/cache-transparency-refactor/review-findings.md
  todos/cache-transparency-refactor/state.yaml
Due: teleclaude-docs-check

chore(cache-transparency-refactor): delivery bookkeeping
  todos/roadmap.yaml
Due: none

chore(cache-transparency-refactor): todo cleanup after delivery
  todos/cache-transparency-refactor/demo.md
  todos/cache-transparency-refactor/dor-report.md
  todos/cache-transparency-refactor/implementation-plan.md
  todos/cache-transparency-refactor/input.md
  todos/cache-transparency-refactor/quality-checklist.md
  todos/cache-transparency-refactor/requirements.md
  todos/cache-transparency-refactor/state.yaml
Due: teleclaude-docs-check

feat(auth): introduce integrator permission profile and structured session metadata
  demos/session-role-metadata/demo.md
  teleclaude/api/auth.py
  teleclaude/api_server.py
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
  teleclaude/constants.py
  teleclaude/core/integration_bridge.py
  teleclaude/core/tool_access.py
  tests/integration/test_integrator_wiring.py
  tests/unit/test_api_auth.py
  tests/unit/test_command_auth.py
  tests/unit/test_help_desk_features.py
  tests/unit/test_integration_bridge_spawn.py
  tests/unit/test_role_tools.py
  tests/unit/test_run_session_metadata.py
  tests/unit/test_session_list_job_filter.py
  todos/session-role-metadata/implementation-plan.md
  todos/session-role-metadata/quality-checklist.md
  todos/session-role-metadata/review-findings.md
  todos/session-role-metadata/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

chore(session-role-metadata): delivery bookkeeping
  todos/roadmap.yaml
Due: none

chore(session-role-metadata): todo cleanup after delivery
  todos/session-role-metadata/demo.md
  todos/session-role-metadata/dor-report.md
  todos/session-role-metadata/implementation-plan.md
  todos/session-role-metadata/input.md
  todos/session-role-metadata/quality-checklist.md
  todos/session-role-metadata/requirements.md
  todos/session-role-metadata/state.yaml
Due: teleclaude-docs-check

fix(daemon): migration 028 idempotency and missing MirrorWorker import
  teleclaude/core/migrations/028_add_mirror_source_identity.py
  teleclaude/daemon.py
Due: none

fix(mirrors): tombstone no-context transcripts to suppress reconciliation log flood
  teleclaude/mirrors/worker.py
Due: none

fix(mirrors): index all transcripts regardless of TeleClaude session context
  teleclaude/mirrors/worker.py
  tests/unit/test_mirror_worker.py
Due: none

refactor(mirrors): whitelist-only transcript discovery via session_root + session_pattern
  teleclaude/constants.py
  teleclaude/core/migrations/027_prune_non_canonical_mirrors.py
  teleclaude/mirrors/processors.py
  teleclaude/mirrors/worker.py
  teleclaude/utils/transcript_discovery.py
  tests/unit/test_mirror_worker.py
  tests/unit/test_transcript_discovery.py
Due: teleclaude-docs-validate

Default chiptunes feature enabled and hide transport controls when disabled
  config.sample.yml
  teleclaude/cli/tui/widgets/telec_footer.py
  teleclaude/config/__init__.py
  tests/unit/test_tui_footer_migration.py
Due: none

refactor(tui): consolidate phase label mapping into todo row
  teleclaude/cli/tui/phase_labels.py
  teleclaude/cli/tui/widgets/todo_row.py
  tests/unit/cli/tui/test_phase_labels.py
Due: none

docs(todos): approve telec-init-enrichment requirements review
  todos/telec-init-enrichment/requirements.md
  todos/telec-init-enrichment/state.yaml
Due: teleclaude-docs-check

docs(todos): approve grounded init enrichment plan
  todos/telec-init-enrichment/demo.md
  todos/telec-init-enrichment/implementation-plan.md
  todos/telec-init-enrichment/state.yaml
Due: teleclaude-docs-check

enforce chiptunes enabled gate across footer controls
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/widgets/telec_footer.py
  tests/unit/test_tui_footer_migration.py
Due: none

docs(todos): approve telec-init-enrichment DOR gate (score 9)
  todos/telec-init-enrichment/dor-report.md
  todos/telec-init-enrichment/state.yaml
Due: teleclaude-docs-check

docs(todos): approve telec-init-enrichment plan
  todos/telec-init-enrichment/implementation-plan.md
  todos/telec-init-enrichment/state.yaml
Due: teleclaude-docs-check

fix(procedure): strengthen requirements review with domain grounding, leakage detection, and remediation boundaries
  docs/global/software-development/procedure/lifecycle/review-requirements.md
  todos/telec-init-enrichment/implementation-plan.md
  todos/telec-init-enrichment/requirements.md
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor(procedure): extract shared preparation-artifact-quality policy
  docs/global/software-development/policy/preparation-artifact-quality.md
  docs/global/software-development/procedure/lifecycle/review-plan.md
  docs/global/software-development/procedure/lifecycle/review-requirements.md
  docs/global/software-development/procedure/maintenance/next-prepare-discovery.md
  docs/global/software-development/procedure/maintenance/next-prepare-draft.md
  docs/global/software-development/procedure/maintenance/next-prepare-gate.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(docs): add preparation-artifact-quality to global index
  docs/global/index.yaml
Due: teleclaude-docs-validate

chore(todos): reset telec-init-enrichment to re-review after requirements rewrite
  todos/telec-init-enrichment/state.yaml
Due: none

move internal config to constants, stop config.yml magnet effect
  alembic/README.md
  alembic/env.py
  config.sample.yml
  teleclaude/config/__init__.py
  teleclaude/constants.py
  teleclaude/mirrors/store.py
  tests/conftest.py
  tests/integration/config.yml
  tests/integration/conftest.py
  tests/unit/test_checkpoint_hook.py
  tests/unit/test_config_working_dir.py
  tests/unit/test_history_mirror_search.py
  tests/unit/test_hook_receiver.py
  tests/unit/test_mirror_api_routes.py
  tests/unit/test_runtime_binary_policy.py
  todos/_icebox/multi-user-migration/input.md
Due: teleclaude-docs-check, teleclaude-docs-validate

Extract Codex prompt submit detection
  teleclaude/core/agent_coordinator.py
  teleclaude/core/codex_prompt_submit.py
  teleclaude/core/polling_coordinator.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_polling_coordinator.py
Due: none

chore(todo): approve telec-init-enrichment requirements review
  todos/telec-init-enrichment/requirements.md
  todos/telec-init-enrichment/state.yaml
Due: teleclaude-docs-check

feat(delivery): idempotent `telec roadmap deliver` with full cleanup
  teleclaude/cli/telec.py
  teleclaude/core/integration/state_machine.py
  teleclaude/core/next_machine/core.py
  tests/unit/test_delivery_cleanup.py
Due: check-cli-help

feat(todo): add split_todo() for atomic container transitions
  teleclaude/todo_scaffold.py
Due: none

fix(chiptunes): persist runtime state and harden tui feedback sync
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/chiptunes/manager.py
  teleclaude/chiptunes/player.py
  teleclaude/chiptunes/worker.py
  teleclaude/cli/api_client.py
  teleclaude/cli/models.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/messages.py
  teleclaude/cli/tui/widgets/telec_footer.py
  teleclaude/config/runtime_settings.py
  teleclaude/daemon.py
  teleclaude/paths.py
  tests/unit/test_chiptunes.py
  tests/unit/test_runtime_settings.py
  tests/unit/test_tui_footer_migration.py
Due: none

feat(commands): enforce mandatory Discipline section across all commands
  .agents/commands/run-tests.md
  agents/commands/author-knowledge.md
  agents/commands/next-bugs-fix.md
  agents/commands/next-build.md
  agents/commands/next-defer.md
  agents/commands/next-demo.md
  agents/commands/next-finalize.md
  agents/commands/next-fix-review.md
  agents/commands/next-integrate.md
  agents/commands/next-prepare-discovery.md
  agents/commands/next-prepare-draft.md
  agents/commands/next-prepare-gate.md
  agents/commands/next-prepare.md
  agents/commands/next-refine-input.md
  agents/commands/next-research.md
  agents/commands/next-review-build.md
  agents/commands/next-review-plan.md
  agents/commands/next-review-requirements.md
  agents/commands/next-work.md
  agents/commands/prime-orchestrator.md
  agents/commands/screenshot-analyze.md
  agents/commands/screenshot-fix.md
  agents/commands/sync-docs.md
  agents/commands/sync-docstrings.md
  agents/skills/git-repo-scraper/SKILL.md
  agents/skills/youtube/SKILL.md
  docs/global/baseline.md
  docs/global/general/spec/agent-artifacts.md
  docs/global/software-development/procedure/preparation-discipline.md
  teleclaude/resource_validation.py
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(telec-init-enrichment): approve plan review
  todos/telec-init-enrichment/implementation-plan.md
  todos/telec-init-enrichment/state.yaml
Due: teleclaude-docs-check

chore(todo): finalize DOR gate for telec-init-enrichment
  todos/telec-init-enrichment/dor-report.md
  todos/telec-init-enrichment/state.yaml
Due: teleclaude-docs-check

Make session titles transcript-driven
  teleclaude/core/agent_coordinator.py
  teleclaude/core/summarizer.py
  teleclaude/utils/transcript.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_daemon.py
  tests/unit/test_summarizer.py
Due: none

Harden optimistic session close handling
  teleclaude/api_server.py
  teleclaude/cli/api_client.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/daemon.py
  tests/integration/test_e2e_smoke.py
  tests/unit/test_daemon_session_close_requested.py
  tests/unit/test_sessions_view_optimistic_kill.py
  tests/unit/test_tui_optimistic_session_kill.py
Due: none

docs(architecture): add comprehensive state machine design docs with mermaid diagrams
  docs/global/creative/procedure/design-discovery.md
  docs/global/creative/spec/design-system.md
  docs/global/general/spec/snippet-authoring-schema.md
  docs/global/index.yaml
  docs/project/design/architecture/integration-state-machine.md
  docs/project/design/architecture/lifecycle-state-machines.md
  docs/project/design/architecture/next-machine.md
  docs/project/design/architecture/prepare-state-machine.md
  docs/project/design/architecture/work-state-machine.md
  docs/project/index.yaml
  docs/third-party/tmux/session-output-observation.md
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor(chiptunes): make controls receipt-oriented async command flow
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/chiptunes/manager.py
  teleclaude/chiptunes/worker.py
  teleclaude/cli/api_client.py
  teleclaude/cli/models.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/messages.py
  teleclaude/cli/tui/widgets/telec_footer.py
  teleclaude/config/runtime_settings.py
  teleclaude/daemon.py
  tests/unit/test_chiptunes.py
  tests/unit/test_tui_footer_migration.py
Due: none

chore(todos): review youtube scrape requirements
  todos/youtube-scrape-channels-job/requirements.md
  todos/youtube-scrape-channels-job/state.yaml
Due: teleclaude-docs-check

chore(todos): approve youtube scrape channels plan review
  todos/youtube-scrape-channels-job/implementation-plan.md
  todos/youtube-scrape-channels-job/state.yaml
Due: teleclaude-docs-check

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
