Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

chore(integrator-state-machine): deliver, demo snapshot, cleanup
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(integrator-state-machine): remove todo directory post-delivery
  todos/integrator-state-machine/demo.md
  todos/integrator-state-machine/dor-report.md
  todos/integrator-state-machine/implementation-plan.md
  todos/integrator-state-machine/input.md
  todos/integrator-state-machine/quality-checklist.md
  todos/integrator-state-machine/requirements.md
  todos/integrator-state-machine/review-findings.md
  todos/integrator-state-machine/state.yaml
Due: teleclaude-docs-check

feat(slug-helper): create teleclaude/slug.py with shared slug utilities
  teleclaude/slug.py
  tests/unit/test_slug.py
Due: none

refactor(slug-helper): wire todo_scaffold to use teleclaude.slug
  teleclaude/todo_scaffold.py
  todos/slug-helper/implementation-plan.md
Due: teleclaude-docs-check

refactor(slug-helper): wire content_scaffold to use teleclaude.slug
  teleclaude/content_scaffold.py
Due: none

refactor(slug-helper): wire telec.py and preparation.py to use teleclaude.slug
  teleclaude/cli/telec.py
  teleclaude/cli/tui/views/preparation.py
Due: check-cli-help

refactor(slug-helper): update modals.py to import SLUG_PATTERN from teleclaude.slug
  teleclaude/cli/tui/widgets/modals.py
Due: none

test(slug-helper): update test imports and collision behavior assertions
  tests/unit/cli/tui/test_create_todo_modal.py
  tests/unit/test_bug_scaffold.py
  tests/unit/test_todo_scaffold.py
Due: none

chore(slug-helper): promote demo artifact and update quality checklist
  demos/slug-helper/demo.md
  todos/slug-helper/quality-checklist.md
Due: teleclaude-docs-check

test(slug-helper): fix stale test assertions to match current behavior
  tests/integration/test_integrator_wiring.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
  tests/unit/test_tab_bar_edge.py
Due: none

chore(slug-helper): update quality checklist — tests now 2849 pass, 0 failures
  todos/slug-helper/quality-checklist.md
Due: teleclaude-docs-check

fix(tui): tab bar Z-level, config scrollbar, sprite tuning
  teleclaude/cli/tui/animations/sprites/cars.py
  teleclaude/cli/tui/animations/sprites/clouds.py
  teleclaude/cli/tui/animations/sprites/ufo.py
  teleclaude/cli/tui/telec.tcss
  teleclaude/cli/tui/views/config.py
  teleclaude/cli/tui/widgets/box_tab_bar.py
Due: none

review(slug-helper): REQUEST CHANGES — stale slug in _handle_todo_dump event payload
  todos/slug-helper/quality-checklist.md
  todos/slug-helper/review-findings.md
Due: teleclaude-docs-check

fix(slug-helper): update slug from todo_dir.name after skeleton creation in _handle_todo_dump
  teleclaude/cli/telec.py
Due: check-cli-help

review(slug-helper): APPROVE — critical finding resolved
  todos/slug-helper/quality-checklist.md
  todos/slug-helper/review-findings.md
Due: teleclaude-docs-check

chore(todos): sync orchestrator-managed state files
  todos/icebox.yaml
  todos/roadmap.yaml
  todos/slug-helper/state.yaml
  todos/transcript-parser-fallback-policy/state.yaml
Due: none

chore(todos): sync worktree state before merge
  todos/roadmap.yaml
  todos/slug-helper/state.yaml
Due: none

chore(slug-helper): sync canonical state to approved
  todos/slug-helper/state.yaml
Due: none

fix(tests): update 4 stale test assertions to match current behavior
  tests/integration/test_integrator_wiring.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
  tests/unit/test_tab_bar_edge.py
Due: none

chore(slug-helper): deliver, demo snapshot, cleanup
  demos/slug-helper/snapshot.json
  todos/delivered.yaml
  todos/roadmap.yaml
  todos/slug-helper/demo.md
  todos/slug-helper/dor-report.md
  todos/slug-helper/implementation-plan.md
  todos/slug-helper/input.md
  todos/slug-helper/quality-checklist.md
  todos/slug-helper/requirements.md
  todos/slug-helper/review-findings.md
  todos/slug-helper/state.yaml
Due: teleclaude-docs-check

fix(tui): adjust car sprite wheel color for visibility
  teleclaude/cli/tui/animations/sprites/cars.py
Due: none

refactor(next-machine): remove finalize precondition gates from dispatch path
  teleclaude/core/next_machine/core.py
  tests/unit/core/test_next_machine_deferral.py
  tests/unit/test_next_machine_state_deps.py
  tests/unit/test_state_machine_gate_sharpening.py
Due: none

docs(next-machine): remove stale finalize safety gate references
  docs/project/design/architecture/next-machine.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(transcript-parser-fallback-policy): centralize parser agent resolution with explicit fallback policy
  demos/transcript-parser-fallback-policy/demo.md
  teleclaude/api/streaming.py
  teleclaude/api_server.py
  teleclaude/core/agents.py
  tests/unit/test_agents.py
  todos/transcript-parser-fallback-policy/implementation-plan.md
  todos/transcript-parser-fallback-policy/quality-checklist.md
  todos/transcript-parser-fallback-policy/review-findings.md
  todos/transcript-parser-fallback-policy/state.yaml
Due: teleclaude-docs-check

chore(transcript-parser-fallback-policy): delivery bookkeeping
  demos/transcript-parser-fallback-policy/snapshot.json
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(transcript-parser-fallback-policy): worktree and todo cleanup after delivery
  todos/transcript-parser-fallback-policy/demo.md
  todos/transcript-parser-fallback-policy/dor-report.md
  todos/transcript-parser-fallback-policy/implementation-plan.md
  todos/transcript-parser-fallback-policy/input.md
  todos/transcript-parser-fallback-policy/quality-checklist.md
  todos/transcript-parser-fallback-policy/requirements.md
  todos/transcript-parser-fallback-policy/review-findings.md
  todos/transcript-parser-fallback-policy/state.yaml
Due: teleclaude-docs-check

feat(event-envelope-schema): expansion joint and schema versioning
  teleclaude_events/envelope.py
  todos/event-envelope-schema/implementation-plan.md
Due: teleclaude-docs-check

feat(event-envelope-schema): register core event taxonomy families
  teleclaude_events/schemas/__init__.py
  teleclaude_events/schemas/content.py
  teleclaude_events/schemas/deployment.py
  teleclaude_events/schemas/node.py
  teleclaude_events/schemas/notification.py
  teleclaude_events/schemas/schema.py
  todos/event-envelope-schema/implementation-plan.md
Due: teleclaude-docs-check

feat(event-envelope-schema): add JSON Schema export utility
  teleclaude_events/schema_export.py
  todos/event-envelope-schema/implementation-plan.md
Due: teleclaude-docs-check

test(event-envelope-schema): add behavioral test suite
  tests/unit/test_teleclaude_events/test_event_envelope_schema.py
  todos/event-envelope-schema/implementation-plan.md
Due: teleclaude-docs-check

docs(event-envelope-schema): update event vocabulary spec
  docs/project/spec/event-vocabulary.md
  todos/event-envelope-schema/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(event-envelope-schema): build gates checked, demo artifact delivered
  demos/event-envelope-schema/demo.md
  todos/event-envelope-schema/quality-checklist.md
Due: teleclaude-docs-check

chore(event-envelope-schema): note pre-existing orchestrator drift in checklist
  todos/event-envelope-schema/quality-checklist.md
Due: teleclaude-docs-check

chore(event-envelope-schema): commit worktree drift artifacts
  .teleclaude/worktree-prep-state.json
  teleclaude/core/next_machine/core.py
  todos/event-envelope-schema/state.yaml
Due: none

review(event-envelope-schema): approve — clean delivery, all requirements met
  todos/event-envelope-schema/quality-checklist.md
  todos/event-envelope-schema/review-findings.md
Due: teleclaude-docs-check

feat(chiptunes-audio): add SID chiptunes playback with TUI toggle and TTS coexistence
  demos/chiptunes-audio/demo.md
  pyproject.toml
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/chiptunes/__init__.py
  teleclaude/chiptunes/manager.py
  teleclaude/chiptunes/player.py
  teleclaude/chiptunes/sid_cpu.py
  teleclaude/chiptunes/sid_parser.py
  teleclaude/chiptunes/sid_renderer.py
  teleclaude/cli/models.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/messages.py
  teleclaude/cli/tui/widgets/telec_footer.py
  teleclaude/config/__init__.py
  teleclaude/config/runtime_settings.py
  teleclaude/tts/manager.py
  tests/unit/test_chiptunes.py
  tests/unit/test_runtime_settings.py
  todos/chiptunes-audio/implementation-plan.md
  todos/chiptunes-audio/quality-checklist.md
Due: teleclaude-docs-check

chore: gitignore worktree-prep-state.json and remove accidental blank line
  .gitignore
  .teleclaude/worktree-prep-state.json
  teleclaude/core/next_machine/core.py
Due: none

chore(integrator): create follow-up todo for merge conflict resolution
  todos/event-envelope-schema-merge-conflict-resolution/demo.md
  todos/event-envelope-schema-merge-conflict-resolution/implementation-plan.md
  todos/event-envelope-schema-merge-conflict-resolution/input.md
  todos/event-envelope-schema-merge-conflict-resolution/quality-checklist.md
  todos/event-envelope-schema-merge-conflict-resolution/requirements.md
  todos/event-envelope-schema-merge-conflict-resolution/state.yaml
Due: teleclaude-docs-check

fix(chiptunes-audio): relax sounddevice version to resolve mlx-audio conflict
  pyproject.toml
Due: none

docs(chiptunes-audio): review findings — REQUEST CHANGES
  todos/chiptunes-audio/quality-checklist.md
  todos/chiptunes-audio/review-findings.md
Due: teleclaude-docs-check

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
