Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

chore(integrator-cutover): add demo snapshot
  demos/integrator-cutover/snapshot.json
Due: none

chore: cleanup integrator-cutover
  todos/integrator-cutover/demo.md
  todos/integrator-cutover/dor-report.md
  todos/integrator-cutover/implementation-plan.md
  todos/integrator-cutover/input.md
  todos/integrator-cutover/quality-checklist.md
  todos/integrator-cutover/requirements.md
  todos/integrator-cutover/review-findings.md
  todos/integrator-cutover/state.yaml
Due: teleclaude-docs-check

feat(integration): add blocked outcome contract and resume linkage
  docs/project/spec/integration-orchestrator.md
  teleclaude/core/integration/__init__.py
  teleclaude/core/integration/blocked_followup.py
  teleclaude/core/integration/events.py
  teleclaude/core/integration/queue.py
  teleclaude/core/integration/readiness_projection.py
  teleclaude/core/integration/runtime.py
  todos/integration-blocked-flow/implementation-plan.md
  todos/integration-blocked-flow/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

test(integration): cover blocked flow and resume behavior
  tests/integration/test_integration_blocked_flow.py
  todos/integration-blocked-flow/implementation-plan.md
Due: teleclaude-docs-check

chore(todo): finalize demo artifact and build gates
  demos/integration-blocked-flow/demo.md
  todos/integration-blocked-flow/quality-checklist.md
Due: teleclaude-docs-check

review(integration): approve blocked flow with improvement suggestions
  todos/integration-blocked-flow/implementation-plan.md
  todos/integration-blocked-flow/quality-checklist.md
  todos/integration-blocked-flow/review-findings.md
  todos/integration-blocked-flow/state.yaml
Due: teleclaude-docs-check

chore(integration-blocked-flow): record delivery
  docs/global/index.yaml
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-validate

chore(integration-blocked-flow): add demo snapshot
  demos/integration-blocked-flow/snapshot.json
  docs/global/index.yaml
Due: teleclaude-docs-validate

chore: cleanup integration-blocked-flow
  todos/integration-blocked-flow/demo.md
  todos/integration-blocked-flow/dor-report.md
  todos/integration-blocked-flow/implementation-plan.md
  todos/integration-blocked-flow/input.md
  todos/integration-blocked-flow/quality-checklist.md
  todos/integration-blocked-flow/requirements.md
  todos/integration-blocked-flow/review-findings.md
  todos/integration-blocked-flow/state.yaml
Due: teleclaude-docs-check

feat(config): redesign wizard for guided inline setup
  demos/config-wizard-redesign/demo.md
  teleclaude/cli/config_handlers.py
  teleclaude/cli/tui/config_components/notifications.py
  teleclaude/cli/tui/telec.tcss
  teleclaude/cli/tui/views/config.py
  teleclaude/cli/tui/views/configuration.py
  tests/unit/test_config_handlers.py
  tests/unit/test_tui_config_view.py
  todos/config-wizard-redesign/implementation-plan.md
  todos/config-wizard-redesign/quality-checklist.md
Due: teleclaude-docs-check

review(config-wizard): request changes for export prefix and env completion bugs
  todos/config-wizard-redesign/implementation-plan.md
  todos/config-wizard-redesign/quality-checklist.md
  todos/config-wizard-redesign/review-findings.md
  todos/config-wizard-redesign/state.yaml
Due: teleclaude-docs-check

fix(config): preserve export declarations in env updates
  teleclaude/cli/config_handlers.py
  tests/unit/test_config_handlers.py
Due: none

fix(tui): treat missing env data as incomplete guided step
  teleclaude/cli/tui/views/config.py
  tests/unit/test_tui_config_view.py
Due: none

refactor(tui): avoid duplicate guided auto-advance after save
  teleclaude/cli/tui/views/config.py
  tests/unit/test_tui_config_view.py
Due: none

docs(config-wizard-redesign): record review fix commits
  todos/config-wizard-redesign/review-findings.md
Due: teleclaude-docs-check

review(config-wizard-redesign): approve after Round 2 re-review
  todos/config-wizard-redesign/quality-checklist.md
  todos/config-wizard-redesign/review-findings.md
  todos/config-wizard-redesign/state.yaml
Due: teleclaude-docs-check

chore(config-wizard-redesign): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(config-wizard-redesign): add demo snapshot
  demos/config-wizard-redesign/snapshot.json
Due: none

chore: cleanup config-wizard-redesign
  todos/config-wizard-redesign/demo.md
  todos/config-wizard-redesign/dor-report.md
  todos/config-wizard-redesign/implementation-plan.md
  todos/config-wizard-redesign/input.md
  todos/config-wizard-redesign/quality-checklist.md
  todos/config-wizard-redesign/requirements.md
  todos/config-wizard-redesign/review-findings.md
  todos/config-wizard-redesign/state.yaml
Due: teleclaude-docs-check

prep(harmonize-agent-notifications): simplify artifacts — remove speculative tag stripping
  todos/harmonize-agent-notifications/demo.md
  todos/harmonize-agent-notifications/implementation-plan.md
  todos/harmonize-agent-notifications/requirements.md
  todos/tui-footer-key-contract-restoration/demo.md
  todos/tui-footer-key-contract-restoration/dor-report.md
  todos/tui-footer-key-contract-restoration/implementation-plan.md
  todos/tui-footer-key-contract-restoration/requirements.md
  todos/tui-footer-key-contract-restoration/state.yaml
Due: teleclaude-docs-check

gate(tui-footer-key-contract-restoration): DOR pass — score 9/10
  todos/tui-footer-key-contract-restoration/dor-report.md
  todos/tui-footer-key-contract-restoration/state.yaml
Due: teleclaude-docs-check

prep(harmonize-agent-notifications): bring error hooks into scope
  todos/harmonize-agent-notifications/demo.md
  todos/harmonize-agent-notifications/implementation-plan.md
  todos/harmonize-agent-notifications/requirements.md
Due: teleclaude-docs-check

chore: sync orchestrator state for finalize
  todos/roadmap.yaml
  todos/telegram-topic-id-invalid-duplicate-cleanup/review-findings.md
  todos/telegram-topic-id-invalid-duplicate-cleanup/state.yaml
Due: teleclaude-docs-check

prep(harmonize-agent-notifications): scope to notification only
  todos/harmonize-agent-notifications/demo.md
  todos/harmonize-agent-notifications/implementation-plan.md
  todos/harmonize-agent-notifications/requirements.md
  todos/roadmap.yaml
  todos/telegram-topic-id-invalid-duplicate-cleanup/state.yaml
Due: teleclaude-docs-check

gate(harmonize-agent-notifications): DOR pass — score 9/10
  todos/harmonize-agent-notifications/dor-report.md
  todos/harmonize-agent-notifications/state.yaml
Due: teleclaude-docs-check

chore: sync orchestrator state before merge
  todos/roadmap.yaml
  todos/telegram-topic-id-invalid-duplicate-cleanup/state.yaml
Due: none

chore: sync orchestrator state for finalize precondition
  todos/telegram-topic-id-invalid-duplicate-cleanup/state.yaml
Due: none

chore(deployment-versioning): remove todo folder — delivery already recorded
  todos/deployment-versioning/demo.md
  todos/deployment-versioning/dor-report.md
  todos/deployment-versioning/implementation-plan.md
  todos/deployment-versioning/input.md
  todos/deployment-versioning/quality-checklist.md
  todos/deployment-versioning/requirements.md
  todos/deployment-versioning/review-findings.md
  todos/deployment-versioning/state.yaml
Due: teleclaude-docs-check

chore: sync state before merge
  todos/telegram-topic-id-invalid-duplicate-cleanup/state.yaml
Due: none

chore: bump max_review_rounds to break merge-review cycle
  todos/telegram-topic-id-invalid-duplicate-cleanup/state.yaml
Due: none

feat(activity-contract): add agent_notification canonical type and message field
  demos/harmonize-agent-notifications/demo.md
  docs/project/spec/event-vocabulary.md
  teleclaude/core/activity_contract.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/events.py
  tests/unit/test_activity_contract.py
  tests/unit/test_agent_coordinator.py
  todos/harmonize-agent-notifications/implementation-plan.md
  todos/harmonize-agent-notifications/quality-checklist.md
  todos/harmonize-agent-notifications/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(tui/footer-key-contract): restore full key contract — computer grouping, new-project modal, path validation
  demos/tui-footer-key-contract-restoration/demo.md
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/modals.py
  tests/unit/test_tui_footer_migration.py
  tests/unit/test_tui_key_contract.py
  todos/roadmap.yaml
  todos/tui-footer-key-contract-restoration/implementation-plan.md
  todos/tui-footer-key-contract-restoration/quality-checklist.md
  todos/tui-footer-key-contract-restoration/state.yaml
Due: teleclaude-docs-check

review(harmonize-agent-notifications): approve with 1 important, 4 suggestions
  todos/harmonize-agent-notifications/implementation-plan.md
  todos/harmonize-agent-notifications/quality-checklist.md
  todos/harmonize-agent-notifications/review-findings.md
  todos/harmonize-agent-notifications/state.yaml
Due: teleclaude-docs-check

chore(state): commit orchestrator-managed state drift
  todos/telegram-topic-id-invalid-duplicate-cleanup/state.yaml
Due: none

review(tui-footer-key-contract-restoration): APPROVE — 1 important, 3 suggestions
  todos/tui-footer-key-contract-restoration/implementation-plan.md
  todos/tui-footer-key-contract-restoration/quality-checklist.md
  todos/tui-footer-key-contract-restoration/review-findings.md
  todos/tui-footer-key-contract-restoration/state.yaml
Due: teleclaude-docs-check

chore(harmonize-agent-notifications): commit review artifacts from prior cycle
  todos/harmonize-agent-notifications/review-findings.md
  todos/harmonize-agent-notifications/state.yaml
Due: teleclaude-docs-check

review(harmonize-agent-notifications): approve with 1 important, 4 suggestions
  todos/harmonize-agent-notifications/review-findings.md
  todos/harmonize-agent-notifications/state.yaml
Due: teleclaude-docs-check

chore(state): commit orchestrator-managed state drift
  todos/tui-footer-key-contract-restoration/review-findings.md
  todos/tui-footer-key-contract-restoration/state.yaml
Due: teleclaude-docs-check

chore(state): commit reviewer artifacts and orchestrator state drift
  todos/harmonize-agent-notifications/quality-checklist.md
  todos/harmonize-agent-notifications/review-findings.md
  todos/harmonize-agent-notifications/state.yaml
Due: teleclaude-docs-check

review(tui-footer-key-contract-restoration): APPROVE — 1 important, 3 suggestions
  todos/tui-footer-key-contract-restoration/quality-checklist.md
  todos/tui-footer-key-contract-restoration/review-findings.md
  todos/tui-footer-key-contract-restoration/state.yaml
Due: teleclaude-docs-check
