Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs (sync_resources strict)
  entry: bash -c
  args:
  - uv run --quiet scripts/sync_resources.py --project-root "$PWD"
  language: system
  pass_filenames: false

test: update test vocabulary (after_model/agent_output → tool_use/tool_done)
  tests/unit/test_agent_coordinator.py
  tests/unit/test_ansi_stripping.py
  tests/unit/test_daemon_agent_stop_forwarded.py
  tests/unit/test_threaded_output_updates.py
  tests/unit/test_tui_state.py
Due: none

test(events): add comprehensive tests for activity event emission and broadcast
  tests/unit/test_agent_activity_broadcast.py
  tests/unit/test_agent_activity_events.py
Due: none

docs: update event vocabulary in specs and architecture docs
  docs/project/design/architecture/checkpoint-system.md
  docs/project/design/architecture/outbox.md
  docs/project/design/ux/session-highlight.md
  docs/project/design/ux/session-highlight/implementation-plan.md
  docs/project/spec/event-types.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(finalize): update quality-checklist for daemon-independent-jobs
  todos/daemon-independent-jobs/quality-checklist.md
Due: teleclaude-docs-check

docs(finalize): log daemon-independent-jobs delivery
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check

chore: fix stale snapshot and finalize build artifacts
  tests/snapshots/tui/sessions_basic.txt
  todos/agent-activity-events-phase-3-7/implementation-plan.md
  todos/agent-activity-events-phase-3-7/quality-checklist.md
  todos/agent-activity-events-phase-3-7/requirements.md
  todos/agent-activity-events-phase-3-7/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

chore: remove daemon-independent-jobs worktree, branch, and todo folder
  todos/daemon-independent-jobs/dor-report.md
  todos/daemon-independent-jobs/implementation-plan.md
  todos/daemon-independent-jobs/quality-checklist.md
  todos/daemon-independent-jobs/requirements.md
  todos/daemon-independent-jobs/review-findings.md
  todos/daemon-independent-jobs/state.json
Due: teleclaude-docs-check

chore: merge main and update build verification
  todos/agent-activity-events-phase-3-7/quality-checklist.md
Due: teleclaude-docs-check

chore(workflow): block git stash in agent automation
  agents/commands/next-build.md
  docs/global/software-development/policy/version-control-safety.md
  docs/global/software-development/procedure/lifecycle/build.md
  teleclaude/mcp/handlers.py
  tests/unit/test_lint_guardrails.py
  tests/unit/test_mcp_server.py
  tools/lint/guardrails.py
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(main): checkpoint all pending changes
  .agents/commands/run-tests.md
  bin/AGENTS.master.md
  docs/global/software-development/procedure/lifecycle/review.md
  docs/project/design/architecture/tts-system.md
  docs/project/design/architecture/web-api-facade.md
  teleclaude/adapters/base_adapter.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/api_server.py
  teleclaude/core/adapter_client.py
  teleclaude/core/next_machine/core.py
  teleclaude/transport/redis_transport.py
  tests/unit/test_adapter_client.py
  tests/unit/test_agent_cli.py
  tests/unit/test_api_server_restart.py
  tests/unit/test_preparation_view.py
  tests/unit/test_runtime_binary_policy.py
  tests/unit/test_setup_boundaries.py
  todos/roadmap.md
  todos/tts-fallback-saturation/implementation-plan.md
  todos/tts-fallback-saturation/input.md
  todos/tts-fallback-saturation/quality-checklist.md
  todos/tts-fallback-saturation/requirements.md
  todos/tts-fallback-saturation/state.json
  todos/web-interface-2/implementation-plan.md
  todos/web-interface-2/route-map.md
Due: teleclaude-docs-check, teleclaude-docs-validate

review(agent-activity-events): REQUEST CHANGES — tool_name coercion bug
  todos/agent-activity-events-phase-3-7/quality-checklist.md
  todos/agent-activity-events-phase-3-7/review-findings.md
  todos/agent-activity-events-phase-3-7/state.json
Due: teleclaude-docs-check

fix(agent-coordinator): prevent tool_name coercion to "None" string
  teleclaude/core/agent_coordinator.py
Due: none

docs(receiver): update stale event vocabulary in comments
  teleclaude/hooks/receiver.py
Due: none

docs(review): record fixes applied to review findings
  todos/agent-activity-events-phase-3-7/review-findings.md
Due: teleclaude-docs-check

review(agent-activity-events): APPROVE — all findings resolved in round 2
  todos/agent-activity-events-phase-3-7/quality-checklist.md
  todos/agent-activity-events-phase-3-7/review-findings.md
  todos/agent-activity-events-phase-3-7/state.json
Due: teleclaude-docs-check

chore(finalize): mark quality checklist finalize gates
  todos/agent-activity-events-phase-3-7/quality-checklist.md
  todos/agent-activity-events-phase-3-7/state.json
Due: teleclaude-docs-check

chore(finalize): log delivery for agent-activity-events-phase-3-7
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check

chore: remove agent-activity-events-phase-3-7 worktree, branch, and todo folder
  todos/agent-activity-events-phase-3-7/implementation-plan.md
  todos/agent-activity-events-phase-3-7/input.md
  todos/agent-activity-events-phase-3-7/quality-checklist.md
  todos/agent-activity-events-phase-3-7/requirements.md
  todos/agent-activity-events-phase-3-7/review-findings.md
  todos/agent-activity-events-phase-3-7/state.json
Due: teleclaude-docs-check

fix(codex): normalize /next-* commands at tmux input boundary
  agents/CODEX.primer.md
  teleclaude/core/codex_prompt_normalization.py
  teleclaude/core/command_handlers.py
  teleclaude/core/file_handler.py
  teleclaude/core/tmux_io.py
  teleclaude/daemon.py
  teleclaude/services/maintenance_service.py
  tests/unit/test_daemon.py
  tests/unit/test_tmux_io_bracketed_paste.py
Due: teleclaude-docs-check

chore(todos): consolidate identity scope into help-desk artifacts
  todos/help-desk/implementation-plan.md
  todos/help-desk/requirements.md
  todos/help-desk/state.json
  todos/person-identity-auth-1/dor-report.md
  todos/person-identity-auth-1/implementation-plan.md
  todos/person-identity-auth-1/input.md
  todos/person-identity-auth-1/requirements.md
  todos/person-identity-auth-1/state.json
  todos/person-identity-auth-2/dor-report.md
  todos/person-identity-auth-2/implementation-plan.md
  todos/person-identity-auth-2/input.md
  todos/person-identity-auth-2/requirements.md
  todos/person-identity-auth-2/state.json
  todos/person-identity-auth-3/dor-report.md
  todos/person-identity-auth-3/implementation-plan.md
  todos/person-identity-auth-3/input.md
  todos/person-identity-auth-3/requirements.md
  todos/person-identity-auth-3/state.json
  todos/person-identity-auth/implementation-plan.md
  todos/person-identity-auth/input.md
  todos/person-identity-auth/requirements.md
  todos/person-identity-auth/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

feat(tts): filter saturated providers from fallback chain
  teleclaude/tts/manager.py
  todos/tts-fallback-saturation/implementation-plan.md
Due: teleclaude-docs-check

refactor(tts): defer voice assignment to first TTS event
  teleclaude/core/command_handlers.py
  tests/unit/test_command_handlers.py
Due: none

chore(todos): update build gates for tts-fallback-saturation
  todos/roadmap.md
  todos/tts-fallback-saturation/quality-checklist.md
Due: teleclaude-docs-check

test(tts): add saturation filtering tests for fallback chain
  tests/unit/test_tts_fallback_saturation.py
Due: none

review(tts): approve tts-fallback-saturation with suggestions
  todos/tts-fallback-saturation/quality-checklist.md
  todos/tts-fallback-saturation/review-findings.md
  todos/tts-fallback-saturation/state.json
Due: teleclaude-docs-check

chore(todos): finalize tts-fallback-saturation delivery
  todos/delivered.md
  todos/roadmap.md
  todos/tts-fallback-saturation/quality-checklist.md
Due: teleclaude-docs-check

chore: remove tts-fallback-saturation worktree, branch, and todo folder
  todos/tts-fallback-saturation/implementation-plan.md
  todos/tts-fallback-saturation/input.md
  todos/tts-fallback-saturation/quality-checklist.md
  todos/tts-fallback-saturation/requirements.md
  todos/tts-fallback-saturation/review-findings.md
  todos/tts-fallback-saturation/state.json
Due: teleclaude-docs-check

feat(workflow): block stash debt from AI phase progression
  teleclaude/core/next_machine/core.py
  teleclaude/mcp/handlers.py
  tests/unit/test_mcp_server.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
Due: none

docs(todos): finalize help-desk DOR artifacts
  todos/help-desk/dor-report.md
  todos/help-desk/implementation-plan.md
  todos/help-desk/requirements.md
  todos/help-desk/state.json
Due: teleclaude-docs-check

fix(hooks): harden checkpoint escape hatch semantics
  docs/global/general/procedure/maintenance/next-prepare.md
  docs/project/design/architecture/checkpoint-system.md
  teleclaude/hooks/checkpoint.py
  teleclaude/hooks/receiver.py
  tests/unit/test_hook_receiver.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(get-session-data): fallback to tmux tail before transcript pending
  teleclaude/core/command_handlers.py
  tests/unit/test_command_handlers.py
Due: none

feat(help-desk): enforce identity-based jailing and restricted profiles
  help-desk/README.md
  teleclaude/api_models.py
  teleclaude/config/__init__.py
  teleclaude/constants.py
  teleclaude/core/agents.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/identity.py
  teleclaude/core/migrations/008_add_human_identity_fields.py
  teleclaude/core/models.py
  teleclaude/entrypoints/mcp_wrapper.py
  teleclaude/mcp/role_tools.py
  tests/integration/conftest.py
  tests/integration/test_ai_to_ai_session_init_e2e.py
  tests/unit/test_access_control.py
  tests/unit/test_agents.py
  tests/unit/test_command_handlers.py
  tests/unit/test_identity.py
  tests/unit/test_mcp_wrapper.py
  tests/unit/test_role_tools.py
  todos/help-desk/dor-report.md
  todos/help-desk/implementation-plan.md
  todos/help-desk/quality-checklist.md
  todos/help-desk/state.json
  todos/roadmap.md
Due: teleclaude-docs-check, teleclaude-docs-validate

review(help-desk): request changes for identity summary gap
  todos/help-desk/quality-checklist.md
  todos/help-desk/review-findings.md
  todos/help-desk/state.json
Due: teleclaude-docs-check

fix(command-handlers): preserve human identity in list sessions mapping
  teleclaude/core/command_handlers.py
  tests/unit/test_command_handlers.py
Due: none

docs(help-desk): record applied fix in review findings
  todos/help-desk/review-findings.md
Due: teleclaude-docs-check

chore(help-desk): record approved review outcome for finalize
  todos/help-desk/review-findings.md
  todos/help-desk/state.json
Due: teleclaude-docs-check

chore(help-desk): update finalize checklist pre-merge gates
  todos/help-desk/quality-checklist.md
Due: teleclaude-docs-check

chore(help-desk): record finalize delivery artifacts
  todos/delivered.md
  todos/help-desk/quality-checklist.md
  todos/roadmap.md
Due: teleclaude-docs-check

chore: remove help-desk worktree, branch, and todo folder
  todos/help-desk/dor-report.md
  todos/help-desk/implementation-plan.md
  todos/help-desk/quality-checklist.md
  todos/help-desk/requirements.md
  todos/help-desk/review-findings.md
  todos/help-desk/state.json
Due: teleclaude-docs-check

docs(next-build): allow orchestrator-synced roadmap drift
  agents/commands/next-build.md
  docs/global/software-development/procedure/lifecycle/build.md
Due: teleclaude-docs-check, teleclaude-docs-validate

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)
