Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

review(integration-events-model): approve round 2 — all 9 fixes verified
  todos/integration-events-model/implementation-plan.md
  todos/integration-events-model/review-findings.md
Due: teleclaude-docs-check

chore(deployment-channels): record review outcomes
  todos/deployment-channels/review-findings.md
  todos/deployment-channels/state.yaml
Due: teleclaude-docs-check

review(deployment-channels): REQUEST CHANGES — 2 critical, 3 important findings
  todos/deployment-channels/quality-checklist.md
  todos/deployment-channels/review-findings.md
  todos/deployment-channels/state.yaml
Due: teleclaude-docs-check

chore(integration-events-model): close build gates with verified checks
  todos/integration-events-model/implementation-plan.md
  todos/integration-events-model/quality-checklist.md
Due: teleclaude-docs-check

fix(deployment): use integer comparison in _is_within_pinned_minor (#14)
  teleclaude/deployment/handler.py
  tests/unit/test_deployment_channels.py
Due: none

fix(deployment): kill subprocess on timeout in execute_update (#15)
  teleclaude/deployment/executor.py
  tests/unit/test_deployment_channels.py
Due: none

fix(deployment): attach done callback to execute_update task (#16)
  teleclaude/deployment/handler.py
Due: none

fix(deployment): filter fan-out by channel equality to prevent cross-channel deploys (#17)
  teleclaude/deployment/handler.py
  tests/unit/test_deployment_channels.py
Due: none

feat(outbox): reserve per-session slots for critical events
  docs/project/design/architecture/outbox.md
  teleclaude/daemon.py
  tests/unit/test_daemon.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(deployment): reconnect Redis inside fanout consumer loop to survive startup failures (#18)
  teleclaude/daemon.py
Due: none

docs(deployment): record round 2 fixes in review-findings (#14-#18)
  todos/deployment-channels/review-findings.md
Due: teleclaude-docs-check

review(integration-events-model): approve round 2 — all 9 fixes verified, no new issues
  todos/integration-events-model/quality-checklist.md
  todos/integration-events-model/review-findings.md
Due: teleclaude-docs-check

chore(main): checkpoint docs and plan drift
  docs/project/design/architecture/tui-state-layout.md
  docs/project/design/ux/session-preview-sticky.md
  docs/project/index.yaml
  frontend/docs/global/index.yaml
  todos/harmonize-agent-notifications/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

review(deployment-channels): APPROVE — all round 2 fixes verified
  todos/deployment-channels/quality-checklist.md
  todos/deployment-channels/review-findings.md
Due: teleclaude-docs-check

chore(state): mark deployment-channels review approved (round 3)
  todos/deployment-channels/state.yaml
Due: none

chore: add orphaned telegram-topic-id bug scaffold
  todos/telegram-topic-id-invalid-duplicate-cleanup/bug.md
  todos/telegram-topic-id-invalid-duplicate-cleanup/state.yaml
Due: teleclaude-docs-check

review(integration-events-model): approve round 3 — all fixes verified, no blocking issues
  todos/integration-events-model/review-findings.md
Due: teleclaude-docs-check

chore(state): pragmatic closure — mark review approved at round 3/3
  todos/deployment-channels/state.yaml
Due: none

fix(cleanup): prevent duplicate Telegram topic deletion on session close
  teleclaude/adapters/telegram/channel_ops.py
  teleclaude/adapters/telegram/input_handlers.py
  teleclaude/core/events.py
  teleclaude/core/session_cleanup.py
  teleclaude/daemon.py
  tests/integration/test_session_lifecycle.py
  tests/unit/test_session_cleanup.py
  tests/unit/test_telegram_adapter.py
  todos/telegram-topic-id-invalid-duplicate-cleanup/bug.md
Due: teleclaude-docs-check

fix(sessions): allow bug offload to skip caller listeners
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/api_client.py
  teleclaude/cli/telec.py
  teleclaude/core/command_handlers.py
  teleclaude/core/command_mapper.py
  teleclaude/types/commands.py
  tests/unit/test_api_client.py
  tests/unit/test_api_server.py
  tests/unit/test_command_handlers.py
  tests/unit/test_command_mapper.py
  tests/unit/test_telec_cli.py
Due: check-cli-help

chore(integration-events-model): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(integration-events-model): add demo snapshot
  demos/integration-events-model/snapshot.json
Due: none

review(telegram-topic-id-invalid-duplicate-cleanup): approve fix with important robustness findings
  todos/telegram-topic-id-invalid-duplicate-cleanup/review-findings.md
Due: teleclaude-docs-check

chore: checkpoint in-progress todo updates and integration cleanup
  teleclaude/core/next_machine/core.py
  todos/harmonize-agent-notifications/demo.md
  todos/harmonize-agent-notifications/dor-report.md
  todos/harmonize-agent-notifications/implementation-plan.md
  todos/harmonize-agent-notifications/requirements.md
  todos/harmonize-agent-notifications/state.yaml
  todos/integration-events-model/demo.md
  todos/integration-events-model/dor-report.md
  todos/integration-events-model/implementation-plan.md
  todos/integration-events-model/input.md
  todos/integration-events-model/quality-checklist.md
  todos/integration-events-model/requirements.md
  todos/integration-events-model/review-findings.md
  todos/integration-events-model/state.yaml
Due: teleclaude-docs-check

chore: stage orchestrator-managed state files for merge with main
  todos/roadmap.yaml
  todos/telegram-topic-id-invalid-duplicate-cleanup/bug.md
  todos/telegram-topic-id-invalid-duplicate-cleanup/state.yaml
Due: teleclaude-docs-check

chore(state): advance baseline after main sync
  todos/deployment-channels/state.yaml
Due: none

chore(todos): commit pending state and review artifacts
  todos/harmonize-agent-notifications/dor-report.md
  todos/harmonize-agent-notifications/state.yaml
  todos/telegram-topic-id-invalid-duplicate-cleanup/review-findings.md
  todos/telegram-topic-id-invalid-duplicate-cleanup/state.yaml
Due: teleclaude-docs-check

chore(state): update baseline after main sync
  todos/deployment-channels/state.yaml
Due: none

review(telegram-topic-id-invalid-duplicate-cleanup): round 2 findings - constraints verified, code quality notes
  todos/telegram-topic-id-invalid-duplicate-cleanup/review-findings.md
Due: teleclaude-docs-check

revert: keep integration cleanup isolated
  teleclaude/core/next_machine/core.py
  todos/harmonize-agent-notifications/demo.md
  todos/harmonize-agent-notifications/dor-report.md
  todos/harmonize-agent-notifications/implementation-plan.md
  todos/harmonize-agent-notifications/requirements.md
  todos/harmonize-agent-notifications/state.yaml
Due: teleclaude-docs-check

chore(deployment-channels): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(deployment-channels): add demo snapshot
  demos/deployment-channels/snapshot.json
Due: none

chore: cleanup deployment-channels
  todos/deployment-channels/demo.md
  todos/deployment-channels/dor-report.md
  todos/deployment-channels/implementation-plan.md
  todos/deployment-channels/input.md
  todos/deployment-channels/quality-checklist.md
  todos/deployment-channels/requirements.md
  todos/deployment-channels/review-findings.md
  todos/deployment-channels/state.yaml
Due: teleclaude-docs-check

feat(integration): ship shadow-mode singleton integrator runtime
  demos/integrator-shadow-mode/demo.md
  docs/project/spec/integration-orchestrator.md
  teleclaude/core/integration/__init__.py
  teleclaude/core/integration/lease.py
  teleclaude/core/integration/queue.py
  teleclaude/core/integration/runtime.py
  tests/integration/test_integrator_shadow_mode.py
  tests/unit/test_integrator_shadow_mode.py
  todos/integrator-shadow-mode/implementation-plan.md
  todos/integrator-shadow-mode/quality-checklist.md
  todos/integrator-shadow-mode/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor(deploy): remove manual deploy system
  teleclaude/api/auth.py
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
  teleclaude/constants.py
  teleclaude/core/events.py
  teleclaude/core/lifecycle.py
  teleclaude/core/tool_access.py
  teleclaude/core/tool_activity.py
  teleclaude/daemon.py
  teleclaude/services/deploy_service.py
  teleclaude/transport/redis_transport.py
  tests/unit/test_api_route_auth.py
  tests/unit/test_help_desk_features.py
  tests/unit/test_role_tools.py
  todos/deployment-cleanup/state.yaml
Due: teleclaude-docs-validate, check-cli-help

docs(deploy): update docs for automated deployment pipeline
  demos/deployment-cleanup/demo.md
  docs/project/design/architecture/deployment-pipeline.md
  docs/project/procedure/deploy.md
  docs/project/spec/telec-cli-surface.md
  docs/project/spec/teleclaude-config.md
  tests/integration/test_contracts.py
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(deployment-cleanup): mark build complete
  todos/deployment-cleanup/implementation-plan.md
  todos/deployment-cleanup/quality-checklist.md
Due: teleclaude-docs-check

docs(review): add review findings for integrator-shadow-mode
  todos/integrator-shadow-mode/implementation-plan.md
  todos/integrator-shadow-mode/quality-checklist.md
  todos/integrator-shadow-mode/review-findings.md
  todos/integrator-shadow-mode/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

fix(integration): exclude owner session from clearance classification
  teleclaude/core/integration/runtime.py
  tests/unit/test_integrator_shadow_mode.py
Due: none

fix(tests): remove integration marker from unit shadow tests
  tests/unit/test_integrator_shadow_mode.py
Due: none
