Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

chore(rlf-core-machines): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(rlf-core-machines): todo cleanup after delivery
  todos/rlf-core-machines/demo.md
  todos/rlf-core-machines/implementation-plan.md
  todos/rlf-core-machines/input.md
  todos/rlf-core-machines/quality-checklist.md
  todos/rlf-core-machines/requirements.md
  todos/rlf-core-machines/state.yaml
Due: teleclaude-docs-check

fix(hooks): normalize receiver/__main__.py path in hook dedup logic
  teleclaude/install/install_hooks.py
Due: none

fix(authz): restrict telec todo integrate to integrator role only
  teleclaude/cli/telec.py
Due: check-cli-help

chore(todos): scaffold fix-integration-state-machine-infinite-loop-2
  todos/fix-integration-state-machine-infinite-loop-2/bug.md
  todos/fix-integration-state-machine-infinite-loop-2/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

fix(authz): integrator role inherits all orchestrator permissions
  teleclaude/cli/telec.py
Due: check-cli-help

chore(todos): scaffold fix-integration-delivery-bookkeeping-commits
  todos/fix-integration-delivery-bookkeeping-commits/bug.md
  todos/fix-integration-delivery-bookkeeping-commits/state.yaml
Due: teleclaude-docs-check

chore(rlf-core-data): todo cleanup after delivery
  todos/rlf-core-data/deferrals.md
  todos/rlf-core-data/demo.md
  todos/rlf-core-data/implementation-plan.md
  todos/rlf-core-data/input.md
  todos/rlf-core-data/quality-checklist.md
  todos/rlf-core-data/requirements.md
  todos/rlf-core-data/review-findings.md
  todos/rlf-core-data/state.yaml
Due: teleclaude-docs-check

fix(integration): break infinite loop on already-delivered squash merges
  teleclaude/core/integration/queue.py
  teleclaude/core/integration/step_functions.py
  tests/unit/core/integration/test_auto_enqueue.py
  tests/unit/core/integration/test_queue_transitions.py
  tests/unit/core/integration/test_worktree_guards.py
  todos/fix-integration-state-machine-infinite-loop-2/bug.md
  todos/fix-integration-state-machine-infinite-loop-2/review-findings.md
Due: teleclaude-docs-check

chore(fix-integration-state-machine-infinite-loop-2): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(fix-integration-state-machine-infinite-loop-2): todo cleanup after delivery
  todos/fix-integration-state-machine-infinite-loop-2/bug.md
  todos/fix-integration-state-machine-infinite-loop-2/review-findings.md
  todos/fix-integration-state-machine-infinite-loop-2/state.yaml
Due: teleclaude-docs-check

fix(integration): run delivery bookkeeping in integration worktree
  demos/fix-integration-delivery-bookkeeping-commits/demo.md
  demos/fix-integration-delivery-bookkeeping-commits/snapshot.json
  teleclaude/core/integration/step_functions.py
  tests/unit/core/integration/test_step_delivery_bookkeeping.py
  todos/fix-integration-delivery-bookkeeping-commits/bug.md
  todos/fix-integration-delivery-bookkeeping-commits/demo.md
  todos/fix-integration-delivery-bookkeeping-commits/review-findings.md
Due: teleclaude-docs-check

chore(fix-integration-delivery-bookkeeping-commits): todo cleanup after delivery
  todos/fix-integration-delivery-bookkeeping-commits/bug.md
  todos/fix-integration-delivery-bookkeeping-commits/demo.md
  todos/fix-integration-delivery-bookkeeping-commits/review-findings.md
  todos/fix-integration-delivery-bookkeeping-commits/state.yaml
Due: teleclaude-docs-check

fix(integration): run delivery bookkeeping in integration worktree
  todos/fix-integration-delivery-bookkeeping-commits/demo.md
  todos/fix-integration-delivery-bookkeeping-commits/review-findings.md
Due: teleclaude-docs-check

chore(fix-integration-delivery-bookkeeping-commits): delivery bookkeeping
  todos/delivered.yaml
Due: none

chore(fix-integration-delivery-bookkeeping-commits): todo cleanup after delivery
  todos/fix-integration-delivery-bookkeeping-commits/demo.md
  todos/fix-integration-delivery-bookkeeping-commits/review-findings.md
Due: teleclaude-docs-check

fix(chiptunes): serialize playback to prevent track looping
  teleclaude/chiptunes/worker.py
Due: none

fix(authz): admin bypasses system-role gate for all commands
  teleclaude/cli/telec.py
Due: check-cli-help

refactor(authz): simplify to one-caller-one-role model
  teleclaude/api/auth.py
  teleclaude/cli/telec.py
  tests/unit/api/test_auth.py
Due: check-cli-help

feat(cli): deliver rlf-cli — decompose telec.py monolith into package
  demos/rlf-cli/demo.md
  demos/rlf-cli/snapshot.json
  pyproject.toml
  teleclaude/cli/telec.py
  teleclaude/cli/telec/__init__.py
  teleclaude/cli/telec/__main__.py
  teleclaude/cli/telec/_run_tui.py
  teleclaude/cli/telec/_shared.py
  teleclaude/cli/telec/auth.py
  teleclaude/cli/telec/handlers/__init__.py
  teleclaude/cli/telec/handlers/auth_cmds.py
  teleclaude/cli/telec/handlers/bugs.py
  teleclaude/cli/telec/handlers/config.py
  teleclaude/cli/telec/handlers/content.py
  teleclaude/cli/telec/handlers/demo.py
  teleclaude/cli/telec/handlers/docs.py
  teleclaude/cli/telec/handlers/events_signals.py
  teleclaude/cli/telec/handlers/history.py
  teleclaude/cli/telec/handlers/memories.py
  teleclaude/cli/telec/handlers/misc.py
  teleclaude/cli/telec/handlers/roadmap.py
  teleclaude/cli/telec/handlers/todo.py
  teleclaude/cli/telec/help.py
  teleclaude/cli/telec/surface.py
  teleclaude/cli/telec/surface_types.py
  teleclaude/cli/tool_commands/__init__.py
  teleclaude/cli/tool_commands/infra.py
  teleclaude/cli/tool_commands/sessions.py
  teleclaude/cli/tool_commands/todo.py
  todos/rlf-cli/implementation-plan.md
  todos/rlf-cli/quality-checklist.md
  todos/rlf-cli/requirements.md
  todos/rlf-cli/review-findings.md
  todos/rlf-cli/state.yaml
Due: teleclaude-docs-check, check-cli-help

chore(rlf-cli): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(rlf-cli): todo cleanup after delivery
  todos/fix-integration-delivery-bookkeeping-commits/bug.md
  todos/fix-integration-delivery-bookkeeping-commits/demo.md
  todos/fix-integration-delivery-bookkeeping-commits/review-findings.md
  todos/rlf-cli/demo.md
  todos/rlf-cli/implementation-plan.md
  todos/rlf-cli/input.md
  todos/rlf-cli/quality-checklist.md
  todos/rlf-cli/requirements.md
  todos/rlf-cli/review-findings.md
  todos/rlf-cli/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

fix(next-machine): deliver fix-state-machine-triggers-unnecessary-revie
  demos/fix-state-machine-triggers-unnecessary-revie/demo.md
  demos/fix-state-machine-triggers-unnecessary-revie/snapshot.json
  teleclaude/core/next_machine/work.py
  tests/unit/core/next_machine/test_stale_review_guard.py
  todos/fix-state-machine-triggers-unnecessary-revie/bug.md
  todos/fix-state-machine-triggers-unnecessary-revie/demo.md
  todos/fix-state-machine-triggers-unnecessary-revie/review-findings.md
Due: teleclaude-docs-check

chore(fix-state-machine-triggers-unnecessary-revie): todo cleanup after delivery
  todos/fix-state-machine-triggers-unnecessary-revie/bug.md
  todos/fix-state-machine-triggers-unnecessary-revie/demo.md
  todos/fix-state-machine-triggers-unnecessary-revie/review-findings.md
  todos/fix-state-machine-triggers-unnecessary-revie/state.yaml
Due: teleclaude-docs-check

chore(rlf-core-infra): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(rlf-core-infra): todo cleanup after delivery
  todos/rlf-core-infra/deferrals.md
  todos/rlf-core-infra/demo.md
  todos/rlf-core-infra/implementation-plan.md
  todos/rlf-core-infra/input.md
  todos/rlf-core-infra/quality-checklist.md
  todos/rlf-core-infra/requirements.md
  todos/rlf-core-infra/review-findings.md
  todos/rlf-core-infra/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

fix(tests): update stale review guard test patch paths for decomposed modules
  tests/unit/core/next_machine/test_stale_review_guard.py
Due: none

fix(tui): strip newlines from session titles and highlight worktree slugs
  demos/fix-session-title-newlines/demo.md
  demos/fix-session-title-newlines/snapshot.json
  teleclaude/cli/tui/widgets/session_row.py
  tests/unit/cli/tui/test_session_row.py
  todos/fix-session-title-newlines/bug.md
  todos/fix-session-title-newlines/demo.md
  todos/fix-session-title-newlines/review-findings.md
Due: teleclaude-docs-check

chore(fix-session-title-newlines): todo cleanup after delivery
  todos/fix-session-title-newlines/bug.md
  todos/fix-session-title-newlines/demo.md
  todos/fix-session-title-newlines/review-findings.md
  todos/fix-session-title-newlines/state.yaml
Due: teleclaude-docs-check

refactor(integration): replace queue.json with state-driven candidate scanner
  teleclaude/core/integration/state_machine.py
  teleclaude/core/integration/step_functions.py
  tests/unit/core/integration/test_auto_enqueue.py
  tests/unit/core/integration/test_state_machine.py
  tests/unit/core/integration/test_step_delivery_bookkeeping.py
Due: none

chore: accept upstream delivery cleanup for fix-session-title-newlines
  todos/fix-session-title-newlines/bug.md
  todos/fix-session-title-newlines/state.yaml
Due: teleclaude-docs-check

fix(integration): remove is_bug guard and add roadmap reconciliation
  teleclaude/core/integration/step_functions.py
  teleclaude/core/next_machine/delivery.py
  tests/unit/core/integration/test_step_delivery_bookkeeping.py
Due: none

fix(todos): repair delivery bookkeeping data damage
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

fix(chiptunes): prevent infinite track loop on playback failures
  teleclaude/chiptunes/player.py
  teleclaude/chiptunes/worker.py
Due: none

fix(deps): move chiptunes packages to core dependencies
  bin/install.sh
  pyproject.toml
Due: none

fix(deps): eliminate all extras — uv sync just works
  bin/install.sh
  pyproject.toml
Due: none

refactor(authz): single-owner mode gives implicit admin without login
  teleclaude/api/auth.py
  tests/unit/api/test_auth.py
Due: none

feat(identity): hot-reload person config on mtime change
  teleclaude/core/identity.py
Due: none
