Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs (sync_resources strict)
  entry: bash -c
  args:
  - uv run --quiet scripts/sync_resources.py --project-root "$PWD"
  language: system
  pass_filenames: false

feat(deploy): Enhance deployment automation and agent security specs
  bin/install.sh
  mcp.json
  todos/help-desk-clients/implementation-plan.md
  todos/help-desk-clients/quality-checklist.md
  todos/help-desk-clients/requirements.md
  todos/help-desk-clients/state.json
  todos/help-desk/implementation-plan.md
  todos/help-desk/quality-checklist.md
  todos/help-desk/requirements.md
  todos/help-desk/state.json
  todos/roadmap.md
  tools/verify_deploy.py
Due: teleclaude-docs-check

test(tools): Add unit tests for verify_deploy.py tool
  tests/unit/test_verify_deploy.py
Due: none

docs(todo): Prepare release-automation with requirements and implementation plan
  todos/release-automation/implementation-plan.md
  todos/release-automation/requirements.md
Due: teleclaude-docs-check

docs(web-interface): define next.js facade plumbing contract
  docs/project/design/architecture/web-api-facade.md
  todos/web-interface-2/implementation-plan.md
  todos/web-interface-2/requirements.md
  todos/web-interface-2/route-map.md
Due: teleclaude-docs-check, teleclaude-docs-validate

Fix checkpoint logging typing and stabilize stop handling
  teleclaude/adapters/telegram_adapter.py
  teleclaude/core/agent_coordinator.py
  teleclaude/hooks/checkpoint.py
  tests/unit/test_checkpoint_hook.py
Due: none

fix(tui): clear input highlight on agent activity
  docs/project/design/ux/session-highlight/implementation-plan.md
  teleclaude/cli/tui/state.py
  tests/unit/test_tui_state.py
Due: teleclaude-docs-check, teleclaude-docs-validate

Harden checkpoint evidence matching for command intent
  teleclaude/hooks/checkpoint.py
Due: none

fix(tts): reserve voices for initializing sessions
  docs/project/design/architecture/tts-system.md
  teleclaude/core/db.py
  tests/unit/test_db.py
Due: teleclaude-docs-check, teleclaude-docs-validate

Standardize checkpoint prefix and harden command evidence parsing
  docs/project/design/architecture/checkpoint-system.md
  teleclaude/constants.py
  teleclaude/core/agent_coordinator.py
  teleclaude/hooks/checkpoint.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_checkpoint_builder.py
  tests/unit/test_command_handlers.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(tui): hide embedded tmux session status bar
  teleclaude/cli/tui/pane_manager.py
  tests/unit/test_tui_pane_manager.py
Due: none

refactor: remove SummarizerConfig and decouple summarizer/feedback from config
  teleclaude/config/__init__.py
  teleclaude/core/feedback.py
  teleclaude/core/summarizer.py
  tests/integration/conftest.py
  todos/runtime-settings-tts-toggle/implementation-plan.md
Due: teleclaude-docs-check

feat: runtime settings layer with API endpoints and TUI client
  pyproject.toml
  teleclaude/api_server.py
  teleclaude/cli/api_client.py
  teleclaude/config/__init__.py
  teleclaude/config/runtime_settings.py
  teleclaude/core/lifecycle.py
  teleclaude/daemon.py
  todos/runtime-settings-tts-toggle/implementation-plan.md
Due: teleclaude-docs-check

feat(tui): TTS toggle in footer with click and hotkey support
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/widgets/footer.py
  todos/runtime-settings-tts-toggle/implementation-plan.md
Due: teleclaude-docs-check

refactor: replace loose dict types with typed dataclasses and Pydantic DTOs for settings
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/api_client.py
  teleclaude/cli/models.py
  teleclaude/cli/tui/app.py
  teleclaude/config/runtime_settings.py
  tests/unit/test_runtime_settings.py
Due: none

review(runtime-settings-tts-toggle): request changes for settings contract
  todos/runtime-settings-tts-toggle/quality-checklist.md
  todos/runtime-settings-tts-toggle/review-findings.md
  todos/runtime-settings-tts-toggle/state.json
Due: teleclaude-docs-check

fix(settings): reject unknown patch keys before mutation
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/config/runtime_settings.py
Due: none

test(settings): cover mixed unknown-key patch payloads
  tests/unit/test_runtime_settings.py
Due: none

docs(todo): close validation tasks with executed checks
  todos/runtime-settings-tts-toggle/implementation-plan.md
Due: teleclaude-docs-check

docs(checklist): mark working-tree gate status for todo scope
  todos/runtime-settings-tts-toggle/quality-checklist.md
Due: teleclaude-docs-check

docs(review): record applied fixes with commit hashes
  todos/runtime-settings-tts-toggle/review-findings.md
Due: teleclaude-docs-check

fix(session-data): avoid codex transcript race errors
  teleclaude/core/command_handlers.py
  tests/unit/test_command_handlers.py
Due: none

fix(orchestration): finalize dispatch to worktree and validate worker args
  teleclaude/core/next_machine/core.py
  teleclaude/mcp/handlers.py
Due: none

chore(finalize): deliver runtime-settings-tts-toggle
  todos/delivered.md
  todos/runtime-settings-tts-toggle/implementation-plan.md
  todos/runtime-settings-tts-toggle/quality-checklist.md
  todos/runtime-settings-tts-toggle/review-findings.md
  todos/runtime-settings-tts-toggle/state.json
Due: teleclaude-docs-check

chore: finalize runtime-settings-tts-toggle delivery
  todos/roadmap.md
Due: teleclaude-docs-check

feat(events): add AgentActivityEvent dataclass and AGENT_ACTIVITY event type
  teleclaude/core/events.py
Due: none

feat(coordinator): emit AgentActivityEvent alongside DB writes
  teleclaude/core/agent_coordinator.py
Due: none

feat(api): add AgentActivityEvent subscription and websocket push
  teleclaude/api_models.py
  teleclaude/api_server.py
Due: none

chore(todos): update implementation-plan checkboxes for Phase 1 Tasks 1.1-1.3
  todos/agent-activity-events/implementation-plan.md
Due: teleclaude-docs-check

test(daemon): add agent_activity to SKIP_HANDLERS
  tests/unit/test_daemon.py
Due: none

chore(todos): document deferral after Phase 1 foundation complete
  todos/agent-activity-events/deferrals.md
Due: teleclaude-docs-check

feat(tui): add AgentActivityEvent support for real-time activity display
  teleclaude/cli/models.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/views/sessions.py
Due: none

chore(todos): update implementation-plan checkboxes for Phase 1 Tasks 1.4-1.6
  todos/agent-activity-events/implementation-plan.md
Due: teleclaude-docs-check

refactor(core): remove reasons pipeline from session updates
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/tui/app.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/cache.py
  teleclaude/core/db.py
  teleclaude/core/events.py
  teleclaude/core/models.py
Due: none

chore(todos): document Phase 3-7 deferral after Phase 1-2 foundation complete
  todos/agent-activity-events/deferrals.md
Due: teleclaude-docs-check

chore(todos): update quality-checklist for Phase 1-2 completion
  todos/agent-activity-events/quality-checklist.md
Due: teleclaude-docs-check

test(core): fix 4 test regressions after reasons removal
  tests/unit/test_agent_coordinator.py
  tests/unit/test_cache.py
  tests/unit/test_db.py
  tests/unit/test_threaded_output_updates.py
Due: none

chore(todos): update quality-checklist - all 4 critical test regressions fixed
  todos/agent-activity-events/quality-checklist.md
Due: teleclaude-docs-check

chore(todos): complete code review for agent-activity-events
  todos/agent-activity-events/quality-checklist.md
  todos/agent-activity-events/review-findings.md
  todos/agent-activity-events/state.json
Due: teleclaude-docs-check

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)
