Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (bin/format.sh)
    entry: ./bin/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs (sync_resources strict)
    entry: bash -c
    args:
    - 'uv run --quiet scripts/sync_resources.py --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)

test(proxy): add vitest tests for REST proxy routes and auth guards
  frontend/lib/__tests__/proxy-routes.test.ts
  todos/web-api-proxy-completion/implementation-plan.md
Due: teleclaude-docs-check

chore(deps): add tsx to root workspace for custom server
  package.json
  pnpm-lock.yaml
Due: none

chore(build): mark Build Gates complete in quality checklist
  todos/web-api-proxy-completion/quality-checklist.md
Due: teleclaude-docs-check

review(proxy): request changes — 3 critical findings
  todos/web-api-proxy-completion/quality-checklist.md
  todos/web-api-proxy-completion/review-findings.md
  todos/web-api-proxy-completion/state.json
Due: teleclaude-docs-check

fix(proxy): preserve Secure- cookie name in WS auth and add fetch timeout
  frontend/server.ts
Due: none

fix(ws): mount CacheInvalidation in chat layout to activate WS-driven cache invalidation
  frontend/app/(chat)/layout.tsx
  frontend/lib/ws/CacheInvalidation.tsx
Due: none

fix(proxy): enforce ownership on DELETE and revive session routes
  frontend/app/api/sessions/[id]/revive/route.ts
  frontend/app/api/sessions/[id]/route.ts
  frontend/lib/__tests__/proxy-routes.test.ts
Due: none

refactor(proxy): replace inline admin checks with requireAdmin() from auth-guards
  frontend/app/api/sessions/[id]/agent-restart/route.ts
  frontend/app/api/settings/route.ts
Due: none

docs(facade): update route map to reflect completed proxy surface
  docs/project/design/architecture/web-api-facade.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(review): record fixes applied in review-findings.md
  todos/web-api-proxy-completion/review-findings.md
Due: teleclaude-docs-check

chore(review): round 2 review — REQUEST CHANGES (C4, C5 blocking)
  todos/web-api-proxy-completion/quality-checklist.md
  todos/web-api-proxy-completion/review-findings.md
  todos/web-api-proxy-completion/state.json
Due: teleclaude-docs-check

fix(proxy): use list endpoint for ownership check, guard WS teardown race
  frontend/app/api/sessions/[id]/revive/route.ts
  frontend/app/api/sessions/[id]/route.ts
  frontend/lib/__tests__/proxy-routes.test.ts
  frontend/lib/proxy/ws-bridge.ts
  todos/web-api-proxy-completion/state.json
Due: none

chore(review): record round 2 fixes in review-findings.md
  todos/web-api-proxy-completion/review-findings.md
Due: teleclaude-docs-check

chore(review): correct I5 commit reference in round 2 fixes table
  todos/web-api-proxy-completion/review-findings.md
Due: teleclaude-docs-check

chore(review): approve round 3 — all critical findings resolved
  todos/web-api-proxy-completion/quality-checklist.md
  todos/web-api-proxy-completion/state.json
Due: teleclaude-docs-check

chore(delivery): finalize web-api-proxy-completion
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check

chore: remove web-api-proxy-completion worktree, branch, and todo folder
  todos/.finalize-lock
  todos/web-api-proxy-completion/implementation-plan.md
  todos/web-api-proxy-completion/quality-checklist.md
  todos/web-api-proxy-completion/requirements.md
  todos/web-api-proxy-completion/review-findings.md
  todos/web-api-proxy-completion/state.json
Due: teleclaude-docs-check

feat(session): add visibility field for role-based access control
  frontend/lib/api/types.ts
  teleclaude/api_models.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/017_add_session_visibility.py
  teleclaude/core/models.py
  todos/web-interface-4/implementation-plan.md
  todos/web-interface-4/quality-checklist.md
Due: teleclaude-docs-check

feat(api): add role-based session visibility filtering on GET /sessions
  teleclaude/api_server.py
  todos/web-interface-4/implementation-plan.md
Due: teleclaude-docs-check

feat(api): add session access checks on scoped endpoints
  teleclaude/api/session_access.py
  teleclaude/api/streaming.py
  teleclaude/api_server.py
  todos/web-interface-4/implementation-plan.md
Due: teleclaude-docs-check

feat(frontend): add sidebar layout with session list and responsive behavior
  frontend/app/(chat)/layout.tsx
  frontend/app/(chat)/page.tsx
  frontend/components/sidebar/NewSessionDialog.tsx
  frontend/components/sidebar/SessionHeader.tsx
  frontend/components/sidebar/SessionList.tsx
  frontend/components/sidebar/Sidebar.tsx
  frontend/components/sidebar/SidebarProvider.tsx
  todos/web-interface-4/implementation-plan.md
Due: teleclaude-docs-check

chore: check off phase 3 tasks (switching, header, end, creation)
  todos/web-interface-4/implementation-plan.md
Due: teleclaude-docs-check

chore: check off phase 4 — WS hook and real-time updates already wired
  todos/web-interface-4/implementation-plan.md
Due: teleclaude-docs-check

feat(frontend): add admin dashboard with computer cards and role guard
  frontend/app/dashboard/layout.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/dashboard/ComputerCard.tsx
  frontend/components/dashboard/ProjectRow.tsx
  todos/web-interface-4/implementation-plan.md
Due: teleclaude-docs-check

chore: complete Build Gates checklist
  todos/web-interface-4/quality-checklist.md
Due: teleclaude-docs-check

fix(test): patch sys.platform in tmux fallback theme test
  tests/unit/test_tui_theme_mode_resolution.py
Due: none

review(web-interface-4): REQUEST CHANGES — 2 critical, 9 important findings
  todos/web-interface-4/quality-checklist.md
  todos/web-interface-4/review-findings.md
  todos/web-interface-4/state.json
Due: teleclaude-docs-check

fix(session-access): map visibility field through _to_core_session
  teleclaude/core/db.py
  teleclaude/core/models.py
Due: none

fix(proxy): forward all session creation fields from dialog to daemon
  frontend/app/api/sessions/route.ts
Due: none

fix(api): add session access checks to /keys, /voice, /file endpoints
  teleclaude/api_server.py
Due: none

fix(websocket): apply role filtering in sessions_initial push
  teleclaude/api_server.py
Due: none

fix(session-header): show delete errors and invalidate cache on success
  frontend/components/sidebar/SessionHeader.tsx
Due: none

refactor(api): extract fetchSessions to shared module
  frontend/app/dashboard/page.tsx
  frontend/components/sidebar/SessionHeader.tsx
  frontend/components/sidebar/SessionList.tsx
  frontend/lib/api/sessions.ts
Due: none

fix(new-session-dialog): add AbortController and project error state
  frontend/components/sidebar/NewSessionDialog.tsx
Due: none

test(session-access): add unit tests for security-critical access control
  tests/unit/test_session_access.py
Due: none

chore(frontend): remove dead SessionPicker component
  frontend/components/SessionPicker.tsx
Due: none

docs(review): record fixes applied for all 11 findings
  todos/web-interface-4/review-findings.md
  todos/web-interface-4/state.json
Due: teleclaude-docs-check

docs(review): round 2 findings — POST proxy field name regression
  todos/web-interface-4/quality-checklist.md
  todos/web-interface-4/review-findings.md
Due: teleclaude-docs-check

fix(sessions-proxy): send correct field name to daemon
  frontend/app/api/sessions/route.ts
Due: none

docs(review): record round 2 fix for C1 field name regression
  todos/web-interface-4/review-findings.md
Due: teleclaude-docs-check
