Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

chore(help-desk-whatsapp): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(help-desk-whatsapp): add demo snapshot
  demos/help-desk-whatsapp/snapshot.json
Due: none

chore: cleanup help-desk-whatsapp
  todos/help-desk-whatsapp/demo.md
  todos/help-desk-whatsapp/dor-report.md
  todos/help-desk-whatsapp/implementation-plan.md
  todos/help-desk-whatsapp/quality-checklist.md
  todos/help-desk-whatsapp/requirements.md
  todos/help-desk-whatsapp/review-findings.md
  todos/help-desk-whatsapp/state.yaml
Due: teleclaude-docs-check

fix(next-machine): invalidate worktree prep when root config changes
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_worktree_prep.py
Due: none

docs(api-todos-work-stability-hardening): record fixes applied for re-review
  todos/api-todos-work-stability-hardening/review-findings.md
Due: teleclaude-docs-check

chore(integration-safety-gates): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(integration-safety-gates): add demo snapshot
  demos/integration-safety-gates/snapshot.json
Due: none

fix(next-machine): ignore prep-state dirt in worktrees
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_hitl.py
Due: none

chore: cleanup integration-safety-gates
  todos/adapter-output-qos-scheduler/implementation-plan.md
  todos/adapter-output-qos-scheduler/requirements.md
  todos/integration-safety-gates/breakdown.md
  todos/integration-safety-gates/demo.md
  todos/integration-safety-gates/dor-report.md
  todos/integration-safety-gates/implementation-plan.md
  todos/integration-safety-gates/input.md
  todos/integration-safety-gates/quality-checklist.md
  todos/integration-safety-gates/requirements.md
  todos/integration-safety-gates/review-findings.md
  todos/integration-safety-gates/state.yaml
Due: teleclaude-docs-check

test(next-machine): unmask prep-state dirty-path regression
  tests/unit/test_next_machine_hitl.py
Due: none

docs: expand README FAQ and ignore tmp dirs
  .gitignore
  README.md
Due: teleclaude-docs-check

docs(todos): record applied fixes for review findings
  todos/api-todos-work-stability-hardening/review-findings.md
Due: teleclaude-docs-check

fix(next-machine): scope single-flight locks per project
  docs/project/design/architecture/next-machine.md
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_hitl.py
  todos/api-todos-work-stability-hardening/implementation-plan.md
  todos/api-todos-work-stability-hardening/quality-checklist.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(adapter-output-qos-scheduler): implement adapter output qos build
  config.sample.yml
  demos/adapter-output-qos-scheduler/demo.md
  docs/project/design/architecture/outbox.md
  docs/project/design/architecture/output-polling.md
  pyproject.toml
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/qos/__init__.py
  teleclaude/adapters/qos/output_scheduler.py
  teleclaude/adapters/qos/policy.py
  teleclaude/adapters/telegram/message_ops.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/adapters/whatsapp_adapter.py
  teleclaude/config/__init__.py
  tests/integration/test_telegram_output_qos_load.py
  tests/unit/test_output_qos_scheduler.py
  tests/unit/test_telegram_adapter_rate_limiter.py
  todos/adapter-output-qos-scheduler/demo.md
  todos/adapter-output-qos-scheduler/implementation-plan.md
  todos/adapter-output-qos-scheduler/quality-checklist.md
  todos/adapter-output-qos-scheduler/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

test(next-machine): harden cross-repo single-flight regression
  tests/unit/test_next_machine_hitl.py
  todos/api-todos-work-stability-hardening/quality-checklist.md
Due: teleclaude-docs-check

test(next-machine): make lock-scope regression deterministic
  tests/unit/test_next_machine_hitl.py
  todos/api-todos-work-stability-hardening/quality-checklist.md
Due: teleclaude-docs-check

fix(adapters): stop output qos workers before client shutdown
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/adapters/whatsapp_adapter.py
  tests/unit/test_discord_adapter.py
  tests/unit/test_telegram_adapter.py
  tests/unit/test_whatsapp_adapter.py
Due: none

fix(next-machine): isolate single-flight by canonical repo root
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_hitl.py
Due: none

fix(qos): queue coalesce-only updates during in-flight dispatch
  teleclaude/adapters/qos/output_scheduler.py
  tests/unit/test_output_qos_scheduler.py
Due: none

chore(todos): record applied review fix
  todos/api-todos-work-stability-hardening/review-findings.md
Due: teleclaude-docs-check

chore(adapter-output-qos-scheduler): finalize build verification evidence
  todos/adapter-output-qos-scheduler/quality-checklist.md
  todos/adapter-output-qos-scheduler/review-findings.md
Due: teleclaude-docs-check

chore(api-todos-work-stability-hardening): refresh build verification evidence
  todos/api-todos-work-stability-hardening/implementation-plan.md
  todos/api-todos-work-stability-hardening/quality-checklist.md
Due: teleclaude-docs-check

chore(api-todos-work-stability-hardening): refresh build-phase verification evidence
  todos/api-todos-work-stability-hardening/implementation-plan.md
  todos/api-todos-work-stability-hardening/quality-checklist.md
Due: teleclaude-docs-check

docs(integration-orchestrator-rollout): baseline rollout governance before child preparation
  todos/integration-orchestrator-rollout/implementation-plan.md
  todos/integration-orchestrator-rollout/requirements.md
  todos/integration-orchestrator-rollout/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(todos): checkpoint canonical main planning state
  README.md
  todos/adapter-output-qos-scheduler/review-findings.md
  todos/adapter-output-qos-scheduler/state.yaml
  todos/agent-availability-enforcement-migration/input.md
  todos/agent-availability-enforcement-migration/state.yaml
  todos/api-todos-work-stability-hardening/review-findings.md
  todos/api-todos-work-stability-hardening/state.yaml
  todos/integration-blocked-flow/demo.md
  todos/integration-blocked-flow/dor-report.md
  todos/integration-blocked-flow/implementation-plan.md
  todos/integration-blocked-flow/requirements.md
  todos/integration-blocked-flow/state.yaml
  todos/integration-events-model/demo.md
  todos/integration-events-model/dor-report.md
  todos/integration-events-model/implementation-plan.md
  todos/integration-events-model/requirements.md
  todos/integration-orchestrator-rollout/demo.md
  todos/integration-orchestrator-rollout/dor-report.md
  todos/integration-orchestrator-rollout/implementation-plan.md
  todos/integration-orchestrator-rollout/requirements.md
  todos/integration-orchestrator-rollout/state.yaml
  todos/integrator-cutover/demo.md
  todos/integrator-cutover/dor-report.md
  todos/integrator-cutover/implementation-plan.md
  todos/integrator-cutover/requirements.md
  todos/integrator-cutover/state.yaml
  todos/integrator-shadow-mode/demo.md
  todos/integrator-shadow-mode/dor-report.md
  todos/integrator-shadow-mode/implementation-plan.md
  todos/integrator-shadow-mode/requirements.md
  todos/integrator-shadow-mode/state.yaml
  todos/roadmap.yaml
  todos/skills-procedure-taxonomy-alignment/input.md
  todos/skills-procedure-taxonomy-alignment/state.yaml
Due: teleclaude-docs-check

chore(todos): add missing requirements snapshot
  todos/agent-availability-enforcement-migration/requirements.md
Due: teleclaude-docs-check

chore(todos): checkpoint generated migration todo state
  todos/agent-availability-enforcement-migration/demo.md
  todos/agent-availability-enforcement-migration/dor-report.md
  todos/agent-availability-enforcement-migration/implementation-plan.md
  todos/agent-availability-enforcement-migration/state.yaml
Due: teleclaude-docs-check

docs(integration-orchestrator-rollout): draft child prep artifacts for all rollout slices
  todos/integration-blocked-flow/demo.md
  todos/integration-blocked-flow/dor-report.md
  todos/integration-blocked-flow/implementation-plan.md
  todos/integration-blocked-flow/requirements.md
  todos/integration-blocked-flow/state.yaml
  todos/integration-events-model/demo.md
  todos/integration-events-model/dor-report.md
  todos/integration-events-model/implementation-plan.md
  todos/integration-events-model/requirements.md
  todos/integration-events-model/state.yaml
  todos/integration-orchestrator-rollout/implementation-plan.md
  todos/integrator-cutover/demo.md
  todos/integrator-cutover/dor-report.md
  todos/integrator-cutover/implementation-plan.md
  todos/integrator-cutover/requirements.md
  todos/integrator-cutover/state.yaml
  todos/integrator-shadow-mode/demo.md
  todos/integrator-shadow-mode/dor-report.md
  todos/integrator-shadow-mode/implementation-plan.md
  todos/integrator-shadow-mode/requirements.md
  todos/integrator-shadow-mode/state.yaml
Due: teleclaude-docs-check

docs(integration-orchestrator-rollout): finalize child readiness gates for rollout dispatch
  todos/integration-blocked-flow/dor-report.md
  todos/integration-blocked-flow/state.yaml
  todos/integration-events-model/dor-report.md
  todos/integration-events-model/state.yaml
  todos/integration-orchestrator-rollout/implementation-plan.md
  todos/integrator-cutover/dor-report.md
  todos/integrator-cutover/state.yaml
  todos/integrator-shadow-mode/dor-report.md
  todos/integrator-shadow-mode/state.yaml
Due: teleclaude-docs-check

chore(todos): sync adapter-output-qos-scheduler state
  todos/adapter-output-qos-scheduler/state.yaml
Due: none

docs(integration-orchestrator-rollout): publish rollout readiness matrix
  todos/integration-orchestrator-rollout/dor-report.md
  todos/integration-orchestrator-rollout/implementation-plan.md
Due: teleclaude-docs-check

docs(integration-orchestrator-rollout): codify cutover go-no-go policy checkpoints
  todos/integration-orchestrator-rollout/implementation-plan.md
Due: teleclaude-docs-check

docs(integration-orchestrator-rollout): add executable demo validation and consistency checks
  todos/integration-orchestrator-rollout/demo.md
  todos/integration-orchestrator-rollout/implementation-plan.md
Due: teleclaude-docs-check

fix(discord): avoid launcher re-import timeout and close rollout build gates
  demos/integration-orchestrator-rollout/demo.md
  teleclaude/adapters/discord_adapter.py
  todos/integration-orchestrator-rollout/implementation-plan.md
  todos/integration-orchestrator-rollout/quality-checklist.md
Due: teleclaude-docs-check

chore(adapter-output-qos-scheduler): refresh build gate evidence
  todos/adapter-output-qos-scheduler/quality-checklist.md
Due: teleclaude-docs-check

chore(todos): checkpoint migration availability planning updates
  todos/agent-availability-enforcement-migration/dor-report.md
  todos/agent-availability-enforcement-migration/implementation-plan.md
  todos/agent-availability-enforcement-migration/requirements.md
  todos/agent-availability-enforcement-migration/state.yaml
Due: teleclaude-docs-check

chore(adapter-output-qos-scheduler): sync todo artifacts for finalize
  todos/adapter-output-qos-scheduler/implementation-plan.md
  todos/adapter-output-qos-scheduler/quality-checklist.md
  todos/adapter-output-qos-scheduler/review-findings.md
  todos/adapter-output-qos-scheduler/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

fix(integration-orchestrator-rollout): align parent DOR evidence with child gate state
  todos/integration-orchestrator-rollout/dor-report.md
Due: teleclaude-docs-check

chore(adapter-output-qos-scheduler): close build gates with verified evidence
  todos/adapter-output-qos-scheduler/implementation-plan.md
  todos/adapter-output-qos-scheduler/quality-checklist.md
Due: teleclaude-docs-check

fix(integrator-demos): prevent shell substitution in demo rg patterns
  todos/integrator-cutover/demo.md
  todos/integrator-shadow-mode/demo.md
Due: teleclaude-docs-check
