Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

refactor(docs): tighten scope/size enforcement in drafter and plan reviewer
  docs/global/general/procedure/maintenance/next-prepare-draft.md
  docs/global/software-development/procedure/lifecycle/review-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(state-machine): guard against mismatched digest lengths in grounding check
  teleclaude/core/next_machine/core.py
  tests/unit/core/test_next_machine_deferral.py
  tests/unit/core/test_next_machine_verify_artifacts.py
  tests/unit/test_next_machine_breakdown.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
  tests/unit/test_state_machine_gate_sharpening.py
Due: none

chore(todos): bookkeeping — add roadmap entries and preparation artifacts
  todos/cache-transparency-refactor/demo.md
  todos/cache-transparency-refactor/dor-report.md
  todos/cache-transparency-refactor/implementation-plan.md
  todos/cache-transparency-refactor/input.md
  todos/cache-transparency-refactor/quality-checklist.md
  todos/cache-transparency-refactor/requirements.md
  todos/cache-transparency-refactor/state.yaml
  todos/roadmap.yaml
  todos/session-role-metadata/demo.md
  todos/session-role-metadata/implementation-plan.md
  todos/session-role-metadata/input.md
  todos/session-role-metadata/plan-review-findings.md
  todos/session-role-metadata/quality-checklist.md
  todos/session-role-metadata/state.yaml
  todos/todo-phase-status-display/input.md
  todos/todo-phase-status-display/quality-checklist.md
  todos/todo-phase-status-display/state.yaml
Due: teleclaude-docs-check

chore(projector): remove noisy debug log for un-normalizable entries
  teleclaude/output_projection/conversation_projector.py
Due: none

fix(tmux-bridge): always prepend teleclaude bin to first PATH position
  teleclaude/core/tmux_bridge.py
  tests/unit/test_tmux_bridge_tmpdir.py
Due: none

chore(session-role-metadata): DOR gate pass — score 9/10, no blockers
  todos/session-role-metadata/dor-report.md
  todos/session-role-metadata/state.yaml
Due: teleclaude-docs-check

fix(release): make CI pipeline pass and add version backport to main
  .github/workflows/release.yaml
  agents/CLAUDE.addendum.md
  pyproject.toml
  scripts/distribute.py
  teleclaude/chiptunes/player.py
  teleclaude/core/next_machine/core.py
  teleclaude/output_projection/models.py
  tests/integration/test_state_machine_workflow.py
  tests/unit/test_access_control.py
  tests/unit/test_api_server.py
  tests/unit/test_next_machine_breakdown.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_prepare_state_machine.py
  tests/unit/test_teleclaude_events/test_pipeline_integration.py
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(test-suite-overhaul): requirements review — approve with suggestions
  todos/test-suite-overhaul/requirements-review-findings.md
  todos/test-suite-overhaul/requirements.md
  todos/test-suite-overhaul/state.yaml
Due: teleclaude-docs-check

chore(tso-infra): requirements review — approve with 3 auto-remediated findings
  todos/tso-infra/requirements.md
  todos/tso-infra/state.yaml
Due: teleclaude-docs-check

chore(tso-infra): plan review — approve with 2 auto-remediated findings
  todos/tso-infra/implementation-plan.md
  todos/tso-infra/state.yaml
Due: teleclaude-docs-check

chore(tso-infra): DOR gate pass — score 9/10, no blockers
  todos/tso-infra/dor-report.md
  todos/tso-infra/state.yaml
Due: teleclaude-docs-check

fix: gate system-injected user prompts at the hook receiver
  teleclaude/constants.py
  teleclaude/hooks/receiver.py
  teleclaude/output_projection/conversation_projector.py
  tests/unit/test_hook_receiver.py
Due: teleclaude-docs-validate, check-raw-sql

chore: linter formatting, stale summary cleanup, and role default fix
  teleclaude/adapters/discord_adapter.py
  teleclaude/api/auth.py
  teleclaude/api/streaming.py
  teleclaude/api/todo_routes.py
  teleclaude/cli/telec.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/core/roadmap.py
  teleclaude/core/tmux_io.py
  teleclaude/daemon.py
  todos/session-role-metadata/state.yaml
Due: check-cli-help

chore(session-role-metadata): requirements review round 2 — approve
  todos/session-role-metadata/requirements.md
  todos/session-role-metadata/state.yaml
Due: teleclaude-docs-check

chore(todos): approve session-role-metadata plan review
  todos/session-role-metadata/implementation-plan.md
  todos/session-role-metadata/state.yaml
Due: teleclaude-docs-check

feat: isolate integration into persistent worktree from origin/main
  docs/global/software-development/policy/version-control-safety.md
  docs/global/software-development/procedure/lifecycle/integration.md
  teleclaude/core/integration/state_machine.py
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_worktree_prep.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix: detect task-notification by prefix, not just full-wrapper regex
  teleclaude/constants.py
Due: teleclaude-docs-validate

chore: relocate software-development docs from general/ and commit pending todos
  agents/commands/next-prepare-discovery.md
  agents/commands/next-prepare-draft.md
  agents/commands/next-prepare-gate.md
  agents/commands/next-prepare.md
  docs/global/general/policy/heartbeat.md
  docs/global/index.yaml
  docs/global/software-development/concept/agent-invocation-modes.md
  docs/global/software-development/procedure/lifecycle/integration.md
  docs/global/software-development/procedure/maintenance/log-bug-hunter.md
  docs/global/software-development/procedure/maintenance/next-prepare-discovery.md
  docs/global/software-development/procedure/maintenance/next-prepare-draft.md
  docs/global/software-development/procedure/maintenance/next-prepare-gate.md
  docs/global/software-development/procedure/maintenance/next-prepare.md
  docs/project/design/architecture/jobs-runner.md
  docs/project/spec/jobs/log-bug-hunter.md
  docs/project/spec/jobs/next-prepare-discovery.md
  docs/project/spec/jobs/next-prepare-draft.md
  docs/project/spec/jobs/next-prepare-gate.md
  docs/project/spec/jobs/next-prepare.md
  teleclaude/core/integration/state_machine.py
  todos/mirror-runtime-isolation-2/demo.md
  todos/mirror-runtime-isolation-2/implementation-plan.md
  todos/mirror-runtime-isolation-2/input.md
  todos/mirror-runtime-isolation-2/quality-checklist.md
  todos/mirror-runtime-isolation-2/requirements.md
  todos/mirror-runtime-isolation-2/state.yaml
  todos/todo-phase-status-display-2/demo.md
  todos/todo-phase-status-display-2/implementation-plan.md
  todos/todo-phase-status-display-2/input.md
  todos/todo-phase-status-display-2/quality-checklist.md
  todos/todo-phase-status-display-2/requirements.md
  todos/todo-phase-status-display-2/state.yaml
  todos/tui-chiptunes-resource-leaks/demo.md
  todos/tui-chiptunes-resource-leaks/implementation-plan.md
  todos/tui-chiptunes-resource-leaks/input.md
  todos/tui-chiptunes-resource-leaks/quality-checklist.md
  todos/tui-chiptunes-resource-leaks/requirements.md
  todos/tui-chiptunes-resource-leaks/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(todo-phase-status-display): delivery bookkeeping
  todos/roadmap.yaml
Due: none

chore(todo-phase-status-display): todo cleanup after delivery
  todos/todo-phase-status-display/demo.md
  todos/todo-phase-status-display/dor-report.md
  todos/todo-phase-status-display/implementation-plan.md
  todos/todo-phase-status-display/input.md
  todos/todo-phase-status-display/quality-checklist.md
  todos/todo-phase-status-display/requirements.md
  todos/todo-phase-status-display/state.yaml
Due: teleclaude-docs-check

chore(tso-infra): delivery bookkeeping
  todos/roadmap.yaml
Due: none

chore(tso-infra): todo cleanup after delivery
  todos/tso-infra/demo.md
  todos/tso-infra/dor-report.md
  todos/tso-infra/implementation-plan.md
  todos/tso-infra/input.md
  todos/tso-infra/quality-checklist.md
  todos/tso-infra/requirements.md
  todos/tso-infra/state.yaml
Due: teleclaude-docs-check

fix(integration): remove clearance phase and fix queue re-instantiation loop
  .githooks/pre-push
  demos/todo-phase-status-display/demo.md
  demos/todo-phase-status-display/snapshot.json
  demos/tso-infra/demo.md
  demos/tso-infra/snapshot.json
  docs/global/software-development/procedure/lifecycle/integration.md
  teleclaude/core/integration/state_machine.py
  tests/unit/test_integration_state_machine.py
  todos/delivered.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor(git-wrapper): strip push guard, keep destructive-op blocks only
  agents/CLAUDE.addendum.md
  teleclaude/core/integration/state_machine.py
  teleclaude/install/wrappers/git
  tests/unit/test_git_wrapper_guardrails.py
  todos/mirror-runtime-isolation-2/demo.md
  todos/mirror-runtime-isolation-2/implementation-plan.md
  todos/mirror-runtime-isolation-2/input.md
  todos/mirror-runtime-isolation-2/quality-checklist.md
  todos/mirror-runtime-isolation-2/requirements.md
  todos/mirror-runtime-isolation-2/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

policy(commits): add push-after-commit rule for canonical context
  docs/global/software-development/policy/commits.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore: remove ghost todo directories for delivered items
  todos/todo-phase-status-display-2/demo.md
  todos/todo-phase-status-display-2/implementation-plan.md
  todos/todo-phase-status-display-2/input.md
  todos/todo-phase-status-display-2/quality-checklist.md
  todos/todo-phase-status-display-2/requirements.md
  todos/todo-phase-status-display-2/state.yaml
  todos/todo-phase-status-display/demo.md
  todos/todo-phase-status-display/dor-report.md
  todos/todo-phase-status-display/implementation-plan.md
  todos/todo-phase-status-display/input.md
  todos/todo-phase-status-display/quality-checklist.md
  todos/todo-phase-status-display/requirements.md
  todos/todo-phase-status-display/review-findings.md
  todos/todo-phase-status-display/state.yaml
  todos/tso-infra/demo.md
  todos/tso-infra/dor-report.md
  todos/tso-infra/implementation-plan.md
  todos/tso-infra/quality-checklist.md
  todos/tso-infra/requirements.md
  todos/tso-infra/review-findings.md
  todos/tso-infra/state.yaml
Due: teleclaude-docs-check

docs(todos): approve chiptunes leak requirements review
  todos/tui-chiptunes-resource-leaks/requirements.md
  todos/tui-chiptunes-resource-leaks/state.yaml
Due: teleclaude-docs-check

chore(mirror-runtime-isolation): delivery bookkeeping
  todos/roadmap.yaml
Due: none

feat(mirrors): deliver mirror-runtime-isolation
  demos/mirror-runtime-isolation/demo.md
  docs/global/software-development/policy/regression-zero-tolerance.md
  docs/global/software-development/principle/failure-modes.md
  docs/global/software-development/procedure/lifecycle/build.md
  teleclaude/api_server.py
  teleclaude/core/migrations/027_prune_non_canonical_mirrors.py
  teleclaude/core/migrations/028_add_mirror_source_identity.py
  teleclaude/core/migrations/029_add_mirror_tombstones.py
  teleclaude/core/next_machine/core.py
  teleclaude/daemon.py
  teleclaude/mirrors/event_handlers.py
  teleclaude/mirrors/generator.py
  teleclaude/mirrors/processors.py
  teleclaude/mirrors/store.py
  teleclaude/mirrors/worker.py
  teleclaude/output_projection/models.py
  teleclaude/utils/transcript_discovery.py
  tests/unit/test_api_server.py
  tests/unit/test_history_mirror_search.py
  tests/unit/test_mirror_api_routes.py
  tests/unit/test_mirror_generator.py
  tests/unit/test_mirror_processors.py
  tests/unit/test_mirror_prune_migration.py
  tests/unit/test_mirror_store.py
  tests/unit/test_mirror_worker.py
  tests/unit/test_teleclaude_events/test_pipeline_integration.py
  tests/unit/test_transcript_discovery.py
  todos/mirror-runtime-isolation/deferrals.md
  todos/mirror-runtime-isolation/implementation-plan.md
  todos/mirror-runtime-isolation/quality-checklist.md
  todos/mirror-runtime-isolation/requirements.md
  todos/mirror-runtime-isolation/review-findings.md
  todos/mirror-runtime-isolation/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(mirror-runtime-isolation): todo cleanup after delivery
  todos/mirror-runtime-isolation/demo.md
  todos/mirror-runtime-isolation/dor-report.md
  todos/mirror-runtime-isolation/implementation-plan.md
  todos/mirror-runtime-isolation/input.md
  todos/mirror-runtime-isolation/plan-review-findings.md
  todos/mirror-runtime-isolation/quality-checklist.md
  todos/mirror-runtime-isolation/requirements-review-findings.md
  todos/mirror-runtime-isolation/requirements.md
  todos/mirror-runtime-isolation/state.yaml
Due: teleclaude-docs-check

chore(todos): refresh codex render gate verdict
  todos/codex-render-semantic-runtime/dor-report.md
  todos/codex-render-semantic-runtime/state.yaml
Due: teleclaude-docs-check

chore(todos): approve tui-chiptunes-resource-leaks plan review
  todos/tui-chiptunes-resource-leaks/implementation-plan.md
  todos/tui-chiptunes-resource-leaks/state.yaml
Due: teleclaude-docs-check

docs(todo): record DOR gate for chiptunes leaks
  todos/tui-chiptunes-resource-leaks/dor-report.md
  todos/tui-chiptunes-resource-leaks/state.yaml
Due: teleclaude-docs-check

chore(todos): split codex-render-semantic-runtime into three child todos
  todos/codex-control-lane/demo.md
  todos/codex-control-lane/implementation-plan.md
  todos/codex-control-lane/input.md
  todos/codex-control-lane/quality-checklist.md
  todos/codex-control-lane/requirements.md
  todos/codex-control-lane/state.yaml
  todos/codex-render-baseline/demo.md
  todos/codex-render-baseline/implementation-plan.md
  todos/codex-render-baseline/input.md
  todos/codex-render-baseline/quality-checklist.md
  todos/codex-render-baseline/requirements.md
  todos/codex-render-baseline/state.yaml
  todos/codex-render-runtime/demo.md
  todos/codex-render-runtime/implementation-plan.md
  todos/codex-render-runtime/input.md
  todos/codex-render-runtime/quality-checklist.md
  todos/codex-render-runtime/requirements.md
  todos/codex-render-runtime/state.yaml
  todos/codex-render-semantic-runtime/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

docs(third-party): add tmux session output observation
  docs/global/index.yaml
  docs/third-party/index.md
  docs/third-party/index.yaml
  docs/third-party/tmux/session-output-observation.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(todos): approve codex-render-baseline requirements
  todos/codex-render-baseline/requirements.md
  todos/codex-render-baseline/state.yaml
Due: teleclaude-docs-check
