Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

chore(adapter-output-qos-scheduler): record delivery
  docs/global/index.yaml
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-validate

chore(adapter-output-qos-scheduler): add demo snapshot
  demos/adapter-output-qos-scheduler/snapshot.json
  docs/global/index.yaml
Due: teleclaude-docs-validate

chore: cleanup adapter-output-qos-scheduler
  todos/adapter-output-qos-scheduler/demo.md
  todos/adapter-output-qos-scheduler/implementation-plan.md
  todos/adapter-output-qos-scheduler/input.md
  todos/adapter-output-qos-scheduler/quality-checklist.md
  todos/adapter-output-qos-scheduler/requirements.md
  todos/adapter-output-qos-scheduler/research.md
  todos/adapter-output-qos-scheduler/review-findings.md
  todos/adapter-output-qos-scheduler/state.yaml
Due: teleclaude-docs-check

fix(integration-orchestrator-rollout): align parent DOR preconditions with child gate state
  todos/integration-orchestrator-rollout/dor-report.md
Due: teleclaude-docs-check

fix(integration-orchestrator-rollout): make runtime scope exception explicit
  todos/integration-orchestrator-rollout/dor-report.md
  todos/integration-orchestrator-rollout/requirements.md
Due: teleclaude-docs-check

fix(integration-orchestrator-rollout): require both child readiness signals in demo checks
  demos/integration-orchestrator-rollout/demo.md
  todos/integration-orchestrator-rollout/demo.md
Due: teleclaude-docs-check

chore(integration-orchestrator-rollout): record applied review fixes
  todos/integration-orchestrator-rollout/review-findings.md
Due: teleclaude-docs-check

feat(agent-routing): enforce canonical runtime availability policy
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/api_client.py
  teleclaude/cli/telec.py
  teleclaude/core/agent_routing.py
  teleclaude/core/command_handlers.py
  teleclaude/core/command_mapper.py
  teleclaude/cron/runner.py
  teleclaude/daemon.py
  teleclaude/hooks/whatsapp_handler.py
  teleclaude/types/commands.py
  tests/unit/test_agent_routing.py
  tests/unit/test_api_server.py
  tests/unit/test_command_handlers.py
  tests/unit/test_command_mapper.py
  tests/unit/test_cron_runner_job_contract.py
  tests/unit/test_daemon.py
  tests/unit/test_discord_adapter.py
  todos/agent-availability-enforcement-migration/implementation-plan.md
Due: teleclaude-docs-check, check-cli-help

fix(discord-adapter): remove launcher module injection
  teleclaude/adapters/discord_adapter.py
Due: none

fix(dor): align child readiness evidence with current states
  todos/integration-orchestrator-rollout/dor-report.md
Due: teleclaude-docs-check

docs(review): record applied fixes and commit hashes
  todos/integration-orchestrator-rollout/review-findings.md
Due: teleclaude-docs-check

chore(build): close remaining gates for availability migration
  demos/agent-availability-enforcement-migration/demo.md
  tests/unit/test_daemon_independent_jobs.py
  todos/agent-availability-enforcement-migration/quality-checklist.md
Due: teleclaude-docs-check

fix(agent-routing): fail closed on unknown explicit agent tokens
  teleclaude/api_server.py
  teleclaude/core/agent_command_parsing.py
  teleclaude/core/command_mapper.py
  teleclaude/daemon.py
  tests/unit/test_api_server.py
  tests/unit/test_command_mapper.py
  tests/unit/test_daemon.py
Due: none

docs(review): record applied fix for availability migration
  todos/agent-availability-enforcement-migration/review-findings.md
Due: teleclaude-docs-check

fix(agent-routing): fail closed when availability lookup errors
  teleclaude/core/agent_routing.py
  tests/unit/test_agent_routing.py
Due: none

docs(review): record fixes applied for routing availability finding
  todos/agent-availability-enforcement-migration/review-findings.md
Due: teleclaude-docs-check

test(agent-routing): mock availability lookups in unit fixtures
  tests/unit/test_api_server.py
  tests/unit/test_command_handlers.py
  tests/unit/test_daemon.py
Due: none

chore(build): refresh availability migration gate evidence
  todos/agent-availability-enforcement-migration/quality-checklist.md
Due: teleclaude-docs-check

chore(todo): persist agent-availability-enforcement-migration state progression
  todos/agent-availability-enforcement-migration/state.yaml
Due: none

docs(review): add findings artifact for agent-availability-enforcement-migration
  todos/agent-availability-enforcement-migration/review-findings.md
Due: teleclaude-docs-check

chore(build): refresh availability migration verification notes
  todos/agent-availability-enforcement-migration/quality-checklist.md
Due: teleclaude-docs-check

chore(todo): sync agent-availability-enforcement-migration state
  todos/agent-availability-enforcement-migration/state.yaml
Due: none

chore(todo): sync migration plan and state artifacts
  todos/agent-availability-enforcement-migration/implementation-plan.md
  todos/agent-availability-enforcement-migration/state.yaml
Due: teleclaude-docs-check

chore(agent-availability-enforcement-migration): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(agent-availability-enforcement-migration): add demo snapshot
  demos/agent-availability-enforcement-migration/snapshot.json
Due: none

chore: cleanup agent-availability-enforcement-migration
  todos/agent-availability-enforcement-migration/demo.md
  todos/agent-availability-enforcement-migration/dor-report.md
  todos/agent-availability-enforcement-migration/implementation-plan.md
  todos/agent-availability-enforcement-migration/input.md
  todos/agent-availability-enforcement-migration/quality-checklist.md
  todos/agent-availability-enforcement-migration/requirements.md
  todos/agent-availability-enforcement-migration/review-findings.md
  todos/agent-availability-enforcement-migration/state.yaml
Due: teleclaude-docs-check

fix: prevent duplicate claimed outbox enqueue
  teleclaude/daemon.py
  tests/unit/test_daemon.py
  todos/api-todos-work-stability-hardening/state.yaml
Due: none

chore(integration-orchestrator-rollout): record delivery
  docs/global/index.yaml
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-validate

chore(integration-orchestrator-rollout): add demo snapshot
  demos/integration-orchestrator-rollout/snapshot.json
  docs/global/index.yaml
Due: teleclaude-docs-validate

chore: cleanup integration-orchestrator-rollout
  todos/integration-orchestrator-rollout/demo.md
  todos/integration-orchestrator-rollout/dor-report.md
  todos/integration-orchestrator-rollout/implementation-plan.md
  todos/integration-orchestrator-rollout/input.md
  todos/integration-orchestrator-rollout/quality-checklist.md
  todos/integration-orchestrator-rollout/requirements.md
  todos/integration-orchestrator-rollout/review-findings.md
  todos/integration-orchestrator-rollout/state.yaml
Due: teleclaude-docs-check

chore(api-todos-work-stability-hardening): refresh build verification evidence
  teleclaude/core/next_machine/core.py
  todos/api-todos-work-stability-hardening/implementation-plan.md
  todos/api-todos-work-stability-hardening/quality-checklist.md
Due: teleclaude-docs-check

chore(api-todos-work-stability-hardening): sync build checklist evidence
  todos/api-todos-work-stability-hardening/quality-checklist.md
Due: teleclaude-docs-check

feat(deployment-migrations): add semantic version helper module
  teleclaude/deployment/__init__.py
  todos/deployment-migrations/implementation-plan.md
Due: teleclaude-docs-check

chore(api-todos-work-stability-hardening): align test evidence in build checklist
  todos/api-todos-work-stability-hardening/quality-checklist.md
Due: teleclaude-docs-check

feat(deployment): establish migration manifest contract
  migrations/README.md
  migrations/v1.1.0/001_example.py
  todos/deployment-migrations/implementation-plan.md
Due: teleclaude-docs-check

feat(deployment): add resumable migration runner
  teleclaude/deployment/migration_runner.py
  todos/deployment-migrations/implementation-plan.md
Due: teleclaude-docs-check

test(deployment): cover migration runner behavior
  tests/unit/test_deployment_migration_runner.py
  todos/deployment-migrations/implementation-plan.md
Due: teleclaude-docs-check

test(next-machine): make cross-repo prep assertion deterministic
  tests/unit/test_next_machine_hitl.py
Due: none

chore(deployment): record lint gate completion
  todos/deployment-migrations/implementation-plan.md
Due: teleclaude-docs-check

docs(deployment): finalize build gates and demo artifacts
  demos/deployment-migrations/demo.md
  todos/deployment-migrations/implementation-plan.md
  todos/deployment-migrations/quality-checklist.md
Due: teleclaude-docs-check

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
