Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (bin/format.sh)
    entry: ./bin/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs (sync_resources strict)
    entry: bash -c
    args:
    - 'uv run --quiet scripts/sync_resources.py --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)

docs: clarify agent artifact scopes
  docs/global/general/concept/normalized-agent-artifacts.md
  docs/global/general/reference/agent-artifacts.md
  docs/index.yaml
  docs/project/guide/agents-repo-workflow.md
  docs/project/index.yaml
  docs/project/procedure/agent-artifact-distribution.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: rename artifact watcher label
  docs/project/reference/agent-artifact-automation.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore: update run-tests prompts
  docs/project/index.yaml
  docs/project/procedure/agent-artifact-distribution.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: update artifact scope guidance
  docs/global/general/procedure/agent-artifact-authoring.md
  docs/global/software-development/concept/agent-artifact-distribution.md
  docs/global/software-development/guide/agent-artifacts-quickstart.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(mcp): repair tool description string
  teleclaude/mcp/tool_definitions.py
Due: none

docs: document git docs filter
  docs/index.yaml
  docs/project/architecture/context-index.md
  docs/project/index.yaml
  docs/project/reference/git-docs-filter.md
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor(docs): remove transport adapter concept
  bin/init.sh
  config/ai.instrukt.teleclaude.daemon.plist.template
  docs-legacy/REFACTORING_SUMMARY.md
  docs-legacy/ai-to-ai-protocol.md
  docs-legacy/api-reliability-analysis.md
  docs-legacy/api.md
  docs-legacy/api/asyncapi-requirements.md
  docs-legacy/api/openapi-requirements.md
  docs-legacy/architecture.md
  docs-legacy/cache.md
  docs-legacy/contracts/command-contracts.md
  docs-legacy/contracts/command-response-contract.md
  docs-legacy/contracts/event-contracts.md
  docs-legacy/contributing.md
  docs-legacy/definition-of-done.md
  docs-legacy/exit-markers.md
  docs-legacy/index.md
  docs-legacy/invariants.md
  docs-legacy/mcp-architecture.md
  docs-legacy/modeling.md
  docs-legacy/multi-computer-setup.md
  docs-legacy/pipeline/command-pipeline.md
  docs-legacy/pipeline/command-response-matrix.md
  docs-legacy/pipeline/command-schema.md
  docs-legacy/protocol-architecture.md
  docs-legacy/string-compare-audit.md
  docs-legacy/troubleshooting.md
  docs-legacy/tui-data-requirements.md
  docs-legacy/use_cases.md
  docs/project/architecture/adapter-client.md
  docs/project/architecture/redis-transport.md
  docs/project/architecture/transport-adapter.md
  docs/project/concept/adapter-types.md
  docs/project/concept/glossary.md
  docs/project/guide/troubleshooting.md
  docs/project/index.yaml
  teleclaude/daemon.py
  teleclaude/transport/redis_transport.py
  tests/unit/test_launch_env.py
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(architecture): note redis reconnect lifecycle
  docs/project/architecture/daemon.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(format): add prettier config for artifacts
  .agents/commands/run-tests.md
  .claude/commands/run-tests.md
  .codex/prompts/run-tests.md
  .prettierrc
  scripts/distribute.py
Due: teleclaude-docs-check

Update agent policies, baseline, and codex distribution
  AGENTS.md
  AGENTS.override.md
  docs/global/general/policy/stateless-agent-commands.md
  docs/global/index.yaml
  docs/project/baseline/index.md
  docs/project/index.yaml
  docs/project/policy/agent-service-control.md
  docs/project/policy/daemon-availability.md
  scripts/distribute.py
  teleclaude/config.py
  teleclaude/hooks/adapters/AGENTS.md
  teleclaude/mcp/tool_definitions.py
  teleclaude/project_setup/sync.py
  templates/teleclaude-docs-watch.path
  tests/unit/test_distribute_local_codex.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix: tighten run_agent_command inputs and docs
  teleclaude/core/models.py
  teleclaude/core/next_machine/core.py
  teleclaude/mcp/handlers.py
  teleclaude/mcp/tool_definitions.py
Due: none

fix: expand codex artifacts and watch agents
  agents/commands/next-work.md
  scripts/distribute.py
  teleclaude/project_setup/sync.py
  templates/teleclaude-docs-watch.path
Due: teleclaude-docs-check

chore: include generated baseline artifacts
  AGENTS.md
  AGENTS.override.md
  docs/project/baseline/index.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix: align deployed docs index paths
  scripts/distribute.py
  teleclaude/cli/tui/views/preparation.py
Due: none

fix: normalize context output and inline refs
  scripts/distribute.py
  teleclaude/context_selector.py
Due: none

docs(baseline): update agent guidance
  agents/AGENTS.master.md
  docs/global/baseline/index.md
  docs/global/baseline/policy/context-retrieval.md
  docs/global/baseline/policy/stateless-commands.md
  docs/project/baseline/index.md
Due: teleclaude-docs-check, teleclaude-docs-validate

Harden output capture and reduce notification noise
  bin/daemon-control.sh
  docs/project/guide/troubleshooting.md
  docs/project/index.yaml
  teleclaude/adapters/telegram/message_ops.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/core/cache.py
  teleclaude/core/output_poller.py
  teleclaude/core/tmux_bridge.py
  teleclaude/daemon.py
  teleclaude/utils/__init__.py
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor tui state and layout controller
  agents/CLAUDE.primer.md
  agents/CODEX.primer.md
  agents/GEMINI.primer.md
  docs/project/architecture/tui-state-layout.md
  docs/project/index.yaml
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/controller.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/views/base.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_preparation_view.py
  tests/unit/test_sessions_view.py
  tests/unit/test_tui_preparation_view.py
  tests/unit/test_tui_sessions_view.py
Due: teleclaude-docs-check, teleclaude-docs-validate

Relax restart PID check on macOS
  bin/daemon-control.sh
Due: none

commit all pending changes
  AGENTS.override.md
  docs/project/architecture/mcp-layer.md
  teleclaude/core/next_machine/workspace_ops.py
  teleclaude/entrypoints/mcp_wrapper.py
  teleclaude/mcp/role_tools.py
Due: teleclaude-docs-check, teleclaude-docs-validate

Stabilize banner rendering against preview toggles
  teleclaude/cli/tui/app.py
Due: none

Make status API checks reliable
  bin/daemon-control.sh
Due: none

Skip redundant tmux layout applies
  teleclaude/cli/tui/controller.py
Due: none

Limit layout updates to session-affecting intents
  teleclaude/cli/tui/controller.py
Due: none

Avoid last-row wrap when rendering session details
  teleclaude/cli/tui/views/sessions.py
Due: none

Revert "Avoid last-row wrap when rendering session details"
  teleclaude/cli/tui/views/sessions.py
Due: none

fix(mcp): filter tool list and optimize wrapper parsing
  teleclaude/cli/tui/app.py
  teleclaude/entrypoints/mcp_wrapper.py
Due: none

Swap active pane without rebuilding layout
  teleclaude/cli/tui/pane_manager.py
Due: none

Clear preview on mouse navigation before sticky toggles
  teleclaude/cli/tui/controller.py
  teleclaude/cli/tui/views/sessions.py
Due: none

Batch preview clear with mouse-driven session actions
  teleclaude/cli/tui/views/sessions.py
Due: none

Clamp footer rendering to avoid left flicker
  teleclaude/cli/tui/widgets/footer.py
Due: none

Skip preview activation when clicking sticky sessions
  teleclaude/cli/tui/views/sessions.py
Due: none

Revert "Skip preview activation when clicking sticky sessions"
  teleclaude/cli/tui/views/sessions.py
Due: none

Unify prep previews with pane layout
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/controller.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
Due: none

Persist prep sticky previews and switch doc previews
  teleclaude/cli/tui/state_store.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
Due: none

Ensure active preview shows even at sticky limit
  teleclaude/cli/tui/pane_manager.py
Due: none

Enforce pane cap in reducer
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/state.py
Due: none

Respawn active pane when session changes
  teleclaude/cli/tui/pane_manager.py
Due: none

Separate sticky vs preview click behavior
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
Due: none

Remove intent batching for preview actions
  teleclaude/cli/tui/controller.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
Due: none
