Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

prepare(mesh-trust-model): update requirements
  todos/mesh-trust-model/requirements.md
Due: teleclaude-docs-check

prepare(mesh-trust-model): update implementation plan
  todos/mesh-trust-model/implementation-plan.md
Due: teleclaude-docs-check

prepare(mesh-trust-model): draft requirements, plan, demo, and DOR report
  todos/mesh-trust-model/demo.md
  todos/mesh-trust-model/dor-report.md
  todos/mesh-trust-model/state.yaml
Due: teleclaude-docs-check

gate(mesh-trust-model): DOR pass — score 8, all gates satisfied
  todos/mesh-trust-model/dor-report.md
  todos/mesh-trust-model/implementation-plan.md
  todos/mesh-trust-model/state.yaml
Due: teleclaude-docs-check

fix(tui): animation quality pass — EQ, FireBreath, Glitch, Firefly, Batman, CinematicPrism, ColorSweep, FloatingBalloons, tab bg
  teleclaude/cli/tui/animations/creative.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/widgets/box_tab_bar.py
Due: none

chore(roadmap): add group tags to event-platform entries
  todos/roadmap.yaml
Due: none

fix(tui): restore ColorSweep opaque beam, darken Batman shadow, fix star distribution
  teleclaude/cli/tui/animations/creative.py
  teleclaude/cli/tui/animations/general.py
Due: none

fix(tui): correct star size ordering — asterisk biggest/rarest, sparkle mid, dots dominate
  teleclaude/cli/tui/animations/general.py
Due: none

fix(tui): fix frozen stars and slow down twinkling dramatically
  teleclaude/cli/tui/animations/general.py
Due: none

fix(tui): EQBars — remove white peak marker, colors fixed to absolute row position
  teleclaude/cli/tui/animations/creative.py
Due: none

fix(tui): remove white from AgentPalette, use full block for moon
  teleclaude/cli/tui/animation_colors.py
  teleclaude/cli/tui/animations/general.py
Due: none

fix(tui): pipe dimming, moon space, fireworks 10x, ColorSweep neon
  teleclaude/cli/tui/animations/creative.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/widgets/banner.py
Due: none

feat(tui): light mode polish + animation beam fix + visual tweaks
  teleclaude/cli/tui/animations/creative.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/widgets/banner.py
  teleclaude/cli/tui/widgets/box_tab_bar.py
Due: none

fix(tui): crash, floating objects, light mode colors + tab layout
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/widgets/banner.py
  teleclaude/cli/tui/widgets/box_tab_bar.py
Due: none

fix(tui): restore solid tab box background on all 3 rows in light mode
  teleclaude/cli/tui/widgets/box_tab_bar.py
Due: none

fix(tui): simplify light mode color adaptation to 15% brightness reduction
  teleclaude/cli/tui/theme.py
Due: none

fix(tui): tab boxes use terminal background, not billboard white
  teleclaude/cli/tui/widgets/box_tab_bar.py
Due: none

fix(tui): half-block tabs, active/inactive bg, neon brightness floor
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/widgets/box_tab_bar.py
Due: none

fix(tui): sun bottom row yellow — pipe row missed the full-block color check
  teleclaude/cli/tui/widgets/banner.py
Due: none

chore: seed planning artifacts from main
  todos/fix-layout-issues-sticky-removal/bug.md
  todos/fix-layout-issues-sticky-removal/state.yaml
Due: teleclaude-docs-check

fix(tui): restore 'a' key to batch-toggle project sessions sticky
  teleclaude/cli/tui/animations/base.py
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_sessions_view_toggle_project.py
  todos/fix-layout-issues-sticky-removal/bug.md
Due: teleclaude-docs-check

chore(fix-layout-issues-sticky-removal): commit orchestrator-managed state drift
  .teleclaude/worktree-prep-state.json
  todos/fix-layout-issues-sticky-removal/state.yaml
Due: none

fix(lint): resolve pre-existing lint failures blocking build gate
  docs/project/design/ux/tui-animations.md
  pyproject.toml
  teleclaude/adapters/discord_adapter.py
  teleclaude/cli/tui/animation_engine.py
  teleclaude/cli/tui/animation_triggers.py
  teleclaude/cli/tui/animations/agent.py
  teleclaude/cli/tui/animations/base.py
  teleclaude/cli/tui/animations/creative.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/pixel_mapping.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/banner.py
  teleclaude/cli/tui/widgets/box_tab_bar.py
  teleclaude/core/next_machine/core.py
  tests/integration/test_e2e_smoke.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_animations.py
  tests/unit/test_command_handlers.py
  tests/unit/test_discord_adapter.py
  tests/unit/test_inbound_queue.py
  tests/unit/test_models.py
  tests/unit/test_output_qos_scheduler.py
  tests/unit/test_teleclaude_events/test_integration.py
  tests/unit/test_teleclaude_events/test_telegram_adapter.py
  tests/unit/test_tts_fallback_saturation.py
  todos/fix-layout-issues-sticky-removal/bug.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(fix-layout-issues-sticky-removal): add implementation plan and quality checklist
  todos/fix-layout-issues-sticky-removal/implementation-plan.md
  todos/fix-layout-issues-sticky-removal/quality-checklist.md
Due: teleclaude-docs-check

docs(fix-layout-issues-sticky-removal): add build gate results to bug.md and quality-checklist.md
  todos/fix-layout-issues-sticky-removal/bug.md
  todos/fix-layout-issues-sticky-removal/quality-checklist.md
Due: teleclaude-docs-check

docs(fix-layout-issues-sticky-removal): update Build Gates section to use checkboxes
  todos/fix-layout-issues-sticky-removal/quality-checklist.md
Due: teleclaude-docs-check

docs(fix-layout-issues-sticky-removal): add review findings with APPROVE verdict
  todos/fix-layout-issues-sticky-removal/quality-checklist.md
  todos/fix-layout-issues-sticky-removal/review-findings.md
Due: teleclaude-docs-check

gate(config-wizrd-enrichment): DOR pass — score 8, ready for build
  todos/config-wizrd-enrichment/dor-report.md
  todos/config-wizrd-enrichment/state.yaml
Due: teleclaude-docs-check

chore: commit in-progress main branch changes to unblock finalize
  docs/global/general/procedure/agent-direct-conversation.md
  docs/global/general/spec/tools/telec-cli.md
  docs/third-party/discord/message-formatting.md
  docs/third-party/index.md
  docs/third-party/index.yaml
  state.yaml
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/qos/output_scheduler.py
  teleclaude/adapters/telegram/message_ops.py
  teleclaude/cli/telec.py
  teleclaude/core/adapter_client.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/command_handlers.py
  teleclaude/core/voice_message_handler.py
  teleclaude/utils/transcript.py
  tests/unit/test_threaded_output.py
  tests/unit/test_transcript.py
  todos/config-wizrd-enrichment/demo.md
  todos/config-wizrd-enrichment/implementation-plan.md
  todos/config-wizrd-enrichment/input.md
  todos/config-wizrd-enrichment/quality-checklist.md
  todos/config-wizrd-enrichment/requirements.md
  todos/content-dump-command/demo.md
  todos/content-dump-command/dor-report.md
  todos/content-dump-command/implementation-plan.md
  todos/content-dump-command/input.md
  todos/content-dump-command/requirements.md
  todos/delivered.yaml
  todos/fix-errors-tui-123/bug.md
  todos/fix-errors-tui-123/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

chore(fix-layout-issues-sticky-removal): update worktree state
  .teleclaude/worktree-prep-state.json
  todos/fix-layout-issues-sticky-removal/state.yaml
Due: none

chore(fix-layout-issues-sticky-removal): deliver — remove todo artifacts
  todos/delivered.yaml
  todos/fix-layout-issues-sticky-removal/bug.md
  todos/fix-layout-issues-sticky-removal/implementation-plan.md
  todos/fix-layout-issues-sticky-removal/quality-checklist.md
  todos/fix-layout-issues-sticky-removal/review-findings.md
  todos/fix-layout-issues-sticky-removal/state.yaml
Due: teleclaude-docs-check

feat(content-dump-command): add telec content dump CLI command
  demos/content-dump-command/demo.md
  docs/project/spec/telec-cli-surface.md
  teleclaude/adapters/discord_adapter.py
  teleclaude/cli/telec.py
  teleclaude/content_scaffold.py
  tests/unit/test_content_scaffold.py
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

chore(content-dump-command): restore todo bookkeeping files lost during cherry-pick
  todos/content-dump-command/demo.md
  todos/content-dump-command/dor-report.md
  todos/content-dump-command/implementation-plan.md
  todos/content-dump-command/input.md
  todos/content-dump-command/quality-checklist.md
  todos/content-dump-command/requirements.md
  todos/content-dump-command/review-findings.md
  todos/content-dump-command/state.yaml
Due: teleclaude-docs-check

chore(content-dump-command): remove delivered todo and roadmap entry
  todos/content-dump-command/demo.md
  todos/content-dump-command/dor-report.md
  todos/content-dump-command/implementation-plan.md
  todos/content-dump-command/input.md
  todos/content-dump-command/quality-checklist.md
  todos/content-dump-command/requirements.md
  todos/content-dump-command/review-findings.md
  todos/content-dump-command/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

fix(content-dump-command): address review findings — boundary purity
  teleclaude/cli/telec.py
  teleclaude/content_scaffold.py
  tests/unit/test_content_scaffold.py
Due: check-cli-help

fix(tui): restore LineSweepTopBottom and fix post-merge lint failures
  teleclaude/cli/tui/animations/general.py
Due: none

fix(tui): restore Bioluminescence, SearchlightSweep, HighSunBird to GENERAL_ANIMATIONS
  teleclaude/cli/tui/animations/general.py
Due: none

chore(todos): commit pending todo removals and roadmap updates
  todos/discord-team-reflection/demo.md
  todos/discord-team-reflection/implementation-plan.md
  todos/discord-team-reflection/input.md
  todos/discord-team-reflection/quality-checklist.md
  todos/discord-team-reflection/requirements.md
  todos/discord-team-reflection/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

prep(default-agent-resolution): tighten draft artifacts for gate
  todos/default-agent-resolution/demo.md
  todos/default-agent-resolution/dor-report.md
  todos/default-agent-resolution/implementation-plan.md
  todos/default-agent-resolution/requirements.md
  todos/default-agent-resolution/state.yaml
Due: teleclaude-docs-check

gate(default-agent-resolution): DOR pass — score 8, ready for build
  todos/default-agent-resolution/dor-report.md
  todos/default-agent-resolution/implementation-plan.md
  todos/default-agent-resolution/input.md
  todos/default-agent-resolution/quality-checklist.md
  todos/default-agent-resolution/requirements.md
  todos/default-agent-resolution/state.yaml
Due: teleclaude-docs-check
