Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

fix(tui): italic only for real agent thinking text, not placeholders
  teleclaude/cli/tui/widgets/session_row.py
Due: none

fix(tui): in-memory activity state leads over disk-persisted summary
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/session_row.py
Due: none

refactor(events): route CLI event emission through daemon API
  teleclaude/api/auth.py
  teleclaude/api/event_routes.py
  teleclaude/api_server.py
  teleclaude/cli/telec.py
  teleclaude/content_scaffold.py
Due: check-cli-help

review(prepare-phase-tiering): record plan review verdict
  todos/prepare-phase-tiering/plan-review-findings.md
  todos/prepare-phase-tiering/state.yaml
Due: teleclaude-docs-check

docs(policy): prohibit session ID truncation in all output contexts
  docs/global/software-development/policy/python/logging.md
  docs/project/spec/session-identity-truth.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(todos): retire prepare-phase-tiering, scaffold prepare-pipeline-hardening
  todos/prepare-phase-tiering/demo.md
  todos/prepare-phase-tiering/implementation-plan.md
  todos/prepare-phase-tiering/input.md
  todos/prepare-phase-tiering/plan-review-findings.md
  todos/prepare-phase-tiering/requirements.md
  todos/prepare-phase-tiering/state.yaml
  todos/prepare-pipeline-hardening/demo.md
  todos/prepare-pipeline-hardening/implementation-plan.md
  todos/prepare-pipeline-hardening/input.md
  todos/prepare-pipeline-hardening/quality-checklist.md
  todos/prepare-pipeline-hardening/requirements.md
  todos/prepare-pipeline-hardening/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

docs(prepare): unblock pipeline hardening planning
  todos/prepare-pipeline-hardening/requirements.md
  todos/prepare-pipeline-hardening/state.yaml
Due: teleclaude-docs-check

chore(todos): clean up delivered and duplicate bug/feature items
  todos/cache-transparency-refactor/implementation-plan.md
  todos/cache-transparency-refactor/quality-checklist.md
  todos/cache-transparency-refactor/review-findings.md
  todos/cache-transparency-refactor/state.yaml
  todos/fix-bugs-report-needs-description-field/bug.md
  todos/fix-bugs-report-needs-description-field/state.yaml
  todos/fix-event-producer-silent-write-failure/bug.md
  todos/fix-event-producer-silent-write-failure/state.yaml
  todos/fix-eventproducer-emit-silently-fails-to-wri/bug.md
  todos/fix-eventproducer-emit-silently-fails-to-wri/state.yaml
  todos/roadmap.yaml
  todos/session-role-metadata/demo.md
  todos/session-role-metadata/implementation-plan.md
  todos/session-role-metadata/quality-checklist.md
  todos/session-role-metadata/review-findings.md
  todos/session-role-metadata/state.yaml
Due: teleclaude-docs-check

chore(todos): record session-role-metadata and cache-transparency-refactor in delivered.yaml
  todos/delivered.yaml
Due: none

chore(todos): remove fix-artifact-verification-gate-checks-for-im
  todos/fix-artifact-verification-gate-checks-for-im/bug.md
  todos/fix-artifact-verification-gate-checks-for-im/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore: remove leftover session-role-metadata demo artifact
  demos/session-role-metadata/demo.md
Due: teleclaude-docs-check

Revert "chore: remove leftover session-role-metadata demo artifact"
  demos/session-role-metadata/demo.md
Due: teleclaude-docs-check

chore(todos): remove delivered mirror-runtime-isolation, record in delivered.yaml
  todos/delivered.yaml
  todos/mirror-runtime-isolation/deferrals.md
  todos/mirror-runtime-isolation/review-findings.md
Due: teleclaude-docs-check

fix(titling): freeze slash-command session titles from being overwritten
  teleclaude/core/agent_coordinator.py
Due: none

feat(init): add AI-driven project analysis and doc scaffolding to telec init
  README.md
  agents/commands/telec-init-analyze.md
  demos/telec-init-enrichment/demo.md
  docs/global/index.yaml
  docs/global/software-development/procedure/project-analysis.md
  docs/global/software-development/spec/init-scaffolding.md
  docs/project/spec/telec-cli-surface.md
  teleclaude/cli/telec.py
  teleclaude/project_setup/enrichment.py
  teleclaude/project_setup/init_flow.py
  teleclaude/sync.py
  todos/telec-init-enrichment/deferrals.md
  todos/telec-init-enrichment/implementation-plan.md
  todos/telec-init-enrichment/quality-checklist.md
  todos/telec-init-enrichment/review-findings.md
  todos/telec-init-enrichment/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

chore(telec-init-enrichment): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(telec-init-enrichment): todo cleanup after delivery
  todos/telec-init-enrichment/demo.md
  todos/telec-init-enrichment/dor-report.md
  todos/telec-init-enrichment/implementation-plan.md
  todos/telec-init-enrichment/input.md
  todos/telec-init-enrichment/quality-checklist.md
  todos/telec-init-enrichment/requirements.md
  todos/telec-init-enrichment/state.yaml
Due: teleclaude-docs-check

feat(alpha): add containerized alpha cartridge sandboxing layer
  demos/event-alpha-container/demo.md
  docker-compose.alpha.yml
  docker/alpha-runner/Dockerfile
  docker/alpha-runner/pyproject.toml
  pyproject.toml
  teleclaude/cli/cartridge_cli.py
  teleclaude/daemon.py
  teleclaude_events/alpha/__init__.py
  teleclaude_events/alpha/__main__.py
  teleclaude_events/alpha/bridge.py
  teleclaude_events/alpha/container.py
  teleclaude_events/alpha/protocol.py
  teleclaude_events/alpha/runner.py
  teleclaude_events/lifecycle.py
  teleclaude_events/schemas/system.py
  tests/integration/__init__.py
  tests/integration/test_alpha_integration.py
  tests/unit/__init__.py
  tests/unit/conftest.py
  tests/unit/test_alpha/__init__.py
  tests/unit/test_alpha/test_bridge.py
  tests/unit/test_alpha/test_cartridge_cli_alpha.py
  tests/unit/test_alpha/test_container.py
  tests/unit/test_alpha/test_protocol.py
  tests/unit/test_alpha/test_runner.py
  todos/event-alpha-container/implementation-plan.md
  todos/event-alpha-container/quality-checklist.md
  todos/event-alpha-container/review-findings.md
Due: teleclaude-docs-check

chore(event-alpha-container): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(event-alpha-container): todo cleanup after delivery
  todos/event-alpha-container/demo.md
  todos/event-alpha-container/dor-report.md
  todos/event-alpha-container/implementation-plan.md
  todos/event-alpha-container/input.md
  todos/event-alpha-container/quality-checklist.md
  todos/event-alpha-container/requirements.md
  todos/event-alpha-container/state.yaml
Due: teleclaude-docs-check

fix(cleanup): make bug cleanup pipeline robust for non-roadmap items
  teleclaude/core/integration/state_machine.py
  teleclaude/core/next_machine/core.py
  teleclaude/todo_scaffold.py
  todos/fix-bug-cleanup-pipeline-has-three-gaps-1-is/bug.md
  todos/fix-bug-cleanup-pipeline-has-three-gaps-1-is/demo.md
  todos/fix-bug-cleanup-pipeline-has-three-gaps-1-is/implementation-plan.md
  todos/fix-bug-cleanup-pipeline-has-three-gaps-1-is/quality-checklist.md
  todos/fix-bug-cleanup-pipeline-has-three-gaps-1-is/review-findings.md
Due: teleclaude-docs-check

fix(integrator): sync repo root with origin/main on every state machine entry
  teleclaude/core/integration/state_machine.py
Due: none

fix(state-machine): single-initiator direct link in peer conversation protocol
  teleclaude/core/next_machine/core.py
Due: none

fix(tests): remove sandbox integration test that tested Docker, not our code
  tests/integration/test_sandbox_integration.py
Due: none

fix(echo-suppression): use turn flag instead of poisoned DB state for fan-out decision
  teleclaude/core/agent_coordinator.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/030_add_turn_triggered_by_linked_output.py
  tests/unit/core/__init__.py
  tests/unit/core/test_agent_coordinator.py
Due: none

fix(integration-bridge): replace subprocess spawn with direct service call
  teleclaude/api/auth.py
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/constants.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/command_handlers.py
  teleclaude/core/command_service.py
  teleclaude/core/db.py
  teleclaude/core/integration_bridge.py
  teleclaude/core/models.py
  teleclaude/core/next_machine/core.py
  teleclaude/types/commands.py
  tests/unit/core/conftest.py
  tests/unit/core/test_integration_bridge.py
  todos/fix-integrator-spawn-broken-integration-brid/bug.md
  todos/fix-integrator-spawn-broken-integration-brid/review-findings.md
Due: teleclaude-docs-check, teleclaude-docs-validate, check-raw-sql

chore(fix-integrator-spawn-broken-integration-brid): delivery bookkeeping
  todos/roadmap.yaml
Due: none

fix(integration): reset session counters on fresh IDLE entry
  teleclaude/core/integration/state_machine.py
Due: none

test(integration): add checkpoint counter reset and round-trip tests
  tests/unit/core/integration/__init__.py
  tests/unit/core/integration/test_state_machine.py
Due: none

test(events): harden sandbox tests — remove weak tests, add behavioral coverage
  tests/unit/cli/test_cartridge_cli.py
  tests/unit/events/sandbox/test_bridge.py
  tests/unit/events/sandbox/test_container.py
  tests/unit/events/sandbox/test_runner.py
Due: none

test(events): remove trivial docker_unavailable guard test
  tests/unit/events/sandbox/test_bridge.py
Due: none

test(events): remove catch-all test that mocks private method
  tests/unit/events/sandbox/test_bridge.py
Due: none

test(integration): replace checkpoint I/O tests with _dispatch_sync regression tests
  tests/unit/core/integration/test_state_machine.py
Due: none

test(events): remove frame_too_large test — redundant with existing error path tests
  tests/unit/events/sandbox/test_bridge.py
Due: none

fix(echo-suppression): add field to core Session model and rewrite tests
  teleclaude/core/db.py
  teleclaude/core/models.py
  tests/unit/core/test_agent_coordinator.py
Due: check-raw-sql

fix(todos): make bug route artifact verification state-driven
  teleclaude/cli/telec.py
  teleclaude/core/next_machine/core.py
  teleclaude/todo_scaffold.py
  teleclaude/types/todos.py
Due: check-cli-help

test(bug-route): add behavioral tests for state-driven bug identity and artifact verification
  tests/unit/core/next_machine/__init__.py
  tests/unit/core/next_machine/test_bug_route.py
Due: none

test(bug-route): strip to 3 regression guards, remove prose-locks
  tests/unit/core/next_machine/test_bug_route.py
Due: none
