Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

fix(build): stabilize under 10s gate and add real get_session_data demo
  demos/fix-core-bugs-round-1/demo.md
  scripts/diagrams/extract_modules.py
  todos/fix-core-bugs-round-1/demo.md
  todos/fix-core-bugs-round-1/state.yaml
Due: teleclaude-docs-check

chore(sync): snapshot before main sync (fix-core-bugs-round-1)
  todos/fix-core-bugs-round-1/state.yaml
Due: none

fix(build): reduce test gate runtime variance
  todos/fix-core-bugs-round-1/state.yaml
  tools/test.sh
Due: none

fix(build): use worksteal scheduling for stable 10s tests
  todos/fix-core-bugs-round-1/state.yaml
  tools/test.sh
Due: none

fix(build): tune xdist defaults for tighter 10s latency
  todos/fix-core-bugs-round-1/state.yaml
  tools/test.sh
Due: none

chore(sync): snapshot before main sync (fix-core-bugs-round-1)
  todos/fix-core-bugs-round-1/state.yaml
  todos/roadmap.yaml
Due: none

chore(sync): snapshot before main sync (fix-core-bugs-round-1)
  todos/roadmap.yaml
Due: none

fix(build): stabilize test gate tail latency
  tools/test.sh
Due: none

fix(build): align test gate timeout with main contract
  todos/fix-core-bugs-round-1/bug.md
  tools/test.sh
Due: teleclaude-docs-check

chore: recover delivered demos from git history
  demos/adapter-output-delivery/demo.md
  demos/discord-adapter-integrity/demo.md
  demos/discord-media-handling/demo.md
  demos/fix-demo-runner/demo.md
  demos/inbound-hook-service/demo.md
  demos/lifecycle-enforcement-gates/demo.md
  demos/remove-phase-field/demo.md
  demos/todo-remove-cli-option/demo.md
  demos/tui-footer-clickable-agents/demo.md
  demos/ui-adapter-pre-respond-trigger/demo.md
Due: teleclaude-docs-check

chore(review): approve fix-core-bugs-round-1
  todos/fix-core-bugs-round-1/review-findings.md
  todos/fix-core-bugs-round-1/state.yaml
Due: teleclaude-docs-check

feat(finalize): gate worker finalize at ready state
  agents/commands/next-finalize.md
  todos/finalize-push-guardrails/implementation-plan.md
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(finalize): define two-stage finalize lifecycle
  docs/global/software-development/procedure/lifecycle/finalize.md
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(finalize): move apply flow to orchestrator
  teleclaude/core/next_machine/core.py
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check

chore(finalize): align bookkeeping wording to delivered yaml
  teleclaude/core/next_machine/core.py
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check

feat(guardrails): add pre-push main protection hook
  .githooks/pre-push
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check

feat(init): configure git hooksPath for guardrails
  teleclaude/project_setup/git_repo.py
  teleclaude/project_setup/init_flow.py
  tests/unit/test_project_setup_init_flow.py
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check

feat(guardrails): enforce git push-to-main wrapper checks
  teleclaude/install/install_hooks.py
  teleclaude/install/wrappers/git
  tests/unit/test_install_hooks.py
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check

chore(fix-core-bugs-round-1): add demo snapshot
  demos/fix-core-bugs-round-1/snapshot.json
  todos/fix-core-bugs-round-1/state.yaml
Due: none

feat(guardrails): block gh pr merge to main outside canonical context
  teleclaude/install/install_hooks.py
  teleclaude/install/wrappers/gh
  tests/unit/test_install_hooks.py
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check

test(guardrails): lock wrapper PATH scoping to tmux sessions
  teleclaude/core/tmux_bridge.py
  tests/unit/test_tmux_bridge_tmpdir.py
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check

chore: cleanup fix-core-bugs-round-1
  todos/fix-core-bugs-round-1/bug.md
  todos/fix-core-bugs-round-1/demo.md
  todos/fix-core-bugs-round-1/review-findings.md
  todos/fix-core-bugs-round-1/state.yaml
Due: teleclaude-docs-check

chore(guardrails): standardize main-block remediation text
  .githooks/pre-push
  teleclaude/install/wrappers/gh
  teleclaude/install/wrappers/git
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check

fix(tui): restore three-row footer layout with two-line hints
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/telec.tcss
  teleclaude/cli/tui/widgets/hints_footer.py
  tests/unit/test_tui_footer_migration.py
Due: none

chore(guardrails): emit explicit block markers for grep
  .githooks/pre-push
  teleclaude/install/wrappers/gh
  teleclaude/install/wrappers/git
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check

docs(finalize): remove legacy delivered-md and single-stage wording
  agents/commands/sync-todos.md
  docs/global/general/procedure/maintenance/next-prepare-draft.md
  docs/global/software-development/concept/finalizer.md
  docs/project/design/architecture/next-machine.md
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

test(finalize): assert FINALIZE_READY apply contract in next-machine
  tests/unit/core/test_next_machine_deferral.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check

test(guardrails): cover pre-push git and gh main protections
  tests/unit/test_gh_wrapper_guardrails.py
  tests/unit/test_git_wrapper_guardrails.py
  tests/unit/test_pre_push_guardrails.py
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check

chore(guardrails): track structured rejection audit logging
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check

test(guardrails): stabilize wrapper workflow regression checks
  tests/unit/test_gh_wrapper_guardrails.py
  tests/unit/test_git_wrapper_guardrails.py
  tests/unit/test_pre_push_guardrails.py
  todos/finalize-push-guardrails/implementation-plan.md
Due: teleclaude-docs-check

chore(finalize-push-guardrails): close build gates and publish demo artifacts
  demos/finalize-push-guardrails/demo.md
  demos/finalize-push-guardrails/snapshot.json
  tests/unit/test_gh_wrapper_guardrails.py
  tests/unit/test_git_wrapper_guardrails.py
  tests/unit/test_pre_push_guardrails.py
  todos/finalize-push-guardrails/demo.md
  todos/finalize-push-guardrails/dor-report.md
  todos/finalize-push-guardrails/implementation-plan.md
  todos/finalize-push-guardrails/input.md
  todos/finalize-push-guardrails/quality-checklist.md
  todos/finalize-push-guardrails/requirements.md
  todos/finalize-push-guardrails/state.yaml
Due: teleclaude-docs-check

feat(tui): unify three-row footer with binding-driven hints
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/telec.tcss
  teleclaude/cli/tui/widgets/hints_footer.py
  teleclaude/cli/tui/widgets/telec_footer.py
  tests/unit/test_tui_footer_migration.py
Due: none

chore(finalize-push-guardrails): mark build phase complete
  todos/finalize-push-guardrails/state.yaml
Due: none

fix(guardrails): block implicit upstream pushes to main
  teleclaude/install/wrappers/git
  todos/finalize-push-guardrails/implementation-plan.md
  todos/finalize-push-guardrails/quality-checklist.md
  todos/finalize-push-guardrails/state.yaml
Due: teleclaude-docs-check

fix(guardrails): stop gh pass-through after first real call
  teleclaude/install/wrappers/gh
Due: none

test(guardrails): cover implicit push and gh passthrough regressions
  tests/unit/test_gh_wrapper_guardrails.py
  tests/unit/test_git_wrapper_guardrails.py
Due: none

docs(todos): record applied fixes for review findings
  todos/finalize-push-guardrails/review-findings.md
Due: teleclaude-docs-check

fix(guardrails): preserve command fidelity across PATH wrappers
  teleclaude/install/wrappers/gh
  teleclaude/install/wrappers/git
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
