Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

prepare(integrator-wiring): align artifacts with event-platform-core API
  todos/integrator-wiring/demo.md
  todos/integrator-wiring/dor-report.md
  todos/integrator-wiring/implementation-plan.md
  todos/integrator-wiring/requirements.md
  todos/integrator-wiring/state.yaml
Due: teleclaude-docs-check

gate(integrator-wiring): DOR pass — score 8, all gates satisfied
  todos/integrator-wiring/dor-report.md
  todos/integrator-wiring/state.yaml
Due: teleclaude-docs-check

fix(tui): add missing NEUTRAL_NORMAL_COLOR import in banner.py
  teleclaude/cli/tui/widgets/banner.py
Due: none

review(event-platform-core): round 1 — REQUEST CHANGES (5C/8I/4S)
  todos/event-platform-core/quality-checklist.md
  todos/event-platform-core/review-findings.md
Due: teleclaude-docs-check

fix(events): move xack into try block to preserve at-least-once delivery
  teleclaude_events/processor.py
Due: none

fix(events): preserve claimed_at on non-claimed agent status transitions
  teleclaude_events/db.py
Due: none

fix(events): enforce min_level filter in TelegramDeliveryAdapter
  teleclaude/api_server.py
  teleclaude_events/cartridges/notification.py
  teleclaude_events/delivery/telegram.py
  tests/unit/test_teleclaude_events/test_integration.py
Due: none

fix(events): handle creates+updates lifecycle — look up by group_key first
  teleclaude_events/cartridges/notification.py
Due: none

fix(events): skip dedup for updates-only lifecycle schemas
  teleclaude_events/cartridges/dedup.py
Due: none

fix(events): remove nonexistent event_type query param from demo scripts
  demos/event-platform-core/demo.md
  todos/event-platform-core/demo.md
Due: teleclaude-docs-check

fix(events): send WS notification push only to subscribed clients, bypass debounce
  teleclaude/api_server.py
Due: none

fix(events): add description column to telec events list output
  teleclaude/cli/telec.py
Due: check-cli-help

feat(tui): cinematic rooftop billboard suite with focus-aware lighting
  teleclaude/adapters/telegram_adapter.py
  teleclaude/cli/tui/animation_engine.py
  teleclaude/cli/tui/animation_triggers.py
  teleclaude/cli/tui/animations/base.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/pixel_mapping.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/widgets/banner.py
  teleclaude/cli/tui/widgets/box_tab_bar.py
  teleclaude/core/adapter_client.py
  tests/unit/test_animations.py
  todos/discord-team-reflection/demo.md
  todos/discord-team-reflection/implementation-plan.md
  todos/discord-team-reflection/input.md
  todos/discord-team-reflection/quality-checklist.md
  todos/discord-team-reflection/requirements.md
  todos/discord-team-reflection/state.yaml
Due: teleclaude-docs-check

test(events): add tests for projector updates/resolves, telegram adapter, db fields
  teleclaude/api_server.py
  teleclaude_events/pipeline.py
  tests/unit/test_teleclaude_events/test_cartridges.py
  tests/unit/test_teleclaude_events/test_db.py
  tests/unit/test_teleclaude_events/test_telegram_adapter.py
Due: none

docs(events): record fixes applied in review-findings.md
  todos/event-platform-core/review-findings.md
Due: teleclaude-docs-check

review(event-platform-core): round 2 — APPROVE
  todos/event-platform-core/quality-checklist.md
  todos/event-platform-core/review-findings.md
Due: teleclaude-docs-check

refactor(tui): centralized billboard background and haze logic
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/widgets/banner.py
Due: none

style(tui): refine billboard gray levels for focus awareness
  teleclaude/cli/tui/theme.py
Due: none

fix(tui): resolve ZeroDivisionError in SearchlightSweep
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/theme.py
Due: none

style(tui): align color animation offsets with billboard shift
  teleclaude/cli/tui/animations/base.py
  teleclaude/cli/tui/animations/general.py
Due: none

fix(tui): resolve dark-mode readability and performance issues
  teleclaude/cli/tui/animation_colors.py
  teleclaude/cli/tui/animations/base.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/pixel_mapping.py
Due: none

feat(tui): reflective physical billboard and batman shadow physics
  teleclaude/adapters/discord_adapter.py
  teleclaude/cli/tui/animation_engine.py
  teleclaude/cli/tui/animations/base.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/widgets/banner.py
Due: none

feat(tui): proportional reflective lighting for external sources
  teleclaude/cli/tui/widgets/banner.py
Due: none

style(tui): gradient neon sweeps and proportional reflective lighting
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/pixel_mapping.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/widgets/banner.py
Due: none

feat(tui): proportional external lighting and robust color blending
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/pixel_mapping.py
  tests/unit/test_animations.py
Due: none

style(tui): comprehensive physical billboard suite and neon mandate
  docs/project/design/ux/tui-animations.md
  teleclaude/cli/tui/animations/agent.py
  teleclaude/cli/tui/animations/general.py
Due: teleclaude-docs-check, teleclaude-docs-validate

style(tui): full-grid billboard reflection and enhanced focused visibility
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/theme.py
Due: none

chore(event-platform-core): mark delivered
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(event-platform-core): cleanup todo artifacts
  todos/event-platform-core/demo.md
  todos/event-platform-core/dor-report.md
  todos/event-platform-core/implementation-plan.md
  todos/event-platform-core/input.md
  todos/event-platform-core/quality-checklist.md
  todos/event-platform-core/requirements.md
  todos/event-platform-core/review-findings.md
  todos/event-platform-core/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

style(tui): full-grid physical billboard reflection and batman silhouette
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/widgets/banner.py
Due: none

style(tui): animation toasts, grounded batman, and electric neon mandate
  teleclaude/cli/tui/animation_engine.py
  teleclaude/cli/tui/app.py
Due: none

style(tui): implement animation toast debouncing
  teleclaude/cli/tui/app.py
Due: none

style(tui): iconic grounded batman and physical rooftop reflection
  teleclaude/cli/tui/animations/agent.py
  teleclaude/cli/tui/animations/general.py
Due: none

style(tui): synchronize animations and debounce notifications
  teleclaude/cli/tui/animation_triggers.py
  teleclaude/cli/tui/app.py
Due: none

style(tui): comprehensive physical billboard suite and notification debouncing
  teleclaude/cli/tui/animations/agent.py
Due: none

style(tui): robust toast debouncing and high-vibrancy neon mandate
  teleclaude/cli/tui/animations/base.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/app.py
Due: none

style(tui): Truly Ultimate Batman and atmospheric pool cleanup
  teleclaude/cli/tui/animations/agent.py
  teleclaude/cli/tui/animations/general.py
Due: none

style(tui): reflective AgentWave and volumetric billboard surges
  teleclaude/cli/tui/animations/agent.py
Due: none

style(tui): volumetric physical billboard surges and neon mandate
  teleclaude/cli/tui/animations/general.py
Due: none

style(tui): iconic grounded batman and physically consistent atmospheric suite
  teleclaude/cli/tui/animations/general.py
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
