Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

chore: mark all implementation-plan tasks complete
  todos/chiptunes-playlist-controls/implementation-plan.md
Due: teleclaude-docs-check

chore: mark build phase complete in state.yaml
  todos/chiptunes-playlist-controls/state.yaml
Due: none

chore(chiptunes-playlist-controls): deliver demo artifact
  demos/chiptunes-playlist-controls/demo.md
Due: teleclaude-docs-check

fix(clickable-sprites): limit banner click region to plate area
  teleclaude/cli/tui/widgets/banner.py
Due: none

fix(notifications): gate stop notifications to once per turn
  teleclaude/core/agent_coordinator.py
  tests/unit/test_ansi_stripping.py
Due: none

refactor(worker-commands): remove orchestrator bookkeeping from worker instructions
  agents/commands/next-build.md
  agents/commands/next-review.md
  docs/global/software-development/procedure/lifecycle/build.md
  docs/global/software-development/procedure/lifecycle/review.md
Due: teleclaude-docs-check, teleclaude-docs-validate

style: ruff auto-fixes — import order and trailing blank lines
  teleclaude/core/command_handlers.py
  teleclaude/core/inbound_errors.py
Due: none

fix(tests): add closed_at=None and chiptunes=None to fix test failures after sync
  tests/integration/conftest.py
  tests/unit/test_command_handlers.py
Due: none

review(chiptunes-playlist-controls): REQUEST CHANGES — 6 important findings
  todos/chiptunes-playlist-controls/quality-checklist.md
  todos/chiptunes-playlist-controls/review-findings.md
Due: teleclaude-docs-check

fix(chiptunes): delegate start() to worker.enable() — eliminate encapsulation violation
  teleclaude/chiptunes/manager.py
Due: none

fix(chiptunes): add RLock to _Worker — prevent history/player race conditions
  teleclaude/chiptunes/worker.py
Due: none

fix(chiptunes): log warning on JSONDecodeError in load_favorites — prevent silent data loss
  teleclaude/chiptunes/favorites.py
Due: none

fix(tui): use isinstance for ChiptunesTrackEvent and make favorite async with error handling
  teleclaude/cli/tui/app.py
Due: none

review(chiptunes-playlist-controls): APPROVE — all round 1 findings resolved
  todos/chiptunes-playlist-controls/quality-checklist.md
  todos/chiptunes-playlist-controls/review-findings.md
Due: teleclaude-docs-check

fix(artifacts): add Build Gates section to quality-checklist.md
  todos/fix-telec-config-people-edit-fails-with-ruam/quality-checklist.md
Due: teleclaude-docs-check

fix(integrator): auto-enqueue candidate when slug given but queue empty
  teleclaude/core/integration/state_machine.py
  tests/unit/test_integration_state_machine.py
Due: none

wip(async-operation-receipts): in-flight implementation changes
  docs/third-party/assistant-ui/index.md
  teleclaude/api/auth.py
  teleclaude/api/todo_routes.py
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/telec.py
  teleclaude/cli/tool_client.py
  teleclaude/cli/tool_commands.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/lifecycle.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/schema.sql
  teleclaude/core/tool_access.py
  teleclaude/services/maintenance_service.py
  tests/unit/test_api_route_auth.py
  tests/unit/test_todo_work_cli.py
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

fix(integrator): validate SHA is 40-char hex in auto-enqueue
  teleclaude/core/integration/state_machine.py
  tests/unit/test_integration_state_machine.py
Due: none

fix(config): serialize enum values to JSON strings in telec config edit
  .teleclaude/worktree-prep-state.json
  teleclaude/cli/config_handlers.py
  tests/unit/test_config_handlers.py
  todos/fix-telec-config-people-edit-fails-with-ruam/bug.md
  todos/fix-telec-config-people-edit-fails-with-ruam/implementation-plan.md
  todos/fix-telec-config-people-edit-fails-with-ruam/quality-checklist.md
  todos/fix-telec-config-people-edit-fails-with-ruam/review-findings.md
  todos/fix-telec-config-people-edit-fails-with-ruam/state.yaml
Due: teleclaude-docs-check

chore(fix-telec-config-people-edit-fails-with-ruam): delivery bookkeeping
  docs/project/design/architecture/operation-receipts.md
  teleclaude/api/operations_routes.py
  teleclaude/core/migrations/026_add_operations.py
  teleclaude/core/operations/__init__.py
  teleclaude/core/operations/service.py
  tests/unit/test_operations_service.py
  tests/unit/test_todo_operations_api.py
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(fix-telec-config-people-edit-fails-with-ruam): worktree and todo cleanup after delivery
  todos/fix-telec-config-people-edit-fails-with-ruam/bug.md
  todos/fix-telec-config-people-edit-fails-with-ruam/implementation-plan.md
  todos/fix-telec-config-people-edit-fails-with-ruam/quality-checklist.md
  todos/fix-telec-config-people-edit-fails-with-ruam/review-findings.md
  todos/fix-telec-config-people-edit-fails-with-ruam/state.yaml
Due: teleclaude-docs-check

fix(integrator): persist state before daemon restart in cleanup phase
  teleclaude/core/integration/state_machine.py
Due: none

draft(architecture-alignment-integration-pipeline): prepare artifacts from input brain dump
  todos/architecture-alignment-integration-pipeline/demo.md
  todos/architecture-alignment-integration-pipeline/dor-report.md
  todos/architecture-alignment-integration-pipeline/implementation-plan.md
  todos/architecture-alignment-integration-pipeline/requirements.md
  todos/architecture-alignment-integration-pipeline/state.yaml
Due: teleclaude-docs-check

gate(architecture-alignment-integration-pipeline): needs_work — mark-phase rejects finalize phase
  todos/architecture-alignment-integration-pipeline/dor-report.md
  todos/architecture-alignment-integration-pipeline/state.yaml
Due: teleclaude-docs-check

fix(architecture-alignment-integration-pipeline): address gate findings — PhaseName enum extension
  todos/architecture-alignment-integration-pipeline/implementation-plan.md
  todos/architecture-alignment-integration-pipeline/requirements.md
Due: teleclaude-docs-check

gate(architecture-alignment-integration-pipeline): pass — score 9/10, ready for build
  todos/architecture-alignment-integration-pipeline/dor-report.md
  todos/architecture-alignment-integration-pipeline/state.yaml
Due: teleclaude-docs-check

fix(integration-pipeline): restore event handoff and consolidate leftovers
  teleclaude/core/integration/state_machine.py
  teleclaude/core/next_machine/core.py
  teleclaude/install/wrappers/gh
  teleclaude/install/wrappers/git
  tests/integration/test_integrator_wiring.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
  todos/architecture-alignment-integration-pipeline/dor-report.md
  todos/architecture-alignment-integration-pipeline/implementation-plan.md
  todos/architecture-alignment-integration-pipeline/requirements.md
  todos/architecture-alignment-integration-pipeline/state.yaml
  todos/integration-event-chain-phase2/dor-report.md
  todos/integration-event-chain-phase2/implementation-plan.md
  todos/integration-event-chain-phase2/input.md
  todos/integration-event-chain-phase2/requirements.md
  todos/integration-event-chain-phase2/state.yaml
Due: teleclaude-docs-check

chore: commit direct-conversation updates and todo cleanup
  docs/project/design/architecture/next-machine.md
  docs/project/design/architecture/operation-receipts.md
  docs/project/index.yaml
  teleclaude/api_server.py
  teleclaude/core/command_handlers.py
  tests/unit/test_api_server.py
  tests/unit/test_command_handlers.py
  todos/architecture-alignment-integration-pipeline/demo.md
  todos/architecture-alignment-integration-pipeline/dor-report.md
  todos/architecture-alignment-integration-pipeline/implementation-plan.md
  todos/architecture-alignment-integration-pipeline/input.md
  todos/architecture-alignment-integration-pipeline/quality-checklist.md
  todos/architecture-alignment-integration-pipeline/requirements.md
  todos/architecture-alignment-integration-pipeline/state.yaml
  todos/async-operation-receipts/breakdown.md
  todos/async-operation-receipts/demo.md
  todos/async-operation-receipts/dor-report.md
  todos/async-operation-receipts/implementation-plan.md
  todos/async-operation-receipts/input.md
  todos/async-operation-receipts/quality-checklist.md
  todos/async-operation-receipts/requirements.md
  todos/async-operation-receipts/state.yaml
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

gate(conversation-projection-unification): pass — score 9/10, ready for build
  todos/conversation-projection-unification/dor-report.md
  todos/conversation-projection-unification/state.yaml
Due: teleclaude-docs-check

feat(async-operation-receipts): receipt-first contract for long-running operations
  demos/async-operation-receipts/demo.md
  docs/global/index.yaml
  docs/project/design/architecture/operation-receipts.md
  docs/project/index.yaml
  docs/project/spec/telec-cli-surface.md
  docs/third-party/index.yaml
  teleclaude/api/operations_routes.py
  teleclaude/api/todo_routes.py
  teleclaude/api_models.py
  teleclaude/chiptunes/worker.py
  teleclaude/cli/tool_commands.py
  teleclaude/core/integration/state_machine.py
  teleclaude/core/operations/service.py
  tests/unit/cli/test_tool_commands.py
  tests/unit/test_integration_state_machine.py
  tests/unit/test_todo_operations_api.py
  todos/adapter-reflection-cleanup/quality-checklist.md
  todos/async-operation-receipts/demo.md
  todos/async-operation-receipts/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(async-operation-receipts): delivery bookkeeping
  demos/async-operation-receipts/snapshot.json
Due: none

fix(guardrails): remove stale integrator cutover guard
  .githooks/pre-push
  teleclaude/daemon.py
  teleclaude/install/wrappers/gh
  teleclaude/install/wrappers/git
  tests/integration/test_integrator_cutover.py
Due: none

chore(async-operation-receipts): worktree and todo cleanup after delivery
  todos/async-operation-receipts/demo.md
  todos/async-operation-receipts/implementation-plan.md
Due: teleclaude-docs-check

feat(chiptunes-playlist-controls): four-button player controls with favorites
  .teleclaude/worktree-prep-state.json
Due: none

chore(chiptunes-playlist-controls): delivery bookkeeping
  demos/chiptunes-playlist-controls/snapshot.json
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(chiptunes-playlist-controls): worktree and todo cleanup after delivery
  todos/chiptunes-playlist-controls/demo.md
  todos/chiptunes-playlist-controls/dor-report.md
  todos/chiptunes-playlist-controls/implementation-plan.md
  todos/chiptunes-playlist-controls/input.md
  todos/chiptunes-playlist-controls/quality-checklist.md
  todos/chiptunes-playlist-controls/requirements.md
  todos/chiptunes-playlist-controls/review-findings.md
  todos/chiptunes-playlist-controls/state.yaml
Due: teleclaude-docs-check

chore(adapter-reflection-cleanup): DOR assessment — score 8, pass
  todos/adapter-reflection-cleanup/breakdown.md
  todos/adapter-reflection-cleanup/state.yaml
Due: teleclaude-docs-check

chore(integration-event-chain-phase2): refresh prepare gate
  todos/integration-event-chain-phase2/breakdown.md
  todos/integration-event-chain-phase2/dor-report.md
  todos/integration-event-chain-phase2/implementation-plan.md
  todos/integration-event-chain-phase2/requirements.md
  todos/integration-event-chain-phase2/state.yaml
Due: teleclaude-docs-check
