Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (bin/format.sh)
    entry: ./bin/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs (sync_resources strict)
    entry: bash -c
    args:
    - 'uv run --quiet scripts/sync_resources.py --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)

test(notifications): add unit tests for send_telegram_dm
  tests/unit/test_telegram.py
Due: none

feat(config): implement interactive configuration system
  Makefile
  teleclaude/cli/config_cmd.py
  teleclaude/cli/config_handlers.py
  teleclaude/cli/config_menu.py
  teleclaude/cli/onboard_wizard.py
  teleclaude/cli/telec.py
  tests/unit/test_config_interactive.py
  todos/telec-config-interactive/dor-report.md
  todos/telec-config-interactive/implementation-plan.md
  todos/telec-config-interactive/input.md
  todos/telec-config-interactive/quality-checklist.md
  todos/telec-config-interactive/requirements.md
  todos/telec-config-interactive/state.json
Due: teleclaude-docs-check

fix(notifications): correct type annotations for NotificationOutbox
  teleclaude/core/db.py
  teleclaude/core/db_models.py
Due: none

test(hooks): add comprehensive webhook service unit tests
  tests/unit/test_webhook_service.py
  todos/webhook-service/implementation-plan.md
  todos/webhook-service/quality-checklist.md
Due: teleclaude-docs-check

refactor(diagrams): consolidate transcript_discovery detection pattern
  scripts/diagrams/extract_runtime_matrix.py
Due: none

review(config): request changes on telec-config-interactive (round 1)
  todos/telec-config-interactive/quality-checklist.md
  todos/telec-config-interactive/review-findings.md
  todos/telec-config-interactive/state.json
Due: teleclaude-docs-check

fix(config-interactive): prevent config interactive regressions via prompt and contract cleanup
  teleclaude/cli/config_handlers.py
  teleclaude/cli/config_menu.py
  teleclaude/cli/onboard_wizard.py
  teleclaude/cli/prompt_utils.py
Due: none

review(hooks): webhook-service round 1 — REQUEST CHANGES
  todos/webhook-service/quality-checklist.md
  todos/webhook-service/review-findings.md
  todos/webhook-service/state.json
Due: teleclaude-docs-check

review(config): request changes on telec-config-interactive (round 2)
  todos/telec-config-interactive/quality-checklist.md
  todos/telec-config-interactive/review-findings.md
  todos/telec-config-interactive/state.json
Due: teleclaude-docs-check

fix(config): restore validation results pause after prompt_utils extraction
  teleclaude/cli/prompt_utils.py
Due: none

fix(webhook-service): address webhook review findings
  teleclaude/core/db.py
  teleclaude/daemon.py
  teleclaude/hooks/api_routes.py
  teleclaude/hooks/config.py
  teleclaude/hooks/delivery.py
  teleclaude/hooks/dispatcher.py
  teleclaude/hooks/inbound.py
  teleclaude/hooks/registry.py
  tests/unit/test_webhook_service.py
Due: none

docs(webhook-service): record webhook findings fixes
  todos/webhook-service/review-findings.md
Due: teleclaude-docs-check

chore(telec-config-interactive): sync finalizer artifacts
  todos/dependencies.json
  todos/roadmap.md
  todos/telec-config-interactive/quality-checklist.md
  todos/telec-config-interactive/review-findings.md
  todos/telec-config-interactive/state.json
Due: teleclaude-docs-check

review(role-based-notifications): round 2 — request changes for terminal state bug
  todos/role-based-notifications/quality-checklist.md
  todos/role-based-notifications/review-findings.md
  todos/role-based-notifications/state.json
Due: teleclaude-docs-check

docs(telec-config-interactive): finalize delivery log and checklist
  todos/delivered.md
  todos/telec-config-interactive/quality-checklist.md
Due: teleclaude-docs-check

chore: remove telec-config-interactive worktree, branch, and todo folder
  todos/telec-config-interactive/dor-report.md
  todos/telec-config-interactive/implementation-plan.md
  todos/telec-config-interactive/input.md
  todos/telec-config-interactive/quality-checklist.md
  todos/telec-config-interactive/requirements.md
  todos/telec-config-interactive/review-findings.md
  todos/telec-config-interactive/state.json
  todos/webhook-service/state.json
Due: teleclaude-docs-check

fix(notifications): stop selecting terminally failed outbox rows
  teleclaude/core/db.py
  teleclaude/notifications/worker.py
  tests/unit/test_notifications.py
Due: none

docs(review): record c3 fix application
  todos/role-based-notifications/review-findings.md
Due: teleclaude-docs-check

fix(config): make PersonEntry.email optional
  teleclaude/config/schema.py
Due: none

fix(config): show env vars from static registry during onboarding
  teleclaude/cli/config_handlers.py
  teleclaude/cli/prompt_utils.py
Due: none

review(role-based-notifications): round 3 — approve
  todos/role-based-notifications/quality-checklist.md
  todos/role-based-notifications/review-findings.md
  todos/role-based-notifications/state.json
Due: teleclaude-docs-check

feat(help-desk-discord): scaffold discord adapter
  teleclaude/adapters/discord_adapter.py
  todos/help-desk-discord/implementation-plan.md
Due: teleclaude-docs-check

review(hooks): webhook-service round 2 — APPROVE
  todos/webhook-service/quality-checklist.md
  todos/webhook-service/review-findings.md
  todos/webhook-service/state.json
Due: teleclaude-docs-check

chore(finalize): complete role-based-notifications finalize checklist
  todos/role-based-notifications/quality-checklist.md
Due: teleclaude-docs-check

feat(help-desk-discord): implement discord gateway handlers
  teleclaude/adapters/discord_adapter.py
  teleclaude/core/identity.py
  teleclaude/core/models.py
  teleclaude/core/origins.py
  todos/help-desk-discord/implementation-plan.md
Due: teleclaude-docs-check

chore(finalize): record role-based-notifications delivery
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check

chore: remove role-based-notifications worktree, branch, and todo folder
  teleclaude/cli/tui/views/sessions.py
  todos/role-based-notifications/dor-report.md
  todos/role-based-notifications/implementation-plan.md
  todos/role-based-notifications/input.md
  todos/role-based-notifications/quality-checklist.md
  todos/role-based-notifications/requirements.md
  todos/role-based-notifications/review-findings.md
  todos/role-based-notifications/state.json
  todos/webhook-service/state.json
Due: teleclaude-docs-check

feat(help-desk-discord): add discord forum thread channel ops
  teleclaude/adapters/discord_adapter.py
  todos/help-desk-discord/implementation-plan.md
Due: teleclaude-docs-check

feat(help-desk-discord): wire discord adapter into startup
  config.sample.yml
  pyproject.toml
  teleclaude.sample.yml
  teleclaude/adapters/discord_adapter.py
  teleclaude/config/__init__.py
  teleclaude/core/adapter_client.py
  todos/help-desk-discord/implementation-plan.md
Due: teleclaude-docs-check

fix(hooks): handle async property vocabulary providers
  teleclaude/hooks/api_routes.py
Due: none

chore(todos): finalize webhook-service delivery records
  todos/delivered.md
  todos/roadmap.md
  todos/webhook-service/quality-checklist.md
Due: teleclaude-docs-check

feat(help-desk-discord): verify discord ingress and egress behavior
  teleclaude/adapters/discord_adapter.py
  tests/unit/test_discord_adapter.py
  tests/unit/test_identity.py
  tests/unit/test_models.py
  todos/help-desk-discord/implementation-plan.md
Due: teleclaude-docs-check

chore: remove webhook-service worktree, branch, and todo folder
  todos/webhook-service/implementation-plan.md
  todos/webhook-service/quality-checklist.md
  todos/webhook-service/review-findings.md
  todos/webhook-service/state.json
Due: teleclaude-docs-check

fix(help-desk-discord): harden startup config compatibility
  teleclaude/core/adapter_client.py
  tests/unit/test_diagram_extractors.py
  tests/unit/test_threaded_output.py
Due: none

chore(help-desk-discord): finalize build gates
  todos/help-desk-discord/quality-checklist.md
  todos/help-desk-discord/state.json
Due: teleclaude-docs-check

chore(help-desk-discord): review round 1 — APPROVE
  todos/help-desk-discord/quality-checklist.md
  todos/help-desk-discord/review-findings.md
  todos/help-desk-discord/state.json
Due: teleclaude-docs-check

chore(help-desk-discord): review round 2 — APPROVE
  todos/help-desk-discord/review-findings.md
  todos/help-desk-discord/state.json
Due: teleclaude-docs-check

chore(finalize): record delivery for help-desk-discord
  todos/delivered.md
  todos/help-desk-discord/quality-checklist.md
  todos/help-desk-discord/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

chore: remove help-desk-discord worktree, branch, and todo folder
  todos/help-desk-discord/implementation-plan.md
  todos/help-desk-discord/quality-checklist.md
  todos/help-desk-discord/requirements.md
  todos/help-desk-discord/review-findings.md
  todos/help-desk-discord/state.json
Due: teleclaude-docs-check

fix(spec): add config and onboard commands to CLI surface manifest
  docs/project/spec/telec-cli-surface.md
Due: teleclaude-docs-check, teleclaude-docs-validate
