Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

test(core): stabilize flaky work/stall regressions
  tests/unit/test_agent_coordinator.py
  tests/unit/test_next_work_bug_worktree_cwd.py
Due: none

test(next-machine): stabilize cross-repo prep timeout path
  tests/unit/test_next_machine_hitl.py
Due: none

chore(api-todos-work-stability-hardening): sync final test evidence
  todos/api-todos-work-stability-hardening/quality-checklist.md
Due: teleclaude-docs-check

feat(integration): enforce canonical event contracts for durable evidence
  teleclaude/core/integration/__init__.py
  teleclaude/core/integration/event_store.py
  teleclaude/core/integration/events.py
  todos/integration-events-model/implementation-plan.md
Due: teleclaude-docs-check

fix(cleanup): purge closed sessions older than 72h from database
  teleclaude/services/maintenance_service.py
  tests/unit/test_daemon.py
  todos/fix-cleanup-routine/bug.md
  todos/fix-cleanup-routine/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

feat(integration): project readiness from canonical events
  teleclaude/core/integration/__init__.py
  teleclaude/core/integration/readiness_projection.py
  todos/integration-events-model/implementation-plan.md
Due: teleclaude-docs-check

feat(integration): ingest events through durable projection pipeline
  teleclaude/core/integration/__init__.py
  teleclaude/core/integration/service.py
  todos/integration-events-model/implementation-plan.md
Due: teleclaude-docs-check

fix(tui): prevent spurious layout rebuilds and stale preview on sticky removal
  frontend/cli/__tests__/layout.test.ts
  frontend/cli/components/sessions/SessionsView.tsx
  frontend/cli/hooks/useDoublePress.ts
  frontend/cli/lib/tmux/layout.ts
  frontend/lib/__tests__/reducer.test.ts
  frontend/lib/store/reducer.ts
  todos/fix-sticky-removal-layout-issues/bug.md
  todos/fix-sticky-removal-layout-issues/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

review(deployment): approve migration framework with test coverage suggestions
  todos/deployment-migrations/quality-checklist.md
  todos/deployment-migrations/review-findings.md
Due: teleclaude-docs-check

docs(fix-cleanup-routine): add review findings with APPROVE verdict
  todos/fix-cleanup-routine/bug.md
  todos/fix-cleanup-routine/review-findings.md
  todos/fix-cleanup-routine/state.yaml
Due: teleclaude-docs-check

test(integration): cover event model readiness and supersession
  tests/integration/test_integration_readiness_projection.py
  tests/unit/test_discord_adapter.py
  tests/unit/test_integration_events_model.py
  todos/integration-events-model/implementation-plan.md
Due: teleclaude-docs-check

chore(integration): finalize build evidence and demo artifact
  demos/integration-events-model/demo.md
  todos/integration-events-model/implementation-plan.md
  todos/integration-events-model/quality-checklist.md
Due: teleclaude-docs-check

chore(deployment-migrations): record verified build gates
  todos/deployment-migrations/quality-checklist.md
Due: teleclaude-docs-check

feat(qos): implement adapter output QoS scheduler (Phases 1-4)
  config.sample.yml
  pyproject.toml
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/qos/__init__.py
  teleclaude/adapters/qos/output_scheduler.py
  teleclaude/adapters/qos/policy.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/config/__init__.py
  todos/adapter-output-qos-scheduler/state.yaml
  todos/roadmap.yaml
Due: none

docs(bugs): complete bug.md for fix-sticky-removal-layout-issues
  todos/fix-sticky-removal-layout-issues/bug.md
  todos/roadmap.yaml
Due: teleclaude-docs-check

test(qos): add unit tests for OutputQoSScheduler
  tests/unit/test_output_qos_scheduler.py
Due: none

chore(qos): complete build phase — docs, demo, plan checkboxes, quality checklist
  demos/adapter-output-qos-scheduler/demo.md
  docs/project/design/architecture/output-polling.md
  todos/adapter-output-qos-scheduler/deferrals.md
  todos/adapter-output-qos-scheduler/demo.md
  todos/adapter-output-qos-scheduler/implementation-plan.md
  todos/adapter-output-qos-scheduler/quality-checklist.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(deployment-migrations): refresh build verification evidence
  todos/deployment-migrations/quality-checklist.md
Due: teleclaude-docs-check

chore(integration): complete builder checklist artifacts
  todos/integration-events-model/implementation-plan.md
  todos/integration-events-model/quality-checklist.md
Due: teleclaude-docs-check

docs(review): add review findings for fix-sticky-removal-layout-issues
  todos/fix-sticky-removal-layout-issues/review-findings.md
  todos/fix-sticky-removal-layout-issues/state.yaml
Due: teleclaude-docs-check

chore(integration): fix build checklist completion state
  todos/integration-events-model/implementation-plan.md
  todos/integration-events-model/quality-checklist.md
Due: teleclaude-docs-check

chore(deployment-migrations): record build gate verification
  todos/deployment-migrations/quality-checklist.md
Due: teleclaude-docs-check

fix(tts): prevent echo and TTY corruption from async CLI audio playback
  teleclaude/tts/backends/mlx_tts.py
  teleclaude/tts/backends/openai_tts.py
  todos/fix-tty-corruption-errors/bug.md
  todos/roadmap.yaml
Due: teleclaude-docs-check

docs(governance): enforce config-surface gate in definition of done
  docs/global/software-development/policy/definition-of-done.md
  todos/config-wizard-governance/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(governance): require config enumeration at ready gate
  docs/global/software-development/policy/definition-of-ready.md
  todos/config-wizard-governance/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(governance): require adapter config-surface registrations
  docs/project/procedure/add-adapter.md
  todos/config-wizard-governance/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(governance): add config spec maintenance sync rule
  docs/project/spec/teleclaude-config.md
  todos/config-wizard-governance/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(governance): record validation and demo artifacts
  demos/config-wizard-governance/demo.md
  docs/global/index.yaml
  docs/project/index.yaml
  docs/third-party/index.yaml
  todos/config-wizard-governance/implementation-plan.md
  todos/config-wizard-governance/quality-checklist.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(api): fix UDS missing identity headers preventing frontend session loading
  teleclaude/api/auth.py
  teleclaude/api_server.py
Due: none

chore(api-todos-work-stability-hardening): sync orchestrator state for finalize
  todos/api-todos-work-stability-hardening/implementation-plan.md
  todos/api-todos-work-stability-hardening/quality-checklist.md
  todos/api-todos-work-stability-hardening/review-findings.md
  todos/api-todos-work-stability-hardening/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

fix(startup): enforce ordering between bootstrap auto-command and first message
  teleclaude/core/command_handlers.py
  teleclaude/daemon.py
  todos/help-desk-startup-command-ordering/state.yaml
Due: none

test(startup): add regression coverage for startup ordering invariant
  tests/unit/test_command_handlers.py
  tests/unit/test_daemon.py
  tests/unit/test_discord_adapter.py
Due: none

chore(delivery): deliver api-todos-work-stability-hardening
  docs/global/index.yaml
  thoughts/global-governance.md
  todos/adapter-output-qos-scheduler/deferrals.md
  todos/adapter-output-qos-scheduler/state.yaml
  todos/api-todos-work-stability-hardening/demo.md
  todos/api-todos-work-stability-hardening/dor-report.md
  todos/api-todos-work-stability-hardening/implementation-plan.md
  todos/api-todos-work-stability-hardening/input.md
  todos/api-todos-work-stability-hardening/quality-checklist.md
  todos/api-todos-work-stability-hardening/requirements.md
  todos/api-todos-work-stability-hardening/review-findings.md
  todos/api-todos-work-stability-hardening/state.yaml
  todos/config-wizard-governance/state.yaml
  todos/config-wizard-redesign/demo.md
  todos/config-wizard-redesign/dor-report.md
  todos/config-wizard-redesign/implementation-plan.md
  todos/config-wizard-redesign/requirements.md
  todos/delivered.yaml
  todos/deployment-migrations/review-findings.md
  todos/deployment-migrations/state.yaml
  todos/fix-cleanup-routine/bug.md
  todos/fix-cleanup-routine/review-findings.md
  todos/fix-cleanup-routine/state.yaml
  todos/fix-tty-corruption-errors/state.yaml
  todos/roadmap.yaml
  todos/skills-procedure-taxonomy-alignment/demo.md
  todos/skills-procedure-taxonomy-alignment/dor-report.md
  todos/skills-procedure-taxonomy-alignment/implementation-plan.md
  todos/skills-procedure-taxonomy-alignment/input.md
  todos/skills-procedure-taxonomy-alignment/requirements.md
  todos/skills-procedure-taxonomy-alignment/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(startup): mark implementation plan complete and deliver demo
  demos/help-desk-startup-command-ordering/demo.md
  todos/help-desk-startup-command-ordering/implementation-plan.md
  todos/help-desk-startup-command-ordering/quality-checklist.md
Due: teleclaude-docs-check

review(fix-tty-corruption-errors): REQUEST CHANGES — unguarded CLI params re-enable echo bug
  todos/fix-tty-corruption-errors/bug.md
  todos/fix-tty-corruption-errors/review-findings.md
Due: teleclaude-docs-check

review(startup): approve startup ordering implementation
  todos/help-desk-startup-command-ordering/quality-checklist.md
  todos/help-desk-startup-command-ordering/review-findings.md
  todos/help-desk-startup-command-ordering/state.yaml
Due: teleclaude-docs-check

fix(tts): guard protected CLI params in _speak_cli to prevent echo re-entry
  teleclaude/tts/backends/mlx_tts.py
Due: none

test(tts): add unit tests for protected param filtering in _speak_cli and _speak_local
  tests/unit/test_mlx_tts_backend.py
Due: none
