Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

fix(integrator-wiring): resolve test failures from sync removal and POST_COMPLETION change
  agents/commands/next-integrate.md
  teleclaude/core/integration_bridge.py
  teleclaude/core/next_machine/core.py
  teleclaude_events/cartridges/integration_trigger.py
  tests/integration/test_integrator_wiring.py
  tests/unit/test_integration_events_model.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(integrator-wiring): copy demo artifact and check build gates
  demos/integrator-wiring/demo.md
  todos/integrator-wiring/quality-checklist.md
Due: teleclaude-docs-check

chore(integrator-wiring): mark build phase complete
  todos/integrator-wiring/state.yaml
Due: none

chore(integrator-wiring): add review findings — APPROVE
  todos/integrator-wiring/quality-checklist.md
  todos/integrator-wiring/review-findings.md
Due: teleclaude-docs-check

chore: TUI celestial sprite rework, Discord adapter additions, state sync
  state.yaml
  teleclaude/adapters/discord_adapter.py
  teleclaude/cli/tui/animation_engine.py
  teleclaude/cli/tui/animations/base.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/animations/sprites/__init__.py
  teleclaude/cli/tui/animations/sprites/birds.py
  teleclaude/cli/tui/animations/sprites/clouds.py
  teleclaude/cli/tui/animations/sprites/composite.py
  teleclaude/cli/tui/animations/sprites/ufo.py
  teleclaude/cli/tui/widgets/banner.py
  teleclaude/cli/tui/widgets/box_tab_bar.py
Due: none

chore: commit orchestrator-managed drift for merge
  .teleclaude/worktree-prep-state.json
  todos/roadmap.yaml
Due: none

fix(integrator-wiring): restore lint enforcement and fix post-merge regressions
  pyproject.toml
  teleclaude/adapters/discord_adapter.py
  teleclaude/cli/telec.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/widgets/banner.py
  teleclaude/content_scaffold.py
  teleclaude/core/adapter_client.py
  teleclaude/core/next_machine/core.py
  tools/lint.sh
Due: check-cli-help

fix(tests): update mock patch targets to teleclaude.cli.telec after top-level import
  tests/unit/test_content_scaffold.py
Due: none

chore: sync clouds sprite changes
  teleclaude/cli/tui/animations/sprites/clouds.py
Due: none

chore: sync integrator-wiring state for finalize
  todos/integrator-wiring/state.yaml
Due: none

chore: commit state before main merge
  todos/integrator-wiring/state.yaml
Due: none

chore: fix review_round counter for finalize
  todos/integrator-wiring/state.yaml
Due: none

chore: commit state before merge
  todos/integrator-wiring/state.yaml
Due: none

chore: deliver integrator-wiring — roadmap bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore: promote integrator-wiring demo snapshot
  demos/integrator-wiring/demo.md
  demos/integrator-wiring/snapshot.json
Due: teleclaude-docs-check

chore: cleanup integrator-wiring — remove todo, worktree, branch
  todos/integrator-wiring/demo.md
  todos/integrator-wiring/dor-report.md
  todos/integrator-wiring/implementation-plan.md
  todos/integrator-wiring/input.md
  todos/integrator-wiring/quality-checklist.md
  todos/integrator-wiring/requirements.md
  todos/integrator-wiring/review-findings.md
  todos/integrator-wiring/state.yaml
Due: teleclaude-docs-check

chore: scaffold integrator-state-machine todo
  todos/integrator-state-machine/demo.md
  todos/integrator-state-machine/implementation-plan.md
  todos/integrator-state-machine/input.md
  todos/integrator-state-machine/quality-checklist.md
  todos/integrator-state-machine/requirements.md
  todos/integrator-state-machine/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore: add CLI entry point section to integrator-state-machine input
  todos/integrator-state-machine/input.md
Due: teleclaude-docs-check

chore: add integrator lifecycle events to state machine input
  todos/integrator-state-machine/input.md
Due: teleclaude-docs-check

feat: add fixed-speed and group-direction support to TUI sky sprites
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/animations/sprites/composite.py
  teleclaude/cli/tui/app.py
Due: none

chore: save integrator-state-machine requirements draft
  todos/integrator-state-machine/requirements.md
Due: teleclaude-docs-check

chore: save integrator-state-machine implementation plan draft
  todos/integrator-state-machine/implementation-plan.md
Due: teleclaude-docs-check

chore: save integrator-state-machine todo artifacts in progress
  todos/integrator-state-machine/demo.md
  todos/integrator-state-machine/dor-report.md
Due: teleclaude-docs-check

chore: draft preparation artifacts for integrator-state-machine
  todos/integrator-state-machine/state.yaml
Due: none

chore: sync canonical state for default-agent-resolution — build complete, review approved
  todos/default-agent-resolution/state.yaml
Due: none

chore: DOR gate pass for integrator-state-machine (score 8/10)
  todos/integrator-state-machine/dor-report.md
  todos/integrator-state-machine/state.yaml
Due: teleclaude-docs-check

feat: TUI animation refinements — sprite speed and rendering updates
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/animations/sprites/composite.py
Due: none

chore(default-agent-resolution): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore: cleanup default-agent-resolution
  todos/default-agent-resolution/deferrals.md
  todos/default-agent-resolution/demo.md
  todos/default-agent-resolution/dor-report.md
  todos/default-agent-resolution/implementation-plan.md
  todos/default-agent-resolution/input.md
  todos/default-agent-resolution/quality-checklist.md
  todos/default-agent-resolution/requirements.md
  todos/default-agent-resolution/review-findings.md
  todos/default-agent-resolution/state.yaml
Due: teleclaude-docs-check

feat(transcript-parser-fallback-policy): draft preparation artifacts
  todos/roadmap.yaml
  todos/transcript-parser-fallback-policy/demo.md
  todos/transcript-parser-fallback-policy/dor-report.md
  todos/transcript-parser-fallback-policy/implementation-plan.md
  todos/transcript-parser-fallback-policy/requirements.md
  todos/transcript-parser-fallback-policy/state.yaml
Due: teleclaude-docs-check

chore(telegram-callback-payload-migration): draft preparation artifacts
  todos/telegram-callback-payload-migration/demo.md
  todos/telegram-callback-payload-migration/dor-report.md
  todos/telegram-callback-payload-migration/implementation-plan.md
  todos/telegram-callback-payload-migration/requirements.md
  todos/telegram-callback-payload-migration/state.yaml
Due: teleclaude-docs-check

gate(transcript-parser-fallback-policy): DOR pass — score 9
  todos/transcript-parser-fallback-policy/dor-report.md
  todos/transcript-parser-fallback-policy/requirements.md
  todos/transcript-parser-fallback-policy/state.yaml
Due: teleclaude-docs-check

feat(telegram-callback-payload-migration): DOR gate pass (9/10)
  todos/telegram-callback-payload-migration/dor-report.md
  todos/telegram-callback-payload-migration/state.yaml
Due: teleclaude-docs-check

feat(person-proficiency-level): add Calibration principle and update todo artifacts
  docs/global/baseline.md
  docs/global/general/principle/calibration.md
  docs/global/index.yaml
  todos/person-proficiency-level/implementation-plan.md
  todos/person-proficiency-level/requirements.md
  todos/person-proficiency-level/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(validation): promote snippet_see_also_bad_prefix from warning to hard error
  teleclaude/resource_validation.py
  teleclaude/sync.py
Due: none

fix(validation): treat all snippet warnings as hard errors when not in warn-only mode
  teleclaude/sync.py
Due: none

fix(validation): exclude HTML comment lines from inline-ref detection
  teleclaude/resource_validation.py
Due: none

fix(docs): resolve all schema violations in global doc snippets
  docs/global/general/concept/agent-invocation-modes.md
  docs/global/general/concept/memory-tiers.md
  docs/global/general/concept/skill-taxonomy.md
  docs/global/general/policy/agent-dispatch.md
  docs/global/general/policy/orchestrator-jurisdiction.md
  docs/global/general/procedure/agent-job-hygiene.md
  docs/global/general/procedure/gathering.md
  docs/global/general/procedure/memory-management.md
  docs/global/general/procedure/peer-discussion.md
  docs/global/general/spec/agent-characteristics.md
  docs/global/general/spec/tools/telec-cli.md
  docs/global/software-development/procedure/bugs-handling.md
  docs/global/software-development/procedure/lifecycle/demo.md
  docs/global/software-development/procedure/lifecycle/finalize.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(docs): resolve all schema violations in project architecture doc snippets
  docs/project/design/architecture/api-server.md
  docs/project/design/architecture/cache.md
  docs/project/design/architecture/checkpoint-system.md
  docs/project/design/architecture/context-selection.md
  docs/project/design/architecture/database.md
  docs/project/design/architecture/deployment-pipeline.md
  docs/project/design/architecture/feature-flags.md
  docs/project/design/architecture/help-desk-platform.md
  docs/project/design/architecture/hook-service.md
  docs/project/design/architecture/jobs-runner.md
  docs/project/design/architecture/layer-ownership.md
  docs/project/design/architecture/memory-system.md
  docs/project/design/architecture/outbox.md
  docs/project/design/architecture/output-polling.md
  docs/project/design/architecture/redis-transport.md
  docs/project/design/architecture/telegram-adapter.md
  docs/project/design/architecture/tui-state-layout.md
  docs/project/design/architecture/web-api-facade.md
  docs/project/design/architecture/web-interface.md
Due: teleclaude-docs-check, teleclaude-docs-validate

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
