Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (bin/format.sh)
    entry: ./bin/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs (sync_resources strict)
    entry: bash -c
    args:
    - 'uv run --quiet scripts/sync_resources.py --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)

docs: remove tmux mismatch as troubleshooting runbook case
  docs/project/procedure/troubleshooting.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(hooks): allow same-agent native rollover while blocking cross-agent tmux misroute
  teleclaude/hooks/receiver.py
  tests/unit/test_hook_receiver.py
Due: none

fix(hooks): add venv bootstrap to receiver and mcp-wrapper entry points
  .github/workflows/release.yaml
  bin/mcp-wrapper.py
  docs/prompts/release-arbiter.md
  scripts/release_consolidator.py
  teleclaude/hooks/receiver.py
  tests/integration/test_session_lifecycle.py
  tests/unit/test_release_consolidator.py
  todos/release-pipeline-simulation/dor-report.md
  todos/release-pipeline-simulation/implementation-plan.md
  todos/release-pipeline-simulation/requirements.md
  todos/session-messages-api/dor-report.md
  todos/session-messages-api/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(telegram): implement runtime methods for orphan topic cleanup
  teleclaude/adapters/telegram_adapter.py
Due: none

feat(release): add release pipeline simulation workflow and fixtures
  .github/workflows/test-release-pipeline.yaml
  teleclaude/sync.py
  tests/fixtures/release-simulation/expected.json
  tests/fixtures/release-simulation/scenarios/override/claude.json
  tests/fixtures/release-simulation/scenarios/override/codex.json
  tests/fixtures/release-simulation/scenarios/override/gemini.json
  tests/fixtures/release-simulation/scenarios/split/claude.json
  tests/fixtures/release-simulation/scenarios/split/codex.json
  tests/fixtures/release-simulation/scenarios/split/gemini.json
  tests/fixtures/release-simulation/scenarios/unanimous/claude.json
  tests/fixtures/release-simulation/scenarios/unanimous/codex.json
  tests/fixtures/release-simulation/scenarios/unanimous/gemini.json
  todos/release-pipeline-simulation/implementation-plan.md
  todos/release-pipeline-simulation/state.json
Due: teleclaude-docs-check

chore(release): finalize release-pipeline-simulation delivery
  todos/delivered.md
  todos/release-pipeline-simulation/review-findings.md
  todos/release-pipeline-simulation/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

feat: TUI color refactor, lifecycle simplification, protocol research docs
  docs/global/index.yaml
  docs/global/software-development/procedure/lifecycle-overview.md
  docs/global/software-development/procedure/lifecycle/documentation/overview.md
  docs/project/design/architecture/next-machine.md
  docs/third-party/a2a-protocol/agent-card.md
  docs/third-party/a2a-protocol/api-methods.md
  docs/third-party/a2a-protocol/mcp-integration.md
  docs/third-party/a2a-protocol/overview.md
  docs/third-party/a2a-protocol/python-sdk.md
  docs/third-party/a2a-protocol/task-lifecycle.md
  docs/third-party/a2ui/overview.md
  docs/third-party/ag-ui/overview.md
  docs/third-party/codex-cli/permissions.md
  docs/third-party/index.md
  docs/third-party/index.yaml
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/tui/animation_colors.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/agent_status.py
  teleclaude/mcp/handlers.py
  teleclaude/mcp/tool_definitions.py
  teleclaude/resource_validation.py
  tests/snapshots/tui/sessions_basic.txt
  tests/unit/test_pane_manager.py
  tests/unit/test_resource_validation.py
  tests/unit/test_tui_sessions_view.py
  todos/a2ui-showcase-component/input.md
  todos/agent-file-locking-heartbeat/dor-report.md
  todos/agent-file-locking-heartbeat/implementation-plan.md
  todos/agent-file-locking-heartbeat/input.md
  todos/agent-file-locking-heartbeat/requirements.md
  todos/agent-file-locking-heartbeat/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

Unify TUI tree interaction model and surface todo inputs
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/views/interaction.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/core/command_handlers.py
  teleclaude/mcp/handlers.py
  tests/unit/test_tui_sessions_view.py
  todos/config-visual-polish/input.md
  todos/roadmap.md
  todos/tui-animation-art/input.md
Due: teleclaude-docs-check

Unify preparation interactions and drop prep doc sticky panes
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/controller.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/state_store.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
Due: none

refactor: unify output summary vocabulary across all layers
  docs/project/design/architecture/checkpoint-system.md
  teleclaude/adapters/ui_adapter.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/feedback.py
  teleclaude/core/migrations/001_fix_sessions_tmux_nullable.py
  teleclaude/core/migrations/011_rename_feedback_to_output_summary.py
  teleclaude/core/migrations/constants.py
  teleclaude/core/models.py
  teleclaude/core/schema.sql
  tests/unit/test_agent_activity_broadcast.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_ansi_stripping.py
  tests/unit/test_command_handlers.py
  tests/unit/test_lifecycle.py
  tests/unit/test_tui_sessions_view.py
  tests/unit/test_tui_state_store.py
  todos/bidirectional-agent-links/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(ci): skip setup_config in CI mode, clean up workflow
  .github/workflows/lint-test.yaml
  bin/init.sh
  docs/project/design/architecture/help-desk-platform.md
  docs/project/index.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(design): consolidate help desk platform requirements from brainstorming
  docs/project/design/architecture/help-desk-platform.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(ci): set config env vars at job level for bootstrap and lint
  .github/workflows/lint-test.yaml
Due: none

fix(ci): set INSTRUKT_AI_LOG_ROOT for writable log dir in CI
  .github/workflows/lint-test.yaml
  docs/plans/2026-02-15-help-desk-platform.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(design): consolidate help desk platform requirements from brainstorming
  docs/project/design/architecture/help-desk-platform.md
  docs/project/index.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(tests): align test fixtures with clerical checks and listener registration
  tests/unit/test_mcp_server.py
  tests/unit/test_next_machine_hitl.py
Due: none

feat(roadmap): add tui-config-experience, absorb config-visual-polish
  todos/config-visual-polish/input.md
  todos/roadmap.md
  todos/tui-config-experience/input.md
Due: teleclaude-docs-check

feat(roadmap): absorb tui-animation-art into tui-config-experience
  todos/roadmap.md
  todos/tui-animation-art/input.md
  todos/tui-config-experience/input.md
Due: teleclaude-docs-check

feat(plans): update help desk plan with escalation tool, relay, and agent behavior tasks
  docs/plans/2026-02-15-help-desk-platform.md
Due: teleclaude-docs-check, teleclaude-docs-validate

Respect startup-only sessions state and toggle non-sticky previews
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_sessions_view.py
Due: none

feat(todos): create help-desk-platform todo with requirements, plan, and DOR 8
  todos/help-desk-platform/implementation-plan.md
  todos/help-desk-platform/quality-checklist.md
  todos/help-desk-platform/requirements.md
  todos/help-desk-platform/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

feat(docs): add audience field to doc snippet frontmatter for role-filtered context
  teleclaude/constants.py
  teleclaude/context_selector.py
  teleclaude/docs_index.py
  teleclaude/resource_validation.py
Due: teleclaude-docs-validate

feat(memory): add identity_key scoping to memory observations
  teleclaude/core/db_models.py
  teleclaude/core/migrations/012_add_memory_identity_key.py
  teleclaude/memory/api_routes.py
  teleclaude/memory/context/builder.py
  teleclaude/memory/search.py
  teleclaude/memory/store.py
  teleclaude/memory/types.py
Due: none

feat(context): filter doc snippets by audience based on caller's human_role
  teleclaude/context_selector.py
  teleclaude/mcp/handlers.py
Due: none

feat(sessions): add bookkeeping and relay state columns
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/012_add_help_desk_session_fields.py
  teleclaude/core/models.py
  teleclaude/core/schema.sql
Due: none

feat(templates): add help desk project skeleton with escalation docs
  templates/help-desk/.gitignore
  templates/help-desk/AGENTS.master.md
  templates/help-desk/README.md
  templates/help-desk/docs/global/organization/baseline.md
  templates/help-desk/docs/global/organization/spec/about.md
  templates/help-desk/docs/project/baseline.md
  templates/help-desk/docs/project/design/help-desk-overview.md
  templates/help-desk/docs/project/policy/escalation.md
  templates/help-desk/docs/project/procedure/escalation.md
  templates/help-desk/docs/project/spec/tools/escalation.md
  templates/help-desk/teleclaude.yml
Due: teleclaude-docs-check

feat(init): add idempotent help desk workspace bootstrap
  teleclaude/project_setup/help_desk_bootstrap.py
  teleclaude/project_setup/init_flow.py
Due: none

feat(commands): add global /author-knowledge command for brain-dump documentation
  agents/commands/author-knowledge.md
Due: teleclaude-docs-check

feat(templates): expand operator brain with full help desk persona, escalation awareness, and routines
  templates/help-desk/AGENTS.master.md
Due: teleclaude-docs-check

feat(mcp): add CUSTOMER_EXCLUDED_TOOLS tier and gate escalation tool to customer sessions
  teleclaude/constants.py
  teleclaude/mcp/role_tools.py
Due: teleclaude-docs-validate

feat(config): add escalation_channel_id to Discord config
  teleclaude/config/__init__.py
Due: none

feat(sessions): add bookkeeping and relay state columns
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/013_add_session_relay_columns.py
  teleclaude/core/models.py
  teleclaude/core/schema.sql
Due: none

feat(channels): add Redis Stream internal channels with publish/consume
  teleclaude/api_server.py
  teleclaude/channels/__init__.py
  teleclaude/channels/api_routes.py
  teleclaude/channels/consumer.py
  teleclaude/channels/publisher.py
  teleclaude/channels/types.py
  teleclaude/daemon.py
  teleclaude/mcp/handlers.py
  teleclaude/mcp/tool_definitions.py
  teleclaude/mcp_server.py
Due: none

feat(telegram): persist user_id in adapter metadata for identity derivation
  teleclaude/adapters/telegram/callback_handlers.py
  teleclaude/core/command_handlers.py
  teleclaude/core/models.py
Due: none

feat(identity): add identity_key derivation from adapter metadata
  teleclaude/core/identity.py
Due: none

feat(identity): add Discord person config lookup via discord_user_id
  teleclaude/config/schema.py
  teleclaude/core/identity.py
Due: none

feat(hooks): inject identity-scoped memories on SessionStart
  jobs/help_desk_session_review.py
  teleclaude/hooks/receiver.py
Due: none
