Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (bin/format.sh)
    entry: ./bin/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs (sync_resources strict)
    entry: bash -c
    args:
    - 'uv run --quiet scripts/sync_resources.py --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)

fix(discord): use config.computer.help_desk_dir instead of hardcoded path (R3)
  teleclaude/adapters/discord_adapter.py
  todos/help-desk-discord/implementation-plan.md
Due: teleclaude-docs-check

fix(discord): include bot-forwarded customer messages in relay context (R5)
  teleclaude/adapters/discord_adapter.py
  tests/unit/test_discord_adapter.py
  todos/help-desk-discord/implementation-plan.md
Due: teleclaude-docs-check

fix(escalation): clarify notification mechanism in escalation response (R4)
  teleclaude/mcp/handlers.py
  tests/unit/test_discord_adapter.py
  todos/help-desk-discord/implementation-plan.md
Due: teleclaude-docs-check

feat(channels): wire notification dispatch through NotificationRouter (R8)
  teleclaude/channels/worker.py
  tests/unit/test_help_desk_features.py
  todos/help-desk-discord/implementation-plan.md
Due: teleclaude-docs-check

feat(jobs): inject /compact into tmux after memory extraction (R7)
  jobs/session_memory_extraction.py
  todos/help-desk-discord/implementation-plan.md
Due: teleclaude-docs-check

feat(help-desk): add template jobs, identity key TODO, and memory index (R9, R10, R11)
  teleclaude/core/identity.py
  teleclaude/core/migrations/014_add_memory_obs_identity_index.py
  teleclaude/core/schema.sql
  templates/help-desk/teleclaude.yml
  todos/help-desk-discord/implementation-plan.md
Due: teleclaude-docs-check

chore(help-desk-discord): complete build gates in quality checklist
  todos/help-desk-discord/quality-checklist.md
Due: teleclaude-docs-check

docs(help-desk-discord): review round 1 — APPROVE
  todos/help-desk-discord/quality-checklist.md
  todos/help-desk-discord/review-findings.md
  todos/help-desk-discord/state.json
Due: teleclaude-docs-check

chore(todos): finalize help-desk-discord delivery
  todos/delivered.md
  todos/help-desk-discord/quality-checklist.md
  todos/roadmap.md
Due: teleclaude-docs-check

chore: remove help-desk-discord worktree, branch, and todo folder
  color-variations.html
  todos/.finalize-lock
  todos/dependencies.json
  todos/help-desk-control-room/dor-report.md
  todos/help-desk-control-room/implementation-plan.md
  todos/help-desk-control-room/requirements.md
  todos/help-desk-control-room/state.json
  todos/help-desk-discord/implementation-plan.md
  todos/help-desk-discord/quality-checklist.md
  todos/help-desk-discord/review-findings.md
  todos/help-desk-discord/state.json
Due: teleclaude-docs-check

fix(tui): use terminal bg color for highlight text, agent color for highlight bg
  teleclaude/cli/tui/theme.py
Due: none

Revert "fix(tui): use terminal bg color for highlight text, agent color for highlight bg"
  teleclaude/cli/tui/theme.py
Due: none

feat(tui): inverted badge rows + NO_COLOR control; docs(todo): prep help-desk-control-room artifacts
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/theme.py
  teleclaude/core/tmux_bridge.py
  tests/unit/test_tui_theme.py
  todos/dependencies.json
  todos/help-desk-control-room/dor-report.md
  todos/help-desk-control-room/implementation-plan.md
  todos/help-desk-control-room/requirements.md
  todos/help-desk-control-room/state.json
Due: teleclaude-docs-check

fix(adapter): route output updates to origin adapter instead of broadcasting
  teleclaude/core/adapter_client.py
  todos/output-origin-routing/dor-report.md
  todos/output-origin-routing/implementation-plan.md
  todos/output-origin-routing/input.md
  todos/output-origin-routing/quality-checklist.md
  todos/output-origin-routing/requirements.md
  todos/output-origin-routing/state.json
Due: teleclaude-docs-check

docs(review): approve output-origin-routing — no findings
  todos/output-origin-routing/quality-checklist.md
  todos/output-origin-routing/review-findings.md
  todos/output-origin-routing/state.json
Due: teleclaude-docs-check

docs(output-origin-routing): finalize delivery logging
  todos/delivered.md
  todos/output-origin-routing/quality-checklist.md
Due: teleclaude-docs-check

docs(output-origin-routing): update delivery log hash
  todos/delivered.md
Due: teleclaude-docs-check

chore: remove output-origin-routing worktree, branch, and todo folder
  todos/discord-media-handling/input.md
  todos/discord-media-handling/state.json
  todos/output-origin-routing/dor-report.md
  todos/output-origin-routing/implementation-plan.md
  todos/output-origin-routing/input.md
  todos/output-origin-routing/quality-checklist.md
  todos/output-origin-routing/requirements.md
  todos/output-origin-routing/review-findings.md
  todos/output-origin-routing/state.json
Due: teleclaude-docs-check

fix(ci): migrate release pipeline to self-hosted macOS runner with OAuth
  .github/workflows/release.yaml
Due: none

fix(ci): move all workflows to self-hosted macOS runner
  .github/workflows/lint-test.yaml
Due: none

fix(ci): correct runner labels to match MozMini defaults
  .github/workflows/lint-test.yaml
  .github/workflows/release.yaml
Due: none

fix(ci): revert to macOS label — runner has custom labels, not defaults
  .github/workflows/lint-test.yaml
  .github/workflows/release.yaml
Due: none

feat(models): promote char_offset to session-level column
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/015_add_session_char_offset.py
  teleclaude/core/models.py
  todos/help-desk-control-room/implementation-plan.md
Due: teleclaude-docs-check

refactor(ui-adapter): use session-level char_offset in send_threaded_output
  teleclaude/adapters/ui_adapter.py
  todos/help-desk-control-room/implementation-plan.md
Due: teleclaude-docs-check

refactor(coordinator): use session-level char_offset reset
  teleclaude/core/agent_coordinator.py
  todos/help-desk-control-room/implementation-plan.md
Due: teleclaude-docs-check

feat(feature-flags): remove Gemini hardcheck, add session-aware threaded output gate
  teleclaude/adapters/ui_adapter.py
  teleclaude/core/adapter_client.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/feature_flags.py
  todos/help-desk-control-room/implementation-plan.md
Due: teleclaude-docs-check

feat(discord): threaded output metadata, delete-on-close, ensure_channel
  teleclaude/adapters/discord_adapter.py
  todos/help-desk-control-room/implementation-plan.md
Due: teleclaude-docs-check

feat(adapter-client): broadcast threaded output to observer adapters
  teleclaude/core/adapter_client.py
  todos/help-desk-control-room/implementation-plan.md
Due: teleclaude-docs-check

test(threaded-output): add unit tests for Discord and cross-platform threaded output
  tests/unit/test_discord_adapter.py
  tests/unit/test_feature_flags.py
  todos/help-desk-control-room/implementation-plan.md
  todos/help-desk-control-room/quality-checklist.md
Due: teleclaude-docs-check

fix(tests): update existing tests for session-level char_offset and broadened feature flag
  tests/unit/test_adapter_client.py
  tests/unit/test_threaded_output_updates.py
  tests/unit/test_ui_adapter.py
Due: none

fix(ci): use system Python/uv and add runner infrastructure docs
  .github/workflows/lint-test.yaml
  .github/workflows/release.yaml
  docs/project/index.yaml
  docs/project/procedure/host-health-checks.md
  docs/project/procedure/runner-operations.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(review): approve help-desk-control-room with suggestions
  todos/help-desk-control-room/quality-checklist.md
  todos/help-desk-control-room/review-findings.md
  todos/help-desk-control-room/state.json
Due: teleclaude-docs-check

chore(todos): update help-desk-control-room state tracking
  todos/help-desk-control-room/implementation-plan.md
  todos/help-desk-control-room/state.json
Due: teleclaude-docs-check

chore(finalize): log delivery for help-desk-control-room
  todos/delivered.md
  todos/help-desk-control-room/quality-checklist.md
  todos/roadmap.md
Due: teleclaude-docs-check

chore: remove help-desk-control-room worktree, branch, and todo folder
  bin/install.sh
  docs/project/index.yaml
  docs/project/procedure/troubleshooting.md
  todos/.finalize-lock
  todos/help-desk-control-room/dor-report.md
  todos/help-desk-control-room/implementation-plan.md
  todos/help-desk-control-room/quality-checklist.md
  todos/help-desk-control-room/requirements.md
  todos/help-desk-control-room/review-findings.md
  todos/help-desk-control-room/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(db): add transcript file chain storage for multi-file sessions
  teleclaude/core/db_models.py
  teleclaude/core/migrations/016_add_transcript_files.py
  teleclaude/core/schema.sql
  teleclaude/hooks/receiver.py
Due: none

fix(ci): reuse main checkout .venv on self-hosted runner
  bin/install.sh
Due: none

feat(transcript): add structured message extraction and multi-file stitching
  teleclaude/utils/transcript.py
Due: none

fix(ci): repoint editable install via pth rewrite instead of uv pip
  bin/install.sh
Due: none
