Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

chore(ucap-tui-adapter-alignment): complete build phase
  demos/ucap-tui-adapter-alignment/demo.md
  todos/ucap-tui-adapter-alignment/implementation-plan.md
  todos/ucap-tui-adapter-alignment/quality-checklist.md
Due: teleclaude-docs-check

review(ucap-tui-adapter-alignment): REQUEST CHANGES — 2 important findings
  todos/ucap-tui-adapter-alignment/implementation-plan.md
  todos/ucap-tui-adapter-alignment/quality-checklist.md
  todos/ucap-tui-adapter-alignment/review-findings.md
  todos/ucap-tui-adapter-alignment/state.yaml
Due: teleclaude-docs-check

fix(tui-adapter): address review findings — R4 structured log fields and handler dispatch tests
  teleclaude/cli/tui/app.py
  tests/unit/test_threaded_output_updates.py
  todos/ucap-tui-adapter-alignment/state.yaml
Due: none

docs(ucap-tui-adapter-alignment): record fix-review fixes in review-findings.md
  todos/ucap-tui-adapter-alignment/review-findings.md
Due: teleclaude-docs-check

review(ucap-tui-adapter-alignment): APPROVE — round 2, all findings resolved
  todos/ucap-tui-adapter-alignment/quality-checklist.md
  todos/ucap-tui-adapter-alignment/review-findings.md
  todos/ucap-tui-adapter-alignment/state.yaml
Due: teleclaude-docs-check

chore(ucap-tui-adapter-alignment): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(ucap-tui-adapter-alignment): add demo snapshot
  demos/ucap-tui-adapter-alignment/snapshot.json
Due: none

chore: cleanup ucap-tui-adapter-alignment
  todos/ucap-tui-adapter-alignment/demo.md
  todos/ucap-tui-adapter-alignment/dor-report.md
  todos/ucap-tui-adapter-alignment/implementation-plan.md
  todos/ucap-tui-adapter-alignment/input.md
  todos/ucap-tui-adapter-alignment/quality-checklist.md
  todos/ucap-tui-adapter-alignment/requirements.md
  todos/ucap-tui-adapter-alignment/review-findings.md
  todos/ucap-tui-adapter-alignment/state.yaml
Due: teleclaude-docs-check

docs(ucap-ingress-provisioning-harmonization): record Phase 0 audit findings
  todos/ucap-ingress-provisioning-harmonization/implementation-plan.md
  todos/ucap-ingress-provisioning-harmonization/state.yaml
Due: teleclaude-docs-check

test(ucap-ingress-provisioning-harmonization): add coverage for ingress/provisioning invariants
  tests/integration/test_multi_adapter_broadcasting.py
  tests/unit/test_adapter_client.py
  tests/unit/test_command_handlers.py
  tests/unit/test_command_mapper.py
  todos/ucap-ingress-provisioning-harmonization/implementation-plan.md
Due: teleclaude-docs-check

chore(ucap-ingress-provisioning-harmonization): complete build gates and deliver demo artifact
  demos/ucap-ingress-provisioning-harmonization/demo.md
  todos/ucap-ingress-provisioning-harmonization/implementation-plan.md
  todos/ucap-ingress-provisioning-harmonization/quality-checklist.md
Due: teleclaude-docs-check

review(ucap-ingress-provisioning-harmonization): REQUEST CHANGES — R5 observability gap and test hygiene
  todos/ucap-ingress-provisioning-harmonization/quality-checklist.md
  todos/ucap-ingress-provisioning-harmonization/review-findings.md
  todos/ucap-ingress-provisioning-harmonization/state.yaml
Due: teleclaude-docs-check

test(ucap-ingress): add R5 observability coverage and fix tmp_path isolation
  tests/integration/test_multi_adapter_broadcasting.py
  tests/unit/test_adapter_client_handlers.py
  todos/ucap-ingress-provisioning-harmonization/implementation-plan.md
  todos/ucap-ingress-provisioning-harmonization/quality-checklist.md
  todos/ucap-ingress-provisioning-harmonization/state.yaml
Due: teleclaude-docs-check

test(ucap-ingress): address test hygiene suggestions from code review
  tests/integration/test_multi_adapter_broadcasting.py
  tests/unit/test_command_handlers.py
  tests/unit/test_command_mapper.py
Due: none

docs(ucap-ingress): record fixes applied in review-findings.md
  todos/ucap-ingress-provisioning-harmonization/review-findings.md
Due: teleclaude-docs-check

review(ucap-ingress-provisioning-harmonization): REQUEST CHANGES — documentation state regression
  todos/ucap-ingress-provisioning-harmonization/quality-checklist.md
  todos/ucap-ingress-provisioning-harmonization/review-findings.md
  todos/ucap-ingress-provisioning-harmonization/state.yaml
Due: teleclaude-docs-check

docs(ucap-ingress): restore implementation-plan and quality-checklist to build-complete state
  todos/ucap-ingress-provisioning-harmonization/implementation-plan.md
  todos/ucap-ingress-provisioning-harmonization/quality-checklist.md
  todos/ucap-ingress-provisioning-harmonization/review-findings.md
  todos/ucap-ingress-provisioning-harmonization/state.yaml
Due: teleclaude-docs-check

docs(ucap-ingress): record fix commit hash in review-findings
  todos/ucap-ingress-provisioning-harmonization/review-findings.md
Due: teleclaude-docs-check

docs(ucap-ingress): record orchestrator review-round-limit closure rationale
  todos/ucap-ingress-provisioning-harmonization/review-findings.md
Due: teleclaude-docs-check

chore(ucap-ingress-provisioning-harmonization): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(ucap-ingress-provisioning-harmonization): add demo snapshot
  demos/ucap-ingress-provisioning-harmonization/snapshot.json
Due: none

chore: cleanup ucap-ingress-provisioning-harmonization
  todos/ucap-ingress-provisioning-harmonization/demo.md
  todos/ucap-ingress-provisioning-harmonization/dor-report.md
  todos/ucap-ingress-provisioning-harmonization/implementation-plan.md
  todos/ucap-ingress-provisioning-harmonization/input.md
  todos/ucap-ingress-provisioning-harmonization/quality-checklist.md
  todos/ucap-ingress-provisioning-harmonization/requirements.md
  todos/ucap-ingress-provisioning-harmonization/review-findings.md
  todos/ucap-ingress-provisioning-harmonization/state.yaml
Due: teleclaude-docs-check

feat(ucap-cutover-parity-validation): complete Phase 1 - shadow mode and parity criteria
  todos/ucap-cutover-parity-validation/implementation-plan.md
  todos/ucap-cutover-parity-validation/state.yaml
Due: teleclaude-docs-check

feat(ucap-cutover-parity-validation): complete Phase 2 - cutover and bypass retirement
  todos/ucap-cutover-parity-validation/implementation-plan.md
Due: teleclaude-docs-check

feat(ucap-cutover-parity-validation): complete Phase 3 - cross-client validation and quality checklist
  todos/ucap-cutover-parity-validation/implementation-plan.md
  todos/ucap-cutover-parity-validation/quality-checklist.md
Due: teleclaude-docs-check

feat(ucap-cutover-parity-validation): create ucap-slo-hardening follow-up todo
  todos/roadmap.yaml
  todos/ucap-cutover-parity-validation/implementation-plan.md
  todos/ucap-slo-hardening/demo.md
  todos/ucap-slo-hardening/implementation-plan.md
  todos/ucap-slo-hardening/input.md
  todos/ucap-slo-hardening/quality-checklist.md
  todos/ucap-slo-hardening/requirements.md
  todos/ucap-slo-hardening/state.yaml
Due: teleclaude-docs-check

chore(ucap-cutover-parity-validation): add demo artifact
  demos/ucap-cutover-parity-validation/demo.md
Due: teleclaude-docs-check

review(ucap-cutover-parity-validation): approve with clerical findings
  todos/roadmap.yaml
  todos/ucap-cutover-parity-validation/quality-checklist.md
  todos/ucap-cutover-parity-validation/review-findings.md
  todos/ucap-cutover-parity-validation/state.yaml
Due: teleclaude-docs-check

chore(ucap-cutover-parity-validation): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(ucap-cutover-parity-validation): add demo snapshot
  demos/ucap-cutover-parity-validation/snapshot.json
Due: none

chore: cleanup ucap-cutover-parity-validation
  todos/ucap-cutover-parity-validation/demo.md
  todos/ucap-cutover-parity-validation/dor-report.md
  todos/ucap-cutover-parity-validation/implementation-plan.md
  todos/ucap-cutover-parity-validation/input.md
  todos/ucap-cutover-parity-validation/quality-checklist.md
  todos/ucap-cutover-parity-validation/requirements.md
  todos/ucap-cutover-parity-validation/review-findings.md
  todos/ucap-cutover-parity-validation/state.yaml
Due: teleclaude-docs-check

feat(api): add dual-factor auth middleware and sync CLI tool client
  teleclaude/api/auth.py
  teleclaude/cli/tool_client.py
  todos/mcp-migration-telec-commands/implementation-plan.md
  todos/mcp-migration-telec-commands/requirements.md
  todos/mcp-migration-telec-commands/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

feat(api): add new REST endpoints for telec CLI tool subcommands
  teleclaude/api/auth.py
  teleclaude/api/todo_routes.py
  teleclaude/api_models.py
  teleclaude/api_server.py
Due: none

feat(cli): add 22 telec subcommands with role enforcement wiring
  demos/mcp-migration-telec-commands/demo.md
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
  tests/unit/test_telec_cli.py
  todos/mcp-migration-telec-commands/demo.md
  todos/mcp-migration-telec-commands/implementation-plan.md
Due: teleclaude-docs-check, check-cli-help

chore(mcp-migration-telec-commands): phase 5 spec doc, checksums, build gates
  docs/global/general/spec/tools/telec-cli.md
  todos/mcp-migration-telec-commands/implementation-plan.md
  todos/mcp-migration-telec-commands/quality-checklist.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(tests): resolve 3 gate failures from worktree-introduced regressions
  docs/project/spec/telec-cli-surface.md
  teleclaude/cli/config_cli.py
  teleclaude/invite.py
  tests/unit/test_install_hooks.py
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

fix(tests): restore timeout(20) on test_extract_modules_regression
  tests/unit/test_diagram_extractors.py
Due: none

fix(tests): fix 4 pre-existing integration test failures
  tests/integration/test_e2e_smoke.py
  tests/integration/test_multi_adapter_broadcasting.py
  tests/integration/test_state_machine_workflow.py
Due: none

fix(runtime-settings): handle missing event loop in _schedule_flush
  teleclaude/config/runtime_settings.py
Due: none

fix(api): enforce clearance on legacy and channel routes
  teleclaude/api/auth.py
  teleclaude/api_server.py
  teleclaude/channels/api_routes.py
  tests/unit/test_api_server.py
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
