Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

fix(unified-client-adapter-pipeline): restore coherent child readiness snapshot
  todos/unified-client-adapter-pipeline/dor-report.md
Due: teleclaude-docs-check

docs(unified-client-adapter-pipeline): record applied review fixes
  todos/unified-client-adapter-pipeline/review-findings.md
Due: teleclaude-docs-check

fix(unified-client-adapter-pipeline): align plan completion evidence
  todos/unified-client-adapter-pipeline/dor-report.md
  todos/unified-client-adapter-pipeline/implementation-plan.md
  todos/unified-client-adapter-pipeline/review-findings.md
  todos/unified-client-adapter-pipeline/state.yaml
Due: teleclaude-docs-check

fix(unified-client-adapter-pipeline): complete build gate checklist evidence
  todos/unified-client-adapter-pipeline/quality-checklist.md
Due: teleclaude-docs-check

fix(unified-client-adapter-pipeline): align parent DOR assessment timestamp
  todos/unified-client-adapter-pipeline/dor-report.md
Due: teleclaude-docs-check

docs(unified-client-adapter-pipeline): record applied review fixes
  todos/unified-client-adapter-pipeline/review-findings.md
  todos/unified-client-adapter-pipeline/state.yaml
Due: teleclaude-docs-check

docs(unified-client-adapter-pipeline): approve round 2 review
  todos/unified-client-adapter-pipeline/quality-checklist.md
  todos/unified-client-adapter-pipeline/review-findings.md
  todos/unified-client-adapter-pipeline/state.yaml
Due: teleclaude-docs-check

chore(unified-client-adapter-pipeline): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(unified-client-adapter-pipeline): add demo snapshot
  demos/unified-client-adapter-pipeline/snapshot.json
Due: none

chore: cleanup unified-client-adapter-pipeline
  todos/unified-client-adapter-pipeline/demo.md
  todos/unified-client-adapter-pipeline/dor-report.md
  todos/unified-client-adapter-pipeline/implementation-plan.md
  todos/unified-client-adapter-pipeline/input.md
  todos/unified-client-adapter-pipeline/quality-checklist.md
  todos/unified-client-adapter-pipeline/requirements.md
  todos/unified-client-adapter-pipeline/review-findings.md
  todos/unified-client-adapter-pipeline/state.yaml
Due: teleclaude-docs-check

feat(ucap-canonical-contract): phase 1 – define canonical outbound activity contract
  docs/project/design/architecture/agent-activity-streaming-target.md
  docs/project/spec/event-vocabulary.md
  docs/project/spec/session-output-routing.md
  todos/ucap-canonical-contract/implementation-plan.md
  todos/ucap-canonical-contract/quality-checklist.md
  todos/ucap-canonical-contract/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(ucap-canonical-contract): phase 2 – shared serializer/validation utilities
  teleclaude/api_models.py
  teleclaude/core/activity_contract.py
  teleclaude/core/events.py
  todos/ucap-canonical-contract/implementation-plan.md
Due: teleclaude-docs-check

feat(ucap-canonical-contract): phases 3+4 – producer adoption and compatibility bridge
  teleclaude/api_server.py
  teleclaude/core/agent_coordinator.py
  todos/ucap-canonical-contract/implementation-plan.md
Due: teleclaude-docs-check

test(ucap-canonical-contract): add contract tests and complete phase 5
  demos/ucap-canonical-contract/demo.md
  tests/unit/test_activity_contract.py
  tests/unit/test_agent_activity_broadcast.py
  tests/unit/test_agent_activity_events.py
  todos/ucap-canonical-contract/implementation-plan.md
  todos/ucap-canonical-contract/quality-checklist.md
Due: teleclaude-docs-check

review(ucap-canonical-contract): approve canonical outbound activity contract
  todos/ucap-canonical-contract/implementation-plan.md
  todos/ucap-canonical-contract/quality-checklist.md
  todos/ucap-canonical-contract/review-findings.md
  todos/ucap-canonical-contract/state.yaml
Due: teleclaude-docs-check

chore(ucap-canonical-contract): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(ucap-canonical-contract): add demo snapshot
  demos/ucap-canonical-contract/snapshot.json
Due: none

chore: cleanup ucap-canonical-contract
  todos/ucap-canonical-contract/demo.md
  todos/ucap-canonical-contract/dor-report.md
  todos/ucap-canonical-contract/implementation-plan.md
  todos/ucap-canonical-contract/input.md
  todos/ucap-canonical-contract/quality-checklist.md
  todos/ucap-canonical-contract/requirements.md
  todos/ucap-canonical-contract/review-findings.md
  todos/ucap-canonical-contract/state.yaml
Due: teleclaude-docs-check

feat(ucap-truthful-session-status): establish canonical lifecycle status contract
  demos/ucap-truthful-session-status/demo.md
  migrate_state_files.py
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/models.py
  teleclaude/cli/tui/app.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/events.py
  teleclaude/core/models.py
  teleclaude/core/status_contract.py
  tests/unit/cli/tui/test_create_todo_modal.py
  tests/unit/core/test_roadmap.py
  tests/unit/test_adapter_client.py
  tests/unit/test_agent_activity_events.py
  tests/unit/test_agent_config_loading.py
  tests/unit/test_config_handlers.py
  tests/unit/test_daemon.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_status_contract.py
  todos/ucap-truthful-session-status/implementation-plan.md
  todos/ucap-truthful-session-status/quality-checklist.md
  todos/ucap-truthful-session-status/state.yaml
Due: teleclaude-docs-check

review(ucap-truthful-session-status): REQUEST CHANGES — stall task leaks, deserialization gap
  todos/ucap-truthful-session-status/quality-checklist.md
  todos/ucap-truthful-session-status/review-findings.md
  todos/ucap-truthful-session-status/state.yaml
Due: teleclaude-docs-check

fix(models): deserialize status_message_id in DiscordAdapterMetadata.from_json()
  teleclaude/core/models.py
  todos/ucap-truthful-session-status/implementation-plan.md
  todos/ucap-truthful-session-status/state.yaml
Due: teleclaude-docs-check

fix(daemon): cancel stall task on session close
  teleclaude/daemon.py
Due: none

fix(daemon): cancel stall task and emit error status on AGENT_ERROR
  teleclaude/daemon.py
Due: none

fix(api_server): route closed status through serialize_status_event() for contract validation
  teleclaude/api_server.py
Due: none

fix(agent_coordinator): catch and log uncaught exceptions in stall watcher
  teleclaude/core/agent_coordinator.py
Due: none

test(agent_coordinator): cover status emission and stall detection behavior (I3)
  tests/unit/test_agent_coordinator.py
Due: none

test(adapters): cover _handle_session_status for Discord and Telegram (I2)
  tests/unit/test_discord_adapter.py
  tests/unit/test_telegram_adapter.py
Due: none

docs(review-findings): record all fixes applied for re-review
  todos/ucap-truthful-session-status/review-findings.md
Due: teleclaude-docs-check

review(ucap-truthful-session-status): APPROVE — all round 1 findings resolved
  todos/ucap-truthful-session-status/quality-checklist.md
  todos/ucap-truthful-session-status/review-findings.md
  todos/ucap-truthful-session-status/state.yaml
Due: teleclaude-docs-check

review(ucap-truthful-session-status): APPROVE — independent round 3 re-verification
  todos/ucap-truthful-session-status/quality-checklist.md
  todos/ucap-truthful-session-status/review-findings.md
  todos/ucap-truthful-session-status/state.yaml
Due: teleclaude-docs-check

chore(ucap-truthful-session-status): update state.yaml review tracking
  todos/ucap-truthful-session-status/state.yaml
Due: none

chore(ucap-truthful-session-status): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(ucap-truthful-session-status): add demo snapshot
  demos/ucap-truthful-session-status/snapshot.json
Due: none

chore: cleanup ucap-truthful-session-status
  todos/ucap-truthful-session-status/demo.md
  todos/ucap-truthful-session-status/dor-report.md
  todos/ucap-truthful-session-status/implementation-plan.md
  todos/ucap-truthful-session-status/input.md
  todos/ucap-truthful-session-status/quality-checklist.md
  todos/ucap-truthful-session-status/requirements.md
  todos/ucap-truthful-session-status/review-findings.md
  todos/ucap-truthful-session-status/state.yaml
Due: teleclaude-docs-check

feat(web-adapter): align Web SSE lane to canonical lifecycle_status contract
  demos/ucap-web-adapter-alignment/demo.md
  teleclaude/api/streaming.py
  tests/unit/test_api_server.py
  todos/ucap-web-adapter-alignment/implementation-plan.md
  todos/ucap-web-adapter-alignment/quality-checklist.md
  todos/ucap-web-adapter-alignment/state.yaml
Due: teleclaude-docs-check

chore(ucap-web-adapter-alignment): review approved — 0 critical, 2 suggestions
  todos/ucap-web-adapter-alignment/implementation-plan.md
  todos/ucap-web-adapter-alignment/quality-checklist.md
  todos/ucap-web-adapter-alignment/review-findings.md
  todos/ucap-web-adapter-alignment/state.yaml
Due: teleclaude-docs-check

chore(ucap-web-adapter-alignment): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(ucap-web-adapter-alignment): add demo snapshot
  demos/ucap-web-adapter-alignment/snapshot.json
Due: none

chore: cleanup ucap-web-adapter-alignment
  todos/ucap-web-adapter-alignment/demo.md
  todos/ucap-web-adapter-alignment/dor-report.md
  todos/ucap-web-adapter-alignment/implementation-plan.md
  todos/ucap-web-adapter-alignment/input.md
  todos/ucap-web-adapter-alignment/quality-checklist.md
  todos/ucap-web-adapter-alignment/requirements.md
  todos/ucap-web-adapter-alignment/review-findings.md
  todos/ucap-web-adapter-alignment/state.yaml
Due: teleclaude-docs-check

feat(tui-adapter): route TUI output updates through canonical contract
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/messages.py
  tests/unit/test_threaded_output_updates.py
  todos/ucap-tui-adapter-alignment/implementation-plan.md
  todos/ucap-tui-adapter-alignment/state.yaml
Due: teleclaude-docs-check

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
