Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

fix(discord): remove stale docstring reference to removed feature flag
  teleclaude/adapters/discord_adapter.py
Due: none

chore: update review state and roadmap after review round 2
  todos/discord-session-routing/state.yaml
  todos/roadmap.yaml
Due: none

chore: cleanup discord-session-routing, preserve demo
  demos/discord-session-routing/demo.md
  demos/frontend-theming-tui-parity/demo.md
  demos/frontend-theming-tui-parity/snapshot.json
  todos/discord-session-routing/dor-report.md
  todos/discord-session-routing/implementation-plan.md
  todos/discord-session-routing/input.md
  todos/discord-session-routing/quality-checklist.md
  todos/discord-session-routing/requirements.md
  todos/discord-session-routing/review-findings.md
  todos/discord-session-routing/state.yaml
  todos/mcp-migration-telec-commands/state.yaml
Due: teleclaude-docs-check

feat(adapters): add typing indicator support to UI adapters
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/adapters/ui_adapter.py
  tests/unit/test_ui_adapter.py
  todos/ui-adapter-pre-respond-trigger/demo.md
  todos/ui-adapter-pre-respond-trigger/implementation-plan.md
  todos/ui-adapter-pre-respond-trigger/quality-checklist.md
Due: teleclaude-docs-check

chore(todos): mark build gates complete for ui-adapter-pre-respond-trigger
  todos/ui-adapter-pre-respond-trigger/quality-checklist.md
Due: teleclaude-docs-check

chore(review): approve ui-adapter-pre-respond-trigger
  todos/ui-adapter-pre-respond-trigger/quality-checklist.md
  todos/ui-adapter-pre-respond-trigger/review-findings.md
  todos/ui-adapter-pre-respond-trigger/state.yaml
Due: teleclaude-docs-check

chore(todos): sync orchestrator-managed state and deployment updates
  todos/consolidate-methodology-skills/state.yaml
  todos/deployment-auto-update/demo.md
  todos/deployment-auto-update/dor-report.md
  todos/deployment-auto-update/implementation-plan.md
  todos/deployment-auto-update/requirements.md
  todos/deployment-auto-update/state.yaml
  todos/deployment-channels/demo.md
  todos/deployment-channels/dor-report.md
  todos/deployment-channels/implementation-plan.md
  todos/deployment-channels/requirements.md
  todos/deployment-channels/state.yaml
  todos/deployment-cleanup/demo.md
  todos/deployment-cleanup/dor-report.md
  todos/deployment-cleanup/implementation-plan.md
  todos/deployment-cleanup/requirements.md
  todos/deployment-cleanup/state.yaml
  todos/deployment-migrations/demo.md
  todos/deployment-migrations/dor-report.md
  todos/deployment-migrations/implementation-plan.md
  todos/deployment-migrations/requirements.md
  todos/deployment-migrations/state.yaml
  todos/deployment-versioning/demo.md
  todos/deployment-versioning/dor-report.md
  todos/deployment-versioning/implementation-plan.md
  todos/deployment-versioning/requirements.md
  todos/deployment-versioning/state.yaml
  todos/roadmap.yaml
  todos/ui-adapter-pre-respond-trigger/state.yaml
Due: teleclaude-docs-check

chore(delivery): log ui-adapter-pre-respond-trigger and update roadmap
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore: cleanup ui-adapter-pre-respond-trigger
  todos/lifecycle-enforcement-gates/demo.md
  todos/lifecycle-enforcement-gates/implementation-plan.md
  todos/lifecycle-enforcement-gates/input.md
  todos/lifecycle-enforcement-gates/quality-checklist.md
  todos/lifecycle-enforcement-gates/requirements.md
  todos/lifecycle-enforcement-gates/state.yaml
  todos/roadmap.yaml
  todos/ui-adapter-pre-respond-trigger/demo.md
  todos/ui-adapter-pre-respond-trigger/dor-report.md
  todos/ui-adapter-pre-respond-trigger/implementation-plan.md
  todos/ui-adapter-pre-respond-trigger/input.md
  todos/ui-adapter-pre-respond-trigger/quality-checklist.md
  todos/ui-adapter-pre-respond-trigger/requirements.md
  todos/ui-adapter-pre-respond-trigger/review-findings.md
  todos/ui-adapter-pre-respond-trigger/state.yaml
Due: teleclaude-docs-check

fix(frontend): rename useAgentTheming to .tsx and restore demo artifacts
  frontend/hooks/useAgentTheming.tsx
Due: none

feat(cli): add --closed flag to telec list
  teleclaude/api_server.py
  teleclaude/cli/api_client.py
  teleclaude/cli/telec.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
Due: check-cli-help, check-raw-sql

feat(cli): add relative timestamps to telec list output
  teleclaude/cli/telec.py
  teleclaude/mcp/types.py
Due: check-cli-help

feat(cli): add closed_at timestamp to telec list --closed output
  teleclaude/api_models.py
  teleclaude/cli/telec.py
  teleclaude/core/command_handlers.py
  teleclaude/core/models.py
  teleclaude/mcp/types.py
Due: check-cli-help

fix(discord): routing, titling, and trusted_dirs auto-injection
  teleclaude/adapters/discord_adapter.py
  teleclaude/config/__init__.py
  tests/unit/test_config.py
  tests/unit/test_telegram_adapter.py
  tests/unit/test_telegram_menus.py
Due: none

fix(tui): use prefix matching for session-to-project grouping
  teleclaude/cli/tui/tree.py
Due: none

fix(tui): re-fetch projectsWithTodos on WebSocket todo events
  frontend/cli/app.tsx
  frontend/lib/__tests__/reducer.test.ts
  frontend/lib/store/index.ts
  frontend/lib/store/reducer.ts
  frontend/lib/store/types.ts
  todos/fix-todos-watcher-not-notifying-websocket/implementation-plan.md
  todos/fix-todos-watcher-not-notifying-websocket/quality-checklist.md
  todos/fix-todos-watcher-not-notifying-websocket/requirements.md
Due: teleclaude-docs-check

chore(todos): update build gates for fix-todos-watcher-not-notifying-websocket
  todos/fix-todos-watcher-not-notifying-websocket/quality-checklist.md
Due: teleclaude-docs-check

chore(todos): approve review for fix-todos-watcher-not-notifying-websocket
  todos/fix-todos-watcher-not-notifying-websocket/quality-checklist.md
  todos/fix-todos-watcher-not-notifying-websocket/review-findings.md
  todos/fix-todos-watcher-not-notifying-websocket/state.yaml
Due: teleclaude-docs-check

chore(todos): document fix in bug.md for fix-todos-watcher-not-notifying-websocket
  todos/fix-todos-watcher-not-notifying-websocket/bug.md
Due: teleclaude-docs-check

chore(todos): correct TUI terminology in bug.md and finalize quality checklist
  todos/fix-todos-watcher-not-notifying-websocket/bug.md
  todos/fix-todos-watcher-not-notifying-websocket/quality-checklist.md
Due: teleclaude-docs-check

chore: cleanup fix-todos-watcher-not-notifying-websocket
  todos/fix-todos-watcher-not-notifying-websocket/bug.md
  todos/fix-todos-watcher-not-notifying-websocket/implementation-plan.md
  todos/fix-todos-watcher-not-notifying-websocket/quality-checklist.md
  todos/fix-todos-watcher-not-notifying-websocket/requirements.md
  todos/fix-todos-watcher-not-notifying-websocket/review-findings.md
  todos/fix-todos-watcher-not-notifying-websocket/state.yaml
Due: teleclaude-docs-check

Revert "chore: cleanup fix-todos-watcher-not-notifying-websocket"
  todos/fix-todos-watcher-not-notifying-websocket/bug.md
  todos/fix-todos-watcher-not-notifying-websocket/implementation-plan.md
  todos/fix-todos-watcher-not-notifying-websocket/quality-checklist.md
  todos/fix-todos-watcher-not-notifying-websocket/requirements.md
  todos/fix-todos-watcher-not-notifying-websocket/review-findings.md
  todos/fix-todos-watcher-not-notifying-websocket/state.yaml
Due: teleclaude-docs-check

fix(discord): move catch-all forum to Projects category as "Unknown"
  demos/discord-session-routing/demo.md
  docs/global/general/policy/heartbeat.md
  docs/global/general/procedure/agent-direct-conversation.md
  docs/global/software-development/procedure/orchestration.md
  docs/project/spec/session-output-routing.md
  teleclaude/adapters/discord_adapter.py
  todos/fix-todos-watcher-not-notifying-websocket/state.yaml
  todos/lifecycle-enforcement-gates/dor-report.md
  todos/lifecycle-enforcement-gates/implementation-plan.md
  todos/lifecycle-enforcement-gates/requirements.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(tui): rebuild PreparationView on any todo property change, not just slug set
  teleclaude/cli/tui/views/preparation.py
  todos/fix-todos-watcher-not-notifying-websocket/bug.md
  todos/fix-todos-watcher-not-notifying-websocket/state.yaml
Due: teleclaude-docs-check

docs(review): approve fix-todos-watcher-not-notifying-websocket
  todos/fix-todos-watcher-not-notifying-websocket/quality-checklist.md
  todos/fix-todos-watcher-not-notifying-websocket/review-findings.md
  todos/fix-todos-watcher-not-notifying-websocket/state.yaml
Due: teleclaude-docs-check

chore: cleanup fix-todos-watcher-not-notifying-websocket
  Makefile
  pyproject.toml
  teleclaude/cli/tui/widgets/footer.py
  teleclaude/project_setup/hooks.py
  todos/deployment-auto-update/state.yaml
  todos/deployment-channels/demo.md
  todos/deployment-channels/dor-report.md
  todos/deployment-channels/implementation-plan.md
  todos/deployment-channels/input.md
  todos/deployment-channels/requirements.md
  todos/deployment-channels/state.yaml
  todos/deployment-cleanup/dor-report.md
  todos/deployment-cleanup/input.md
  todos/deployment-cleanup/requirements.md
  todos/deployment-cleanup/state.yaml
  todos/deployment-migrations/demo.md
  todos/deployment-migrations/dor-report.md
  todos/deployment-migrations/implementation-plan.md
  todos/deployment-migrations/input.md
  todos/deployment-migrations/requirements.md
  todos/deployment-migrations/state.yaml
  todos/fix-todos-watcher-not-notifying-websocket/bug.md
  todos/fix-todos-watcher-not-notifying-websocket/implementation-plan.md
  todos/fix-todos-watcher-not-notifying-websocket/quality-checklist.md
  todos/fix-todos-watcher-not-notifying-websocket/requirements.md
  todos/fix-todos-watcher-not-notifying-websocket/review-findings.md
  todos/fix-todos-watcher-not-notifying-websocket/state.yaml
  todos/mature-deployment/state.yaml
  todos/roadmap.yaml
  tools/test.sh
Due: teleclaude-docs-check

feat(tui): add degraded_until to agent availability data model
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  todos/roadmap.yaml
  todos/tui-footer-clickable-agents/dor-report.md
  todos/tui-footer-clickable-agents/implementation-plan.md
  todos/tui-footer-clickable-agents/input.md
  todos/tui-footer-clickable-agents/quality-checklist.md
  todos/tui-footer-clickable-agents/requirements.md
  todos/tui-footer-clickable-agents/state.yaml
Due: teleclaude-docs-check, check-raw-sql

feat(tui): add POST /agents/{agent}/status endpoint and client method
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/api_client.py
  todos/tui-footer-clickable-agents/implementation-plan.md
Due: teleclaude-docs-check

feat(tui): add clickable agent pills in StatusBar
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/widgets/status_bar.py
  todos/tui-footer-clickable-agents/implementation-plan.md
Due: teleclaude-docs-check

feat(tui): add degraded_until database migration and tests
  teleclaude/core/db.py
  teleclaude/core/migrations/020_add_degraded_until.py
  teleclaude/core/schema.sql
  tests/unit/test_db.py
  todos/tui-footer-clickable-agents/implementation-plan.md
Due: teleclaude-docs-check, check-raw-sql

chore(tui): update quality checklist for tui-footer-clickable-agents
  todos/tui-footer-clickable-agents/quality-checklist.md
Due: teleclaude-docs-check

fix(tests): update test to include degraded_until in expected output
  tests/unit/test_db.py
  todos/tui-footer-clickable-agents/quality-checklist.md
Due: teleclaude-docs-check

review(tui): REQUEST CHANGES for tui-footer-clickable-agents (round 1)
  todos/tui-footer-clickable-agents/implementation-plan.md
  todos/tui-footer-clickable-agents/quality-checklist.md
  todos/tui-footer-clickable-agents/review-findings.md
  todos/tui-footer-clickable-agents/state.yaml
Due: teleclaude-docs-check

fix(db): clear degraded_until when marking agent unavailable
  teleclaude/core/db.py
  todos/tui-footer-clickable-agents/quality-checklist.md
  todos/tui-footer-clickable-agents/state.yaml
Due: teleclaude-docs-check, check-raw-sql

fix(db): add inline expiry check for degraded_until
  teleclaude/core/db.py
Due: check-raw-sql

refactor(api): extract dict-to-DTO conversion helper
  teleclaude/api_server.py
Due: none

test(api,tui): add agent status endpoint and cycle logic tests
  tests/unit/test_api_server.py
  tests/unit/test_tui_agent_status_cycle.py
Due: none

docs(review): document fixes applied to tui-footer-clickable-agents
  todos/tui-footer-clickable-agents/review-findings.md
Due: teleclaude-docs-check

docs(review): round 2 re-review for tui-footer-clickable-agents
  todos/roadmap.yaml
  todos/tui-footer-clickable-agents/quality-checklist.md
  todos/tui-footer-clickable-agents/review-findings.md
  todos/tui-footer-clickable-agents/state.yaml
Due: teleclaude-docs-check

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
