Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

chore(state-yaml-migration): mark build phase complete
  todos/state-yaml-migration/implementation-plan.md
  todos/state-yaml-migration/quality-checklist.md
Due: teleclaude-docs-check

review(state-yaml-migration): approve migration with cosmetic finding
  todos/state-yaml-migration/quality-checklist.md
  todos/state-yaml-migration/review-findings.md
  todos/state-yaml-migration/state.yaml
Due: teleclaude-docs-check

chore: scaffold bug-delivery-service todo and add to roadmap
  todos/bug-delivery-service/implementation-plan.md
  todos/bug-delivery-service/input.md
  todos/bug-delivery-service/quality-checklist.md
  todos/bug-delivery-service/requirements.md
  todos/bug-delivery-service/state.json
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore: break hook oscillation to enable state-yaml-migration merge
  teleclaude/adapters/discord_adapter.py
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/widgets/footer.py
  teleclaude/core/next_machine/core.py
  todos/bugs-round-1/input.md
  todos/discord-session-routing/implementation-plan.md
  todos/discord-session-routing/input.md
  todos/discord-session-routing/quality-checklist.md
  todos/discord-session-routing/requirements.md
  todos/discord-session-routing/state.json
  todos/fix-demo-runner/implementation-plan.md
  todos/fix-demo-runner/input.md
  todos/fix-demo-runner/quality-checklist.md
  todos/fix-demo-runner/requirements.md
  todos/fix-demo-runner/state.json
  todos/icebox.yaml
  todos/mcp-migration-context-integration/implementation-plan.md
  todos/mcp-migration-context-integration/requirements.md
  todos/mcp-migration-delete-mcp/requirements.md
  todos/mcp-migration-doc-updates/quality-checklist.md
  todos/mcp-migration-doc-updates/requirements.md
  todos/mcp-migration-tc-cli/dor-report.md
  todos/mcp-migration-tc-cli/implementation-plan.md
  todos/mcp-migration-tc-cli/requirements.md
  todos/mcp-migration-tc-cli/state.json
  todos/mcp-migration-telec-commands/implementation-plan.md
  todos/mcp-migration-telec-commands/requirements.md
  todos/mcp-migration-tool-spec-docs/dor-report.md
  todos/mcp-migration-tool-spec-docs/quality-checklist.md
  todos/mcp-migration-tool-spec-docs/requirements.md
  todos/mcp-migration-tool-spec-docs/state.json
  todos/mcp-to-tool-specs/implementation-plan.md
  todos/mcp-to-tool-specs/requirements.md
  todos/mcp-to-tool-specs/state.json
  todos/roadmap.yaml
  todos/state-yaml-migration/state.json
Due: teleclaude-docs-check

docs(delivery): log state-yaml-migration delivery and update roadmap
  todos/state-yaml-migration/quality-checklist.md
Due: teleclaude-docs-check

chore: cleanup state-yaml-migration
  todos/delivered.yaml
  todos/roadmap.yaml
  todos/state-yaml-migration/dor-report.md
  todos/state-yaml-migration/implementation-plan.md
  todos/state-yaml-migration/input.md
  todos/state-yaml-migration/quality-checklist.md
  todos/state-yaml-migration/requirements.md
  todos/state-yaml-migration/review-findings.md
  todos/state-yaml-migration/state.yaml
Due: teleclaude-docs-check

chore: roadmap parity test, agent artifact refinements, todo updates
  agents/commands/next-prepare.md
  agents/skills/research/SKILL.md
  agents/skills/tech-stack-docs/SKILL.md
  tests/unit/core/test_roadmap_api_parity.py
  todos/a2ui-showcase-component/state.yaml
  todos/fix-demo-runner/dor-report.md
  todos/fix-demo-runner/implementation-plan.md
  todos/fix-demo-runner/requirements.md
  todos/fix-demo-runner/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(bugs): add bug.md template
  templates/todos/bug.md
  todos/bug-delivery-service/implementation-plan.md
Due: teleclaude-docs-check

feat(bugs): add create_bug_skeleton scaffold function
  teleclaude/todo_scaffold.py
  tests/unit/test_bug_scaffold.py
  todos/bug-delivery-service/implementation-plan.md
Due: teleclaude-docs-check

feat(bugs): add telec bugs report and list CLI commands
  teleclaude/cli/telec.py
  todos/bug-delivery-service/implementation-plan.md
Due: teleclaude-docs-check, check-cli-help

feat(bugs): detect bug.md in next-work, dispatch fix worker
  teleclaude/core/next_machine/core.py
  tests/unit/test_bug_state_machine.py
  todos/bug-delivery-service/implementation-plan.md
Due: teleclaude-docs-check

feat(bugs): add next-bugs-fix worker command
  agents/commands/next-bugs-fix.md
  todos/bug-delivery-service/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(bugs): teach reviewer to use bug.md as requirement source
  agents/commands/next-review.md
  todos/bug-delivery-service/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(bugs): skip delivery log for bug fixes in finalize
  agents/commands/next-finalize.md
  teleclaude/core/next_machine/core.py
  todos/bug-delivery-service/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(bugs): dispatch orchestrator from telec bugs report
  teleclaude/cli/telec.py
  todos/bug-delivery-service/implementation-plan.md
Due: teleclaude-docs-check, check-cli-help

fix(tests): make bug dispatch explicit for diagram extractor
  teleclaude/core/next_machine/core.py
Due: none

chore(bugs): complete build verification and quality gates
  todos/bug-delivery-service/implementation-plan.md
  todos/bug-delivery-service/quality-checklist.md
Due: teleclaude-docs-check

chore: commit generated artifacts from telec sync
  docs/global/index.yaml
  docs/project/index.yaml
  docs/third-party/index.yaml
  todos/bug-delivery-service/state.yaml
Due: teleclaude-docs-validate

review(bugs): REQUEST CHANGES — status mapping bug in telec bugs list
  todos/bug-delivery-service/quality-checklist.md
  todos/bug-delivery-service/review-findings.md
  todos/bug-delivery-service/state.yaml
Due: teleclaude-docs-check

fix(bugs): correct status derivation in telec bugs list
  teleclaude/cli/telec.py
Due: check-cli-help

review(bugs): REQUEST CHANGES (Round 2) — R1-F1 incomplete
  todos/bug-delivery-service/quality-checklist.md
  todos/bug-delivery-service/review-findings.md
  todos/bug-delivery-service/state.yaml
Due: teleclaude-docs-check

fix(cli): handle review changes_requested in bug status derivation
  teleclaude/cli/telec.py
  todos/bug-delivery-service/state.yaml
Due: check-cli-help

docs(review): document R1-F1 complete fix for changes_requested status
  todos/bug-delivery-service/review-findings.md
Due: teleclaude-docs-check

review(bugs): APPROVE — all critical issues resolved
  todos/bug-delivery-service/quality-checklist.md
  todos/bug-delivery-service/state.yaml
Due: teleclaude-docs-check

finalize: bug-delivery-service — finalize gates complete
  todos/bug-delivery-service/quality-checklist.md
  todos/bug-delivery-service/state.yaml
Due: teleclaude-docs-check

chore: sync state from ongoing work — unblock bug-delivery-service merge
  docs/project/design/architecture/layer-ownership.md
  docs/project/index.yaml
  todos/bug-delivery-service/state.yaml
  todos/bugs-round-1/state.yaml
  todos/fix-demo-runner/dor-report.md
  todos/fix-demo-runner/implementation-plan.md
  todos/fix-demo-runner/input.md
  todos/fix-demo-runner/requirements.md
  todos/fix-demo-runner/state.yaml
  todos/mcp-migration-tc-cli/state.yaml
  todos/mcp-migration-telec-commands/implementation-plan.md
  todos/mcp-migration-telec-commands/requirements.md
  todos/mcp-migration-tool-spec-docs/state.yaml
  todos/mcp-to-tool-specs/requirements.md
  todos/mcp-to-tool-specs/state.yaml
  todos/new-bug-key-in-todos-pane/dor-report.md
  todos/new-bug-key-in-todos-pane/implementation-plan.md
  todos/new-bug-key-in-todos-pane/requirements.md
  todos/new-bug-key-in-todos-pane/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore: log bug-delivery-service delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore: cleanup bug-delivery-service worktree and todo
  todos/bug-delivery-service/dor-report.md
  todos/bug-delivery-service/implementation-plan.md
  todos/bug-delivery-service/input.md
  todos/bug-delivery-service/quality-checklist.md
  todos/bug-delivery-service/requirements.md
  todos/bug-delivery-service/review-findings.md
  todos/bug-delivery-service/state.yaml
Due: teleclaude-docs-check

test: add test specifications for dependency tree builder and file viewer
  tests/unit/test_prep_file_viewer.py
  tests/unit/test_prep_tree_builder.py
  todos/new-bug-key-in-todos-pane/implementation-plan.md
Due: teleclaude-docs-check

fix(tui): make slug text respect row selection/preview state
  teleclaude/cli/tui/widgets/session_row.py
  todos/bugs-round-1/implementation-plan.md
Due: teleclaude-docs-check

chore(bugs-round-1): verify tier shifting preservation
  todos/bugs-round-1/implementation-plan.md
Due: teleclaude-docs-check

feat: build dependency tree from after graph instead of list order
  teleclaude/cli/tui/prep_tree.py
  teleclaude/cli/tui/views/preparation.py
  todos/new-bug-key-in-todos-pane/implementation-plan.md
Due: teleclaude-docs-check

fix(tui): force tmux refresh after appearance toggle
  teleclaude/cli/tui/pane_manager.py
  todos/bugs-round-1/implementation-plan.md
Due: teleclaude-docs-check

refactor: generalize file viewer to use absolute paths
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/widgets/todo_file_row.py
  tests/unit/test_prep_file_viewer.py
  todos/new-bug-key-in-todos-pane/implementation-plan.md
Due: teleclaude-docs-check

feat: add roadmap.yaml as first tree entry in preparation view
  teleclaude/cli/tui/views/preparation.py
  todos/new-bug-key-in-todos-pane/implementation-plan.md
Due: teleclaude-docs-check

chore(bugs-round-1): complete build phase validation
  todos/bugs-round-1/implementation-plan.md
  todos/bugs-round-1/quality-checklist.md
Due: teleclaude-docs-check

feat: add telec bugs create CLI subcommand
  teleclaude/cli/telec.py
  todos/new-bug-key-in-todos-pane/implementation-plan.md
Due: teleclaude-docs-check, check-cli-help

feat: add b keybinding and bug modal to TUI
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/widgets/modals.py
  todos/new-bug-key-in-todos-pane/implementation-plan.md
Due: teleclaude-docs-check

chore(bugs-round-1): review approved — no blocking issues
  todos/bugs-round-1/quality-checklist.md
  todos/bugs-round-1/review-findings.md
  todos/bugs-round-1/state.yaml
Due: teleclaude-docs-check

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
