Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

review(inbound-queue): REQUEST CHANGES — 2 Important findings (I5, I6)
  todos/guaranteed-inbound-delivery/quality-checklist.md
  todos/guaranteed-inbound-delivery/review-findings.md
  todos/guaranteed-inbound-delivery/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(guaranteed-inbound-delivery): update state and review findings after round 3
  todos/guaranteed-inbound-delivery/quality-checklist.md
  todos/guaranteed-inbound-delivery/review-findings.md
  todos/guaranteed-inbound-delivery/state.yaml
Due: teleclaude-docs-check

chore(todo): pragmatic closure for guaranteed-inbound-delivery review
  config.sample.yml
  todos/guaranteed-inbound-delivery/review-findings.md
  todos/guaranteed-inbound-delivery/state.yaml
Due: teleclaude-docs-check

chore(todo): deliver guaranteed-inbound-delivery
  docs/global/index.yaml
  todos/delivered.yaml
  todos/guaranteed-inbound-delivery/deferrals.md
  todos/guaranteed-inbound-delivery/demo.md
  todos/guaranteed-inbound-delivery/dor-report.md
  todos/guaranteed-inbound-delivery/implementation-plan.md
  todos/guaranteed-inbound-delivery/input.md
  todos/guaranteed-inbound-delivery/quality-checklist.md
  todos/guaranteed-inbound-delivery/requirements.md
  todos/guaranteed-inbound-delivery/review-findings.md
  todos/guaranteed-inbound-delivery/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor: remove UIConfig and all UI/animation settings from core config
  config.sample.yml
  frontend/app/api/settings/route.ts
  frontend/lib/api/types.ts
  teleclaude/cli/tui/theme.py
  teleclaude/config/__init__.py
  tests/unit/test_agent_config_loading.py
Due: none

feat(tui): unify footer row styling — highlight keys, muted labels
  teleclaude/cli/tui/widgets/telec_footer.py
Due: none

fix(tui): add trailing space after animation icon in footer
  teleclaude/cli/tui/widgets/telec_footer.py
Due: none

fix(process): add demo validation to review gates and catch skeleton demos
  docs/global/software-development/procedure/lifecycle/review.md
  teleclaude/cli/telec.py
  templates/todos/quality-checklist.md
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

fix(test): remove stale ui parameter from Config constructor in test
  tests/unit/test_threaded_output.py
Due: none

fix(tui): fix background not updating on dark/light mode switch
  demos/guaranteed-inbound-delivery/demo.md
  teleclaude/cli/tui/app.py
  todos/roadmap.yaml
Due: teleclaude-docs-check

test(tui): add test for fresh background after dark/light mode switch
  tests/unit/test_tui_theme_backgrounds.py
Due: none

Prepare artifacts and gate pass for animations-full-color
  todos/animations-full-color/demo.md
  todos/animations-full-color/dor-report.md
  todos/animations-full-color/implementation-plan.md
  todos/animations-full-color/input.md
  todos/animations-full-color/quality-checklist.md
  todos/animations-full-color/requirements.md
  todos/animations-full-color/state.yaml
Due: teleclaude-docs-check

fix(agents): restore MCP access for default (admin) profile
  teleclaude/constants.py
  tests/unit/test_agent_cli.py
  todos/community-governance/input.md
  todos/community-manager-agent/input.md
  todos/content-dump-command/demo.md
  todos/content-dump-command/dor-report.md
  todos/content-dump-command/implementation-plan.md
  todos/content-dump-command/input.md
  todos/content-dump-command/requirements.md
  todos/event-envelope-schema/input.md
  todos/history-search-upgrade/dor-report.md
  todos/history-search-upgrade/implementation-plan.md
  todos/history-search-upgrade/input.md
  todos/history-search-upgrade/requirements.md
  todos/mesh-architecture/input.md
  todos/mesh-trust-model/input.md
  todos/notification-service/demo.md
  todos/notification-service/dor-report.md
  todos/notification-service/implementation-plan.md
  todos/notification-service/input.md
  todos/notification-service/quality-checklist.md
  todos/notification-service/requirements.md
  todos/notification-service/state.yaml
  todos/prepare-quality-runner/dor-report.md
  todos/prepare-quality-runner/implementation-plan.md
  todos/prepare-quality-runner/input.md
  todos/prepare-quality-runner/requirements.md
  todos/roadmap.yaml
  todos/service-publication/input.md
  todos/telec-init-enrichment/input.md
  todos/todo-dump-command/dor-report.md
  todos/todo-dump-command/input.md
  todos/todo-dump-command/requirements.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(tui): implement 24-bit TrueColor animation suite
  .teleclaude/worktree-prep-state.json
  demos/animations-full-color/demo.md
  teleclaude/cli/tui/animation_colors.py
  teleclaude/cli/tui/animations/general.py
  todos/animations-full-color/implementation-plan.md
  todos/animations-full-color/quality-checklist.md
  todos/animations-full-color/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(state): mark animations-full-color build complete
  todos/animations-full-color/state.yaml
Due: none

DOR gate: event-platform-core needs_work (7/10)
  todos/animations-full-color/state.yaml
  todos/event-platform-core/demo.md
  todos/event-platform-core/dor-report.md
  todos/event-platform-core/implementation-plan.md
  todos/event-platform-core/input.md
  todos/event-platform-core/quality-checklist.md
  todos/event-platform-core/requirements.md
  todos/event-platform-core/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

DOR gate pass: event-platform-core (8/10)
  todos/event-platform-core/dor-report.md
  todos/event-platform-core/implementation-plan.md
  todos/event-platform-core/requirements.md
  todos/event-platform-core/state.yaml
Due: teleclaude-docs-check

chore(build): complete build artifacts
  .teleclaude/worktree-prep-state.json
  todos/animations-full-color/quality-checklist.md
  todos/animations-full-color/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

review(tui): approve animations-full-color with suggestions
  todos/animations-full-color/quality-checklist.md
  todos/animations-full-color/review-findings.md
  todos/animations-full-color/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

fix(review): strip markdown heading from verdict line
  todos/animations-full-color/review-findings.md
Due: teleclaude-docs-check

chore(review): fix verdict marker for verification script
  todos/animations-full-color/review-findings.md
Due: teleclaude-docs-check

chore: temporary save of state
  .teleclaude/worktree-prep-state.json
  todos/animations-full-color/quality-checklist.md
  todos/animations-full-color/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore: save state again before finalize
  todos/animations-full-color/review-findings.md
  todos/animations-full-color/state.yaml
  todos/event-platform-core/demo.md
  todos/event-platform-core/dor-report.md
  todos/event-platform-core/implementation-plan.md
Due: teleclaude-docs-check

chore: save state again
  todos/animations-full-color/state.yaml
Due: none

chore: reset review round to allow finalize
  todos/animations-full-color/state.yaml
Due: none

chore(animations-full-color): record delivery
  docs/global/index.yaml
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-validate

chore(animations-full-color): add demo snapshot
  demos/animations-full-color/snapshot.json
Due: none

chore: cleanup animations-full-color
  todos/animations-full-color/demo.md
  todos/animations-full-color/dor-report.md
  todos/animations-full-color/implementation-plan.md
  todos/animations-full-color/input.md
  todos/animations-full-color/quality-checklist.md
  todos/animations-full-color/requirements.md
  todos/animations-full-color/review-findings.md
  todos/animations-full-color/state.yaml
Due: teleclaude-docs-check

chore(event-platform): remove holder todo, fix dependency deadlock
  todos/event-platform-core/input.md
  todos/event-platform/demo.md
  todos/event-platform/dor-report.md
  todos/event-platform/implementation-plan.md
  todos/event-platform/input.md
  todos/event-platform/quality-checklist.md
  todos/event-platform/requirements.md
  todos/event-platform/state.yaml
Due: teleclaude-docs-check

feat(events): add teleclaude_events package — phases 1-3 (foundation, storage, pipeline)
  .teleclaude/worktree-prep-state.json
  teleclaude_events/__init__.py
  teleclaude_events/cartridges/__init__.py
  teleclaude_events/cartridges/dedup.py
  teleclaude_events/cartridges/notification.py
  teleclaude_events/catalog.py
  teleclaude_events/db.py
  teleclaude_events/delivery/__init__.py
  teleclaude_events/delivery/telegram.py
  teleclaude_events/envelope.py
  teleclaude_events/pipeline.py
  teleclaude_events/processor.py
  teleclaude_events/producer.py
  teleclaude_events/py.typed
  teleclaude_events/schemas/__init__.py
  teleclaude_events/schemas/software_development.py
  teleclaude_events/schemas/system.py
  todos/event-platform-core/input.md
  todos/event-platform-core/state.yaml
Due: teleclaude-docs-check

fix(tui): restrict agent animations to agent_output_stop only
  teleclaude/cli/tui/app.py
  teleclaude/core/next_machine/core.py
  teleclaude/project_setup/hooks.py
Due: none

refactor(orchestrator): shift build responsibility to worker, seed-only sync, squash merge
  agents/commands/next-build.md
  teleclaude/core/next_machine/core.py
  tests/unit/test_diagram_extractors.py
  tests/unit/test_next_machine_hitl.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(events): add notification HTTP API and WebSocket push — phase 4
  teleclaude/api_server.py
  todos/event-platform-core/implementation-plan.md
Due: teleclaude-docs-check

refactor(review): strengthen demo artifact review lane
  docs/global/index.yaml
  docs/global/software-development/procedure/lifecycle/review.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(events): daemon hosting, Telegram adapter, CLI events list — phase 5
  teleclaude/cli/telec.py
  teleclaude/daemon.py
  todos/event-platform-core/implementation-plan.md
Due: teleclaude-docs-check, check-cli-help

refactor(events): remove legacy notification outbox — phase 6
  docs/project/spec/telec-cli-surface.md
  teleclaude/channels/worker.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/025_drop_notification_outbox.py
  teleclaude/cron/runner.py
  teleclaude/daemon.py
  teleclaude/invite.py
  teleclaude/notifications/__init__.py
  teleclaude/notifications/discovery.py
  teleclaude/notifications/router.py
  teleclaude/notifications/worker.py
  teleclaude/services/email.py
  teleclaude/services/telegram.py
  tests/unit/test_help_desk_features.py
  tests/unit/test_notifications.py
  tests/unit/test_telegram.py
  todos/event-platform-core/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate, check-raw-sql

test(event-platform-core): add unit and integration tests for events package — phase 7
  demos/event-platform-core/demo.md
  tests/unit/test_teleclaude_events/__init__.py
  tests/unit/test_teleclaude_events/test_cartridges.py
  tests/unit/test_teleclaude_events/test_catalog.py
  tests/unit/test_teleclaude_events/test_db.py
  tests/unit/test_teleclaude_events/test_envelope.py
  tests/unit/test_teleclaude_events/test_integration.py
  todos/event-platform-core/implementation-plan.md
  todos/event-platform-core/quality-checklist.md
Due: teleclaude-docs-check

fix(discord): idempotent category provisioning, project ordering, team channels
  teleclaude/adapters/discord_adapter.py
Due: none

feat(discord): route team channel messages to agent sessions
  teleclaude/adapters/discord_adapter.py
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
