Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs (sync_resources strict)
  entry: bash -c
  args:
  - uv run --quiet scripts/sync_resources.py --project-root "$PWD"
  language: system
  pass_filenames: false

chore(review): approve round 3 — all critical findings resolved
  todos/web-interface-4/quality-checklist.md
  todos/web-interface-4/state.json
Due: teleclaude-docs-check

chore(finalize): mark finalize gates complete for web-interface-4
  todos/web-interface-4/quality-checklist.md
Due: teleclaude-docs-check

chore(delivered): log web-interface-4 delivery and remove from roadmap
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check

chore: remove web-interface-4 worktree, branch, and todo folder
  docs/project/spec/mcp-tool-surface.md
  teleclaude/entrypoints/mcp_wrapper.py
  tests/integration/test_polling_restart.py
  tests/integration/test_voice_flow.py
  tests/unit/test_adapter_client.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_command_handlers.py
  tests/unit/test_tui_pane_manager.py
  todos/.finalize-lock
  todos/multi-user-system-install/dor-report.md
  todos/multi-user-system-install/implementation-plan.md
  todos/multi-user-system-install/requirements.md
  todos/multi-user-system-install/state.json
  todos/web-interface-4/dor-report.md
  todos/web-interface-4/implementation-plan.md
  todos/web-interface-4/input.md
  todos/web-interface-4/quality-checklist.md
  todos/web-interface-4/requirements.md
  todos/web-interface-4/review-findings.md
  todos/web-interface-4/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(todo): add next-demo — demo celebration system
  todos/next-demo/implementation-plan.md
  todos/next-demo/quality-checklist.md
  todos/next-demo/requirements.md
  todos/next-demo/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

feat(discord): route-aware session threading and stale thread cleanup
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/config/__init__.py
  teleclaude/core/feature_flags.py
  teleclaude/core/models.py
  teleclaude/services/maintenance_service.py
Due: none

feat(docs): add breath principle, update direct-conversation procedure, consolidate two pipeline-ready todos
  docs/global/baseline.md
  docs/global/general/principle/breath.md
  docs/global/general/procedure/agent-direct-conversation.md
  docs/global/index.yaml
  docs/global/software-development/procedure/lifecycle/demo.md
  todos/dependencies.json
  todos/direct-conversation-flag/implementation-plan.md
  todos/direct-conversation-flag/quality-checklist.md
  todos/direct-conversation-flag/requirements.md
  todos/direct-conversation-flag/state.json
  todos/next-demo/dor-report.md
  todos/next-demo/implementation-plan.md
  todos/next-demo/requirements.md
  todos/roadmap.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(mcp): add direct flag to send_message and start_session
  teleclaude/core/models.py
  teleclaude/mcp/handlers.py
  teleclaude/mcp/tool_definitions.py
  teleclaude/mcp_server.py
  todos/direct-conversation-flag/implementation-plan.md
  todos/direct-conversation-flag/state.json
Due: teleclaude-docs-check

feat(docs): add attunement principle, proprioception, and cross-references
  docs/global/baseline.md
  docs/global/general/principle/attunement.md
  docs/global/general/principle/autonomy.md
  docs/global/general/principle/breath.md
  docs/global/general/principle/continuity.md
  docs/global/general/principle/evolution.md
  docs/global/general/principle/parallel-work.md
  docs/global/general/principle/proprioception.md
  docs/global/general/procedure/gathering.md
  docs/global/index.yaml
  docs/third-party/art-of-hosting/chaordic-design.md
  docs/third-party/art-of-hosting/harvesting.md
  docs/third-party/art-of-hosting/methods.md
  docs/third-party/art-of-hosting/overview.md
  docs/third-party/index.md
  docs/third-party/index.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(docs): add gathering procedure — governing ceremony for collective sensing
  docs/global/general/procedure/gathering.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(docs): add gathering ceremony todos and preparation artifacts
  todos/gathering-rhythm-subprocedures/input.md
  todos/gathering-trail-files/input.md
  todos/roadmap.md
  todos/start-gathering-tool/dor-report.md
  todos/start-gathering-tool/implementation-plan.md
  todos/start-gathering-tool/input.md
  todos/start-gathering-tool/requirements.md
  todos/start-gathering-tool/state.json
Due: teleclaude-docs-check

feat(todos): pass DOR gate for start-gathering-tool — score 8/10
  todos/start-gathering-tool/dor-report.md
  todos/start-gathering-tool/state.json
Due: teleclaude-docs-check

feat(todos): add session relay primitive — 1:1 and gathering share one fabric
  todos/multi-user-system-install/dor-report.md
  todos/multi-user-system-install/implementation-plan.md
  todos/multi-user-system-install/requirements.md
  todos/multi-user-system-install/state.json
  todos/start-gathering-tool/implementation-plan.md
  todos/start-gathering-tool/input.md
  todos/start-gathering-tool/requirements.md
Due: teleclaude-docs-check

chore(todos): re-gate start-gathering-tool after scope expansion
  todos/start-gathering-tool/dor-report.md
  todos/start-gathering-tool/state.json
Due: teleclaude-docs-check

refactor(todos): split session-relay from start-gathering-tool
  todos/dependencies.json
  todos/roadmap.md
  todos/session-relay/implementation-plan.md
  todos/session-relay/input.md
  todos/session-relay/requirements.md
  todos/session-relay/state.json
  todos/start-gathering-tool/dor-report.md
  todos/start-gathering-tool/implementation-plan.md
  todos/start-gathering-tool/input.md
  todos/start-gathering-tool/requirements.md
Due: teleclaude-docs-check

chore(todos): DOR gate session-relay — 9/10 PASS
  todos/session-relay/dor-report.md
  todos/session-relay/state.json
Due: teleclaude-docs-check

feat(session-relay): add session relay primitive
  teleclaude/core/session_relay.py
  todos/session-relay/implementation-plan.md
  todos/session-relay/quality-checklist.md
Due: teleclaude-docs-check

feat(session-relay): wire relay into send_message(direct=true)
  teleclaude/mcp/handlers.py
  todos/session-relay/implementation-plan.md
Due: teleclaude-docs-check

test(session-relay): add unit tests for relay primitive
  tests/unit/test_session_relay.py
  todos/session-relay/implementation-plan.md
Due: teleclaude-docs-check

chore(session-relay): check build gates in quality checklist
  todos/session-relay/quality-checklist.md
Due: teleclaude-docs-check

feat(adapter-client): broadcast to all UI adapters for non-UI origins
  config.sample.yml
  teleclaude/adapters/discord_adapter.py
  teleclaude/config/__init__.py
  teleclaude/core/adapter_client.py
  teleclaude/services/maintenance_service.py
  tests/unit/test_adapter_client.py
  tests/unit/test_adapter_client_terminal_origin.py
  tests/unit/test_daemon_poller_watch.py
Due: none

review(session-relay): REQUEST CHANGES — 1 critical, 4 important findings
  todos/session-relay/quality-checklist.md
  todos/session-relay/review-findings.md
  todos/session-relay/state.json
Due: teleclaude-docs-check

fix(session-relay): check both sessions for duplicate relays
  teleclaude/mcp/handlers.py
Due: none

fix(session-relay): prevent duplicate enrollment in create_relay
  teleclaude/core/session_relay.py
Due: none

refactor(session-relay): use init=False for _monitor_tasks field
  teleclaude/core/session_relay.py
Due: none

fix(session-relay): add relay cleanup to session lifecycle
  teleclaude/core/session_cleanup.py
Due: none

test(session-relay): add handler tests for _start_direct_relay
  tests/unit/test_session_relay.py
Due: none

docs(session-relay): document fixes applied to review findings
  todos/session-relay/review-findings.md
Due: teleclaude-docs-check

review(session-relay): round 2 — APPROVE
  todos/session-relay/quality-checklist.md
  todos/session-relay/state.json
Due: teleclaude-docs-check

chore(session-relay): update state after review approval
  todos/session-relay/review-findings.md
Due: teleclaude-docs-check

chore(todos): log session-relay delivery and update roadmap
  todos/.finalize-lock
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check

fix(next-machine): enforce orchestrator boundary rules in POST_COMPLETION
  teleclaude/core/next_machine/core.py
Due: none

fix: remove finalize-lock from git tracking
  .gitignore
  todos/.finalize-lock
Due: none

refactor(routing): replace origin adapter terminology with entry point model
  docs/global/software-development/procedure/lifecycle/finalize.md
  docs/project/index.yaml
  docs/project/spec/session-output-routing.md
  teleclaude/adapters/base_adapter.py
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/core/adapter_client.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
  teleclaude/core/feature_flags.py
  teleclaude/core/metadata.py
  teleclaude/core/models.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/session_cleanup.py
  teleclaude/mcp/handlers.py
  tests/unit/test_adapter_client.py
  tests/unit/test_discord_adapter.py
Due: teleclaude-docs-check, teleclaude-docs-validate

Improve TUI session block separators with anchored connectors
  teleclaude/cli/tui/views/sessions.py
Due: none

Render footer separator at full terminal width
  teleclaude/cli/tui/app.py
Due: none

Fix TUI session separators, scrolling, and footer line style
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_app_footer_separator.py
  tests/unit/test_tui_sessions_view.py
Due: none

Adjust TUI session tree line styles
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_app_footer_separator.py
Due: none

Increase TUI session last input/output snippet length
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/api_client.py
  teleclaude/cli/models.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/views/jobs.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/tab_bar.py
Due: none

Add footer-style separator below projects in sessions view
  teleclaude/cli/tui/views/sessions.py
  tests/snapshots/tui/sessions_basic.txt
  tests/snapshots/tui/sessions_collapsed.txt
  tests/snapshots/tui/sessions_nested.txt
  tests/unit/test_tui_sessions_view.py
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)
