Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (bin/format.sh)
    entry: ./bin/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs (sync_resources strict)
    entry: bash -c
    args:
    - 'uv run --quiet scripts/sync_resources.py --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)

docs(todo): sync telec-config-cli approved review artifacts
  todos/telec-config-cli/deferrals.md
  todos/telec-config-cli/quality-checklist.md
  todos/telec-config-cli/review-findings.md
  todos/telec-config-cli/state.json
Due: teleclaude-docs-check

Fix watcher loop filters and completed-slug next_work handling
  teleclaude/cli/watch.py
  teleclaude/core/next_machine/core.py
  teleclaude/project_setup/sync.py
  teleclaude/sync.py
  todos/roadmap.md
Due: teleclaude-docs-check

finalize(todo): close telec-config-cli and archive delivery
  todos/delivered.md
  todos/roadmap.md
  todos/telec-config-cli/deferrals.md
  todos/telec-config-cli/implementation-plan.md
  todos/telec-config-cli/quality-checklist.md
  todos/telec-config-cli/requirements.md
  todos/telec-config-cli/review-findings.md
  todos/telec-config-cli/state.json
Due: teleclaude-docs-check

fix(docs): prevent self-targeting docs deploy from deleting source
  scripts/distribute.py
Due: none

style: fix pre-existing ruff format violations and guard comment placement
  teleclaude/config/__init__.py
  teleclaude/core/adapter_client.py
  teleclaude/core/metadata.py
  teleclaude/mcp/tool_definitions.py
  teleclaude/mcp_server.py
  teleclaude/mlx_utils.py
  teleclaude/tts/backends/mlx_tts.py
  todos/agent-output-monitor/quality-checklist.md
  tools/lint/guardrails.py
Due: teleclaude-docs-check

feat(checkpoint): add file category patterns and evidence configuration
  teleclaude/constants.py
  todos/agent-output-monitor/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

prep(auth): add identity foundation and remove host-token-file contract
  agents/commands/prime-orchestrator.md
  docs/global/software-development/procedure/orchestration.md
  docs/project/design/architecture/next-machine.md
  docs/project/policy/agent-service-control.md
  teleclaude/constants.py
  teleclaude/core/identity.py
  teleclaude/core/next_machine/core.py
  tests/unit/test_daemon.py
  tests/unit/test_identity.py
  tests/unit/test_tmux_io_bracketed_paste.py
  todos/person-identity-auth-2/requirements.md
  todos/person-identity-auth-3/implementation-plan.md
  todos/person-identity-auth-3/input.md
  todos/person-identity-auth-3/requirements.md
  todos/person-identity-auth/implementation-plan.md
  todos/person-identity-auth/input.md
  todos/person-identity-auth/requirements.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(checkpoint): add tool-call extraction layer in transcript.py
  teleclaude/constants.py
  teleclaude/utils/transcript.py
  todos/agent-output-monitor/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(checkpoint): add heuristic engine and message builder
  teleclaude/hooks/checkpoint.py
  todos/agent-output-monitor/implementation-plan.md
Due: teleclaude-docs-check

feat(checkpoint): integrate context-aware builder into hook route
  teleclaude/hooks/receiver.py
Due: none

feat(checkpoint): integrate context-aware builder into codex tmux route
  teleclaude/core/agent_coordinator.py
Due: none

feat(checkpoint): add comprehensive tests for Phase 2 checkpoint system
  teleclaude/hooks/checkpoint.py
  tests/unit/test_checkpoint_builder.py
  tests/unit/test_checkpoint_hook.py
  tests/unit/test_transcript_extraction.py
Due: none

docs(checkpoint): update design doc with Phase 2 context-aware flow
  docs/project/design/architecture/checkpoint-system.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore: mark all implementation plan tasks complete, update docs index
  docs/project/index.yaml
  todos/agent-output-monitor/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(tests): fix ruff format and E741 lint violations in checkpoint tests
  tests/unit/test_checkpoint_builder.py
  tests/unit/test_transcript_extraction.py
Due: none

chore: check build gates in quality checklist
  todos/agent-output-monitor/quality-checklist.md
Due: teleclaude-docs-check

fix(sync): harden docs deploy for worktrees and restore third-party references
  docs/third-party/claude-code/commands.md
  docs/third-party/claude-code/hooks.md
  docs/third-party/claude-code/permissions.md
  docs/third-party/claude-code/skills.md
  docs/third-party/claude-code/sub-agents.md
  docs/third-party/codex-cli/commands.md
  docs/third-party/codex-cli/hooks.md
  docs/third-party/codex-cli/permissions.md
  docs/third-party/codex-cli/skills.md
  docs/third-party/codex-cli/sub-agents.md
  docs/third-party/gemini-cli/commands.md
  docs/third-party/gemini-cli/hooks.md
  docs/third-party/gemini-cli/permissions.md
  docs/third-party/gemini-cli/skills.md
  docs/third-party/gemini-cli/sub-agents.md
  docs/third-party/index.md
  docs/third-party/index.yaml
  scripts/distribute.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(docs-link): preserve third-party docs during link/init
  Makefile
  bin/init/link_shared_scripts.sh
Due: none

fix(typecheck): harden optional mlx backends and voice duration typing
  teleclaude/adapters/telegram/input_handlers.py
  teleclaude/stt/backends/mlx_parakeet.py
  teleclaude/tts/backends/mlx_tts.py
Due: none

fix(checkpoint): preserve unresolved duplicate error records
  teleclaude/hooks/checkpoint.py
  tests/unit/test_checkpoint_builder.py
Due: none

fix(checkpoint): restrict tests-only category to pure test diffs
  teleclaude/hooks/checkpoint.py
  tests/unit/test_checkpoint_builder.py
Due: none

fix(transcript): tail-limit checkpoint JSONL extraction
  teleclaude/utils/transcript.py
  tests/unit/test_transcript_extraction.py
Due: none

fix(docs): remove worktree-specific project index roots
  docs/project/index.yaml
Due: teleclaude-docs-validate

docs(review): record applied fixes for agent-output-monitor
  todos/agent-output-monitor/review-findings.md
Due: teleclaude-docs-check

prep(web-interface-2): define proxy-first assistant-ui adoption
  todos/web-interface-2/implementation-plan.md
  todos/web-interface-2/requirements.md
  todos/web-interface-2/route-map.md
Due: teleclaude-docs-check

chore(web-interface-2): mark dor artifacts updated
  todos/web-interface-2/state.json
Due: none

docs(agent-output-monitor): record review verdict and findings
  todos/agent-output-monitor/review-findings.md
  todos/agent-output-monitor/state.json
Due: teleclaude-docs-check

fix(checkpoint): ignore failed verification commands as evidence
  teleclaude/hooks/checkpoint.py
  tests/unit/test_checkpoint_builder.py
Due: none

fix(transcript): bound jsonl tail extraction by read window
  teleclaude/utils/transcript.py
  tests/unit/test_transcript_extraction.py
Due: none

fix(checkpoint): require baseline log check for docs-only captures
  teleclaude/hooks/checkpoint.py
  tests/unit/test_checkpoint_builder.py
Due: none

docs(agent-output-monitor): record applied review fixes
  todos/agent-output-monitor/review-findings.md
Due: teleclaude-docs-check

review(agent-output-monitor): request changes for checkpoint heuristics
  todos/agent-output-monitor/quality-checklist.md
  todos/agent-output-monitor/review-findings.md
  todos/agent-output-monitor/state.json
Due: teleclaude-docs-check

fix(checkpoint): treat tests+docs as tests-only diff
  teleclaude/hooks/checkpoint.py
  tests/unit/test_checkpoint_builder.py
Due: none

fix(checkpoint): require log check for hook runtime edits
  teleclaude/hooks/checkpoint.py
  tests/unit/test_checkpoint_builder.py
Due: none

fix(checkpoint): dedupe repeated required actions
  teleclaude/hooks/checkpoint.py
  tests/unit/test_checkpoint_builder.py
Due: none

fix(checkpoint): parse fenced plan paths with annotations
  teleclaude/hooks/checkpoint.py
  tests/unit/test_checkpoint_builder.py
Due: none

docs(todo): record applied review fixes
  todos/agent-output-monitor/review-findings.md
Due: teleclaude-docs-check

docs(agent-output-monitor): close review at round limit
  todos/agent-output-monitor/quality-checklist.md
  todos/agent-output-monitor/review-findings.md
  todos/agent-output-monitor/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

chore(agent-output-monitor): mark finalize gates complete
  todos/agent-output-monitor/quality-checklist.md
Due: teleclaude-docs-check

chore(finalize): deliver agent-output-monitor
  todos/agent-output-monitor/implementation-plan.md
  todos/agent-output-monitor/quality-checklist.md
  todos/agent-output-monitor/requirements.md
  todos/agent-output-monitor/review-findings.md
  todos/agent-output-monitor/state.json
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check
