Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (bin/format.sh)
    entry: ./bin/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs (sync_resources strict)
    entry: bash -c
    args:
    - 'uv run --quiet scripts/sync_resources.py --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)

feat(db): add delivery_channel to notification_outbox
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/019_add_delivery_channel.py
  teleclaude/core/schema.sql
  todos/job-report-notifications/implementation-plan.md
Due: teleclaude-docs-check

fix(tui): group container todos with their sub-items in tree
  teleclaude/core/command_handlers.py
Due: none

feat(demo): create /next-demo command artifact
  agents/commands/next-demo.md
  todos/next-demo/implementation-plan.md
Due: teleclaude-docs-check

feat(job-recipients): add discover_job_recipients for subscription-driven delivery
  teleclaude/cron/job_recipients.py
  tests/unit/test_job_recipients.py
  todos/job-report-notifications/implementation-plan.md
Due: teleclaude-docs-check

feat(notification-scan): add mailbox-flag pattern for undelivered reports
  teleclaude/cron/notification_scan.py
  tests/unit/test_notification_scan.py
  todos/job-report-notifications/implementation-plan.md
Due: teleclaude-docs-check

feat(demo): wire demo step into finalize post-completion
  teleclaude/core/next_machine/core.py
  todos/next-demo/implementation-plan.md
Due: teleclaude-docs-check

feat(notification-router): add enqueue_job_notifications for subscription-based delivery
  teleclaude/notifications/router.py
  tests/unit/test_notifications.py
  todos/job-report-notifications/implementation-plan.md
Due: teleclaude-docs-check

docs(lifecycle): add Demo phase and artifact storage to procedures
  docs/global/software-development/procedure/lifecycle-overview.md
  docs/global/software-development/procedure/lifecycle/demo.md
  todos/next-demo/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(notification-worker): route delivery by delivery_channel column
  teleclaude/notifications/worker.py
  tests/unit/test_notifications.py
  todos/job-report-notifications/implementation-plan.md
Due: teleclaude-docs-check

chore: sync doc indexes after demo artifact and lifecycle updates
  docs/global/index.yaml
  docs/project/index.yaml
  docs/third-party/index.yaml
  todos/next-demo/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(next-demo): mark Phase 5 widget rendering tasks complete
  todos/next-demo/implementation-plan.md
Due: teleclaude-docs-check

feat(cron): subscription-driven execution and notification scan
  teleclaude/cron/runner.py
  tests/unit/test_cron_runner_subscriptions.py
  tests/unit/test_notifications.py
  todos/job-report-notifications/implementation-plan.md
Due: teleclaude-docs-check

test(demo): add unit tests for demo phase integration
  tests/unit/test_next_machine_demo.py
  todos/next-demo/implementation-plan.md
Due: teleclaude-docs-check

chore(next-demo): complete quality checks and build gates
  todos/next-demo/implementation-plan.md
  todos/next-demo/quality-checklist.md
Due: teleclaude-docs-check

refactor(config): remove legacy NotificationsConfig and SubscriptionsConfig types
  teleclaude/cli/config_cli.py
  teleclaude/cli/config_handlers.py
  teleclaude/config/schema.py
  teleclaude/cron/discovery.py
  teleclaude/cron/job_recipients.py
  teleclaude/cron/runner.py
  teleclaude/notifications/discovery.py
  teleclaude/notifications/worker.py
  tests/unit/test_config_schema.py
  tests/unit/test_notifications.py
  todos/job-report-notifications/implementation-plan.md
Due: teleclaude-docs-check

review(next-demo): R1 — REQUEST CHANGES (2 critical, 3 important)
  todos/next-demo/quality-checklist.md
  todos/next-demo/review-findings.md
  todos/next-demo/state.json
Due: teleclaude-docs-check

feat(scripts): add person config migration script
  scripts/migrate_person_configs.py
  todos/job-report-notifications/implementation-plan.md
Due: teleclaude-docs-check

fix(next-demo): revert index.yaml paths to canonical project root
  docs/project/index.yaml
  docs/third-party/index.yaml
Due: teleclaude-docs-validate

fix(next-demo): use main~1..main for post-merge git metrics
  agents/commands/next-demo.md
Due: teleclaude-docs-check

chore(job-report-notifications): verification and build gates complete
  todos/job-report-notifications/implementation-plan.md
  todos/job-report-notifications/quality-checklist.md
Due: teleclaude-docs-check

fix(next-demo): run demo from worktree for consistency
  teleclaude/core/next_machine/core.py
Due: none

chore(job-report-notifications): review findings — APPROVE
  todos/job-report-notifications/quality-checklist.md
  todos/job-report-notifications/review-findings.md
  todos/job-report-notifications/state.json
Due: teleclaude-docs-check

test(next-demo): add edge case tests for demo.sh error paths
  tests/unit/test_next_machine_demo.py
  todos/next-demo/state.json
Due: none

chore: cleanup job-report-notifications
  todos/delivered.md
  todos/job-report-notifications/implementation-plan.md
  todos/job-report-notifications/quality-checklist.md
  todos/job-report-notifications/requirements.md
  todos/job-report-notifications/review-findings.md
  todos/job-report-notifications/state.json
  todos/roadmap.yaml
Due: teleclaude-docs-check

review(next-demo): R2 — APPROVE (0 critical, 2 suggestions)
  todos/next-demo/quality-checklist.md
  todos/next-demo/review-findings.md
  todos/next-demo/state.json
Due: teleclaude-docs-check

chore: cleanup next-demo
  docs/global/index.yaml
  todos/next-demo/dor-report.md
  todos/next-demo/implementation-plan.md
  todos/next-demo/quality-checklist.md
  todos/next-demo/requirements.md
  todos/next-demo/review-findings.md
  todos/next-demo/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

chore: cleanup release-pipeline-simulation
  bin/init.sh
  docs/project/design/architecture/jobs-runner.md
  docs/project/spec/telec-cli-surface.md
  reviews/review-bc58b33-9ce5f1e.md
  teleclaude/cli/telec.py
  teleclaude/cli/tui/theme.py
  templates/ai.instrukt.teleclaude.cron.plist
  todos/delivered.md
  todos/release-pipeline-simulation/dor-report.md
  todos/release-pipeline-simulation/implementation-plan.md
  todos/release-pipeline-simulation/quality-checklist.md
  todos/release-pipeline-simulation/requirements.md
  todos/release-pipeline-simulation/review-findings.md
  todos/release-pipeline-simulation/state.json
  todos/roadmap.yaml
  todos/session-relay/dor-report.md
  todos/session-relay/implementation-plan.md
  todos/session-relay/input.md
  todos/session-relay/quality-checklist.md
  todos/session-relay/requirements.md
  todos/session-relay/review-findings.md
  todos/session-relay/state.json
  todos/tui-rewrite/implementation-plan.md
  todos/tui-rewrite/requirements.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat: roadmap freeze/deliver commands, YAML migrations, CLI surface schema
  docs/global/software-development/policy/definition-of-done.md
  docs/project/spec/telec-cli-surface.md
  teleclaude/cli/telec.py
  teleclaude/core/command_handlers.py
  teleclaude/core/next_machine/core.py
  todos/delivered.md
  todos/delivered.yaml
  todos/icebox.md
  todos/icebox.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

fix: autocomplete partial subcommands, -h support in config handlers
  teleclaude/cli/config_cli.py
  teleclaude/cli/config_cmd.py
  teleclaude/cli/telec.py
Due: none

feat: pre-commit hook to validate CLI -h on all subcommands
  .pre-commit-config.yaml
  tools/checks/check-cli-help.sh
Due: none

feat(next-machine): auto-deliver group parents when all children complete
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_group_sweep.py
  todos/delivered.yaml
  todos/release-automation/breakdown.md
  todos/release-automation/implementation-plan.md
  todos/release-automation/input.md
  todos/release-automation/requirements.md
  todos/release-automation/state.json
  todos/roadmap.yaml
  todos/web-interface/dor-report.md
  todos/web-interface/implementation-plan.md
  todos/web-interface/input.md
  todos/web-interface/requirements.md
  todos/web-interface/state.json
Due: teleclaude-docs-check

refactor: centralize -h handling via _maybe_show_help, remove onboard
  teleclaude/cli/config_cli.py
  teleclaude/cli/config_cmd.py
  teleclaude/cli/telec.py
Due: none

feat: add input.md to todo scaffold
  teleclaude/todo_scaffold.py
  templates/todos/input.md
  tests/unit/test_todo_scaffold.py
Due: teleclaude-docs-check

feat: add standalone Textual markdown editor for tmux pane
  teleclaude/cli/editor.py
  tests/unit/cli/test_editor.py
Due: none

feat: add DocEditRequest message for editor integration
  teleclaude/cli/tui/messages.py
Due: none

feat: wire PaneManagerBridge for DocEditRequest
  teleclaude/cli/tui/pane_bridge.py
Due: none

feat: add CreateTodoModal for TUI todo creation
  teleclaude/cli/tui/widgets/modals.py
  tests/unit/cli/tui/test_create_todo_modal.py
Due: none

feat: wire editor and new-todo creation in PreparationView
  teleclaude/cli/tui/views/preparation.py
Due: none

feat: CommandDef.hidden, config people notes, unified-roadmap-assembly todo
  docs/global/general/spec/tools/telec-cli.md
  teleclaude/cli/config_cli.py
  teleclaude/cli/telec.py
  todos/roadmap.yaml
  todos/state-yaml-migration/implementation-plan.md
  todos/state-yaml-migration/input.md
  todos/state-yaml-migration/quality-checklist.md
  todos/state-yaml-migration/requirements.md
  todos/state-yaml-migration/state.json
  todos/tui-markdown-editor/dor-report.md
  todos/tui-markdown-editor/implementation-plan.md
  todos/unified-roadmap-assembly/implementation-plan.md
  todos/unified-roadmap-assembly/input.md
  todos/unified-roadmap-assembly/quality-checklist.md
  todos/unified-roadmap-assembly/requirements.md
  todos/unified-roadmap-assembly/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

feat: update ActionBar hints for preparation view editor keybindings
  teleclaude/cli/tui/widgets/action_bar.py
Due: none
