Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

fix(integration): preserve fallback reason on would_block outcomes
  teleclaude/core/integration/runtime.py
  tests/unit/test_integrator_shadow_mode.py
Due: none

fix(integration): validate non-shadow runtime push dependency
  teleclaude/core/integration/runtime.py
  tests/unit/test_integrator_shadow_mode.py
Due: none

fix(integration): enforce queue transition state machine
  teleclaude/core/integration/queue.py
  tests/unit/test_integrator_shadow_mode.py
Due: none

test(integration): cover lease-loss abort during runtime drain
  tests/unit/test_integrator_shadow_mode.py
Due: none

review(deployment-cleanup): round 2 — REQUEST CHANGES
  todos/deployment-cleanup/implementation-plan.md
  todos/deployment-cleanup/quality-checklist.md
  todos/deployment-cleanup/review-findings.md
  todos/deployment-cleanup/state.yaml
Due: teleclaude-docs-check

test(integration): cover runtime clearance retry loop
  tests/unit/test_integrator_shadow_mode.py
Due: none

test(integration): verify canonical push in non-shadow mode
  tests/unit/test_integrator_shadow_mode.py
Due: none

test(integration): cover missing and superseded readiness branches
  tests/unit/test_integrator_shadow_mode.py
Due: none

docs(todo): mark implementation plan tasks complete
  todos/integrator-shadow-mode/implementation-plan.md
Due: teleclaude-docs-check

feat(prepare): session lifecycle with gate-commits-own-artifacts pattern
  agents/commands/next-prepare-gate.md
  agents/commands/next-prepare.md
  docs/global/general/principle/session-lifecycle.md
  docs/global/general/procedure/maintenance/next-prepare.md
  docs/global/index.yaml
  todos/history-search-upgrade/input.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(todo): mark build gates complete for shadow integrator
  todos/integrator-shadow-mode/quality-checklist.md
Due: teleclaude-docs-check

fix(docs): remove orphaned telec deploy section from global CLI spec
  docs/global/general/spec/tools/telec-cli.md
  todos/deployment-cleanup/quality-checklist.md
  todos/deployment-cleanup/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(review): record applied fixes and commit references
  todos/integrator-shadow-mode/review-findings.md
Due: teleclaude-docs-check

fix(transport): remove stale deploy references from comments and docstrings
  teleclaude/daemon.py
  teleclaude/transport/redis_transport.py
Due: none

docs(review): record fixes applied for deployment-cleanup round 2
  todos/deployment-cleanup/review-findings.md
Due: teleclaude-docs-check

chore(state): commit orchestrator-managed state before main sync
  todos/config-wizard-whatsapp-wiring/quality-checklist.md
  todos/config-wizard-whatsapp-wiring/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

review(deployment-cleanup): round 3 — APPROVE
  todos/deployment-cleanup/quality-checklist.md
  todos/deployment-cleanup/review-findings.md
  todos/deployment-cleanup/state.yaml
Due: teleclaude-docs-check

docs(review): round 2 review — APPROVE integrator-shadow-mode
  todos/integrator-shadow-mode/implementation-plan.md
  todos/integrator-shadow-mode/quality-checklist.md
  todos/integrator-shadow-mode/review-findings.md
  todos/integrator-shadow-mode/state.yaml
Due: teleclaude-docs-check

chore(todos): commit orphaned todo state artifacts from parallel workflows
  todos/config-wizard-whatsapp-wiring/review-findings.md
  todos/config-wizard-whatsapp-wiring/state.yaml
  todos/fix-sticky-removal-layout-issues/demo.md
  todos/fix-sticky-removal-layout-issues/implementation-plan.md
  todos/fix-sticky-removal-layout-issues/input.md
  todos/fix-sticky-removal-layout-issues/quality-checklist.md
  todos/fix-sticky-removal-layout-issues/requirements.md
  todos/fix-sticky-removal-layout-issues/state.yaml
Due: teleclaude-docs-check

docs(review): write review findings for config-wizard-whatsapp-wiring
  todos/config-wizard-whatsapp-wiring/quality-checklist.md
  todos/config-wizard-whatsapp-wiring/review-findings.md
  todos/config-wizard-whatsapp-wiring/state.yaml
Due: teleclaude-docs-check

chore(state): set review approved at merge-head baseline for deployment-cleanup
  todos/deployment-cleanup/state.yaml
Due: none

chore(main): checkpoint sticky-layout demo updates
  todos/fix-sticky-removal-layout-issues/demo.md
Due: teleclaude-docs-check

prepare(fix-sticky-removal-layout-issues): draft demo, DOR report, and state metadata
  todos/fix-sticky-removal-layout-issues/dor-report.md
  todos/fix-sticky-removal-layout-issues/state.yaml
Due: teleclaude-docs-check

chore(deployment-cleanup): record delivery and demo snapshot
  docs/global/index.yaml
  docs/project/index.yaml
  todos/delivered.yaml
  todos/fix-sticky-removal-layout-issues/dor-report.md
  todos/fix-sticky-removal-layout-issues/implementation-plan.md
  todos/fix-sticky-removal-layout-issues/state.yaml
  todos/mature-deployment/demo.md
  todos/mature-deployment/dor-report.md
  todos/mature-deployment/implementation-plan.md
  todos/mature-deployment/input.md
  todos/mature-deployment/quality-checklist.md
  todos/mature-deployment/requirements.md
  todos/mature-deployment/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(state): commit orchestrator-managed state before second main sync
  todos/config-wizard-whatsapp-wiring/quality-checklist.md
  todos/config-wizard-whatsapp-wiring/review-findings.md
  todos/config-wizard-whatsapp-wiring/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(main): checkpoint docs and todo state drift
  docs/global/index.yaml
  todos/config-wizard-whatsapp-wiring/state.yaml
Due: teleclaude-docs-validate

review(config-wizard-whatsapp-wiring): round 2 — APPROVE
  todos/config-wizard-whatsapp-wiring/quality-checklist.md
  todos/config-wizard-whatsapp-wiring/review-findings.md
  todos/config-wizard-whatsapp-wiring/state.yaml
Due: teleclaude-docs-check

chore(todos): commit pending state artifacts from parallel workflows
  todos/history-search-upgrade/input.md
  todos/integrator-shadow-mode/review-findings.md
  todos/integrator-shadow-mode/state.yaml
Due: teleclaude-docs-check

chore(state): commit state before third main sync
  todos/config-wizard-whatsapp-wiring/quality-checklist.md
  todos/config-wizard-whatsapp-wiring/review-findings.md
  todos/config-wizard-whatsapp-wiring/state.yaml
Due: teleclaude-docs-check

chore(state): pragmatic closure — mark review approved at round 3/3
  todos/config-wizard-whatsapp-wiring/state.yaml
Due: none

docs(review): round 2 review — APPROVE integrator-shadow-mode
  todos/integrator-shadow-mode/review-findings.md
  todos/integrator-shadow-mode/state.yaml
Due: teleclaude-docs-check

chore(state): fix pragmatic closure state — review=approved, round=3
  todos/config-wizard-whatsapp-wiring/state.yaml
Due: none

chore(todos): commit pending state artifacts
  todos/config-wizard-whatsapp-wiring/state.yaml
  todos/history-search-upgrade/input.md
Due: teleclaude-docs-check

chore(state): sync review approved with baseline for finalize
  todos/config-wizard-whatsapp-wiring/state.yaml
Due: none

chore(todos): commit history-search-upgrade prepare artifacts
  todos/history-search-upgrade/demo.md
  todos/history-search-upgrade/dor-report.md
  todos/history-search-upgrade/implementation-plan.md
  todos/history-search-upgrade/requirements.md
  todos/history-search-upgrade/state.yaml
Due: teleclaude-docs-check

chore(config-wizard-whatsapp-wiring): record delivery
  todos/delivered.yaml
  todos/history-search-upgrade/implementation-plan.md
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(config-wizard-whatsapp-wiring): add demo snapshot
  demos/config-wizard-whatsapp-wiring/snapshot.json
  todos/history-search-upgrade/dor-report.md
  todos/history-search-upgrade/state.yaml
Due: teleclaude-docs-check

chore: cleanup config-wizard-whatsapp-wiring
  todos/config-wizard-whatsapp-wiring/demo.md
  todos/config-wizard-whatsapp-wiring/dor-report.md
  todos/config-wizard-whatsapp-wiring/implementation-plan.md
  todos/config-wizard-whatsapp-wiring/input.md
  todos/config-wizard-whatsapp-wiring/quality-checklist.md
  todos/config-wizard-whatsapp-wiring/requirements.md
  todos/config-wizard-whatsapp-wiring/review-findings.md
  todos/config-wizard-whatsapp-wiring/state.yaml
  todos/history-search-upgrade/requirements.md
Due: teleclaude-docs-check

chore(history-search-upgrade): remove mirror replication, use live API for remote search
  todos/history-search-upgrade/demo.md
  todos/history-search-upgrade/implementation-plan.md
  todos/history-search-upgrade/input.md
Due: teleclaude-docs-check

chore(history-search-upgrade): DOR gate pass (score 8) with no-replication constraint
  todos/history-search-upgrade/dor-report.md
  todos/history-search-upgrade/state.yaml
Due: teleclaude-docs-check

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
