Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

docs: add agent shorthand principle for compressed agent-to-agent communication
  docs/global/general/principle/agent-shorthand.md
  docs/global/general/principle/attunement.md
  docs/global/general/procedure/agent-direct-conversation.md
  docs/global/index.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

review(integrator-shadow-mode): round 2 APPROVE with 5 important findings
  todos/integrator-shadow-mode/review-findings.md
Due: teleclaude-docs-check

chore(deployment-cleanup): remove todo folder — delivery already recorded
  todos/deployment-cleanup/demo.md
  todos/deployment-cleanup/dor-report.md
  todos/deployment-cleanup/implementation-plan.md
  todos/deployment-cleanup/input.md
  todos/deployment-cleanup/quality-checklist.md
  todos/deployment-cleanup/requirements.md
  todos/deployment-cleanup/review-findings.md
  todos/deployment-cleanup/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(governance): mark build complete with verified quality gates
  todos/config-wizard-governance/quality-checklist.md
  todos/config-wizard-governance/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

fix(tui): preserve pane continuity when removing sticky previews
  demos/fix-sticky-removal-layout-issues/demo.md
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_sessions_view_sticky_preview.py
  tests/unit/test_tui_state.py
  todos/fix-sticky-removal-layout-issues/implementation-plan.md
  todos/fix-sticky-removal-layout-issues/quality-checklist.md
Due: teleclaude-docs-check

docs(governance): review findings — APPROVE config-wizard-governance
  todos/config-wizard-governance/implementation-plan.md
  todos/config-wizard-governance/quality-checklist.md
  todos/config-wizard-governance/review-findings.md
  todos/config-wizard-governance/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(state): record review-approved state for config-wizard-governance
  todos/config-wizard-governance/quality-checklist.md
  todos/config-wizard-governance/state.yaml
Due: teleclaude-docs-check

docs(review): approve fix-sticky-removal-layout-issues
  todos/fix-sticky-removal-layout-issues/implementation-plan.md
  todos/fix-sticky-removal-layout-issues/quality-checklist.md
  todos/fix-sticky-removal-layout-issues/review-findings.md
  todos/fix-sticky-removal-layout-issues/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

docs(governance): review findings — APPROVE config-wizard-governance
  todos/config-wizard-governance/quality-checklist.md
  todos/config-wizard-governance/review-findings.md
  todos/config-wizard-governance/state.yaml
Due: teleclaude-docs-check

chore(config-wizard-governance): record build complete and review findings
  todos/config-wizard-governance/review-findings.md
  todos/config-wizard-governance/state.yaml
Due: teleclaude-docs-check

chore(state): commit fix-sticky-removal-layout-issues review artifacts
  todos/fix-sticky-removal-layout-issues/review-findings.md
  todos/fix-sticky-removal-layout-issues/state.yaml
Due: teleclaude-docs-check

chore(state): commit worktree review artifacts before merge
  todos/config-wizard-governance/quality-checklist.md
  todos/config-wizard-governance/review-findings.md
  todos/config-wizard-governance/state.yaml
Due: teleclaude-docs-check

docs(review): approve fix-sticky-removal-layout-issues
  todos/fix-sticky-removal-layout-issues/review-findings.md
  todos/fix-sticky-removal-layout-issues/state.yaml
Due: teleclaude-docs-check

docs(governance): round 2 review findings — APPROVE config-wizard-governance
  todos/config-wizard-governance/quality-checklist.md
  todos/config-wizard-governance/review-findings.md
  todos/config-wizard-governance/state.yaml
Due: teleclaude-docs-check

chore(config-wizard-governance): advance review to round 2
  todos/config-wizard-governance/state.yaml
Due: none

chore(fix-sticky-removal-layout-issues): record review findings and checklist
  todos/fix-sticky-removal-layout-issues/quality-checklist.md
  todos/fix-sticky-removal-layout-issues/review-findings.md
  todos/fix-sticky-removal-layout-issues/state.yaml
Due: teleclaude-docs-check

chore(state): update fix-sticky-removal-layout-issues review state
  todos/fix-sticky-removal-layout-issues/state.yaml
Due: none

chore(state): stage worktree review artifacts before merge
  todos/config-wizard-governance/quality-checklist.md
  todos/config-wizard-governance/review-findings.md
  todos/config-wizard-governance/state.yaml
Due: teleclaude-docs-check

chore(state): mark config-wizard-governance review approved (pragmatic closure)
  todos/config-wizard-governance/state.yaml
Due: none

chore(state): stage state before merge
  todos/config-wizard-governance/state.yaml
Due: none

docs(review): approve fix-sticky-removal-layout-issues round 2
  todos/fix-sticky-removal-layout-issues/quality-checklist.md
  todos/fix-sticky-removal-layout-issues/review-findings.md
  todos/fix-sticky-removal-layout-issues/state.yaml
Due: teleclaude-docs-check

chore(config-wizard-governance): sync state drift
  todos/config-wizard-governance/state.yaml
Due: none

chore(state): reset config-wizard-governance review state for finalize
  todos/config-wizard-governance/state.yaml
  todos/fix-sticky-removal-layout-issues/state.yaml
Due: none

chore(state): set review=approved, review_round=2 before final merge
  todos/config-wizard-governance/state.yaml
Due: none

chore(fix-sticky-removal-layout-issues): commit review artifacts for round 3 closure
  todos/fix-sticky-removal-layout-issues/quality-checklist.md
  todos/fix-sticky-removal-layout-issues/review-findings.md
  todos/fix-sticky-removal-layout-issues/state.yaml
Due: teleclaude-docs-check

chore(fix-sticky-removal-layout-issues): force review=approved for orchestrator closure
  todos/config-wizard-governance/state.yaml
  todos/fix-sticky-removal-layout-issues/state.yaml
Due: none

chore(fix-sticky-removal-layout-issues): set review=approved, round=3 for finalize
  todos/fix-sticky-removal-layout-issues/state.yaml
Due: none

chore(config-wizard-governance): deliver — sync indexes and roadmap
  docs/project/index.yaml
  docs/third-party/index.yaml
  todos/delivered.yaml
  todos/fix-sticky-removal-layout-issues/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-validate

chore(config-wizard-governance): remove todo folder — delivery complete
  todos/config-wizard-governance/demo.md
  todos/config-wizard-governance/dor-report.md
  todos/config-wizard-governance/implementation-plan.md
  todos/config-wizard-governance/input.md
  todos/config-wizard-governance/quality-checklist.md
  todos/config-wizard-governance/requirements.md
  todos/config-wizard-governance/review-findings.md
  todos/config-wizard-governance/state.yaml
Due: teleclaude-docs-check

chore(fix-sticky-removal-layout-issues): commit pre-merge state artifacts
  todos/fix-sticky-removal-layout-issues/state.yaml
  todos/roadmap.yaml
Due: none

chore(fix-sticky-removal-layout-issues): deliver — remove todo folder and log delivery
  docs/global/index.yaml
  todos/delivered.yaml
  todos/fix-sticky-removal-layout-issues/demo.md
  todos/fix-sticky-removal-layout-issues/dor-report.md
  todos/fix-sticky-removal-layout-issues/implementation-plan.md
  todos/fix-sticky-removal-layout-issues/input.md
  todos/fix-sticky-removal-layout-issues/quality-checklist.md
  todos/fix-sticky-removal-layout-issues/requirements.md
  todos/fix-sticky-removal-layout-issues/review-findings.md
  todos/fix-sticky-removal-layout-issues/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(integrator-shadow-mode): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(integrator-shadow-mode): add demo snapshot
  demos/integrator-shadow-mode/snapshot.json
Due: none

chore: cleanup integrator-shadow-mode
  todos/integrator-shadow-mode/demo.md
  todos/integrator-shadow-mode/dor-report.md
  todos/integrator-shadow-mode/implementation-plan.md
  todos/integrator-shadow-mode/input.md
  todos/integrator-shadow-mode/quality-checklist.md
  todos/integrator-shadow-mode/requirements.md
  todos/integrator-shadow-mode/review-findings.md
  todos/integrator-shadow-mode/state.yaml
Due: teleclaude-docs-check

feat(integrator-cutover): enforce integrator-only canonical main authorization
  .githooks/pre-push
  teleclaude/core/integration/__init__.py
  teleclaude/core/integration/authorization.py
  teleclaude/core/integration/runtime.py
  teleclaude/install/wrappers/gh
  teleclaude/install/wrappers/git
  todos/integrator-cutover/implementation-plan.md
Due: teleclaude-docs-check

feat(integrator-cutover): gate cutover enablement on parity evidence
  teleclaude/config/schema.py
  todos/integrator-cutover/implementation-plan.md
Due: teleclaude-docs-check

test(integrator-cutover): add acceptance and regression coverage
  tests/integration/test_integrator_cutover.py
  tests/unit/test_config_schema.py
  tests/unit/test_integrator_shadow_mode.py
  todos/integrator-cutover/implementation-plan.md
Due: teleclaude-docs-check

chore(integrator-cutover): finalize build gates and demo artifact
  demos/integrator-cutover/demo.md
  todos/integrator-cutover/implementation-plan.md
  todos/integrator-cutover/quality-checklist.md
Due: teleclaude-docs-check

review(integrator-cutover): approve with suggestions
  todos/integrator-cutover/implementation-plan.md
  todos/integrator-cutover/quality-checklist.md
  todos/integrator-cutover/review-findings.md
  todos/integrator-cutover/state.yaml
Due: teleclaude-docs-check

chore(integrator-cutover): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
