Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

fix(auth): derive system role from daemon session state
  teleclaude/api/auth.py
Due: none

fix(cli): add behavioral guidance to help output
  teleclaude/cli/telec.py
  tests/integration/test_telec_cli_commands.py
Due: check-cli-help

fix(api): scope sessions list to caller by default
  teleclaude/api_server.py
  tests/unit/test_api_server.py
Due: none

test(api): add coverage for caller auth and route protection
  tests/unit/test_api_auth.py
  tests/unit/test_api_route_auth.py
Due: none

docs(todos): record applied review fixes
  todos/mcp-migration-telec-commands/review-findings.md
Due: teleclaude-docs-check

fix(api): enforce clearance on remaining session routes
  teleclaude/api/auth.py
  teleclaude/api_server.py
  tests/unit/test_api_route_auth.py
Due: none

fix(cli): send caller identity headers from TelecAPIClient
  teleclaude/cli/api_client.py
  tests/unit/test_api_client.py
Due: none

fix(auth): require session header for protected API routes
  teleclaude/api/auth.py
  teleclaude/api_server.py
  tests/unit/test_api_auth.py
  tests/unit/test_api_route_auth.py
Due: none

fix(api): link sessions run to caller session metadata
  teleclaude/api_server.py
  tests/unit/test_api_server.py
Due: none

fix(cli): add generated guidance and examples to help output
  teleclaude/cli/telec.py
  tests/unit/test_telec_cli.py
Due: check-cli-help

docs(review): record fix-review resolutions and commit hashes
  todos/mcp-migration-telec-commands/review-findings.md
Due: teleclaude-docs-check

fix(api): enforce worker slug invariants for sessions run
  teleclaude/api_server.py
  tests/unit/test_api_server.py
Due: none

fix(api): fail widget endpoint on delivery errors
  teleclaude/api_server.py
  tests/unit/test_api_server.py
Due: none

test(cli): assert help behavior instead of prose copy
  tests/integration/test_telec_cli_commands.py
Due: none

fix(build-gates): recover failing test and demo validation paths
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/telec.py
  teleclaude/core/next_machine/core.py
  teleclaude/invite.py
  tests/integration/test_state_machine_workflow.py
  todos/mcp-migration-telec-commands/implementation-plan.md
  todos/mcp-migration-telec-commands/quality-checklist.md
  todos/mcp-migration-telec-commands/review-findings.md
  todos/mcp-migration-telec-commands/round-limit-closure.md
  todos/mcp-migration-telec-commands/state.yaml
Due: teleclaude-docs-check, check-cli-help

chore(mcp-migration-telec-commands): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(mcp-migration-telec-commands): add demo snapshot
  demos/mcp-migration-telec-commands/snapshot.json
Due: none

chore: cleanup mcp-migration-telec-commands
  todos/mcp-migration-telec-commands/demo.md
  todos/mcp-migration-telec-commands/dor-report.md
  todos/mcp-migration-telec-commands/implementation-plan.md
  todos/mcp-migration-telec-commands/input.md
  todos/mcp-migration-telec-commands/quality-checklist.md
  todos/mcp-migration-telec-commands/requirements.md
  todos/mcp-migration-telec-commands/review-findings.md
  todos/mcp-migration-telec-commands/round-limit-closure.md
  todos/mcp-migration-telec-commands/state.yaml
Due: teleclaude-docs-check

feat(mcp-migration): disable MCP config for agent sessions
  bin/init/setup_mcp_config.sh
  demos/mcp-migration-agent-config/demo.md
  teleclaude/constants.py
  teleclaude/helpers/agent_cli.py
  teleclaude/install/install_hooks.py
  tests/unit/test_agent_cli.py
  tests/unit/test_install_hooks.py
  todos/mcp-migration-agent-config/implementation-plan.md
  todos/mcp-migration-agent-config/quality-checklist.md
  todos/mcp-migration-agent-config/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(install-hooks): stop codex mcp scrub at indented table headers
  teleclaude/install/install_hooks.py
  todos/mcp-migration-agent-config/implementation-plan.md
  todos/mcp-migration-agent-config/quality-checklist.md
  todos/mcp-migration-agent-config/state.yaml
Due: teleclaude-docs-check

fix(install-hooks): preserve indented codex sections during mcp scrub
  teleclaude/install/install_hooks.py
  tests/unit/test_install_hooks.py
Due: none

docs(review): record fixes applied and interactive blocker
  todos/mcp-migration-agent-config/review-findings.md
Due: teleclaude-docs-check

fix(todo): make MCP startup criteria worker-verifiable
  tests/unit/test_agent_cli.py
  todos/mcp-migration-agent-config/requirements.md
  todos/mcp-migration-agent-config/review-findings.md
  todos/mcp-migration-agent-config/state.yaml
Due: teleclaude-docs-check

docs(todo): record applied review fix
  todos/mcp-migration-agent-config/review-findings.md
Due: teleclaude-docs-check

chore(mcp-migration-agent-config): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(mcp-migration-agent-config): add demo snapshot
  demos/mcp-migration-agent-config/snapshot.json
Due: none

chore: cleanup mcp-migration-agent-config
  todos/mcp-migration-agent-config/demo.md
  todos/mcp-migration-agent-config/dor-report.md
  todos/mcp-migration-agent-config/implementation-plan.md
  todos/mcp-migration-agent-config/quality-checklist.md
  todos/mcp-migration-agent-config/requirements.md
  todos/mcp-migration-agent-config/review-findings.md
  todos/mcp-migration-agent-config/state.yaml
Due: teleclaude-docs-check

docs(mcp): finalize build verification artifacts
  demos/mcp-migration-delete-mcp/demo.md
  todos/mcp-migration-delete-mcp/implementation-plan.md
  todos/mcp-migration-delete-mcp/quality-checklist.md
Due: teleclaude-docs-check

fix(daemon-control): use API socket for daemon readiness
  bin/daemon-control.sh
Due: none

docs(policy): remove stale MCP boundary references
  docs/project/policy/daemon-availability.md
  docs/project/policy/data-modeling.md
  docs/project/policy/ux-message-cleanup.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(architecture): remove MCP terminology from help desk flow
  docs/project/design/architecture/help-desk-platform.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(docs-index): avoid worktree-bound snippet roots
  docs/project/index.yaml
  docs/third-party/index.yaml
Due: teleclaude-docs-validate

docs(review): capture applied fix evidence
  todos/mcp-migration-delete-mcp/review-findings.md
Due: teleclaude-docs-check

chore(mcp-migration-delete-mcp): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(mcp-migration-delete-mcp): add demo snapshot
  demos/mcp-migration-delete-mcp/snapshot.json
Due: none

chore: cleanup mcp-migration-delete-mcp
  todos/mcp-migration-delete-mcp/demo.md
  todos/mcp-migration-delete-mcp/dor-report.md
  todos/mcp-migration-delete-mcp/implementation-plan.md
  todos/mcp-migration-delete-mcp/quality-checklist.md
  todos/mcp-migration-delete-mcp/requirements.md
  todos/mcp-migration-delete-mcp/review-findings.md
  todos/mcp-migration-delete-mcp/state.yaml
Due: teleclaude-docs-check

feat(config): require explicit agents section
  teleclaude/config/__init__.py
  tests/unit/test_agent_config_loading.py
  todos/agent-config-driven-selection-contract/implementation-plan.md
  todos/agent-config-driven-selection-contract/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

feat(config): reject unknown agent keys
  teleclaude/config/__init__.py
  tests/unit/test_agent_config_loading.py
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check

feat(config): enforce at least one enabled agent
  teleclaude/config/__init__.py
  tests/unit/test_agent_config_loading.py
  todos/agent-config-driven-selection-contract/implementation-plan.md
Due: teleclaude-docs-check
