Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

review(next-work): request changes for unchecked build artifacts and verdict role confusion
  todos/integrate-session-lifecycle-into-next-work/review-findings.md
  todos/integrate-session-lifecycle-into-next-work/state.yaml
Due: teleclaude-docs-check

review(next-work): request changes round 2 — unchecked artifacts and verdict role confusion
  todos/integrate-session-lifecycle-into-next-work/quality-checklist.md
  todos/integrate-session-lifecycle-into-next-work/review-findings.md
  todos/integrate-session-lifecycle-into-next-work/state.yaml
Due: teleclaude-docs-check

chore(todo): update state and review findings for session lifecycle integration
  todos/integrate-session-lifecycle-into-next-work/review-findings.md
  todos/integrate-session-lifecycle-into-next-work/state.yaml
Due: teleclaude-docs-check

chore(todo): commit reviewer artifacts for merge
  todos/integrate-session-lifecycle-into-next-work/quality-checklist.md
  todos/integrate-session-lifecycle-into-next-work/review-findings.md
  todos/integrate-session-lifecycle-into-next-work/state.yaml
Due: teleclaude-docs-check

chore(todo): pragmatic closure — approve session lifecycle at round limit
  todos/integrate-session-lifecycle-into-next-work/state.yaml
Due: none

chore(todo): sync state.yaml with pragmatic closure
  todos/integrate-session-lifecycle-into-next-work/state.yaml
Due: none

chore(todo): force review=approved for pragmatic closure
  todos/integrate-session-lifecycle-into-next-work/state.yaml
Due: none

chore(todo): deliver integrate-session-lifecycle-into-next-work
  docs/project/index.yaml
  docs/third-party/index.yaml
  todos/delivered.yaml
  todos/integrate-session-lifecycle-into-next-work/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-validate

chore: clean up integrate-session-lifecycle-into-next-work artifacts
  docs/global/index.yaml
  teleclaude/cli/tui/app.py
  todos/integrate-session-lifecycle-into-next-work/demo.md
  todos/integrate-session-lifecycle-into-next-work/dor-report.md
  todos/integrate-session-lifecycle-into-next-work/implementation-plan.md
  todos/integrate-session-lifecycle-into-next-work/input.md
  todos/integrate-session-lifecycle-into-next-work/quality-checklist.md
  todos/integrate-session-lifecycle-into-next-work/requirements.md
  todos/integrate-session-lifecycle-into-next-work/review-findings.md
  todos/integrate-session-lifecycle-into-next-work/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(cli): remove maintain, drop --cwd/--project-root, add delivered flags
  .teleclaude/worktree-prep-state.json
  demos/cli-cleanup-maintain-cwd-delivered/demo.md
  demos/cli-cleanup-maintain-cwd-delivered/snapshot.json
  scripts/diagrams/extract_commands.py
  teleclaude/api/auth.py
  teleclaude/api/todo_routes.py
  teleclaude/api_models.py
  teleclaude/cli/config_cmd.py
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
  teleclaude/cli/watch.py
  teleclaude/core/models.py
  teleclaude/core/next_machine/__init__.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/next_machine/maintain.py
  teleclaude/core/roadmap.py
  teleclaude/core/tool_access.py
  teleclaude/core/tool_activity.py
  tests/integration/test_telec_cli_commands.py
  tests/unit/test_bugs_list_status_parity.py
  tests/unit/test_next_machine_demo.py
  tests/unit/test_telec_cli.py
  todos/cli-cleanup-maintain-cwd-delivered/implementation-plan.md
  todos/cli-cleanup-maintain-cwd-delivered/input.md
  todos/cli-cleanup-maintain-cwd-delivered/quality-checklist.md
  todos/cli-cleanup-maintain-cwd-delivered/requirements.md
  todos/cli-cleanup-maintain-cwd-delivered/state.yaml
Due: teleclaude-docs-check, check-cli-help

test: update tests to reflect inbound queue architecture
  .teleclaude/worktree-prep-state.json
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/core/command_handlers.py
  teleclaude/core/command_service.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/inbound_queue.py
  teleclaude/core/lifecycle.py
  teleclaude/core/schema.sql
  teleclaude/core/session_cleanup.py
  teleclaude/core/tmux_bridge.py
  teleclaude/hooks/inbound.py
  teleclaude/types/commands.py
  tests/integration/test_command_e2e.py
  tests/integration/test_inbound_webhook.py
  tests/integration/test_voice_flow.py
  tests/unit/test_command_handlers.py
  tests/unit/test_tmux_bridge.py
  tests/unit/test_webhook_service.py
  todos/guaranteed-inbound-delivery/state.yaml
Due: check-raw-sql

test(inbound-queue): add comprehensive tests for queue DB methods and manager
  tests/integration/conftest.py
  tests/unit/test_inbound_queue.py
Due: none

docs(inbound-queue): add queue spec and update adapter-boundaries policy
  docs/project/policy/adapter-boundaries.md
  docs/project/spec/inbound-queue.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(gate-runner): remove --project-root from demo validate subprocess call
  teleclaude/core/next_machine/core.py
  todos/cli-cleanup-maintain-cwd-delivered/implementation-plan.md
  todos/cli-cleanup-maintain-cwd-delivered/input.md
  todos/cli-cleanup-maintain-cwd-delivered/requirements.md
  todos/cli-cleanup-maintain-cwd-delivered/state.yaml
Due: teleclaude-docs-check

chore(build): finalize build phase for guaranteed-inbound-delivery
  demos/guaranteed-inbound-delivery/demo.md
  demos/guaranteed-inbound-delivery/snapshot.json
  todos/guaranteed-inbound-delivery/deferrals.md
  todos/guaranteed-inbound-delivery/implementation-plan.md
  todos/guaranteed-inbound-delivery/quality-checklist.md
Due: teleclaude-docs-check

chore(artifacts): sync implementation-plan and quality-checklist to worktree HEAD
  todos/cli-cleanup-maintain-cwd-delivered/implementation-plan.md
  todos/cli-cleanup-maintain-cwd-delivered/quality-checklist.md
  todos/guaranteed-inbound-delivery/state.yaml
Due: teleclaude-docs-check

chore(build): re-apply checkbox state after orchestrator revert
  .teleclaude/worktree-prep-state.json
  todos/guaranteed-inbound-delivery/quality-checklist.md
Due: teleclaude-docs-check

review(cli-cleanup-maintain-cwd-delivered): REQUEST CHANGES — stale instruction templates
  .teleclaude/worktree-prep-state.json
  todos/cli-cleanup-maintain-cwd-delivered/quality-checklist.md
  todos/cli-cleanup-maintain-cwd-delivered/review-findings.md
  todos/cli-cleanup-maintain-cwd-delivered/state.yaml
Due: teleclaude-docs-check

fix(cli): address all review findings for cli-cleanup-maintain-cwd-delivered
  demos/cli-cleanup-maintain-cwd-delivered/demo.md
  teleclaude/core/next_machine/core.py
  teleclaude/core/roadmap.py
  teleclaude/project_setup/sync.py
  tests/unit/test_bugs_list_status_parity.py
Due: teleclaude-docs-check

docs(cli-cleanup-maintain-cwd-delivered): record fixes and update verdict to APPROVE
  todos/cli-cleanup-maintain-cwd-delivered/review-findings.md
Due: teleclaude-docs-check

chore: stage guaranteed-inbound-delivery planning artifacts
  todos/guaranteed-inbound-delivery/deferrals.md
  todos/guaranteed-inbound-delivery/implementation-plan.md
  todos/guaranteed-inbound-delivery/quality-checklist.md
Due: teleclaude-docs-check

chore: sync todo artifacts to review-approved state
  todos/cli-cleanup-maintain-cwd-delivered/quality-checklist.md
  todos/cli-cleanup-maintain-cwd-delivered/state.yaml
Due: teleclaude-docs-check

review(inbound-queue): REQUEST CHANGES — 4 Important findings
  todos/guaranteed-inbound-delivery/implementation-plan.md
  todos/guaranteed-inbound-delivery/quality-checklist.md
  todos/guaranteed-inbound-delivery/review-findings.md
  todos/guaranteed-inbound-delivery/state.yaml
Due: teleclaude-docs-check

review(cli-cleanup-maintain-cwd-delivered): REQUEST CHANGES — collapsed newlines in instruction templates
  todos/cli-cleanup-maintain-cwd-delivered/quality-checklist.md
  todos/cli-cleanup-maintain-cwd-delivered/review-findings.md
  todos/cli-cleanup-maintain-cwd-delivered/state.yaml
Due: teleclaude-docs-check

fix(inbound-queue): guard _on_worker_done against CancelledError and move timedelta import
  teleclaude/core/inbound_queue.py
  todos/guaranteed-inbound-delivery/state.yaml
Due: none

fix(inbound-queue): remove dead assignment in mark_inbound_failed and move timedelta import
  teleclaude/core/db.py
Due: check-raw-sql

chore: sync review artifacts for finalize
  todos/cli-cleanup-maintain-cwd-delivered/review-findings.md
  todos/cli-cleanup-maintain-cwd-delivered/state.yaml
Due: teleclaude-docs-check

chore: sync review artifacts before merge
  todos/cli-cleanup-maintain-cwd-delivered/quality-checklist.md
  todos/cli-cleanup-maintain-cwd-delivered/review-findings.md
  todos/cli-cleanup-maintain-cwd-delivered/state.yaml
Due: teleclaude-docs-check

fix(inbound-queue): catch IntegrityError in enqueue_inbound to handle dedup race
  teleclaude/core/db.py
Due: check-raw-sql

fix(inbound-queue): wire cleanup_inbound into periodic_cleanup with 72h cutoff
  teleclaude/services/maintenance_service.py
Due: none

docs(inbound-queue): record fixes applied in review-findings
  todos/guaranteed-inbound-delivery/review-findings.md
Due: teleclaude-docs-check

chore: sync state.yaml for finalize (pragmatic closure)
  todos/cli-cleanup-maintain-cwd-delivered/state.yaml
Due: none

chore(todo): force review=approved for pragmatic closure
  todos/cli-cleanup-maintain-cwd-delivered/state.yaml
  todos/guaranteed-inbound-delivery/quality-checklist.md
Due: teleclaude-docs-check

chore: sync state before merge
  todos/cli-cleanup-maintain-cwd-delivered/state.yaml
Due: none

chore(todo): deliver cli-cleanup-maintain-cwd-delivered
  todos/delivered.yaml
  todos/guaranteed-inbound-delivery/review-findings.md
  todos/guaranteed-inbound-delivery/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(inbound-queue): finalize review phase with APPROVE verdict
  todos/guaranteed-inbound-delivery/review-findings.md
Due: teleclaude-docs-check

chore(inbound-queue): update quality checklist - review complete with APPROVE
  todos/guaranteed-inbound-delivery/quality-checklist.md
Due: teleclaude-docs-check

review(inbound-queue): round 2 re-review — APPROVE, all fixes verified
  todos/guaranteed-inbound-delivery/quality-checklist.md
  todos/guaranteed-inbound-delivery/review-findings.md
  todos/guaranteed-inbound-delivery/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(deferrals): process guaranteed-inbound-delivery deferrals into three new todos
  todos/guaranteed-inbound-delivery/state.yaml
  todos/roadmap.yaml
  todos/terminal-input-feedback/input.md
  todos/typing-indicators-adapters/input.md
  todos/voice-message-durable-path/input.md
Due: teleclaude-docs-check

chore: clean up cli-cleanup-maintain-cwd-delivered todo artifacts
  todos/cli-cleanup-maintain-cwd-delivered/demo.md
  todos/cli-cleanup-maintain-cwd-delivered/dor-report.md
  todos/cli-cleanup-maintain-cwd-delivered/implementation-plan.md
  todos/cli-cleanup-maintain-cwd-delivered/input.md
  todos/cli-cleanup-maintain-cwd-delivered/quality-checklist.md
  todos/cli-cleanup-maintain-cwd-delivered/requirements.md
  todos/cli-cleanup-maintain-cwd-delivered/review-findings.md
  todos/cli-cleanup-maintain-cwd-delivered/state.yaml
  todos/guaranteed-inbound-delivery/quality-checklist.md
  todos/guaranteed-inbound-delivery/review-findings.md
  todos/guaranteed-inbound-delivery/state.yaml
  todos/notification-service/input.md
Due: teleclaude-docs-check
