Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

chore(discord-adapter-integrity): log delivery and remove from roadmap
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore: cleanup discord-adapter-integrity todo artifacts
  todos/discord-adapter-integrity/demo.md
  todos/discord-adapter-integrity/dor-report.md
  todos/discord-adapter-integrity/implementation-plan.md
  todos/discord-adapter-integrity/input.md
  todos/discord-adapter-integrity/quality-checklist.md
  todos/discord-adapter-integrity/requirements.md
  todos/discord-adapter-integrity/review-findings.md
  todos/discord-adapter-integrity/state.yaml
Due: teleclaude-docs-check

fix(adapter-output-delivery): enforce origin-only routing paths
  docs/global/index.yaml
  docs/project/design/architecture/adapter-client.md
  docs/project/design/architecture/ui-adapter.md
  docs/project/index.yaml
  docs/project/spec/session-output-routing.md
  docs/project/spec/telec-cli-surface.md
  docs/third-party/index.yaml
  teleclaude/cli/config_cli.py
  teleclaude/core/adapter_client.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
  teleclaude/core/next_machine/core.py
  teleclaude/install/install_hooks.py
  teleclaude/invite.py
  tests/unit/test_adapter_client.py
  tests/unit/test_adapter_client_terminal_origin.py
  tests/unit/test_install_hooks.py
  todos/adapter-output-delivery/implementation-plan.md
  todos/adapter-output-delivery/quality-checklist.md
  todos/adapter-output-delivery/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

feat(routing): preserve origin UX while improving admin observability
  docs/project/spec/session-output-routing.md
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/telegram/input_handlers.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/core/adapter_client.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/command_handlers.py
  teleclaude/core/command_mapper.py
  teleclaude/core/models.py
  teleclaude/mcp/handlers.py
  teleclaude/transport/redis_transport.py
  teleclaude/types/commands.py
  tests/unit/test_adapter_client.py
  todos/adapter-output-delivery/quality-checklist.md
  todos/adapter-output-delivery/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(adapter-output-delivery): enforce hook input routing and async-safe settings flush
  teleclaude/config/runtime_settings.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/next_machine/core.py
  todos/adapter-output-delivery/demo.md
Due: teleclaude-docs-check

fix(test): make test timeout configurable for orchestrator stability
  todos/adapter-output-delivery/quality-checklist.md
  tools/test.sh
Due: teleclaude-docs-check

reconcile(adapter-output-delivery): restore trusted routing baseline and align todo docs
  teleclaude/config/runtime_settings.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/next_machine/core.py
  todos/adapter-output-delivery/demo.md
  todos/adapter-output-delivery/implementation-plan.md
  todos/adapter-output-delivery/quality-checklist.md
  todos/adapter-output-delivery/requirements.md
  tools/test.sh
Due: teleclaude-docs-check

docs(textual-footer-migration): refine preparation artifacts with rich context rules
  todos/adapter-output-delivery/review-findings.md
  todos/adapter-output-delivery/state.yaml
  todos/fix-tui-bugs-round-1/bug.md
  todos/fix-tui-bugs-round-1/state.yaml
  todos/textual-footer-migration/dor-report.md
  todos/textual-footer-migration/implementation-plan.md
  todos/textual-footer-migration/input.md
  todos/textual-footer-migration/requirements.md
Due: teleclaude-docs-check

docs(adapter-output-delivery): restore canonical requirements and implementation plan
  todos/adapter-output-delivery/implementation-plan.md
  todos/adapter-output-delivery/requirements.md
Due: teleclaude-docs-check

test(adapter-output-delivery): align hook reflection expectations with actor metadata flow
  tests/unit/test_agent_coordinator.py
Due: none

review(adapter-output-delivery): request changes — SESSION_STARTED regression and dedup gap
  todos/adapter-output-delivery/quality-checklist.md
  todos/adapter-output-delivery/review-findings.md
  todos/adapter-output-delivery/state.yaml
Due: teleclaude-docs-check

fix(adapter-output-delivery): restore MCP provenance semantics and lineage ownership contract
  teleclaude/core/command_mapper.py
  teleclaude/mcp/handlers.py
  todos/adapter-output-delivery/implementation-plan.md
  todos/adapter-output-delivery/quality-checklist.md
  todos/adapter-output-delivery/requirements.md
  todos/adapter-output-delivery/review-findings.md
  todos/adapter-output-delivery/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

fix(adapter-output-delivery): resolve test gate timeout and review findings
  teleclaude/config/runtime_settings.py
  teleclaude/core/adapter_client.py
  todos/adapter-output-delivery/implementation-plan.md
  todos/adapter-output-delivery/requirements.md
  todos/adapter-output-delivery/review-findings.md
  todos/adapter-output-delivery/state.yaml
Due: teleclaude-docs-check

fix(adapter-output-delivery): keep session origin provenance local to creation source
  teleclaude/core/command_handlers.py
Due: none

docs(adapter-output-delivery): align todo contract and approve review artifacts
  todos/adapter-output-delivery/implementation-plan.md
  todos/adapter-output-delivery/quality-checklist.md
  todos/adapter-output-delivery/requirements.md
  todos/adapter-output-delivery/review-findings.md
  todos/adapter-output-delivery/state.yaml
Due: teleclaude-docs-check

chore: commit local todo artifact state — adapter approved, roadmap entry, bug notes, footer state
  todos/adapter-output-delivery/state.yaml
  todos/fix-tui-bugs-round-1/bug.md
  todos/roadmap.yaml
  todos/textual-footer-migration/state.yaml
Due: teleclaude-docs-check

chore(adapter-output-delivery): log delivery, remove from roadmap
  docs/global/index.yaml
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-validate

chore(adapter-output-delivery): clean up delivered todo folder
  todos/adapter-output-delivery/demo.md
  todos/adapter-output-delivery/dor-report.md
  todos/adapter-output-delivery/implementation-plan.md
  todos/adapter-output-delivery/input.md
  todos/adapter-output-delivery/quality-checklist.md
  todos/adapter-output-delivery/requirements.md
  todos/adapter-output-delivery/review-findings.md
  todos/adapter-output-delivery/state.yaml
Due: teleclaude-docs-check

fix(logging): suppress incremental-output no-op log spam by session context
  teleclaude/core/agent_coordinator.py
Due: none

fix(demo): wire demo delivery into build phase and fix command references
  agents/commands/next-build.md
  agents/commands/next-prepare.md
  docs/global/software-development/procedure/lifecycle-overview.md
  docs/global/software-development/procedure/lifecycle/build.md
  docs/global/software-development/procedure/lifecycle/demo.md
  docs/project/spec/demo-artifact.md
  teleclaude/constants.py
  teleclaude/core/agents.py
  teleclaude/core/next_machine/core.py
  teleclaude/helpers/agent_cli.py
  templates/todos/demo.md
  todos/agent-config-driven-selection-contract/demo.md
  todos/agent-config-driven-selection-contract/dor-report.md
  todos/agent-config-driven-selection-contract/implementation-plan.md
  todos/agent-config-driven-selection-contract/input.md
  todos/agent-config-driven-selection-contract/quality-checklist.md
  todos/agent-config-driven-selection-contract/requirements.md
  todos/agent-config-driven-selection-contract/state.yaml
  todos/fix-core-bugs-round-1/bug.md
  todos/fix-core-bugs-round-1/state.yaml
  todos/fix-tui-bugs-round-1/bug.md
  todos/roadmap.yaml
  todos/transcript-first-output-and-hook-backpressure/demo.md
  todos/transcript-first-output-and-hook-backpressure/dor-report.md
  todos/transcript-first-output-and-hook-backpressure/implementation-plan.md
  todos/transcript-first-output-and-hook-backpressure/input.md
  todos/transcript-first-output-and-hook-backpressure/quality-checklist.md
  todos/transcript-first-output-and-hook-backpressure/requirements.md
  todos/transcript-first-output-and-hook-backpressure/state.yaml
  todos/unified-client-adapter-pipeline/demo.md
  todos/unified-client-adapter-pipeline/dor-report.md
  todos/unified-client-adapter-pipeline/implementation-plan.md
  todos/unified-client-adapter-pipeline/input.md
  todos/unified-client-adapter-pipeline/quality-checklist.md
  todos/unified-client-adapter-pipeline/requirements.md
  todos/unified-client-adapter-pipeline/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(sync): snapshot before main sync (textual-footer-migration)
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/messages.py
  teleclaude/cli/tui/telec.tcss
  teleclaude/cli/tui/views/config.py
  teleclaude/cli/tui/views/jobs.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/action_bar.py
  tests/unit/test_tui_app_footer_separator.py
  tests/unit/test_tui_footer_widget.py
  todos/roadmap.yaml
  todos/textual-footer-migration/state.yaml
Due: none

chore(sync): snapshot before main sync (textual-footer-migration)
  todos/textual-footer-migration/state.yaml
Due: none

fix(test): raise test-suite timeout budget
  todos/textual-footer-migration/state.yaml
  tools/test.sh
Due: none

review(textual-footer-migration): request changes for footer migration
  todos/textual-footer-migration/quality-checklist.md
  todos/textual-footer-migration/review-findings.md
Due: teleclaude-docs-check

chore(sync): snapshot before main sync (textual-footer-migration)
  todos/textual-footer-migration/quality-checklist.md
  todos/textual-footer-migration/state.yaml
Due: teleclaude-docs-check

chore(sync): snapshot before main sync (transcript-first-output-and-hook-backpressure)
  todos/roadmap.yaml
Due: none

chore(sync): snapshot before main sync (transcript-first-output-and-hook-backpressure)
  todos/transcript-first-output-and-hook-backpressure/state.yaml
Due: none

fix(tui): restore node-aware footer actions
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/messages.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
Due: none

fix(preparation): enforce modal-first launch flow
  teleclaude/cli/tui/views/preparation.py
Due: none

fix(tui-footer): style contextual default actions
  teleclaude/cli/tui/telec.tcss
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
Due: none

chore(tui): remove legacy curses footer stub
  teleclaude/cli/tui/widgets/footer.py
Due: none

test(tui): add footer migration behavior coverage
  tests/unit/test_tui_footer_migration.py
Due: none

docs(review): record fix-review outcomes
  todos/textual-footer-migration/review-findings.md
Due: teleclaude-docs-check

feat(output): enforce transcript-first output and hook backpressure
  config.sample.yml
  demos/transcript-first-output-and-hook-backpressure/demo.md
  docs/project/design/architecture/outbox.md
  docs/project/design/architecture/output-polling.md
  teleclaude/config/__init__.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/db.py
  teleclaude/core/events.py
  teleclaude/core/output_poller.py
  teleclaude/core/polling_coordinator.py
  teleclaude/daemon.py
  tests/unit/test_daemon.py
  tests/unit/test_threaded_output_updates.py
  todos/transcript-first-output-and-hook-backpressure/implementation-plan.md
  todos/transcript-first-output-and-hook-backpressure/quality-checklist.md
Due: teleclaude-docs-check, teleclaude-docs-validate, check-raw-sql

chore(sync): snapshot before main sync (transcript-first-output-and-hook-backpressure)
  todos/transcript-first-output-and-hook-backpressure/implementation-plan.md
  todos/transcript-first-output-and-hook-backpressure/quality-checklist.md
  todos/transcript-first-output-and-hook-backpressure/state.yaml
Due: teleclaude-docs-check

fix(test): stabilize make test timeout gate
  tools/test.sh
Due: none

chore(sync): snapshot before main sync (textual-footer-migration)
  todos/textual-footer-migration/review-findings.md
  todos/textual-footer-migration/state.yaml
Due: teleclaude-docs-check
