Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs (sync_resources strict)
  entry: bash -c
  args:
  - uv run --quiet scripts/sync_resources.py --project-root "$PWD"
  language: system
  pass_filenames: false

chore(docs): remove 3 duplicate/obsolete snippets
  docs/global/baseline/index.md
  docs/global/baseline/policy/referencing-doc-snippets.md
  docs/global/general/procedure/agents-authoring.md
  docs/global/index.yaml
  docs/project/baseline/index.md
  docs/project/index.yaml
  docs/project/policy/mcp-connection-resilience.md
  teleclaude/hooks/adapters/AGENTS.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: expand security-awareness policy to comprehensive primer
  docs/global/index.yaml
  docs/global/software-development/policy/security-awareness.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: trim duplication from 4 software-development policies
  docs/global/software-development/policy/code-quality.md
  docs/global/software-development/policy/commits.md
  docs/global/software-development/policy/definition-of-done.md
  docs/global/software-development/policy/testing.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(agent): restrict autonomous action to explicit directives
  agents/AGENTS.global.md
  bin/TmuxLauncher.app/Contents/MacOS/tmux-launcher
  bin/TmuxLauncher.app/Contents/_CodeSignature/CodeResources
  bin/daemon-control.sh
  bin/sync_resources.py
  docs/project/architecture/context-selection.md
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/api_client.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/context_index.py
  teleclaude/context_selector.py
  teleclaude/core/adapter_client.py
  teleclaude/core/command_mapper.py
  teleclaude/core/lifecycle.py
  teleclaude/core/polling_coordinator.py
  teleclaude/core/tmux_bridge.py
  teleclaude/core/tmux_io.py
  teleclaude/docs_index.py
  teleclaude/mcp/handlers.py
  teleclaude/resource_validation.py
  teleclaude/tools/sync_resources.py
  tests/integration/test_context_selector_e2e.py
  tests/integration/test_projects_digest_refresh.py
  tests/integration/test_redis_adapter_warmup.py
  tests/integration/test_research_docs_workflow.py
  tests/integration/test_worktree_preparation_integration.py
  tests/unit/test_command_handlers.py
  tests/unit/test_context_index.py
  tests/unit/test_context_selector.py
  tests/unit/test_docs_index.py
  tests/unit/test_hook_receiver.py
  tests/unit/test_tui_app.py
  tests/unit/test_tui_modal.py
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(config): remove invalid stash key from pre-commit config
  .pre-commit-config.yaml
Due: none

Stabilize hooks, TUI layout, and tests
  .claude/commands/run-tests.md
  .codex/prompts/run-tests.md
  .gitignore
  Makefile
  agents/AGENTS.global.md
  agents/AGENTS.master.md
  agents/AGENTS.md
  docs/global/index.yaml
  docs/project/index.yaml
  scripts/history.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/controller.py
  teleclaude/cli/tui/types.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/modal.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/command_handlers.py
  teleclaude/core/tmux_bridge.py
  teleclaude/daemon.py
  teleclaude/hooks/adapters/models.py
  teleclaude/hooks/receiver.py
  teleclaude/install/install_hooks.py
  teleclaude/project_setup/sync.py
  teleclaude/utils/transcript.py
  tests/integration/test_file_upload.py
  tests/unit/test_hook_receiver.py
  tests/unit/test_install_hooks.py
  tests/unit/test_polling_coordinator.py
  tests/unit/test_sessions_view.py
  tests/unit/test_tmux_io.py
  tests/unit/test_tui_modal.py
  tests/unit/test_tui_sessions_view.py
Due: teleclaude-docs-check, teleclaude-docs-validate

tui: stabilize selection handling
  teleclaude/cli/telec.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/views/sessions.py
Due: none

tui: focus panes from user intent
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/views/sessions.py
  tests/integration/conftest.py
  tests/unit/test_sessions_view.py
  tests/unit/test_tui_sessions_view.py
Due: none

tui: defer preview until session ready
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/controller.py
  teleclaude/cli/tui/views/sessions.py
Due: none

telegram: send feedback without MarkdownV2
  teleclaude/adapters/ui_adapter.py
Due: none

voice: run pre-handle cleanup before transcription
  teleclaude/core/command_handlers.py
Due: none

chore: sync skills, docs, and poller updates
  agents/AGENTS.global.md
  agents/skills/stack-docs/SKILL.md
  agents/skills/web-research/SKILL.md
  agents/skills/youtube/SKILL.md
  agents/skills/youtube/scripts/youtube_helper.py
  docs/explore/openclaw-analysis.md
  docs/global/index.yaml
  docs/global/software-development/policy/ai-agent-security.md
  docs/global/software-development/procedure/lifecycle/documentation/overview.md
  docs/global/software-development/procedure/lifecycle/prepare/input-assessment.md
  docs/global/software-development/procedure/scaffolding/typescript-platforms/node-js.md
  docs/project/reference/cache-ttl-matrix.md
  docs/third-party/codex-cli/commands.md
  docs/third-party/codex-cli/hooks.md
  docs/third-party/codex-cli/skills.md
  scripts/distribute.py
  teleclaude/core/output_poller.py
  teleclaude/daemon.py
  teleclaude/hooks/adapters/AGENTS.md
  teleclaude/resource_validation.py
  tests/unit/test_command_handlers.py
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: parallel work principle and skill updates
  agents/skills/stack-docs/SKILL.md
  agents/skills/web-research/SKILL.md
  agents/skills/youtube/scripts/refresh_cookies.py
  docs/global/index.yaml
  docs/global/software-development/principle/parallel-work.md
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/views/sessions.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(tui): rebuild TmuxLauncher with proper SIGWINCH forwarding
  agents/skills/youtube/scripts/refresh_cookies.py
  agents/skills/youtube/scripts/youtube_helper.py
  bin/TmuxLauncher.app/Contents/Info.plist
  bin/TmuxLauncher.app/Contents/MacOS/tmux-launcher
  src/TmuxLauncher/build.sh
  src/TmuxLauncher/main.swift
  teleclaude/cli/watch.py
Due: none

fix: use correct project index path for context selection
  agents/skills/stack-docs/SKILL.md
  teleclaude/context_selector.py
Due: teleclaude-docs-check

fix: correct context index paths and third-party docs handling
  agents/skills/stack-docs/SKILL.md
  docs/index.yaml
  tests/unit/test_context_selector.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat: add cron runner and YouTube subscription tagging
  cron/youtube-sync-subscriptions.py
  jobs/__init__.py
  jobs/base.py
  jobs/youtube_sync.py
  launchd/ai.instrukt.teleclaude.cron.plist
  scripts/cron_runner.py
  scripts/helpers/git_repo_helper.py
  scripts/helpers/youtube_helper.py
  teleclaude/cron/__init__.py
  teleclaude/cron/discovery.py
  teleclaude/cron/runner.py
  teleclaude/cron/state.py
  teleclaude/entrypoints/youtube_sync_subscriptions.py
  teleclaude/helpers/agent_cli.py
  teleclaude/helpers/agent_types.py
  teleclaude/helpers/git_repo_helper.py
  teleclaude/helpers/youtube/refresh_cookies.py
  teleclaude/helpers/youtube_helper.py
  teleclaude/tagging/__init__.py
  teleclaude/tagging/youtube.py
Due: none

chore: reorganize skills and documentation structure
  agents/skills/git-repo-scraper/SKILL.md
  agents/skills/research/SKILL.md
  agents/skills/tech-stack-docs/SKILL.md
  agents/skills/web-research/SKILL.md
  agents/skills/youtube/SKILL.md
  agents/skills/youtube/scripts/refresh_cookies.py
  agents/skills/youtube/scripts/youtube_helper.py
  docs/global/baseline/principle/parallel-work.md
  docs/global/baseline/reference/third-party-docs.md
  docs/global/general/policy/referencing-doc-snippets.md
  docs/global/general/procedure/agent-artifact-authoring.md
  docs/global/general/procedure/agents-md-authoring.md
  docs/global/general/reference/agent-artifacts.md
  docs/global/general/reference/history-log.md
  docs/global/index.yaml
  docs/global/software-development/procedure/research/third-party-research.md
  docs/third-party/claude-code/commands.md
  docs/third-party/claude-code/hooks.md
  docs/third-party/claude-code/skills.md
  docs/third-party/claude-code/sub-agents.md
  docs/third-party/codex-cli/commands.md
  docs/third-party/codex-cli/hooks.md
  docs/third-party/codex-cli/skills.md
  docs/third-party/codex-cli/sub-agents.md
  docs/third-party/gemini-cli/commands.md
  docs/third-party/gemini-cli/hooks.md
  docs/third-party/gemini-cli/skills.md
  docs/third-party/gemini-cli/sub-agents.md
  docs/third-party/index.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix: resolve pyright errors and update linting
  .gitignore
  agents/AGENTS.master.md
  agents/AGENTS.md
  agents/CODEX.primer.md
  agents/commands/next-research.md
  alembic/env.py
  pyproject.toml
  scripts/distribute.py
  scripts/history.py
  scripts/research_docs.py
  scripts/verify_resilience.py
  teleclaude/constants.py
  teleclaude/context_selector.py
  teleclaude/core/dates.py
  teleclaude/docs_index.py
  teleclaude/hooks/adapters/AGENTS.md
  teleclaude/mcp/handlers.py
  teleclaude/mcp/tool_definitions.py
  teleclaude/mcp_server.py
  teleclaude/utils/__init__.py
  teleclaude/utils/transcript.py
  tests/integration/conftest.py
  tests/integration/test_projects_digest_refresh.py
  tests/integration/test_research_docs_workflow.py
  tests/integration/test_worktree_preparation_integration.py
  tests/unit/test_animations.py
  tests/unit/test_api_server.py
  tests/unit/test_daemon.py
  tests/unit/test_docs_index.py
  tests/unit/test_redis_adapter.py
  tests/unit/test_redis_adapter_cache_pull.py
  tests/unit/test_redis_utils.py
  tests/unit/test_research_docs.py
  tests/unit/test_telegram_adapter.py
  tests/unit/test_telegram_adapter_discovery.py
  tests/unit/test_transcript.py
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor(research): add explicit skill routing and delegation
  agents/skills/research/SKILL.md
Due: teleclaude-docs-check

Fix lint guardrails and deploy args parsing
  teleclaude/context_selector.py
  teleclaude/core/events.py
  teleclaude/resource_validation.py
  teleclaude/transport/redis_transport.py
Due: none

Strengthen Codex primer autonomy preamble
  agents/CODEX.primer.md
Due: teleclaude-docs-check

Reshape baseline manifests and move docs
  AGENTS.master.md
  agents/AGENTS.global.md
  docs/global/baseline.md
  docs/global/baseline/index.md
  docs/global/general/concept/normalized-agent-artifacts.md
  docs/global/general/policy/autonomy.md
  docs/global/general/policy/conflict-resolution.md
  docs/global/general/policy/context-retrieval.md
  docs/global/general/principle/autonomy.md
  docs/global/general/principle/explicit-inference.md
  docs/global/general/principle/parallel-work.md
  docs/global/general/principle/priming.md
  docs/global/general/procedure/doc-snippet-authoring.md
  docs/global/general/spec/snippet-authoring-schema.md
  docs/global/general/spec/third-party-docs.md
  docs/global/index.yaml
  docs/global/software-development/policy/commits.md
  docs/global/software-development/policy/version-control-safety.md
  docs/project/baseline.md
  docs/project/baseline/index.md
  docs/project/index.yaml
  docs/project/policy/agent-service-control.md
  docs/project/policy/daemon-availability.md
  docs/project/policy/mcp-connection-management.md
  docs/project/policy/single-database.md
  docs/project/procedure/out-of-band-telegram-alerts.md
  docs/project/procedure/restart-daemon.md
  scripts/distribute.py
  teleclaude/docs_index.py
  teleclaude/resource_validation.py
  teleclaude/snippet_validation.py
Due: teleclaude-docs-check, teleclaude-docs-validate

Fix baseline tests and third-party spec metadata
  docs/global/general/spec/third-party-docs.md
  docs/global/index.yaml
  tests/unit/test_docs_index.py
  tests/unit/test_resource_validation.py
Due: teleclaude-docs-check, teleclaude-docs-validate

Add TUI snapshot tests and use case inventory
  tests/E2E_USE_CASES.md
  tests/snapshots.py
  tests/snapshots/tui/prep_basic.txt
  tests/snapshots/tui/prep_build_review.txt
  tests/snapshots/tui/prep_expanded_files.txt
  tests/snapshots/tui/sessions_basic.txt
  tests/snapshots/tui/sessions_collapsed.txt
  tests/snapshots/tui/sessions_nested.txt
  tests/unit/test_tui_view_snapshots.py
Due: teleclaude-docs-check

Tighten DoR research gate and finalize release-automation plan
  docs/global/software-development/policy/definition-of-ready.md
  todos/release-automation/implementation-plan.md
  todos/release-automation/input.md
  todos/roadmap.md
Due: teleclaude-docs-check, teleclaude-docs-validate

Clarify release automation orchestration
  todos/release-automation/implementation-plan.md
  todos/release-automation/input.md
Due: teleclaude-docs-check

Improve telec shell completion display and descriptions
  bin/telec-completion.zsh
  teleclaude/cli/telec.py
Due: none

Fix last_message_sent not updating for direct terminal input
  teleclaude/core/agent_coordinator.py
Due: none

Clarify runner auth wiring in release automation plan
  todos/release-automation/implementation-plan.md
Due: teleclaude-docs-check

Extract user input from transcript for Codex on agent stop
  teleclaude/core/agent_coordinator.py
Due: none

Isolate test config and project domains
  teleclaude/context_selector.py
  teleclaude/snippet_validation.py
  teleclaude/utils/__init__.py
  tests/conftest.py
Due: none

Harden test env isolation defaults
  tests/conftest.py
  tests/unit/test_config_working_dir.py
Due: none

Persist output digest hash to database
  teleclaude/adapters/ui_adapter.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/002_add_last_output_digest.py
  teleclaude/core/models.py
Due: none

Separate summarizer prompts and auto-update Untitled session titles
  teleclaude/core/agent_coordinator.py
  teleclaude/core/summarizer.py
  teleclaude/daemon.py
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)
