Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

prepare(typing-indicators-adapters): draft requirements, plan, demo, and DOR report
  todos/typing-indicators-adapters/demo.md
  todos/typing-indicators-adapters/dor-report.md
  todos/typing-indicators-adapters/implementation-plan.md
  todos/typing-indicators-adapters/requirements.md
  todos/typing-indicators-adapters/state.yaml
Due: teleclaude-docs-check

gate(typing-indicators-adapters): DOR pass — score 8, ready for build
  todos/typing-indicators-adapters/dor-report.md
  todos/typing-indicators-adapters/implementation-plan.md
  todos/typing-indicators-adapters/state.yaml
Due: teleclaude-docs-check

fix(tui): clamp RGB values and harden color handling
  teleclaude/cli/tui/animation_colors.py
  teleclaude/cli/tui/animations/creative.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/widgets/banner.py
Due: none

feat(config-wizrd-enrichment): Requirements: config-wizrd-enrichment
  .teleclaude/worktree-prep-state.json
  demos/config-wizrd-enrichment/demo.md
  teleclaude/cli/tui/config_components/guidance.py
  teleclaude/cli/tui/views/config.py
  tests/unit/test_config_wizard_guidance.py
  todos/config-wizrd-enrichment/implementation-plan.md
  todos/config-wizrd-enrichment/quality-checklist.md
  todos/config-wizrd-enrichment/review-findings.md
  todos/config-wizrd-enrichment/state.yaml
Due: teleclaude-docs-check

chore(config-wizrd-enrichment): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore: cleanup config-wizrd-enrichment
  todos/config-wizrd-enrichment/demo.md
  todos/config-wizrd-enrichment/dor-report.md
  todos/config-wizrd-enrichment/implementation-plan.md
  todos/config-wizrd-enrichment/input.md
  todos/config-wizrd-enrichment/quality-checklist.md
  todos/config-wizrd-enrichment/requirements.md
  todos/config-wizrd-enrichment/review-findings.md
  todos/config-wizrd-enrichment/state.yaml
Due: teleclaude-docs-check

chore: add .worktrees/ to gitignore
  .gitignore
Due: none

fix(tui): adjust sun and moon shape widths in GlobalSky
  teleclaude/cli/tui/animations/general.py
Due: none

refactor(tui): add half-block transition row, cleanup legacy widgets and docs
  agents/skills/doc-snippet-authoring/SKILL.md
  agents/skills/skill-creator/SKILL.md
  agents/skills/skill-creator/scripts/init_skill.py
  docs/global/general/procedure/skill-authoring.md
  docs/global/index.yaml
  docs/global/software-development/policy/regression-zero-tolerance.md
  docs/project/baseline.md
  docs/project/policy/agent-artifact-governance.md
  teleclaude/cli/tui/animation_colors.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/color_utils.py
  teleclaude/cli/tui/config_components/adapters.py
  teleclaude/cli/tui/config_components/base.py
  teleclaude/cli/tui/config_components/environment.py
  teleclaude/cli/tui/config_components/notifications.py
  teleclaude/cli/tui/config_components/people.py
  teleclaude/cli/tui/config_components/validate.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/telec.tcss
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/configuration.py
  teleclaude/cli/tui/widgets/agent_status.py
  teleclaude/cli/tui/widgets/banner.py
  teleclaude/cli/tui/widgets/box_tab_bar.py
  teleclaude/cli/tui/widgets/modal.py
  teleclaude/cli/tui/widgets/project_header.py
  teleclaude/cli/tui/widgets/tab_bar.py
  teleclaude/cli/tui/widgets/telec_footer.py
  tests/unit/test_config_wizard_whatsapp_wiring.py
  tests/unit/test_pane_manager.py
  tests/unit/test_tui_modal.py
  tests/unit/test_tui_sessions_view.py
  tests/unit/test_tui_theme.py
  tests/unit/test_tui_theme_tab_lines.py
  todos/fix-errors-tui-123/bug.md
  todos/fix-errors-tui-123/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(tui): expand 'a' sticky toggle to computer scope and any-sticky global
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_sessions_view_toggle_project.py
Due: none

fix(tui): close four sticky/preview state management holes
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_sessions_view_toggle_project.py
Due: none

chore: sync docs reorganization, agent primers, and animation/banner updates
  agents/CLAUDE.primer.md
  agents/GEMINI.primer.md
  agents/commands/next-defer.md
  agents/commands/next-work.md
  agents/commands/prime-orchestrator.md
  agents/commands/sync-todos.md
  docs/global/general/concept/ai-to-ai-coordination.md
  docs/global/general/concept/orchestrator.md
  docs/global/general/policy/ai-agent-security.md
  docs/global/general/policy/orchestrator-jurisdiction.md
  docs/global/general/procedure/ai-to-ai-troubleshooting.md
  docs/global/general/procedure/orchestration.md
  docs/global/index.yaml
  docs/project/index.yaml
  docs/project/policy/single-database.md
  teleclaude/cli/tui/animations/base.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/widgets/banner.py
  todos/mesh-trust-model/requirements.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(tui): make 'a' key globally active regardless of cursor node
  teleclaude/cli/tui/views/sessions.py
Due: none

fix(todos): restore discord-team-reflection todo and roadmap entry
  todos/discord-team-reflection/demo.md
  todos/discord-team-reflection/implementation-plan.md
  todos/discord-team-reflection/input.md
  todos/discord-team-reflection/quality-checklist.md
  todos/discord-team-reflection/requirements.md
  todos/discord-team-reflection/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

Revert "fix(todos): restore discord-team-reflection todo and roadmap entry"
  todos/discord-team-reflection/demo.md
  todos/discord-team-reflection/implementation-plan.md
  todos/discord-team-reflection/input.md
  todos/discord-team-reflection/quality-checklist.md
  todos/discord-team-reflection/requirements.md
  todos/discord-team-reflection/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

Revert "fix(tui): restore LineSweepTopBottom and fix post-merge lint failures"
  teleclaude/cli/tui/animations/general.py
Due: none

Revert "fix(tui): restore Bioluminescence, SearchlightSweep, HighSunBird to GENERAL_ANIMATIONS"
  teleclaude/cli/tui/animations/general.py
Due: none

chore: commit in-progress changes on main to unblock finalize
  docs/project/policy/agent-artifact-governance.md
  teleclaude/adapters/discord_adapter.py
  teleclaude/core/adapter_client.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(tui): move sticky toggle to 's', always show in global footer row
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/telec_footer.py
Due: none

chore: sync agent addendum renames, docs, TUI animations, and Discord routing fixes
  agents/CLAUDE.addendum.md
  agents/CODEX.addendum.md
  agents/GEMINI.addendum.md
  agents/skills/systematic-debugging/SKILL.md
  docs/global/index.yaml
  docs/global/software-development/policy/testing.md
  docs/global/software-development/procedure/debugging.md
  docs/global/software-development/procedure/root-cause-debugging.md
  docs/project/policy/agent-artifact-governance.md
  scripts/distribute.py
  teleclaude/adapters/discord_adapter.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/core/adapter_client.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(system-messages): canonical [TeleClaude] prefix via format_system_message helper
  frontend/lib/utils/text.ts
  teleclaude/constants.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/command_handlers.py
  teleclaude/core/session_listeners.py
Due: teleclaude-docs-validate

chore: scaffold todo state for fix-personal-assistant-sessions-land-in-tele
  todos/fix-personal-assistant-sessions-land-in-tele/bug.md
  todos/fix-personal-assistant-sessions-land-in-tele/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore: commit in-progress changes on main to unblock finalize
  teleclaude/cli/tui/views/sessions.py
  todos/agent-session-auth/demo.md
  todos/agent-session-auth/implementation-plan.md
  todos/agent-session-auth/input.md
  todos/agent-session-auth/quality-checklist.md
  todos/agent-session-auth/requirements.md
  todos/agent-session-auth/state.yaml
Due: teleclaude-docs-check

fix(invite): personal assistant sessions land in person folder directly
  .teleclaude/worktree-prep-state.json
  state.yaml
  teleclaude/invite.py
  tests/unit/test_inbound_queue.py
  tests/unit/test_invite_scaffold.py
  todos/fix-personal-assistant-sessions-land-in-tele/bug.md
  todos/fix-personal-assistant-sessions-land-in-tele/implementation-plan.md
  todos/fix-personal-assistant-sessions-land-in-tele/quality-checklist.md
  todos/fix-personal-assistant-sessions-land-in-tele/review-findings.md
  todos/fix-personal-assistant-sessions-land-in-tele/state.yaml
Due: teleclaude-docs-check

chore: mark build complete for truncated-user-input
  todos/truncated-user-input/state.yaml
Due: none

chore: commit in-progress changes on main to unblock finalize
  docs/project/design/architecture/session-lifecycle.md
  teleclaude/api/streaming.py
  teleclaude/cli/tui/views/sessions.py
  todos/fix-telec-sessions-end-does-not-support-self/bug.md
  todos/fix-telec-sessions-end-does-not-support-self/state.yaml
  todos/truncated-user-input/bug.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(streaming): route web SSE user messages through canonical process_message
  .teleclaude/worktree-prep-state.json
  tests/unit/test_api_server.py
  todos/truncated-user-input/bug.md
  todos/truncated-user-input/implementation-plan.md
  todos/truncated-user-input/quality-checklist.md
  todos/truncated-user-input/review-findings.md
  todos/truncated-user-input/state.yaml
Due: teleclaude-docs-check

fix(cli): use entry point to prevent cwd package shadowing
  bin/telec
  pyproject.toml
Due: none

chore: update state.yaml
  state.yaml
Due: none

fix(cli): support 'self' alias in telec sessions end
  pyproject.toml
  teleclaude/cli/tool_commands.py
  tests/integration/test_voice_flow.py
  tests/unit/cli/test_tool_commands.py
  tests/unit/test_inbound_queue.py
  tests/unit/test_next_machine_hitl.py
  todos/fix-telec-sessions-end-does-not-support-self/bug.md
  todos/fix-telec-sessions-end-does-not-support-self/implementation-plan.md
  todos/fix-telec-sessions-end-does-not-support-self/quality-checklist.md
  todos/fix-telec-sessions-end-does-not-support-self/review-findings.md
  todos/fix-telec-sessions-end-does-not-support-self/state.yaml
Due: teleclaude-docs-check

chore: cleanup fix-telec-sessions-end-does-not-support-self
  todos/fix-telec-sessions-end-does-not-support-self/bug.md
  todos/fix-telec-sessions-end-does-not-support-self/implementation-plan.md
  todos/fix-telec-sessions-end-does-not-support-self/quality-checklist.md
  todos/fix-telec-sessions-end-does-not-support-self/review-findings.md
  todos/fix-telec-sessions-end-does-not-support-self/state.yaml
Due: teleclaude-docs-check

feat(prepare): add collaborative discovery phase and baseline agent characteristics
  agents/commands/next-prepare.md
  docs/global/general/concept/agent-characteristics.md
  docs/global/general/procedure/maintenance/next-prepare-discovery.md
  docs/global/general/procedure/maintenance/next-prepare.md
  docs/global/index.yaml
  docs/plans/2026-02-21-agent-dispatch-guidance-design.md
  docs/plans/2026-02-21-agent-dispatch-guidance-plan.md
  docs/project/spec/teleclaude-config.md
  teleclaude/config/__init__.py
  teleclaude/config/schema.py
  teleclaude/core/next_machine/core.py
  tests/unit/test_agent_config_loading.py
  tests/unit/test_agent_dispatch_config.py
  tests/unit/test_agent_guidance.py
Due: teleclaude-docs-check, teleclaude-docs-validate

prepare(agent-session-auth): draft implementation plan and DOR report
  todos/agent-session-auth/demo.md
  todos/agent-session-auth/dor-report.md
  todos/agent-session-auth/implementation-plan.md
  todos/agent-session-auth/state.yaml
Due: teleclaude-docs-check

gate(agent-session-auth): DOR pass — score 9/10, all gates satisfied
  todos/agent-session-auth/dor-report.md
  todos/agent-session-auth/implementation-plan.md
  todos/agent-session-auth/state.yaml
Due: teleclaude-docs-check

feat(cli): remove session_id from self-only commands, add restart
  docs/project/spec/messaging.md
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/status_contract.py
  teleclaude/core/tool_activity.py
  tests/unit/cli/test_tool_commands.py
  tests/unit/test_api_route_auth.py
  tests/unit/test_api_server.py
  tests/unit/test_status_contract.py
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

feat(cli): add --detach flag for fire-and-forget session dispatch
  publications/inbox/20260302-add-telec-memories-cli/content.md
  publications/inbox/20260302-add-telec-memories-cli/meta.yaml
  publications/inbox/20260302-expand-cli-baseline-exec/content.md
  publications/inbox/20260302-expand-cli-baseline-exec/meta.yaml
Due: teleclaude-docs-check

chore(knowledge): peer-discussion session — codify procedure, draft mesh reqs, flag blockers, enforce skills gate
  agents/skills/brainstorming/SKILL.md
  agents/skills/doc-snippet-authoring/SKILL.md
  agents/skills/frontend-design/SKILL.md
  agents/skills/git-repo-scraper/SKILL.md
  agents/skills/next-code-reviewer/SKILL.md
  agents/skills/next-code-simplifier/SKILL.md
  agents/skills/next-comment-analyzer/SKILL.md
  agents/skills/next-silent-failure-hunter/SKILL.md
  agents/skills/next-test-analyzer/SKILL.md
  agents/skills/next-type-design-analyzer/SKILL.md
  agents/skills/receiving-code-review/SKILL.md
  agents/skills/research/SKILL.md
  agents/skills/systematic-debugging/SKILL.md
  agents/skills/tech-stack-docs/SKILL.md
  agents/skills/test-driven-development/SKILL.md
  agents/skills/verification-before-completion/SKILL.md
  agents/skills/youtube/SKILL.md
  docs/global/baseline-progressive.md
  docs/global/general/procedure/doc-snippet-authoring.md
  docs/global/general/procedure/peer-discussion.md
  docs/global/general/procedure/skill-authoring.md
  docs/global/index.yaml
  docs/project/baseline-progressive.md
  todos/delivered.yaml
  todos/event-alpha-container/requirements.md
  todos/event-mesh-distribution/requirements.md
  todos/event-platform/discovery-brief.md
  todos/event-platform/implementation-plan.md
  todos/integrator-wiring/requirements.md
  todos/mesh-architecture/requirements.md
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(taxonomy): retype agent-characteristics as spec, add agent-dispatch policy
  agents/commands/next-prepare.md
  docs/global/general/concept/agent-characteristics.md
  docs/global/general/policy/agent-dispatch.md
  docs/global/general/procedure/maintenance/next-prepare.md
  docs/global/general/spec/agent-characteristics.md
  docs/global/index.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(skills): restore youtube and git-repo-scraper — wrap external helper scripts
  agents/skills/git-repo-scraper/SKILL.md
  agents/skills/youtube/SKILL.md
Due: teleclaude-docs-check, teleclaude-docs-validate

Revert "feat(cli): add --detach flag for fire-and-forget session dispatch"
  publications/inbox/20260302-add-telec-memories-cli/content.md
  publications/inbox/20260302-add-telec-memories-cli/meta.yaml
  publications/inbox/20260302-expand-cli-baseline-exec/content.md
  publications/inbox/20260302-expand-cli-baseline-exec/meta.yaml
Due: teleclaude-docs-check
