Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

chore(sync): snapshot before main sync (transcript-first-output-and-hook-backpressure)
  todos/transcript-first-output-and-hook-backpressure/state.yaml
Due: none

chore(sync): snapshot before main sync (textual-footer-migration)
  todos/textual-footer-migration/state.yaml
Due: none

chore(tui): ensure footer migration is review-ready
  demos/textual-footer-migration/demo.md
  tests/unit/test_tui_footer_migration.py
  todos/textual-footer-migration/implementation-plan.md
  todos/textual-footer-migration/quality-checklist.md
Due: teleclaude-docs-check

chore(sync): snapshot before main sync (textual-footer-migration)
  todos/textual-footer-migration/implementation-plan.md
  todos/textual-footer-migration/quality-checklist.md
  todos/textual-footer-migration/state.yaml
Due: teleclaude-docs-check

fix(tui): restore Enter defaults on sessions headers
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_footer_migration.py
Due: none

chore(sync): snapshot before main sync (transcript-first-output-and-hook-backpressure)
  scripts/diagrams/extract_modules.py
  tests/unit/test_diagram_extractors.py
  todos/transcript-first-output-and-hook-backpressure/state.yaml
Due: none

fix(tui): align preparation Enter hint with behavior
  teleclaude/cli/tui/views/preparation.py
  tests/unit/test_tui_footer_migration.py
Due: none

fix(tests): stabilize module extractor regression timeout
  tests/unit/test_diagram_extractors.py
Due: none

docs(todos): record applied fixes for re-review
  todos/textual-footer-migration/review-findings.md
Due: teleclaude-docs-check

chore(sync): snapshot before main sync (textual-footer-migration)
  todos/textual-footer-migration/review-findings.md
  todos/textual-footer-migration/state.yaml
Due: teleclaude-docs-check

chore(sync): snapshot before main sync (transcript-first-output-and-hook-backpressure)
  todos/transcript-first-output-and-hook-backpressure/review-findings.md
  todos/transcript-first-output-and-hook-backpressure/state.yaml
Due: teleclaude-docs-check

test(tui): lock sessions default-action contract
  tests/unit/test_tui_footer_migration.py
Due: none

test(tui): verify todo-row enter toggles behavior
  tests/unit/test_tui_footer_migration.py
Due: none

test(diagrams): reduce extract-modules timeout flakiness
  tests/unit/test_diagram_extractors.py
Due: none

docs(todo): record applied review fixes
  todos/textual-footer-migration/review-findings.md
Due: teleclaude-docs-check

chore(sync): snapshot before main sync (textual-footer-migration)
  todos/textual-footer-migration/deferrals.md
  todos/textual-footer-migration/review-findings.md
  todos/textual-footer-migration/state.yaml
Due: teleclaude-docs-check

chore(sync): snapshot before main sync (textual-footer-migration)
  todos/textual-footer-migration/deferrals.md
  todos/textual-footer-migration/state.yaml
Due: teleclaude-docs-check

chore(build): close build gates for transcript-first output
  todos/transcript-first-output-and-hook-backpressure/implementation-plan.md
  todos/transcript-first-output-and-hook-backpressure/quality-checklist.md
Due: teleclaude-docs-check

chore(sync): snapshot before main sync (transcript-first-output-and-hook-backpressure)
  todos/transcript-first-output-and-hook-backpressure/implementation-plan.md
  todos/transcript-first-output-and-hook-backpressure/quality-checklist.md
  todos/transcript-first-output-and-hook-backpressure/state.yaml
Due: teleclaude-docs-check

feat(tui): complete textual footer migration with rich context and workflow improvements
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/views/config.py
  teleclaude/cli/tui/views/jobs.py
Due: none

fix(daemon): keep critical hook queue strictly bounded
  teleclaude/daemon.py
  tests/unit/test_daemon.py
Due: none

test: fix pre-existing integration and unit test regressions
  docs/project/spec/telec-cli-surface.md
  teleclaude/invite.py
  tests/integration/conftest.py
  tests/integration/test_ai_to_ai_session_init_e2e.py
  tests/integration/test_e2e_smoke.py
  tests/integration/test_multi_adapter_broadcasting.py
  tests/integration/test_run_agent_command_e2e.py
  tests/unit/test_install_hooks.py
  tests/unit/test_runtime_settings.py
Due: teleclaude-docs-check, teleclaude-docs-validate

test: increase timeout for agent restart abort test
  tests/unit/test_command_handlers.py
Due: none

test: refactor integration tests to remove arbitrary wait times
  tests/integration/test_ai_to_ai_session_init_e2e.py
  tests/integration/test_run_agent_command_e2e.py
Due: none

test(daemon): make lag percentile burst test non-vacuous
  tests/unit/test_daemon.py
Due: none

docs(todo): record fix-review commit mapping
  todos/transcript-first-output-and-hook-backpressure/review-findings.md
Due: teleclaude-docs-check

test(integration): align lifecycle and observer expectations
  tests/integration/test_e2e_smoke.py
  tests/integration/test_multi_adapter_broadcasting.py
Due: none

chore(textual-footer-migration): finalize delivery
  todos/delivered.yaml
  todos/roadmap.yaml
  todos/textual-footer-migration/quality-checklist.md
Due: teleclaude-docs-check

chore(sync): snapshot before main sync (transcript-first-output-and-hook-backpressure)
  todos/roadmap.yaml
  todos/transcript-first-output-and-hook-backpressure/state.yaml
Due: none

chore(sync): snapshot before main sync (transcript-first-output-and-hook-backpressure)
  todos/roadmap.yaml
Due: none

chore(sync): snapshot before main sync (consolidate-methodology-skills)
  todos/roadmap.yaml
Due: none

fix(core): sanitize tmux fallback output in get_session_data
  teleclaude/core/command_handlers.py
  tests/unit/test_command_handlers.py
  todos/fix-core-bugs-round-1/bug.md
  todos/fix-core-bugs-round-1/state.yaml
Due: teleclaude-docs-check

chore(sync): snapshot before main sync (fix-core-bugs-round-1)
  todos/fix-core-bugs-round-1/state.yaml
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
