Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

docs(third-party): add Gemini Nano Banana detailed API reference
  docs/third-party/image-generation/gemini-nano-banana.md
  docs/third-party/index.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(creative): use correct worker command names in orchestration procedure
  docs/global/creative/procedure/creative-orchestration.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(creative): add /next-create-art and /next-create-html worker commands
  agents/commands/next-create-art.md
  agents/commands/next-create-html.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(sessions): create headless session when reviving dead native agent sessions
  teleclaude/api_server.py
  teleclaude/cli/api_client.py
  teleclaude/cli/telec.py
  teleclaude/history/search.py
Due: check-cli-help

fix(build-gates): replace subprocess demo validate with direct import
  teleclaude/cli/demo_validation.py
  teleclaude/core/next_machine/core.py
Due: none

chore(fix-bugs-report-event-system-regression): deliver and cleanup
  todos/delivered.yaml
  todos/fix-bugs-report-event-system-regression/bug.md
  todos/fix-bugs-report-event-system-regression/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

feat(creative): add creator state machine, nano banana helper, and orchestrator refinements
  agents/commands/next-create.md
  agents/commands/next-work.md
  agents/commands/prime-orchestrator.md
  agents/skills/nano-banana/SKILL.md
  docs/global/creative/procedure/image-generation.md
  docs/global/creative/procedure/lifecycle/overview.md
  scripts/helpers/nano_banana_helper.py
  teleclaude/api/auth.py
  teleclaude/api/todo_routes.py
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
  teleclaude/constants.py
  teleclaude/core/next_machine/__init__.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/next_machine/create.py
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

refactor(creative): split image-generation into generic + nano-banana, remove skill
  agents/skills/nano-banana/SKILL.md
  docs/global/baseline-progressive.md
  docs/global/creative/procedure/image-generation.md
  docs/global/creative/procedure/image-generation/nano-banana.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(docs): conform image-generation and creative overview to snippet schema
  docs/global/creative/procedure/image-generation.md
  docs/global/creative/procedure/lifecycle/overview.md
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor(docs): retype image-generation to concept, restructure lifecycle overview
  docs/global/baseline-progressive.md
  docs/global/creative/concept/image-generation.md
  docs/global/creative/procedure/image-generation.md
  docs/global/creative/procedure/lifecycle/overview.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(auth): wire snippet visibility to caller identity, remove dead role field
  docs/global/general/spec/snippet-authoring-schema.md
  docs/global/index.yaml
  docs/project/index.yaml
  teleclaude/cli/telec.py
  teleclaude/constants.py
  teleclaude/context_selector.py
  teleclaude/core/identity.py
  teleclaude/daemon.py
  teleclaude/docs_index.py
  teleclaude/resource_validation.py
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

fix(lint): fix broken ruff guardrail, wire mypy+pylint as blocking, add test companion check
  .pre-commit-config.yaml
  pyproject.toml
  tools/lint.sh
  tools/lint/guardrails.py
  tools/lint/precommit-hook.sh
Due: none

fix(tui): separate hierarchy (group) from ordering (after) in prep_tree
  teleclaude/cli/tui/prep_tree.py
  todos/roadmap.yaml
Due: none

refactor(tui): decompose oversized TUI modules into focused submodules
  demos/rlf-tui/demo.md
  demos/rlf-tui/snapshot.json
  pyproject.toml
  teleclaude/cli/tui/_pane_specs.py
  teleclaude/cli/tui/animations/__init__.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/animations/particles.py
  teleclaude/cli/tui/animations/sky.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/app_actions.py
  teleclaude/cli/tui/app_media.py
  teleclaude/cli/tui/app_ws.py
  teleclaude/cli/tui/pane_layout.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/pane_theming.py
  teleclaude/cli/tui/views/_config_constants.py
  teleclaude/cli/tui/views/config.py
  teleclaude/cli/tui/views/config_editing.py
  teleclaude/cli/tui/views/config_render.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/preparation_actions.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/views/sessions_actions.py
  teleclaude/cli/tui/views/sessions_highlights.py
  todos/rlf-tui/implementation-plan.md
  todos/rlf-tui/quality-checklist.md
  todos/rlf-tui/requirements.md
  todos/rlf-tui/review-findings.md
Due: teleclaude-docs-check

chore(rlf-tui): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(rlf-tui): todo cleanup after delivery
  todos/rlf-tui/demo.md
  todos/rlf-tui/implementation-plan.md
  todos/rlf-tui/input.md
  todos/rlf-tui/quality-checklist.md
  todos/rlf-tui/requirements.md
  todos/rlf-tui/state.yaml
Due: teleclaude-docs-check

refactor(adapters): decompose discord, telegram, and ui adapters into focused submodules
  demos/rlf-adapters/demo.md
  demos/rlf-adapters/snapshot.json
  teleclaude/adapters/discord/__init__.py
  teleclaude/adapters/discord/channel_ops.py
  teleclaude/adapters/discord/gateway_handlers.py
  teleclaude/adapters/discord/infra.py
  teleclaude/adapters/discord/input_handlers.py
  teleclaude/adapters/discord/message_ops.py
  teleclaude/adapters/discord/provisioning.py
  teleclaude/adapters/discord/relay_ops.py
  teleclaude/adapters/discord/team_channels.py
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/telegram/__init__.py
  teleclaude/adapters/telegram/channel_ops.py
  teleclaude/adapters/telegram/lifecycle.py
  teleclaude/adapters/telegram/private_handlers.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/adapters/ui/__init__.py
  teleclaude/adapters/ui/output_delivery.py
  teleclaude/adapters/ui/threaded_output.py
  teleclaude/adapters/ui_adapter.py
  todos/rlf-adapters/implementation-plan.md
  todos/rlf-adapters/quality-checklist.md
  todos/rlf-adapters/requirements.md
  todos/rlf-adapters/review-findings.md
Due: teleclaude-docs-check

chore(rlf-adapters): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(rlf-adapters): todo cleanup after delivery
  todos/rlf-adapters/demo.md
  todos/rlf-adapters/implementation-plan.md
  todos/rlf-adapters/input.md
  todos/rlf-adapters/quality-checklist.md
  todos/rlf-adapters/requirements.md
  todos/rlf-adapters/state.yaml
Due: teleclaude-docs-check

fix(telegram): move Callable/Coroutine/Update to runtime imports
  teleclaude/adapters/telegram/lifecycle.py
Due: none

fix(auth): allow integrator self-end and resolve null human_role cascade
  teleclaude/api/auth.py
  teleclaude/cli/telec.py
Due: check-cli-help

chore(todos): scaffold fix-state-machine-triggers-unnecessary-revie
  todos/fix-state-machine-triggers-unnecessary-revie/bug.md
  todos/fix-state-machine-triggers-unnecessary-revie/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

refactor(services): decompose api_server and daemon into focused submodules
  demos/rlf-services/demo.md
  demos/rlf-services/snapshot.json
  pyproject.toml
  teleclaude/api/agents_routes.py
  teleclaude/api/chiptunes_routes.py
  teleclaude/api/computers_routes.py
  teleclaude/api/jobs_routes.py
  teleclaude/api/notifications_routes.py
  teleclaude/api/people_routes.py
  teleclaude/api/projects_routes.py
  teleclaude/api/sessions_actions_routes.py
  teleclaude/api/sessions_routes.py
  teleclaude/api/settings_routes.py
  teleclaude/api/ws_constants.py
  teleclaude/api/ws_mixin.py
  teleclaude/api_server.py
  teleclaude/daemon.py
  teleclaude/daemon_event_platform.py
  teleclaude/daemon_hook_outbox.py
  teleclaude/daemon_session.py
  todos/rlf-services/deferrals.md
  todos/rlf-services/implementation-plan.md
  todos/rlf-services/quality-checklist.md
  todos/rlf-services/review-findings.md
Due: teleclaude-docs-check

chore(rlf-services): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(rlf-services): todo cleanup after delivery
  todos/rlf-services/demo.md
  todos/rlf-services/implementation-plan.md
  todos/rlf-services/input.md
  todos/rlf-services/quality-checklist.md
  todos/rlf-services/requirements.md
  todos/rlf-services/state.yaml
Due: teleclaude-docs-check

fix(auth): send session token from tool_client for daemon-spawned agents
  teleclaude/cli/tool_client.py
Due: none

chore(todos): scaffold fix-session-title-newlines
  todos/fix-session-title-newlines/bug.md
  todos/fix-session-title-newlines/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

feat(jobs): deliver youtube-scrape-channels-job
  demos/youtube-scrape-channels-job/demo.md
  demos/youtube-scrape-channels-job/snapshot.json
  docs/project/design/architecture/jobs-runner.md
  docs/project/spec/jobs/youtube-sync-subscriptions.md
  docs/project/spec/teleclaude-config.md
  jobs/youtube_scraper.py
  teleclaude.sample.yml
  teleclaude.yml
  tests/unit/test_youtube_scraper.py
  todos/youtube-scrape-channels-job/quality-checklist.md
  todos/youtube-scrape-channels-job/review-findings.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(youtube-scrape-channels-job): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(youtube-scrape-channels-job): todo cleanup after delivery
  todos/youtube-scrape-channels-job/demo.md
  todos/youtube-scrape-channels-job/dor-report.md
  todos/youtube-scrape-channels-job/implementation-plan.md
  todos/youtube-scrape-channels-job/input.md
  todos/youtube-scrape-channels-job/quality-checklist.md
  todos/youtube-scrape-channels-job/requirements.md
  todos/youtube-scrape-channels-job/review-findings.md
  todos/youtube-scrape-channels-job/state.yaml
Due: teleclaude-docs-check

chore(rlf-peripherals): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(rlf-peripherals): todo cleanup after delivery
  todos/rlf-peripherals/demo.md
  todos/rlf-peripherals/implementation-plan.md
  todos/rlf-peripherals/input.md
  todos/rlf-peripherals/quality-checklist.md
  todos/rlf-peripherals/requirements.md
  todos/rlf-peripherals/state.yaml
Due: teleclaude-docs-check

chore(rlf-peripherals): todo cleanup after delivery
  todos/rlf-peripherals/review-findings.md
Due: teleclaude-docs-check

refactor(peripherals): deliver rlf-peripherals review findings
  todos/rlf-peripherals/review-findings.md
Due: teleclaude-docs-check

refactor(core-machines): deliver rlf-core-machines module decomposition
  demos/rlf-core-machines/demo.md
  demos/rlf-core-machines/snapshot.json
  teleclaude/core/integration/checkpoint.py
  teleclaude/core/integration/formatters.py
  teleclaude/core/integration/state_machine.py
  teleclaude/core/integration/step_functions.py
  teleclaude/core/next_machine/__init__.py
  teleclaude/core/next_machine/_types.py
  teleclaude/core/next_machine/build_gates.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/next_machine/create.py
  teleclaude/core/next_machine/delivery.py
  teleclaude/core/next_machine/git_ops.py
  teleclaude/core/next_machine/icebox.py
  teleclaude/core/next_machine/output_formatting.py
  teleclaude/core/next_machine/prepare.py
  teleclaude/core/next_machine/prepare_events.py
  teleclaude/core/next_machine/prepare_helpers.py
  teleclaude/core/next_machine/prepare_steps.py
  teleclaude/core/next_machine/roadmap.py
  teleclaude/core/next_machine/slug_resolution.py
  teleclaude/core/next_machine/state_io.py
  teleclaude/core/next_machine/work.py
  teleclaude/core/next_machine/worktrees.py
  tests/unit/core/next_machine/test_prepare_staleness.py
  tests/unit/core/next_machine/test_referenced_paths.py
  tests/unit/core/next_machine/test_review_findings.py
  todos/rlf-core-machines/implementation-plan.md
  todos/rlf-core-machines/quality-checklist.md
  todos/rlf-core-machines/requirements.md
  todos/rlf-core-machines/review-findings.md
Due: teleclaude-docs-check
