Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

fix(invite): avoid duplicate fallback link output
  teleclaude/cli/config_cli.py
  tests/unit/test_config_cli.py
Due: check-cli-help

test(todo-demo): cover create mode and parser edges
  tests/unit/test_next_machine_demo.py
Due: none

docs(review): record applied fixes for re-review
  todos/consolidate-methodology-skills/review-findings.md
Due: teleclaude-docs-check

fix(next-machine): bind finalize readiness to orchestrator session
  teleclaude/core/next_machine/core.py
  teleclaude/mcp_server.py
  tests/unit/core/test_next_machine_deferral.py
  tests/unit/test_mcp_server.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
Due: none

docs(review): document scope-traceability fix
  todos/consolidate-methodology-skills/quality-checklist.md
  todos/consolidate-methodology-skills/review-findings.md
  todos/consolidate-methodology-skills/state.yaml
Due: teleclaude-docs-check

fix(todo): align scope with delivered branch surfaces
  todos/consolidate-methodology-skills/implementation-plan.md
  todos/consolidate-methodology-skills/requirements.md
  todos/consolidate-methodology-skills/review-findings.md
  todos/consolidate-methodology-skills/state.yaml
Due: teleclaude-docs-check

docs(todo): record scope-alignment fix evidence
  todos/consolidate-methodology-skills/review-findings.md
Due: teleclaude-docs-check

docs(todo): record review closure state
  todos/consolidate-methodology-skills/implementation-plan.md
  todos/consolidate-methodology-skills/requirements.md
  todos/consolidate-methodology-skills/review-findings.md
  todos/consolidate-methodology-skills/state.yaml
Due: teleclaude-docs-check

chore(consolidate-methodology-skills): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(consolidate-methodology-skills): add demo snapshot
  demos/consolidate-methodology-skills/snapshot.json
Due: none

chore: cleanup consolidate-methodology-skills
  todos/consolidate-methodology-skills/demo.md
  todos/consolidate-methodology-skills/dor-report.md
  todos/consolidate-methodology-skills/implementation-plan.md
  todos/consolidate-methodology-skills/input.md
  todos/consolidate-methodology-skills/quality-checklist.md
  todos/consolidate-methodology-skills/requirements.md
  todos/consolidate-methodology-skills/review-findings.md
  todos/consolidate-methodology-skills/state.yaml
Due: teleclaude-docs-check

fix(jobs): remove session ID truncation in session_memory_extraction error log
  jobs/help_desk_intelligence.py
  jobs/session_memory_extraction.py
Due: none

feat(tui): harden reload resilience with protocol-driven persistence
  demos/tui-state-persistence/demo.md
  teleclaude/cli/config_cli.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/messages.py
  teleclaude/cli/tui/persistence.py
  teleclaude/cli/tui/state_store.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/status_bar.py
  teleclaude/cli/tui/widgets/telec_footer.py
  tests/integration/test_e2e_smoke.py
  tests/integration/test_multi_adapter_broadcasting.py
  tests/unit/test_tui_footer_migration.py
  tests/unit/test_tui_state_store.py
  todos/tui-state-persistence/implementation-plan.md
  todos/tui-state-persistence/quality-checklist.md
  todos/tui-state-persistence/state.yaml
Due: teleclaude-docs-check, check-cli-help

fix(tui-state): honor configured pane theme on empty persisted state
  teleclaude/cli/tui/state_store.py
  tests/unit/test_tui_state_store.py
  todos/tui-state-persistence/implementation-plan.md
  todos/tui-state-persistence/quality-checklist.md
  todos/tui-state-persistence/review-findings.md
  todos/tui-state-persistence/state.yaml
Due: teleclaude-docs-check

docs(tui-state): record applied review fix
  todos/tui-state-persistence/review-findings.md
Due: teleclaude-docs-check

fix(config-cli): report invite email success on non-exception path
  teleclaude/cli/config_cli.py
  tests/unit/test_config_cli.py
  todos/tui-state-persistence/review-findings.md
  todos/tui-state-persistence/state.yaml
Due: teleclaude-docs-check, check-cli-help

docs(review): record applied fix for invite status finding
  todos/tui-state-persistence/review-findings.md
Due: teleclaude-docs-check

chore(tui-state-persistence): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(tui-state-persistence): add demo snapshot
  demos/tui-state-persistence/snapshot.json
Due: none

chore: cleanup tui-state-persistence
  todos/tui-state-persistence/demo.md
  todos/tui-state-persistence/dor-report.md
  todos/tui-state-persistence/implementation-plan.md
  todos/tui-state-persistence/input.md
  todos/tui-state-persistence/quality-checklist.md
  todos/tui-state-persistence/requirements.md
  todos/tui-state-persistence/review-findings.md
  todos/tui-state-persistence/state.yaml
Due: teleclaude-docs-check

feat(context): add project manifest registration for telec sync
  teleclaude/config/schema.py
  teleclaude/project_manifest.py
  teleclaude/project_registry.py
  teleclaude/sync.py
  tests/unit/test_project_manifest.py
  tests/unit/test_project_registry.py
  tests/unit/test_telec_sync.py
  todos/cross-project-context/implementation-plan.md
  todos/cross-project-context/state.yaml
Due: teleclaude-docs-check

feat(context): add snippet visibility frontmatter support
  docs/global/general/policy/conflict-resolution.md
  docs/global/general/policy/context-retrieval.md
  docs/global/software-development/concept/builder.md
  docs/global/software-development/policy/code-quality.md
  docs/global/software-development/principle/failure-modes.md
  teleclaude/constants.py
  teleclaude/docs_index.py
  teleclaude/resource_validation.py
  tests/unit/test_docs_index.py
  todos/cross-project-context/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(context): implement cross-project context selection phases
  teleclaude/context_selector.py
  tests/unit/test_context_selector.py
  tests/unit/test_help_desk_features.py
  todos/cross-project-context/implementation-plan.md
Due: teleclaude-docs-check

feat(context): wire get_context project filters and caller user_role
  teleclaude/api_models.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/022_add_session_user_role.py
  teleclaude/core/models.py
  teleclaude/core/schema.sql
  teleclaude/mcp/handlers.py
  teleclaude/mcp/tool_definitions.py
  tests/unit/test_command_handlers.py
  tests/unit/test_db.py
  tests/unit/test_mcp_get_context.py
  todos/cross-project-context/implementation-plan.md
Due: teleclaude-docs-check, check-raw-sql

chore(context): finalize build gates and demo artifacts
  demos/cross-project-context/demo.md
  todos/cross-project-context/demo.md
  todos/cross-project-context/implementation-plan.md
  todos/cross-project-context/quality-checklist.md
Due: teleclaude-docs-check

fix(context-selector): honor explicit cross-project phase-2 requests
  teleclaude/context_selector.py
  tests/unit/test_context_selector.py
Due: none

fix(mcp): limit project-root gating to project snippet IDs
  teleclaude/mcp/handlers.py
  tests/unit/test_mcp_get_context.py
Due: none

docs(review): record applied fixes for cross-project-context
  todos/cross-project-context/review-findings.md
Due: teleclaude-docs-check

fix(mcp): allow cross-project snippet ids without local root
  teleclaude/mcp/handlers.py
  tests/unit/test_mcp_get_context.py
Due: none

fix(context): make caller role authoritative for visibility
  teleclaude/context_selector.py
  tests/unit/test_context_selector.py
Due: none

fix(context): preserve role fallback and sync build state
  teleclaude/context_selector.py
  todos/cross-project-context/quality-checklist.md
  todos/cross-project-context/review-findings.md
  todos/cross-project-context/state.yaml
Due: teleclaude-docs-check

chore(cross-project-context): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(cross-project-context): add demo snapshot
  demos/cross-project-context/snapshot.json
Due: none

chore: cleanup cross-project-context
  todos/cross-project-context/demo.md
  todos/cross-project-context/dor-report.md
  todos/cross-project-context/implementation-plan.md
  todos/cross-project-context/quality-checklist.md
  todos/cross-project-context/requirements.md
  todos/cross-project-context/review-findings.md
  todos/cross-project-context/state.yaml
Due: teleclaude-docs-check

docs(unified-client-adapter-pipeline): capture phase 1 scope reconciliation
  todos/unified-client-adapter-pipeline/implementation-plan.md
  todos/unified-client-adapter-pipeline/state.yaml
Due: teleclaude-docs-check

docs(unified-client-adapter-pipeline): complete phase 2 artifact hygiene
  todos/unified-client-adapter-pipeline/implementation-plan.md
Due: teleclaude-docs-check

docs(unified-client-adapter-pipeline): complete phase 3 readiness governance
  todos/unified-client-adapter-pipeline/implementation-plan.md
Due: teleclaude-docs-check

docs(unified-client-adapter-pipeline): complete phase 4 readiness reporting
  todos/unified-client-adapter-pipeline/dor-report.md
  todos/unified-client-adapter-pipeline/implementation-plan.md
  todos/unified-client-adapter-pipeline/state.yaml
Due: teleclaude-docs-check

docs(unified-client-adapter-pipeline): finalize build gates and demo artifact
  demos/unified-client-adapter-pipeline/demo.md
  todos/unified-client-adapter-pipeline/implementation-plan.md
  todos/unified-client-adapter-pipeline/quality-checklist.md
  todos/unified-client-adapter-pipeline/state.yaml
Due: teleclaude-docs-check

fix(unified-client-adapter-pipeline): fail fast demo checks and sync review artifacts
  demos/unified-client-adapter-pipeline/demo.md
  todos/unified-client-adapter-pipeline/demo.md
  todos/unified-client-adapter-pipeline/dor-report.md
  todos/unified-client-adapter-pipeline/implementation-plan.md
  todos/unified-client-adapter-pipeline/quality-checklist.md
  todos/unified-client-adapter-pipeline/state.yaml
Due: teleclaude-docs-check
