Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

feat(creative): add creative domain specs, policies, procedures, and state machine
  docs/global/creative/design/creative-machine.md
  docs/global/creative/policy/visual-constraints.md
  docs/global/creative/procedure/creative-orchestration.md
  docs/global/creative/procedure/visual-drafting.md
  docs/global/creative/spec/visual-artifact.md
  docs/global/index.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

review(prepare-pipeline-hardening): plan review — needs_work with 5 findings
  todos/prepare-pipeline-hardening/demo.md
  todos/prepare-pipeline-hardening/implementation-plan.md
  todos/prepare-pipeline-hardening/plan-review-findings.md
  todos/prepare-pipeline-hardening/state.yaml
Due: teleclaude-docs-check

fix(event-bus): track fire-and-forget tasks to prevent asyncio task leak
  teleclaude/core/event_bus.py
  teleclaude/events/pipeline.py
Due: none

fix(prepare-pipeline-hardening): address plan review findings (round 2)
  todos/prepare-pipeline-hardening/demo.md
  todos/prepare-pipeline-hardening/implementation-plan.md
  todos/prepare-pipeline-hardening/state.yaml
Due: teleclaude-docs-check

review(prepare-pipeline-hardening): reject incomplete implementation plan
  todos/prepare-pipeline-hardening/plan-review-findings.md
  todos/prepare-pipeline-hardening/state.yaml
Due: teleclaude-docs-check

fix(prepare-pipeline-hardening): address plan review findings (round 3)
  todos/prepare-pipeline-hardening/implementation-plan.md
  todos/prepare-pipeline-hardening/state.yaml
Due: teleclaude-docs-check

chore(prepare): review pipeline hardening plan
  todos/prepare-pipeline-hardening/implementation-plan.md
  todos/prepare-pipeline-hardening/plan-review-findings.md
  todos/prepare-pipeline-hardening/state.yaml
Due: teleclaude-docs-check

fix(prepare-pipeline-hardening): override plan review — atomicity finding rejected
  todos/prepare-pipeline-hardening/state.yaml
Due: none

chore(prepare-pipeline-hardening): gate pass — DOR score 9/10, ready for build
  todos/prepare-pipeline-hardening/dor-report.md
  todos/prepare-pipeline-hardening/state.yaml
Due: teleclaude-docs-check

fix(tui): use SlashCommand .value in f-string contexts
  teleclaude/cli/tui/views/preparation.py
Due: none

docs(todo): review workflow-engine-refactor requirements
  todos/workflow-engine-refactor/input.md
  todos/workflow-engine-refactor/requirements.md
  todos/workflow-engine-refactor/state.yaml
Due: teleclaude-docs-check

feat(tui): add Refine and Freeze keys to todo pane, remove global refresh
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/constants.py
Due: teleclaude-docs-validate

review(workflow-engine-refactor): request plan changes
  todos/workflow-engine-refactor/implementation-plan.md
  todos/workflow-engine-refactor/plan-review-findings.md
  todos/workflow-engine-refactor/state.yaml
Due: teleclaude-docs-check

fix(tui): keep ambient sky alive across animation modes
  teleclaude/cli/tui/animation_engine.py
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/animations/sprites/__init__.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/widgets/telec_footer.py
  tests/unit/cli/tui/test_animation_modes.py
Due: none

fix(lifecycle): start API before project warm and adapters
  teleclaude/core/lifecycle.py
  tests/unit/core/test_lifecycle.py
Due: none

chore(agent-config): adjust init analysis and codex defaults
  agents/commands/telec-init-analyze.md
  demos/telec-init-enrichment/snapshot.json
  teleclaude.yml
  teleclaude/helpers/agent_cli.py
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(backlog): sync todo artifacts and maintenance docs
  demos/event-alpha-container/snapshot.json
  docs/global/software-development/procedure/maintenance/overview.md
  docs/global/software-development/procedure/maintenance/release-and-stabilization-rhythm.md
  todos/event-alpha-container/review-findings.md
  todos/fix-bug-cleanup-pipeline-has-three-gaps-1-is/state.yaml
  todos/fix-bugs-report-event-system-regression/bug.md
  todos/fix-bugs-report-event-system-regression/state.yaml
  todos/fix-daemon-internal-telec-subprocess/bug.md
  todos/fix-daemon-internal-telec-subprocess/state.yaml
  todos/fix-integrator-spawn-broken-integration-brid/state.yaml
  todos/prepare-pipeline-hardening/requirements.md
  todos/prepare-pipeline-hardening/state.yaml
  todos/roadmap.yaml
  todos/workflow-engine-refactor/demo.md
  todos/workflow-engine-refactor/implementation-plan.md
  todos/workflow-engine-refactor/plan-review-findings.md
  todos/workflow-engine-refactor/quality-checklist.md
  todos/workflow-engine-refactor/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(tui): preserve moving sprites across banner mode changes
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/app.py
  tests/unit/cli/tui/test_animation_modes.py
Due: none

chore(todos): review workflow-engine-refactor plan
  todos/workflow-engine-refactor/plan-review-findings.md
  todos/workflow-engine-refactor/state.yaml
Due: teleclaude-docs-check

feat(prepare): harden prepare pipeline with artifact lifecycle, audit trails, and structured findings
  demos/prepare-pipeline-hardening/demo.md
  demos/prepare-pipeline-hardening/snapshot.json
  docs/global/software-development/procedure/lifecycle/prepare.md
  docs/global/software-development/procedure/lifecycle/review-plan.md
  docs/global/software-development/procedure/lifecycle/review-requirements.md
  docs/global/software-development/procedure/maintenance/next-prepare-discovery.md
  docs/global/software-development/procedure/maintenance/next-prepare-draft.md
  docs/global/software-development/procedure/maintenance/next-prepare-gate.md
  docs/global/software-development/procedure/maintenance/next-prepare.md
  docs/project/spec/event-vocabulary.md
  docs/project/spec/telec-cli-surface.md
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/next_machine/prepare_helpers.py
  teleclaude/events/schemas/software_development.py
  teleclaude/todo_scaffold.py
  tests/unit/core/next_machine/test_audit_stamping.py
  tests/unit/core/next_machine/test_format_tool_call.py
  tests/unit/core/next_machine/test_ghost_artifact.py
  tests/unit/core/next_machine/test_prepare_helpers.py
  tests/unit/core/next_machine/test_prepare_schema.py
  tests/unit/core/next_machine/test_prepare_staleness.py
  tests/unit/core/next_machine/test_referenced_paths.py
  tests/unit/core/next_machine/test_review_findings.py
  tests/unit/core/next_machine/test_split_inheritance.py
  tests/unit/events/test_new_prepare_events.py
  todos/prepare-pipeline-hardening/implementation-plan.md
  todos/prepare-pipeline-hardening/quality-checklist.md
  todos/prepare-pipeline-hardening/review-findings.md
  todos/prepare-pipeline-hardening/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

chore(prepare-pipeline-hardening): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(prepare-pipeline-hardening): todo cleanup after delivery
  todos/prepare-pipeline-hardening/demo.md
  todos/prepare-pipeline-hardening/dor-report.md
  todos/prepare-pipeline-hardening/implementation-plan.md
  todos/prepare-pipeline-hardening/input.md
  todos/prepare-pipeline-hardening/plan-review-findings.md
  todos/prepare-pipeline-hardening/quality-checklist.md
  todos/prepare-pipeline-hardening/requirements.md
  todos/prepare-pipeline-hardening/state.yaml
Due: teleclaude-docs-check

chore(todos): scaffold fix-integrator-not-cleaning-up
  todos/fix-integrator-not-cleaning-up/bug.md
  todos/fix-integrator-not-cleaning-up/state.yaml
Due: teleclaude-docs-check

fix(next-machine): ensure todo artifacts available in worktrees
  teleclaude/core/next_machine/core.py
Due: none

review(agent-session-auth): approve requirements with 4 auto-remediated findings
  todos/agent-session-auth/requirements.md
  todos/agent-session-auth/state.yaml
Due: teleclaude-docs-check

Unify MCP config installation and preserve launcher FDA
  docs/project/policy/agent-service-control.md
  mcp.json
  teleclaude/install/install_hooks.py
  teleclaude/project_setup/macos_setup.py
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(todo): review agent-session-auth plan
  todos/agent-session-auth/implementation-plan.md
  todos/agent-session-auth/state.yaml
Due: teleclaude-docs-check

refactor(next-machine): remove worktree sync infrastructure
  docs/project/design/architecture/next-machine.md
  teleclaude/api/todo_routes.py
  teleclaude/core/next_machine/core.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(todo): add kind:bug and mark build complete for fix-bugs-report-event-system-regression
  todos/fix-bugs-report-event-system-regression/state.yaml
Due: none

fix(chiptunes): restore optimistic state updates and button guard
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/widgets/telec_footer.py
Due: none

fix(chiptunes): remove stale ChiptunesSettingsPatchInfo import
  teleclaude/cli/tui/app.py
Due: none

fix(commands): add input gate to bug fixer — stop if bug.md missing
  agents/commands/next-bugs-fix.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(agent-session-auth): deliver token-based identity for agent sessions
  demos/agent-session-auth/demo.md
  demos/agent-session-auth/snapshot.json
  docs/project/spec/identity-and-auth.md
  teleclaude/api/auth.py
  teleclaude/api_server.py
  teleclaude/cli/api_client.py
  teleclaude/cli/telec.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/031_add_session_tokens.py
  teleclaude/core/migrations/032_add_session_principal.py
  teleclaude/core/models.py
  teleclaude/core/schema.sql
  teleclaude/core/session_cleanup.py
  teleclaude/daemon.py
  tests/unit/conftest.py
  tests/unit/test_api_auth.py
  tests/unit/test_principal_inheritance.py
  tests/unit/test_session_token_lifecycle.py
  tests/unit/test_session_tokens.py
  todos/agent-session-auth/demo.md
  todos/agent-session-auth/implementation-plan.md
  todos/agent-session-auth/quality-checklist.md
  todos/agent-session-auth/review-findings.md
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

chore(agent-session-auth): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(agent-session-auth): todo cleanup after delivery
  todos/agent-session-auth/implementation-plan.md
  todos/agent-session-auth/requirements.md
  todos/agent-session-auth/state.yaml
Due: teleclaude-docs-check

chore(todos): remove fix-integrator-not-cleaning-up
  todos/fix-integrator-not-cleaning-up/bug.md
  todos/fix-integrator-not-cleaning-up/state.yaml
Due: teleclaude-docs-check

fix(integration): reorder post-merge flow to prevent repo root divergence
  agents/commands/next-finalize.md
  docs/global/software-development/procedure/lifecycle/integrate.md
  docs/global/software-development/procedure/lifecycle/work/finalize.md
  teleclaude/core/integration/state_machine.py
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor(creative): rename design-system to design-spec across creative domain
  docs/global/creative/design/creative-machine.md
  docs/global/creative/policy/visual-constraints.md
  docs/global/creative/procedure/creative-orchestration.md
  docs/global/creative/procedure/design-discovery.md
  docs/global/creative/procedure/visual-drafting.md
  docs/global/creative/spec/design-spec.md
  docs/global/creative/spec/visual-artifact.md
  docs/global/index.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor(creative): rename visuals/ folder to html/ across creative domain
  docs/global/creative/design/creative-machine.md
  docs/global/creative/policy/visual-constraints.md
  docs/global/creative/procedure/creative-orchestration.md
  docs/global/creative/procedure/visual-drafting.md
  docs/global/creative/spec/visual-artifact.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(creative): add artist phase, image generation landscape, three-role pipeline
  docs/global/creative/design/creative-machine.md
  docs/global/creative/procedure/creative-orchestration.md
  docs/global/creative/procedure/visual-drafting.md
  docs/global/creative/spec/visual-artifact.md
  docs/third-party/image-generation/landscape.md
  docs/third-party/index.md
Due: teleclaude-docs-check, teleclaude-docs-validate

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
