Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

docs(finalize): finalize checklist and state updates for tui-footer-clickable-agents
  todos/roadmap.yaml
  todos/tui-footer-clickable-agents/quality-checklist.md
  todos/tui-footer-clickable-agents/state.yaml
Due: teleclaude-docs-check

docs(finalize): log delivery and remove from roadmap for tui-footer-clickable-agents
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(orchestration): staging changes from orchestrator workflow
  adr/0001-precommit-stash-prevention.md
  teleclaude/adapters/discord_adapter.py
  todos/deployment-auto-update/demo.md
  todos/deployment-auto-update/dor-report.md
  todos/deployment-auto-update/implementation-plan.md
  todos/deployment-auto-update/input.md
  todos/deployment-auto-update/requirements.md
  todos/discord-adapter-integrity/demo.md
  todos/discord-adapter-integrity/dor-report.md
  todos/discord-adapter-integrity/implementation-plan.md
  todos/discord-adapter-integrity/input.md
  todos/discord-adapter-integrity/quality-checklist.md
  todos/discord-adapter-integrity/requirements.md
  todos/discord-adapter-integrity/state.yaml
  todos/discord-slash-commands-like-telegram/demo.md
  todos/discord-slash-commands-like-telegram/dor-report.md
  todos/discord-slash-commands-like-telegram/implementation-plan.md
  todos/discord-slash-commands-like-telegram/input.md
  todos/discord-slash-commands-like-telegram/quality-checklist.md
  todos/discord-slash-commands-like-telegram/requirements.md
  todos/discord-slash-commands-like-telegram/state.yaml
  todos/remove-phase-field/demo.md
  todos/remove-phase-field/dor-report.md
  todos/remove-phase-field/implementation-plan.md
  todos/remove-phase-field/input.md
  todos/remove-phase-field/quality-checklist.md
  todos/remove-phase-field/requirements.md
  todos/remove-phase-field/state.yaml
  todos/roadmap.yaml
  todos/tui-footer-clickable-agents/demo.md
  todos/tui-footer-clickable-agents/dor-report.md
  todos/tui-footer-clickable-agents/implementation-plan.md
  todos/tui-footer-clickable-agents/input.md
  todos/tui-footer-clickable-agents/quality-checklist.md
  todos/tui-footer-clickable-agents/requirements.md
  todos/tui-footer-clickable-agents/state.yaml
Due: teleclaude-docs-check

chore: cleanup tui-footer-clickable-agents
  todos/tui-footer-clickable-agents/demo.md
  todos/tui-footer-clickable-agents/dor-report.md
  todos/tui-footer-clickable-agents/implementation-plan.md
  todos/tui-footer-clickable-agents/input.md
  todos/tui-footer-clickable-agents/quality-checklist.md
  todos/tui-footer-clickable-agents/requirements.md
  todos/tui-footer-clickable-agents/review-findings.md
  todos/tui-footer-clickable-agents/state.yaml
Due: teleclaude-docs-check

feat(core): remove phase field in favor of build/review status
  scripts/diagrams/extract_state_machines.py
  teleclaude/cli/telec.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/roadmap.py
  teleclaude/resource_validation.py
  teleclaude/todo_scaffold.py
  teleclaude/types/todos.py
  tests/integration/test_state_machine_workflow.py
  tests/unit/core/test_next_machine_deferral.py
  tests/unit/core/test_roadmap.py
  tests/unit/core/test_roadmap_api_parity.py
  tests/unit/test_bug_scaffold.py
  tests/unit/test_diagram_extractors.py
  tests/unit/test_next_machine_group_sweep.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
  tests/unit/test_prep_tree_builder.py
  tests/unit/test_todo_validation.py
  todos/remove-phase-field/dor-report.md
  todos/remove-phase-field/implementation-plan.md
  todos/remove-phase-field/input.md
  todos/remove-phase-field/quality-checklist.md
  todos/remove-phase-field/requirements.md
  todos/remove-phase-field/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, check-cli-help

docs(review): approve remove-phase-field
  todos/remove-phase-field/implementation-plan.md
  todos/remove-phase-field/quality-checklist.md
  todos/remove-phase-field/review-findings.md
  todos/remove-phase-field/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

docs(finalize): mark finalize gates complete
  todos/remove-phase-field/quality-checklist.md
  todos/remove-phase-field/state.yaml
Due: teleclaude-docs-check

docs(delivery): finalize remove-phase-field
  todos/delivered.yaml
  todos/discord-adapter-integrity/implementation-plan.md
  todos/discord-adapter-integrity/input.md
  todos/discord-adapter-integrity/requirements.md
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore: cleanup remove-phase-field
  todos/remove-phase-field/demo.md
  todos/remove-phase-field/dor-report.md
  todos/remove-phase-field/implementation-plan.md
  todos/remove-phase-field/input.md
  todos/remove-phase-field/quality-checklist.md
  todos/remove-phase-field/requirements.md
  todos/remove-phase-field/review-findings.md
  todos/remove-phase-field/state.yaml
Due: teleclaude-docs-check

chore(gate): adapter-output-delivery DOR validation + carry-forward updates
  todos/adapter-output-delivery/demo.md
  todos/adapter-output-delivery/dor-report.md
  todos/adapter-output-delivery/implementation-plan.md
  todos/adapter-output-delivery/input.md
  todos/adapter-output-delivery/quality-checklist.md
  todos/adapter-output-delivery/requirements.md
  todos/adapter-output-delivery/state.yaml
  todos/discord-adapter-integrity/demo.md
  todos/discord-adapter-integrity/dor-report.md
  todos/discord-adapter-integrity/implementation-plan.md
  todos/discord-adapter-integrity/input.md
  todos/discord-adapter-integrity/requirements.md
  todos/mcp-migration-agent-config/requirements.md
  todos/mcp-migration-telec-commands/implementation-plan.md
  todos/mcp-migration-telec-commands/requirements.md
  todos/mcp-to-tool-specs/requirements.md
  todos/roadmap.yaml
Due: teleclaude-docs-check

Merge lifecycle-enforcement-gates into main
  teleclaude/cli/telec.py
  teleclaude/core/next_machine/core.py
  tests/unit/core/test_next_machine_deferral.py
  tests/unit/test_next_machine_demo.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
  todos/lifecycle-enforcement-gates/demo.md
  todos/lifecycle-enforcement-gates/review-findings.md
  todos/lifecycle-enforcement-gates/state.yaml
Due: teleclaude-docs-check, check-cli-help

chore(lifecycle-enforcement-gates): log delivery and remove from roadmap
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore: cleanup lifecycle-enforcement-gates
  todos/lifecycle-enforcement-gates/demo.md
  todos/lifecycle-enforcement-gates/dor-report.md
  todos/lifecycle-enforcement-gates/implementation-plan.md
  todos/lifecycle-enforcement-gates/input.md
  todos/lifecycle-enforcement-gates/quality-checklist.md
  todos/lifecycle-enforcement-gates/requirements.md
  todos/lifecycle-enforcement-gates/review-findings.md
  todos/lifecycle-enforcement-gates/state.yaml
Due: teleclaude-docs-check

feat(discord): add stale channel ID validation before re-provisioning
  teleclaude/adapters/discord_adapter.py
  todos/discord-adapter-integrity/implementation-plan.md
  todos/discord-adapter-integrity/state.yaml
Due: teleclaude-docs-check

feat(frontend): shadcn/ui theming system with agent color tokens
  docs/project/design/architecture/web-interface.md
  docs/project/index.yaml
  docs/project/spec/identity-and-auth.md
  frontend/AGENTS.master.md
  frontend/GEMINI.md
  frontend/THEMING-PLAN.md
  frontend/app/(chat)/page.tsx
  frontend/app/api/chat/route.ts
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/components.json
  frontend/components/assistant/MyRuntimeProvider.tsx
  frontend/components/assistant/ThreadView.tsx
  frontend/components/parts/DarkModeToggle.tsx
  frontend/components/parts/MarkdownContent.tsx
  frontend/components/sidebar/NewSessionDialog.tsx
  frontend/components/sidebar/SessionList.tsx
  frontend/components/sidebar/Sidebar.tsx
  frontend/components/sidebar/UserButton.tsx
  frontend/components/ui/avatar.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/dropdown-menu.tsx
  frontend/docs/global/baseline.md
  frontend/docs/global/index.yaml
  frontend/hooks/useAgentColors.ts
  frontend/hooks/useAgentTheming.tsx
  frontend/lib/theme/css-variables.ts
  frontend/lib/theme/tokens.css
  frontend/lib/theme/tokens.ts
  frontend/lib/utils.ts
  frontend/lib/utils/text.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/teleclaude.yml
  frontend/tsconfig.json
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(adapter-output-delivery): deliver hook user input and threaded output refresh
  teleclaude/core/adapter_client.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/polling_coordinator.py
  teleclaude/daemon.py
  tests/unit/test_adapter_client.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_polling_coordinator.py
  tests/unit/test_threaded_output_updates.py
  todos/adapter-output-delivery/implementation-plan.md
  todos/adapter-output-delivery/quality-checklist.md
Due: teleclaude-docs-check

feat(discord): fix forum input routing — identity, project path, and logging
  teleclaude/adapters/discord_adapter.py
  todos/discord-adapter-integrity/implementation-plan.md
Due: teleclaude-docs-check

chore(adapter-output-delivery): mark build checklist commit status
  todos/adapter-output-delivery/quality-checklist.md
Due: teleclaude-docs-check

chore(adapter-output-delivery): finalize build gate comments/docstrings status
  todos/adapter-output-delivery/quality-checklist.md
Due: teleclaude-docs-check

test(discord): add coverage for infra validation and forum routing
  tests/integration/config.yml
  tests/unit/test_discord_adapter.py
  todos/discord-adapter-integrity/implementation-plan.md
Due: teleclaude-docs-check

chore(discord-adapter-integrity): mark build gates complete
  todos/discord-adapter-integrity/quality-checklist.md
Due: teleclaude-docs-check

Inbound hook service webhook handling and tests
  teleclaude/config/schema.py
  teleclaude/daemon.py
  teleclaude/hooks/config.py
  teleclaude/hooks/inbound.py
  teleclaude/hooks/normalizers/__init__.py
  teleclaude/hooks/normalizers/github.py
  tests/integration/test_inbound_webhook.py
  tests/unit/test_github_normalizer.py
  todos/inbound-hook-service/state.yaml
Due: none

chore(inbound-hook-service): mark build complete, fix conftest db isolation
  tests/integration/conftest.py
  todos/inbound-hook-service/demo.md
  todos/inbound-hook-service/implementation-plan.md
  todos/inbound-hook-service/quality-checklist.md
Due: teleclaude-docs-check

review(discord-adapter-integrity): round 1 — REQUEST CHANGES
  todos/discord-adapter-integrity/implementation-plan.md
  todos/discord-adapter-integrity/quality-checklist.md
  todos/discord-adapter-integrity/review-findings.md
  todos/discord-adapter-integrity/state.yaml
Due: teleclaude-docs-check

fix(discord): resolve critical review findings #1-4 — identity, test, and checklist
  teleclaude/adapters/discord_adapter.py
  tests/unit/test_discord_adapter.py
  todos/discord-adapter-integrity/implementation-plan.md
  todos/discord-adapter-integrity/quality-checklist.md
  todos/discord-adapter-integrity/state.yaml
Due: teleclaude-docs-check

chore(inbound-hook-service): advance state to review — build complete
  todos/inbound-hook-service/state.yaml
Due: none

fix(discord): persist cleared stale forum IDs to break restart cycle
  teleclaude/adapters/discord_adapter.py
Due: none

fix(discord): log warning when _resolve_forum_context falls through to help_desk
  teleclaude/adapters/discord_adapter.py
Due: none

test(discord): cover _ensure_discord_infrastructure stale channel clearing
  tests/unit/test_discord_adapter.py
Due: none

fix(inbound-hook-service): always load contracts regardless of API server availability
  teleclaude/daemon.py
  tests/integration/test_inbound_webhook.py
  todos/inbound-hook-service/quality-checklist.md
  todos/inbound-hook-service/review-findings.md
  todos/inbound-hook-service/state.yaml
Due: teleclaude-docs-check

docs(discord): record fixes applied in review-findings.md
  todos/discord-adapter-integrity/review-findings.md
Due: teleclaude-docs-check

chore(inbound-hook-service): record fixes applied in review-findings
  todos/inbound-hook-service/review-findings.md
Due: teleclaude-docs-check

chore(inbound-hook-service): review round 2 — APPROVE
  todos/inbound-hook-service/review-findings.md
  todos/inbound-hook-service/state.yaml
Due: teleclaude-docs-check

chore(inbound-hook-service): update quality-checklist and state for finalize
  todos/inbound-hook-service/quality-checklist.md
  todos/inbound-hook-service/state.yaml
Due: teleclaude-docs-check

chore: commit pending workflow state and resource_validation cleanup
  teleclaude/resource_validation.py
  todos/adapter-output-delivery/state.yaml
  todos/discord-adapter-integrity/state.yaml
  todos/inbound-hook-service/state.yaml
Due: none

chore(inbound-hook-service): log delivery and remove from roadmap
  todos/roadmap.yaml
Due: none

chore(inbound-hook-service): add delivery log entry
  todos/delivered.yaml
Due: none

review(discord-adapter-integrity): round 2 — APPROVE
  todos/discord-adapter-integrity/quality-checklist.md
  todos/discord-adapter-integrity/review-findings.md
  todos/discord-adapter-integrity/state.yaml
Due: teleclaude-docs-check

chore(discord-adapter-integrity): finalize review state and quality checklist
  todos/discord-adapter-integrity/implementation-plan.md
  todos/discord-adapter-integrity/quality-checklist.md
  todos/discord-adapter-integrity/review-findings.md
  todos/discord-adapter-integrity/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check
