Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

fix(discord): bundle first message into agent startup to prevent race
  teleclaude/adapters/discord/gateway_handlers.py
  teleclaude/adapters/discord/input_handlers.py
Due: none

refactor(auth): drop TTY-scoped identity, use single global file
  teleclaude/cli/session_auth.py
Due: none

fix(auth): unified role resolution — eliminate admin fallback for unknown users
  teleclaude/api/sessions_actions_routes.py
  teleclaude/cli/cartridge_cli.py
  teleclaude/cli/config_cli.py
  teleclaude/cli/session_auth.py
  teleclaude/cli/telec.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
  teleclaude/core/identity.py
  teleclaude/daemon_hook_outbox.py
  tests/unit/core/test_command_handlers.py
Due: check-cli-help, check-raw-sql

revert: undo broken commit 59fd57c that added single-file modules alongside packages
  teleclaude/api/sessions_actions_routes.py
  teleclaude/cli/cartridge_cli.py
  teleclaude/cli/config_cli.py
  teleclaude/cli/session_auth.py
  teleclaude/cli/telec.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
  teleclaude/core/identity.py
  teleclaude/daemon_hook_outbox.py
  tests/unit/core/test_command_handlers.py
Due: check-cli-help, check-raw-sql

fix(auth): unified role resolution — eliminate admin fallback for unknown users
  teleclaude/api/sessions_actions_routes.py
  teleclaude/cli/cartridge_cli.py
  teleclaude/cli/config_cli.py
  teleclaude/cli/session_auth.py
  teleclaude/cli/telec/handlers/docs.py
  teleclaude/core/command_handlers/_session.py
  teleclaude/core/db/_sessions.py
  teleclaude/core/identity.py
  teleclaude/daemon_hook_outbox.py
Due: check-cli-help

fix(integration): surface repo root pull failure instead of swallowing it
  agents/commands/next-integrate.md
  docs/project/design/architecture/integration-state-machine.md
  teleclaude/core/integration/formatters.py
  teleclaude/core/integration/step_functions.py
  tests/unit/core/integration/test_step_delivery_bookkeeping.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(lifecycle): prevent headless session premature adoption, remove stall detection
  teleclaude/adapters/ui_adapter.py
  teleclaude/api_models.py
  teleclaude/cli/tui/app_ws.py
  teleclaude/core/agent_coordinator/_coordinator.py
  teleclaude/core/events.py
  teleclaude/core/lifecycle.py
  teleclaude/core/status_contract.py
Due: none

fix(setup): stop setting core.hooksPath — restore pre-commit framework
  agents/commands/next-integrate.md
  docs/project/index.yaml
  pyproject.toml
  teleclaude/project_setup/git_repo.py
  tools/lint/guardrails.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(auth): prefer API-auth-resolved role over identity resolver default
  teleclaude/core/command_handlers/_session.py
Due: none

refactor(tests): remove low-value tests identified by policy audit
  tests/unit/cli/tui/test_app.py
  tests/unit/core/next_machine/test_prepare_staleness.py
  tests/unit/core/next_machine/test_referenced_paths.py
  tests/unit/core/next_machine/test_review_findings.py
  tests/unit/core/next_machine/test_stale_review_guard.py
  tests/unit/core/test_agent_coordinator.py
  tests/unit/core/test_command_handlers.py
  tests/unit/core/test_db.py
  tests/unit/test_youtube_scraper.py
Due: none

fix(worktree): use --group dev instead of --extra test for uv sync
  tools/worktree-prepare.sh
Due: none

fix(chiptunes): close CoreAudio stream race in _open_stream
  teleclaude/chiptunes/player.py
Due: none

fix(summarizer): stop forcing first-person phrasing in agent output summaries
  company/cartridges/signal/cluster.py
  company/cartridges/signal/ingest.py
  company/cartridges/signal/synthesize.py
  teleclaude/cli/telec/handlers/content.py
  teleclaude/core/summarizer.py
  teleclaude/events/cartridges/prepare_quality.py
  teleclaude/events/cartridges/trust.py
  teleclaude/events/envelope.py
  teleclaude/events/sandbox/bridge.py
  tests/unit/events/sandbox/test_bridge.py
Due: none

feat(chartest-core-integration): deliver characterization tests for core integration modules
  demos/chartest-core-integration/demo.md
  demos/chartest-core-integration/snapshot.json
  tests/unit/core/integration/test_authorization.py
  tests/unit/core/integration/test_blocked_followup.py
  tests/unit/core/integration/test_checkpoint.py
  tests/unit/core/integration/test_event_store.py
  tests/unit/core/integration/test_events.py
  tests/unit/core/integration/test_formatters.py
  tests/unit/core/integration/test_lease.py
  tests/unit/core/integration/test_queue.py
  tests/unit/core/integration/test_readiness_projection.py
  tests/unit/core/integration/test_runtime.py
  tests/unit/core/integration/test_service.py
  tests/unit/core/integration/test_step_functions.py
  todos/chartest-core-integration/implementation-plan.md
  todos/chartest-core-integration/quality-checklist.md
  todos/chartest-core-integration/review-findings.md
Due: teleclaude-docs-check

chore(chartest-core-integration): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(chartest-core-integration): todo cleanup after delivery
  todos/chartest-core-integration/demo.md
  todos/chartest-core-integration/implementation-plan.md
  todos/chartest-core-integration/input.md
  todos/chartest-core-integration/quality-checklist.md
  todos/chartest-core-integration/requirements.md
  todos/chartest-core-integration/review-findings.md
  todos/chartest-core-integration/state.yaml
Due: teleclaude-docs-check

feat(chartest-core-next-machine): deliver characterization tests for core next-machine modules
  demos/chartest-core-next-machine/demo.md
  demos/chartest-core-next-machine/snapshot.json
  teleclaude/events/envelope.py
  tests/unit/core/next_machine/test_build_gates.py
  tests/unit/core/next_machine/test_create.py
  tests/unit/core/next_machine/test_delivery.py
  tests/unit/core/next_machine/test_git_ops.py
  tests/unit/core/next_machine/test_icebox.py
  tests/unit/core/next_machine/test_output_formatting.py
  tests/unit/core/next_machine/test_prepare.py
  tests/unit/core/next_machine/test_prepare_events.py
  tests/unit/core/next_machine/test_prepare_steps.py
  tests/unit/core/next_machine/test_roadmap.py
  tests/unit/core/next_machine/test_slug_resolution.py
  tests/unit/core/next_machine/test_state_io.py
  tests/unit/core/next_machine/test_work.py
  tests/unit/core/next_machine/test_worktrees.py
  todos/chartest-core-next-machine/implementation-plan.md
  todos/chartest-core-next-machine/quality-checklist.md
  todos/chartest-core-next-machine/review-findings.md
Due: teleclaude-docs-check

chore(chartest-core-next-machine): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(chartest-core-next-machine): todo cleanup after delivery
  todos/chartest-core-next-machine/demo.md
  todos/chartest-core-next-machine/implementation-plan.md
  todos/chartest-core-next-machine/input.md
  todos/chartest-core-next-machine/quality-checklist.md
  todos/chartest-core-next-machine/requirements.md
  todos/chartest-core-next-machine/review-findings.md
  todos/chartest-core-next-machine/state.yaml
Due: teleclaude-docs-check

chore(chartest-core-domain): delivery bookkeeping
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(chartest-core-domain): todo cleanup after delivery
  todos/chartest-core-domain/demo.md
  todos/chartest-core-domain/implementation-plan.md
  todos/chartest-core-domain/input.md
  todos/chartest-core-domain/quality-checklist.md
  todos/chartest-core-domain/requirements.md
  todos/chartest-core-domain/review-findings.md
  todos/chartest-core-domain/state.yaml
Due: teleclaude-docs-check

fix(identity): move identity fields from channel_metadata to SessionMetadata
  teleclaude/adapters/discord/gateway_handlers.py
  teleclaude/adapters/discord/input_handlers.py
  teleclaude/adapters/telegram/private_handlers.py
  teleclaude/api/sessions_actions_routes.py
  teleclaude/api/sessions_routes.py
  teleclaude/core/command_handlers/_session.py
  teleclaude/core/db/_base.py
  teleclaude/core/models/_session.py
  teleclaude/core/models/_snapshot.py
  teleclaude/hooks/whatsapp_handler.py
Due: none

feat(chartest-events-schemas): deliver characterization tests for 19 event schema modules
  demos/chartest-events-schemas/demo.md
  tests/unit/events/delivery/__init__.py
  tests/unit/events/delivery/test_discord.py
  tests/unit/events/delivery/test_telegram.py
  tests/unit/events/delivery/test_whatsapp.py
  tests/unit/events/schemas/__init__.py
  tests/unit/events/schemas/test_content.py
  tests/unit/events/schemas/test_creative_production.py
  tests/unit/events/schemas/test_customer_relations.py
  tests/unit/events/schemas/test_deployment.py
  tests/unit/events/schemas/test_marketing.py
  tests/unit/events/schemas/test_node.py
  tests/unit/events/schemas/test_notification.py
  tests/unit/events/schemas/test_schema.py
  tests/unit/events/schemas/test_signal.py
  tests/unit/events/schemas/test_software_development.py
  tests/unit/events/schemas/test_system.py
  tests/unit/events/signal/__init__.py
  tests/unit/events/signal/test_ai.py
  tests/unit/events/signal/test_clustering.py
  tests/unit/events/signal/test_fetch.py
  tests/unit/events/signal/test_scheduler.py
  tests/unit/events/signal/test_sources.py
  todos/chartest-events-schemas/implementation-plan.md
  todos/chartest-events-schemas/quality-checklist.md
Due: teleclaude-docs-check

review(chartest-events-schemas): approve with inline auto-remediation
  tests/unit/events/schemas/test_content.py
  tests/unit/events/signal/test_ai.py
  todos/chartest-events-schemas/review-findings.md
Due: teleclaude-docs-check

fix(tools): use --frozen uv sync in worktrees to avoid git dep network failures
  tools/worktree-prepare.sh
Due: none

test(telec): pin lazy shared config resolution
  tests/unit/cli/telec/test__shared.py
  todos/chartest-cli-telec/implementation-plan.md
Due: teleclaude-docs-check

test(chartest-events-cartridges): characterize ClassificationCartridge
  tests/unit/events/cartridges/__init__.py
  tests/unit/events/cartridges/test_classification.py
Due: none

test(memory): characterize memory API routes
  tests/unit/memory/test_api_routes.py
  todos/chartest-memory-mirrors/implementation-plan.md
Due: teleclaude-docs-check

test(chartest-events-cartridges): characterize CorrelationCartridge
  tests/unit/events/cartridges/test_correlation.py
Due: none

test(memory): characterize migration behavior
  tests/unit/memory/test_migrate_from_claude_mem.py
  todos/chartest-memory-mirrors/implementation-plan.md
Due: teleclaude-docs-check

test(chartest-events-cartridges): characterize DeduplicationCartridge
  tests/unit/events/cartridges/test_dedup.py
Due: none

feat(chartest-tui-animations): deliver characterization tests for 16 animation modules
  demos/chartest-tui-animations/demo.md
  demos/chartest-tui-animations/snapshot.json
  tests/unit/cli/tui/animations/__init__.py
  tests/unit/cli/tui/animations/sprites/__init__.py
  tests/unit/cli/tui/animations/sprites/test_birds.py
  tests/unit/cli/tui/animations/sprites/test_cars.py
  tests/unit/cli/tui/animations/sprites/test_celestial.py
  tests/unit/cli/tui/animations/sprites/test_clouds.py
  tests/unit/cli/tui/animations/sprites/test_composite.py
  tests/unit/cli/tui/animations/sprites/test_ufo.py
  tests/unit/cli/tui/animations/test_agent.py
  tests/unit/cli/tui/animations/test_base.py
  tests/unit/cli/tui/animations/test_config.py
  tests/unit/cli/tui/animations/test_creative.py
  tests/unit/cli/tui/animations/test_general.py
  tests/unit/cli/tui/animations/test_particles.py
  tests/unit/cli/tui/animations/test_sky.py
  tests/unit/cli/tui/test_animation_colors.py
  tests/unit/cli/tui/test_animation_engine.py
  tests/unit/cli/tui/test_animation_triggers.py
  todos/chartest-tui-animations/implementation-plan.md
Due: teleclaude-docs-check

test(memory): characterize search behavior
  tests/unit/memory/test_search.py
  todos/chartest-memory-mirrors/implementation-plan.md
Due: teleclaude-docs-check

test(chartest-events-cartridges): characterize EnrichmentCartridge
  tests/unit/events/cartridges/test_enrichment.py
Due: none
