Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (bin/format.sh)
    entry: ./bin/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs (sync_resources strict)
    entry: bash -c
    args:
    - 'uv run --quiet scripts/sync_resources.py --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)

Remove checkpoint instruction to capture memories by default
  teleclaude/hooks/checkpoint.py
Due: none

chore(finalize): sync release-lane-codex completion state
  todos/release-lane-codex/quality-checklist.md
  todos/release-lane-codex/requirements.md
  todos/release-lane-codex/state.json
Due: teleclaude-docs-check

chore(finalize): close release-lane-codex delivery
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check

chore: remove release-lane-codex worktree, branch, and todo folder
  todos/release-lane-codex/dor-report.md
  todos/release-lane-codex/implementation-plan.md
  todos/release-lane-codex/quality-checklist.md
  todos/release-lane-codex/requirements.md
  todos/release-lane-codex/state.json
Due: teleclaude-docs-check

feat(release): add standalone Gemini lane using @google/gemini-cli
  .github/workflows/release.yaml
  todos/release-lane-gemini/implementation-plan.md
Due: teleclaude-docs-check

chore(release): verify GOOGLE_API_KEY secret availability
  todos/release-lane-gemini/implementation-plan.md
Due: teleclaude-docs-check

chore(release): verify gemini-lane YAML syntax and schema parity
  todos/release-lane-gemini/implementation-plan.md
Due: teleclaude-docs-check

chore(release): complete build gates for release-lane-gemini
  todos/release-lane-gemini/quality-checklist.md
Due: teleclaude-docs-check

chore(release-lane-gemini): sync finalize bookkeeping status
  todos/release-lane-gemini/quality-checklist.md
  todos/release-lane-gemini/requirements.md
  todos/release-lane-gemini/state.json
Due: teleclaude-docs-check

chore(release): finalize release-lane-gemini delivery records
  todos/delivered.md
  todos/release-lane-gemini/quality-checklist.md
  todos/roadmap.md
Due: teleclaude-docs-check

chore: remove release-lane-gemini worktree, branch, and todo folder
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_sessions_view.py
  todos/release-lane-gemini/dor-report.md
  todos/release-lane-gemini/implementation-plan.md
  todos/release-lane-gemini/quality-checklist.md
  todos/release-lane-gemini/requirements.md
  todos/release-lane-gemini/state.json
Due: teleclaude-docs-check

feat(release): add consensus arbiter prompt
  docs/prompts/release-arbiter.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(release): implement consensus arbiter consolidator
  scripts/release_consolidator.py
Due: none

feat(release): wire consensus arbiter and authorized-tag into workflow
  .github/workflows/release.yaml
Due: none

test(release): add consensus arbiter unit tests
  tests/unit/test_release_consolidator.py
Due: none

chore(release): finalize build phase bookkeeping for release-arbiter
  todos/release-arbiter/implementation-plan.md
  todos/release-arbiter/quality-checklist.md
  todos/release-arbiter/state.json
Due: teleclaude-docs-check

review(release): request changes — 3 critical workflow issues
  todos/release-arbiter/quality-checklist.md
  todos/release-arbiter/review-findings.md
  todos/release-arbiter/state.json
Due: teleclaude-docs-check

fix(release): handle arbiter exit codes instead of swallowing with || true
  .github/workflows/release.yaml
Due: none

fix(release): prevent shell injection in release notes via jq + --notes-file
  .github/workflows/release.yaml
Due: none

fix(release): strip pre-release suffix before version arithmetic
  .github/workflows/release.yaml
Due: none

feat(process): reduce noise by moving clerical gating to orchestrator engine
  agents/CLAUDE.primer.md
  agents/CODEX.primer.md
  agents/GEMINI.primer.md
  agents/commands/next-finalize.md
  agents/commands/next-review.md
  docs/global/software-development/procedure/lifecycle/finalize.md
  docs/global/software-development/procedure/lifecycle/review.md
  teleclaude/core/next_machine/core.py
  todos/dependencies.json
  todos/process-noise-reduction/implementation-plan.md
  todos/process-noise-reduction/quality-checklist.md
  todos/process-noise-reduction/requirements.md
  todos/process-noise-reduction/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(release): require all 3 reports for consensus per spec
  scripts/release_consolidator.py
Due: none

refactor(release): move argparse import to module level, use direct key access
  scripts/release_consolidator.py
Due: none

test(release): add coverage for two-report fail-safe, patch override, and ties
  tests/unit/test_release_consolidator.py
Due: none

fix(release): quote $LAST_TAG in release-analysis diff command
  .github/workflows/release.yaml
Due: none

review(release-arbiter): approve round 2 — all 10 findings resolved
  todos/release-arbiter/quality-checklist.md
  todos/release-arbiter/review-findings.md
  todos/release-arbiter/state.json
Due: teleclaude-docs-check

chore: remove release-arbiter worktree, branch, and todo folder
  agents/CLAUDE.primer.md
  agents/CODEX.primer.md
  agents/GEMINI.primer.md
  docs/global/software-development/procedure/lifecycle/finalize.md
  docs/global/software-development/procedure/lifecycle/review.md
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_sessions_view.py
  todos/delivered.md
  todos/release-arbiter/dor-report.md
  todos/release-arbiter/implementation-plan.md
  todos/release-arbiter/quality-checklist.md
  todos/release-arbiter/requirements.md
  todos/release-arbiter/review-findings.md
  todos/release-arbiter/state.json
  todos/roadmap.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(todos): cleanup process-noise-reduction artifacts
  todos/dependencies.json
Due: none

chore(todos): remove process-noise-reduction files
  todos/process-noise-reduction/implementation-plan.md
  todos/process-noise-reduction/quality-checklist.md
  todos/process-noise-reduction/requirements.md
  todos/process-noise-reduction/state.json
Due: teleclaude-docs-check

chore(todo): scaffold release-pipeline-simulation
  todos/dependencies.json
  todos/release-pipeline-simulation/implementation-plan.md
  todos/release-pipeline-simulation/quality-checklist.md
  todos/release-pipeline-simulation/requirements.md
  todos/release-pipeline-simulation/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

fix(cli): implement scalable prompt piping via stdin and fix schema validation
  docs/project/spec/release-report-schema.md
  teleclaude/helpers/agent_cli.py
  tools/verify-agent-cli.sh
Due: teleclaude-docs-check, teleclaude-docs-validate

Restore codex spark model-flag baseline before regression investigation
  teleclaude/constants.py
  teleclaude/core/agents.py
  teleclaude/helpers/agent_cli.py
Due: teleclaude-docs-validate

refactor(agent_cli): restore shared model-flag inheritance map
  teleclaude/helpers/agent_cli.py
Due: none

feat(agent_cli): agent invocation matrix with lobotomized one-shot flags
  Makefile
  docs/project/spec/release-report-schema.md
  pyproject.toml
  teleclaude/helpers/agent_cli.py
  tests/integration/test_agent_invocation_matrix.py
  tools/test.sh
  tools/verify-agent-cli.sh
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(daemon): stop hook outbox parser-mismatch retry storm
  docs/explore/teleclaude-api-socket-degradation.md
  docs/project/procedure/troubleshooting.md
  teleclaude/core/agent_coordinator.py
  teleclaude/daemon.py
  tests/unit/test_daemon.py
  tests/unit/test_threaded_output_updates.py
Due: teleclaude-docs-check, teleclaude-docs-validate

Refactor hook adapters to protocol pattern, fix TUI badge rendering, add finalize lock
  docs/global/general/procedure/maintenance/merge-runner.md
  docs/global/index.yaml
  scripts/diagrams/extract_runtime_matrix.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/010_add_session_listeners.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/schema.sql
  teleclaude/core/session_cleanup.py
  teleclaude/core/session_listeners.py
  teleclaude/core/tmux_bridge.py
  teleclaude/entrypoints/mcp_wrapper.py
  teleclaude/helpers/agent_cli.py
  teleclaude/hooks/adapters/__init__.py
  teleclaude/hooks/adapters/base.py
  teleclaude/hooks/adapters/claude.py
  teleclaude/hooks/adapters/codex.py
  teleclaude/hooks/adapters/gemini.py
  teleclaude/hooks/adapters/models.py
  teleclaude/hooks/receiver.py
  teleclaude/mcp/handlers.py
  teleclaude/mcp_server.py
  tests/integration/test_ai_to_ai_regression.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_ansi_stripping.py
  tests/unit/test_checkpoint_hook.py
  tests/unit/test_diagram_extractors.py
  tests/unit/test_hook_adapters.py
  tests/unit/test_hook_receiver.py
  tests/unit/test_hooks_receiver_memory.py
  tests/unit/test_session_cleanup.py
  tests/unit/test_session_listeners.py
  tests/unit/test_tui_sessions_view.py
Due: teleclaude-docs-check, teleclaude-docs-validate

Add finalize lock and conflict-safe merge strategy
  agents/commands/next-finalize.md
  docs/global/software-development/procedure/lifecycle/finalize.md
  teleclaude/core/next_machine/core.py
  teleclaude/core/session_cleanup.py
  teleclaude/mcp/handlers.py
  todos/release-pipeline-simulation/dor-report.md
  todos/release-pipeline-simulation/implementation-plan.md
  todos/release-pipeline-simulation/requirements.md
  todos/release-pipeline-simulation/state.json
  todos/roadmap.md
  todos/session-messages-api/dor-report.md
  todos/session-messages-api/implementation-plan.md
  todos/session-messages-api/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: update snippets for git wrapper and finalize lock
  docs/global/software-development/policy/version-control-safety.md
  docs/project/design/architecture/next-machine.md
  docs/project/design/architecture/session-lifecycle.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(hooks): harden tmux contract session resolution against stale mapping
  teleclaude/hooks/receiver.py
  tests/unit/test_hook_receiver.py
Due: none

docs: add tmux contract mismatch troubleshooting trail
  docs/explore/teleclaude-api-socket-degradation.md
  docs/project/procedure/troubleshooting.md
Due: teleclaude-docs-check, teleclaude-docs-validate
