Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs (sync_resources strict)
  entry: bash -c
  args:
  - uv run --quiet scripts/sync_resources.py --project-root "$PWD"
  language: system
  pass_filenames: false

Unify hook event flow, Gemini handling, and repo state updates
  agents/GEMINI.primer.md
  docs/project/spec/event-types.md
  teleclaude/api_server.py
  teleclaude/core/agent_parsers.py
  teleclaude/core/error_feedback.py
  teleclaude/core/parsers.py
  teleclaude/daemon.py
  teleclaude/hooks/receiver.py
  teleclaude/install/install_hooks.py
  tests/unit/test_daemon.py
  tests/unit/test_error_feedback.py
  tests/unit/test_hook_receiver.py
  tests/unit/test_install_hooks.py
  todos/delivered.md
  todos/roadmap.md
  todos/role-tools-injection/implementation-plan.md
  todos/role-tools-injection/input.md
  todos/role-tools-injection/requirements.md
  todos/role-tools-injection/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

feat: implement bugs self-healing route in preparation phase
  .gitignore
  agents/commands/next-bugs.md
  agents/commands/next-prepare.md
  bin/lint/guardrails.py
  bin/test.sh
  docs/global/software-development/procedure/bugs-handling.md
  docs/global/software-development/procedure/lifecycle/prepare.md
  teleclaude/core/next_machine/core.py
  teleclaude/hooks/adapters/claude.py
  teleclaude/hooks/adapters/codex.py
  teleclaude/hooks/adapters/gemini.py
  teleclaude/hooks/receiver.py
  teleclaude/hooks/utils/parse_helpers.py
  tests/unit/test_agent_parsers.py
  tests/unit/test_daemon.py
  tests/unit/test_daemon_agent_stop_forwarded.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat: implement ANSI code stripping for Tmux output
  teleclaude/adapters/ui_adapter.py
  teleclaude/config.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/polling_coordinator.py
  tests/unit/test_ansi_stripping.py
Due: none

fix: address review findings for ANSI stripping and self-healing route
  reviews/review-bc58b33-9ce5f1e.md
  teleclaude/adapters/ui_adapter.py
  tests/unit/test_ansi_stripping.py
Due: teleclaude-docs-check

build(threaded-output-experiment): add experiments config model and overlay support
  experiments.yml
  teleclaude/config.py
Due: none

build(threaded-output-experiment): add render_stop_turn transcript helper
  teleclaude/utils/transcript.py
Due: none

build(threaded-output-experiment): integrate threaded stop output in coordinator
  teleclaude/core/agent_coordinator.py
Due: none

test(threaded-output-experiment): add unit tests for stop-turn rendering and experiment matching
  tests/unit/test_threaded_output.py
Due: none

build(threaded-output-experiment): finalize implementation plan
  todos/threaded-output-experiment/implementation-plan.md
Due: teleclaude-docs-check

test(threaded-output-experiment): add unit tests for agent coordinator integration
  tests/unit/test_agent_coordinator.py
Due: none

build(threaded-output-experiment): mark tests as completed in implementation plan
  todos/threaded-output-experiment/implementation-plan.md
Due: teleclaude-docs-check

build(threaded-output-experiment): fix ThinkingMode validation and make MCP handlers robust
  teleclaude/core/models.py
  teleclaude/mcp/handlers.py
Due: none

review(threaded-output-experiment): request changes with findings
  todos/threaded-output-experiment/review-findings.md
  todos/threaded-output-experiment/state.json
Due: teleclaude-docs-check

fix(threaded-output-experiment): address review findings, fix lint, and add missing tests
  bin/test.sh
  docs/global/index.yaml
  docs/global/software-development/concept/ai-to-ai-coordination.md
  docs/global/software-development/procedure/ai-to-ai-troubleshooting.md
  teleclaude/utils/markdown.py
  tests/integration/test_ai_to_ai_regression.py
  tests/integration/test_run_agent_command_e2e.py
  tests/integration/test_session_lifecycle.py
  tests/unit/test_ansi_stripping.py
  tests/unit/test_config_experiments_overlay.py
  tests/unit/test_markdown_utils.py
  tests/unit/test_models.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_polling_coordinator.py
  todos/roadmap.md
  todos/threaded-output-experiment/input.md
  todos/threaded-output-experiment/requirements.md
Due: teleclaude-docs-check, teleclaude-docs-validate

build(threaded-output-experiment): mark review as approved
  todos/threaded-output-experiment/state.json
Due: none

delivered(threaded-output-experiment): finalize experiment delivery
  todos/delivered.md
  todos/roadmap.md
  todos/threaded-output-experiment/state.json
Due: teleclaude-docs-check

chore: checkpoint current workspace changes
  AGENTS.master.md
  teleclaude.yml
  teleclaude/adapters/ui_adapter.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/config.py
  teleclaude/core/adapter_client.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/db.py
  teleclaude/core/events.py
  teleclaude/core/models.py
  teleclaude/core/output_poller.py
  teleclaude/core/polling_coordinator.py
  teleclaude/daemon.py
  teleclaude/helpers/git_repo_helper.py
  teleclaude/hooks/receiver.py
  teleclaude/install/install_hooks.py
  teleclaude/utils/transcript.py
  tests/unit/test_install_hooks.py
Due: teleclaude-docs-check

Refactor: incremental threaded output with robust cursor and markdown escaping
  docs/global/software-development/concept/ai-to-ai-coordination.md
  docs/global/software-development/procedure/ai-to-ai-troubleshooting.md
  teleclaude/adapters/base_adapter.py
  teleclaude/adapters/telegram/message_ops.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/core/adapter_client.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/events.py
  teleclaude/core/migrations/003_add_agent_output_fields.py
  teleclaude/core/models.py
  teleclaude/hooks/receiver.py
  teleclaude/transport/redis_transport.py
  teleclaude/utils/markdown.py
  teleclaude/utils/transcript.py
  tests/integration/test_ai_to_ai_regression.py
  tests/integration/test_run_agent_command_e2e.py
  tests/integration/test_session_lifecycle.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_ansi_stripping.py
  tests/unit/test_config_experiments_overlay.py
  tests/unit/test_models.py
  tests/unit/test_polling_coordinator.py
  tests/unit/test_threaded_output.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(tui): implement reason-based session highlight logic
  docs/project/design/architecture/feature-flags.md
  docs/project/design/ux/session-highlight/implementation-plan.md
  docs/project/index.yaml
  docs/project/policy/feature-flag-usage.md
  teleclaude/adapters/ui_adapter.py
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/constants.py
  teleclaude/core/adapter_client.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/cache.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
  teleclaude/core/events.py
  teleclaude/core/models.py
  teleclaude/core/session_utils.py
  teleclaude/services/maintenance_service.py
  teleclaude/transport/redis_transport.py
  teleclaude/utils/markdown.py
  tests/fixtures/transcripts/gemini_real_heavy_output_fixture.json
  tests/unit/test_command_handlers.py
  tests/unit/test_daemon.py
  tests/unit/test_threaded_output.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(tests): update tests for session highlight and API changes
  tests/integration/conftest.py
  tests/integration/test_ai_to_ai_regression.py
  tests/integration/test_multi_adapter_broadcasting.py
  tests/integration/test_output_download.py
  tests/unit/test_adapter_client_terminal_origin.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_ansi_stripping.py
  tests/unit/test_cache.py
  tests/unit/test_daemon_agent_stop_forwarded.py
  tests/unit/test_hook_receiver.py
  tests/unit/test_transcript.py
Due: none

fix(persistence): add durability to atomic file writes
  teleclaude/cli/tui/state_store.py
  teleclaude/hooks/receiver.py
Due: none

chore: update agent docs, doc snippets, and pre-commit config
  .pre-commit-config.yaml
  agents/AGENTS.global.md
  agents/GEMINI.primer.md
  docs/global/baseline.md
  docs/global/general/principle/evolution.md
  docs/global/general/procedure/idea-box.md
  docs/global/index.yaml
  scripts/check-raw-sql.sh
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(stability): prevent resource exhaustion causing gradual API degradation
  teleclaude/adapters/telegram/message_ops.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/api_server.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/core/adapter_client.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
  teleclaude/core/models.py
  teleclaude/core/polling_coordinator.py
  teleclaude/daemon.py
  teleclaude/hooks/receiver.py
  teleclaude/services/monitoring_service.py
  teleclaude/transport/redis_transport.py
  teleclaude/utils/transcript.py
  tests/unit/test_adapter_client.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_daemon.py
  tests/unit/test_db.py
  tests/unit/test_polling_coordinator.py
  tests/unit/test_redis_adapter.py
  tests/unit/test_redis_adapter_cache_pull.py
  tests/unit/test_threaded_output.py
  tests/unit/test_threaded_output_updates.py
  tests/unit/test_ui_adapter.py
Due: none

feat(checkpoint): inject debrief prompt after agent turns with loop prevention
  agents/AGENTS.global.md
  docs/global/baseline.md
  docs/global/general/concept/memory-tiers.md
  docs/global/general/policy/checkpoint.md
  docs/global/general/policy/heartbeat.md
  docs/global/general/procedure/idea-box.md
  docs/global/index.yaml
  teleclaude/core/agent_coordinator.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(agent-coordinator): gate summary messages and restrict TTS for Telegram sessions
  agents/AGENTS.global.md
  agents/GEMINI.primer.md
  docs/global/baseline.md
  docs/global/general/procedure/tool-spec-authoring.md
  docs/global/general/spec/tools/agent-restart.md
  docs/global/general/spec/tools/baseline.md
  docs/global/general/spec/tools/history-search.md
  docs/global/general/spec/tools/memory-management-api.md
  docs/global/index.yaml
  docs/global/software-development/policy/version-control-safety.md
  docs/project/design/architecture/checkpoint-system.md
  teleclaude/core/agent_coordinator.py
  teleclaude/tts/manager.py
  tests/unit/test_ansi_stripping.py
  tests/unit/test_daemon_agent_stop_forwarded.py
  todos/bugs.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(history): native multi-agent history tool
  agents/commands/history.md
  docs/global/general/procedure/checkpoint.md
  docs/global/general/spec/tools/history-search.md
  scripts/history.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(memory): integrate relationship-centric memory management
  docs/global/baseline.md
  docs/global/general/procedure/memory-management.md
  docs/global/index.yaml
  scripts/fetch_memory_index.py
  teleclaude/hooks/receiver.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(hooks): wrap memory injection in Gemini CLI JSON contract
  teleclaude/hooks/receiver.py
Due: none

fix(hooks): enforce strict CWD contract for memory injection
  teleclaude/hooks/receiver.py
Due: none

fix(install): Gemini SKILL.md format and third-party context retrieval
  scripts/distribute.py
  teleclaude/context_selector.py
Due: none

feat(install): consolidate agent settings overrides into installer
  teleclaude/install/install_hooks.py
  teleclaude/install/settings/claude.json
  teleclaude/install/settings/codex.json
  teleclaude/install/settings/gemini.json
  tests/unit/test_install_hooks.py
Due: none

refactor(bugs): inline-first paradigm and dead code removal
  agents/commands/next-prepare.md
  docs/global/general/procedure/checkpoint.md
  docs/global/general/procedure/memory-management.md
  docs/global/software-development/concept/fixer.md
  docs/global/software-development/procedure/bugs-handling.md
  docs/global/software-development/procedure/lifecycle/prepare.md
  docs/project/design/architecture/next-machine.md
  ideas/260208-inline-bugs-paradigm.md
  teleclaude/core/next_machine/core.py
  teleclaude/mcp/handlers.py
  tests/unit/test_next_machine_hitl.py
  todos/README.md
  todos/github-maintenance-runner/input.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(daemon): prevent secondary startup socket clobber
  teleclaude/daemon.py
  tests/unit/test_daemon_startup_retry.py
Due: none

docs: align hook event lifecycle docs with receiver behavior
  docs/project/design/architecture/outbox.md
  docs/project/design/architecture/session-lifecycle.md
  jobs/youtube_sync_subscriptions.py
  teleclaude/api_models.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/core/command_handlers.py
  teleclaude/core/models.py
  teleclaude/hooks/receiver.py
  tests/snapshots/tui/sessions_basic.txt
  tests/snapshots/tui/sessions_nested.txt
  tests/unit/test_hook_receiver.py
  tests/unit/test_hooks_receiver_memory.py
  tests/unit/test_tui_sessions_view.py
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: realign mcp and hook architecture with runtime behavior
  docs/project/design/architecture/mcp-layer.md
  docs/project/design/architecture/outbox.md
  docs/project/design/architecture/session-lifecycle.md
  docs/project/design/architecture/system-overview.md
  docs/project/policy/mcp-connection-management.md
  docs/project/policy/mcp-tool-filtering.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs+todos: expand roadmap with evolution features and promote specs to global
  agents/CLAUDE.primer.md
  docs/global/index.yaml
  docs/global/software-development/procedure/maintenance/backlog-hygiene.md
  docs/global/software-development/procedure/maintenance/bug-intake-and-triage.md
  docs/global/software-development/procedure/maintenance/deprecation-and-transition-plan.md
  docs/global/software-development/procedure/maintenance/incident-log.md
  docs/global/software-development/procedure/maintenance/maintenance-cadence.md
  docs/global/software-development/procedure/maintenance/overview.md
  docs/global/software-development/procedure/maintenance/release-and-stabilization-rhythm.md
  docs/global/software-development/spec/hook-event-normalization-contract.md
  docs/global/software-development/spec/runtime-operations-truth.md
  docs/global/software-development/spec/session-identity-truth.md
  docs/project/index.yaml
  docs/project/spec/hook-normalized-events.md
  docs/project/spec/runtime-operations-truth.md
  docs/project/spec/session-identity-truth.md
  todos/bidirectional-agent-links/implementation-plan.md
  todos/bidirectional-agent-links/input.md
  todos/bidirectional-agent-links/requirements.md
  todos/code-context-annotations/implementation-plan.md
  todos/code-context-annotations/input.md
  todos/code-context-annotations/requirements.md
  todos/code-context-annotations/state.json
  todos/code-context-auditor/implementation-plan.md
  todos/code-context-auditor/input.md
  todos/code-context-auditor/requirements.md
  todos/code-context-auditor/state.json
  todos/dependencies.json
  todos/idea-miner/input.md
  todos/roadmap.md
  todos/role-based-notifications/input.md
  todos/rolling-session-titles/input.md
  todos/rolling-session-titles/requirements.md
  todos/rolling-session-titles/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(docs): correct memory API spec to use daemon unix socket
  docs/global/general/spec/tools/memory-management-api.md
  docs/global/index.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)
