Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

chore(delivery): deliver cli-knowledge-commands
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(demo): snapshot demo for cli-knowledge-commands
  demos/cli-knowledge-commands/demo.md
  demos/cli-knowledge-commands/snapshot.json
Due: teleclaude-docs-check

chore(cleanup): remove cli-knowledge-commands worktree artifacts
  todos/cli-knowledge-commands/demo.md
  todos/cli-knowledge-commands/dor-report.md
  todos/cli-knowledge-commands/implementation-plan.md
  todos/cli-knowledge-commands/input.md
  todos/cli-knowledge-commands/quality-checklist.md
  todos/cli-knowledge-commands/requirements.md
  todos/cli-knowledge-commands/review-findings.md
  todos/cli-knowledge-commands/state.yaml
Due: teleclaude-docs-check

test(config-wizard): cover daemon-free startup, validate removal, people editing
  tests/unit/test_tui_config_view.py
Due: none

gate(chiptunes-audio): needs_work — SID decoding approach unvalidated
  todos/chiptunes-audio/dor-report.md
  todos/chiptunes-audio/state.yaml
Due: teleclaude-docs-check

gate(chiptunes-audio): pass (score 9) — SID pipeline validated
  todos/chiptunes-audio/dor-report.md
  todos/chiptunes-audio/implementation-plan.md
  todos/chiptunes-audio/state.yaml
Due: teleclaude-docs-check

fix(config-wizard): cycle role enum with ← → instead of Enter
  teleclaude/cli/tui/views/config.py
Due: none

feat(tui): sprite compositing, global ESC, color normalization
  teleclaude/cli/tui/animations/base.py
  teleclaude/cli/tui/animations/sprites/birds.py
  teleclaude/cli/tui/animations/sprites/cars.py
  teleclaude/cli/tui/animations/sprites/ufo.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/box_tab_bar.py
Due: none

feat(integrator-state-machine): implement core state machine and lifecycle events
  teleclaude/core/integration/events.py
  teleclaude/core/integration/state_machine.py
  teleclaude/core/integration_bridge.py
  tests/unit/test_integration_state_machine.py
Due: none

feat(integrator-state-machine): add POST /todos/integrate route and telec todo integrate CLI
  teleclaude/api/auth.py
  teleclaude/api/todo_routes.py
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
Due: check-cli-help

feat(integrator-state-machine): replace prose /next-integrate with state machine loop
  agents/commands/next-integrate.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(integrator-state-machine): mark all implementation tasks complete
  todos/integrator-state-machine/implementation-plan.md
  todos/integrator-state-machine/quality-checklist.md
Due: teleclaude-docs-check

chore(integrator-state-machine): promote demo artifact
  demos/integrator-state-machine/demo.md
  demos/integrator-state-machine/snapshot.json
Due: teleclaude-docs-check

chore(integrator-state-machine): mark build phase complete
  todos/integrator-state-machine/state.yaml
Due: none

chore: update worktree prep state
  .teleclaude/worktree-prep-state.json
Due: none

chore: sync worktree drift (animations tweak, roadmap state)
  teleclaude/cli/tui/animations/general.py
  todos/roadmap.yaml
Due: none

fix(tests): strip TELECLAUDE_* env vars in guardrail test subprocesses
  tests/integration/test_integrator_cutover.py
  tests/unit/test_gh_wrapper_guardrails.py
  tests/unit/test_git_wrapper_guardrails.py
  tests/unit/test_pre_push_guardrails.py
Due: none

chore: commit pending changes to unblock finalize
  teleclaude/api/auth.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/widgets/box_tab_bar.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/tool_access.py
  tests/unit/test_role_tools.py
  todos/integrator-state-machine/state.yaml
  todos/roadmap.yaml
Due: none

chore(integrator-state-machine): review findings — APPROVE with 6 important findings
  todos/integrator-state-machine/quality-checklist.md
  todos/integrator-state-machine/review-findings.md
Due: teleclaude-docs-check

chore: commit accumulated main changes
  teleclaude/cli/tui/widgets/box_tab_bar.py
  todos/integrator-state-machine/state.yaml
Due: none

refactor(tui): simplify tab bar to 3-row layout, trim neutral palette
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/widgets/box_tab_bar.py
Due: none

docs(auth): grant workers read/send/tail/publish permissions for peer collaboration
  docs/project/design/cli-authorization-matrix.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(auth): update CLI authorization matrix for worker whitelist model
  docs/project/design/cli-authorization-matrix.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(integrator-state-machine): sync orchestrator-managed drift before merge
  todos/integrator-state-machine/state.yaml
  todos/roadmap.yaml
Due: none

fix(tests): update stale guided-validate-step test to current impl
  tests/unit/test_tui_config_view.py
Due: none

fix(tui): use get_tui_inactive_background for inactive tab bg
  teleclaude/cli/tui/widgets/box_tab_bar.py
Due: none

fix(tui): blend transition sky color toward white for softer edge
  teleclaude/cli/tui/widgets/box_tab_bar.py
Due: none

fix(tests): update role-cycling tests to use cycle_enum_field instead of activate_current
  tests/unit/test_tui_config_view.py
Due: none

fix(tui): reduce cloud-to-tab-top blend opacity for subtler transitions
  teleclaude/cli/tui/widgets/box_tab_bar.py
Due: none

fix(tui): add light-mode city glow and refine sky gradients
  teleclaude/cli/tui/animations/general.py
Due: none

refactor(tui): replace sky spectrum with progressive blend per row
  teleclaude/cli/tui/animations/general.py
Due: none

fix(tui): deepen sky purple target, increase gradient blend rate
  teleclaude/cli/tui/animations/general.py
Due: none

fix(tui): tune sky gradient target colors for subtler horizon blend
  teleclaude/cli/tui/animations/general.py
Due: none

feat(prepare-quality-runner): implement DOR quality runner cartridge
  demos/prepare-quality-runner/demo.md
  teleclaude/cli/tui/animations/general.py
  teleclaude/cli/tui/animations/sprites/composite.py
  teleclaude/cli/tui/views/config.py
  teleclaude/core/next_machine/core.py
  teleclaude/daemon.py
  teleclaude_events/cartridges/__init__.py
  teleclaude_events/cartridges/prepare_quality.py
  tests/unit/test_tab_bar_edge.py
  tests/unit/test_teleclaude_events/test_prepare_quality.py
  todos/prepare-quality-runner/implementation-plan.md
  todos/prepare-quality-runner/quality-checklist.md
  todos/prepare-quality-runner/review-findings.md
  todos/prepare-quality-runner/state.yaml
Due: teleclaude-docs-check

chore(prepare-quality-runner): deliver, demo snapshot, cleanup
  demos/prepare-quality-runner/demo.md
  demos/prepare-quality-runner/snapshot.json
  teleclaude/cli/tui/animations/general.py
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(prepare-quality-runner): remove todo directory post-delivery
  todos/prepare-quality-runner/demo.md
  todos/prepare-quality-runner/dor-report.md
  todos/prepare-quality-runner/implementation-plan.md
  todos/prepare-quality-runner/input.md
  todos/prepare-quality-runner/quality-checklist.md
  todos/prepare-quality-runner/requirements.md
  todos/prepare-quality-runner/review-findings.md
  todos/prepare-quality-runner/state.yaml
Due: teleclaude-docs-check

feat(person-proficiency-level): add proficiency field to PersonEntry
  .teleclaude/worktree-prep-state.json
  demos/person-proficiency-level/demo.md
  demos/person-proficiency-level/snapshot.json
  state.yaml
  teleclaude/api_models.py
  teleclaude/cli/config_cli.py
  teleclaude/cli/tui/views/config.py
  teleclaude/config/schema.py
  teleclaude/hooks/receiver.py
  tests/unit/test_config_cli.py
  tests/unit/test_config_schema.py
  tests/unit/test_hooks_receiver_memory.py
  todos/person-proficiency-level/implementation-plan.md
  todos/person-proficiency-level/quality-checklist.md
  todos/person-proficiency-level/review-findings.md
Due: teleclaude-docs-check, check-cli-help, check-raw-sql

chore(person-proficiency-level): deliver, demo snapshot, cleanup
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(person-proficiency-level): remove todo directory post-delivery
  todos/person-proficiency-level/demo.md
  todos/person-proficiency-level/dor-report.md
  todos/person-proficiency-level/implementation-plan.md
  todos/person-proficiency-level/input.md
  todos/person-proficiency-level/quality-checklist.md
  todos/person-proficiency-level/requirements.md
  todos/person-proficiency-level/review-findings.md
  todos/person-proficiency-level/state.yaml
Due: teleclaude-docs-check
