Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs (sync_resources strict)
  entry: bash -c
  args:
  - uv run --quiet scripts/sync_resources.py --project-root "$PWD"
  language: system
  pass_filenames: false

chore(orchestrator): record fix-review completion
  todos/config-schema-validation/review-findings.md
Due: teleclaude-docs-check

chore(orchestrator): set review pending after fix verification
  todos/config-schema-validation/state.json
Due: none

chore(orchestrator): record re-review findings and verdict
  todos/config-schema-validation/review-findings.md
  todos/config-schema-validation/state.json
Due: teleclaude-docs-check

fix(config): fail explicitly on malformed YAML and read errors
  teleclaude/config/loader.py
Due: none

fix(config): complete unknown-key warning coverage
  teleclaude/config/loader.py
  teleclaude/config/schema.py
Due: none

chore(orchestrator): record fix application results
  todos/config-schema-validation/review-findings.md
Due: teleclaude-docs-check

chore(orchestrator): set review pending after second fix pass
  todos/config-schema-validation/state.json
Due: none

chore(orchestrator): record review findings and set changes requested
  todos/config-schema-validation/review-findings.md
  todos/config-schema-validation/state.json
Due: teleclaude-docs-check

chore(orchestrator): sync roadmap updates in worktree
  todos/roadmap.md
Due: teleclaude-docs-check

fix(config): propagate validation errors in context_selector and docs_index
  teleclaude/context_selector.py
  teleclaude/docs_index.py
Due: none

test(cron): add behavioral tests for _is_due scheduler execution paths
  tests/unit/test_cron_runner_is_due.py
Due: none

fix(test): update conftest fixture to use new config schema format
  tests/conftest.py
Due: none

chore(orchestrator): set review pending after latest fix pass
  todos/config-schema-validation/state.json
Due: none

chore(review): approve config-schema-validation
  todos/config-schema-validation/review-findings.md
  todos/config-schema-validation/state.json
Due: teleclaude-docs-check

docs(config): sync inline comments with current behavior
  teleclaude/config/loader.py
  teleclaude/config/schema.py
  teleclaude/cron/discovery.py
Due: none

chore(orchestrator): mark docstrings phase complete
  todos/config-schema-validation/state.json
Due: none

chore(orchestrator): record docs sync and completion state
  docs/project/index.yaml
  teleclaude.yml
  todos/config-schema-validation/state.json
Due: teleclaude-docs-validate

chore(finalize): log delivery for config-schema-validation
  docs/global/general/procedure/job-authoring.md
  docs/global/general/procedure/maintenance/log-bug-hunter.md
  docs/global/index.yaml
  docs/project/index.yaml
  docs/project/spec/jobs/log-bug-hunter.md
  todos/config-schema-validation/dor-report.md
  todos/config-schema-validation/implementation-plan.md
  todos/config-schema-validation/requirements.md
  todos/config-schema-validation/review-findings.md
  todos/config-schema-validation/state.json
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(mcp_wrapper): await pending tasks after cancellation to prevent cleanup warnings
  agents/commands/next-build.md
  docs/global/general/procedure/maintenance/log-bug-hunter.md
  teleclaude.yml
  teleclaude/entrypoints/mcp_wrapper.py
  todos/db-raw-sql-cleanup/implementation-plan.md
  todos/db-raw-sql-cleanup/review-findings.md
  todos/db-raw-sql-cleanup/state.json
  todos/roadmap.md
Due: teleclaude-docs-check, teleclaude-docs-validate

Add telec todo scaffolding and AI-safe telec tool spec
  docs/global/general/spec/tools/baseline.md
  docs/global/general/spec/tools/telec-cli.md
  docs/global/index.yaml
  teleclaude/cli/telec.py
  teleclaude/todo_scaffold.py
  templates/todos/implementation-plan.md
  templates/todos/quality-checklist.md
  templates/todos/requirements.md
  tests/unit/test_telec_todo_cli.py
  tests/unit/test_todo_scaffold.py
Due: teleclaude-docs-check, teleclaude-docs-validate

chore: checkpoint in-progress main updates
  agents/commands/next-build.md
  agents/commands/next-review.md
  docs/global/software-development/procedure/lifecycle/build.md
  docs/global/software-development/procedure/lifecycle/finalize.md
  docs/global/software-development/procedure/lifecycle/review.md
  teleclaude/core/next_machine/core.py
  tests/unit/core/test_next_machine_deferral.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
  todos/db-raw-sql-cleanup/review-findings.md
  todos/db-raw-sql-cleanup/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(db): complete raw-sql coverage and dynamic field validation
  scripts/check-raw-sql.sh
  teleclaude/core/db.py
  teleclaude/hooks/receiver.py
  tests/unit/test_db.py
Due: none

chore(finalize): close and clean up db-raw-sql-cleanup
  todos/db-raw-sql-cleanup/dor-report.md
  todos/db-raw-sql-cleanup/implementation-plan.md
  todos/db-raw-sql-cleanup/input.md
  todos/db-raw-sql-cleanup/requirements.md
  todos/db-raw-sql-cleanup/review-findings.md
  todos/db-raw-sql-cleanup/state.json
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check

chore(roadmap): remove completed entries and drop merge-runner todo
  todos/merge-runner/dor-report.md
  todos/merge-runner/implementation-plan.md
  todos/merge-runner/requirements.md
  todos/merge-runner/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

chore(delivered): log telec todo scaffold delivery
  todos/delivered.md
Due: teleclaude-docs-check

chore(roadmap): remove dependency-health-guardrails entry
  todos/roadmap.md
Due: teleclaude-docs-check

chore(roadmap): move agent-logbook-observability to icebox
  todos/icebox.md
  todos/roadmap.md
Due: teleclaude-docs-check

chore: remove idea-box and idea-miner from active system
  docs/global/baseline.md
  docs/global/general/concept/memory-tiers.md
  docs/global/general/procedure/idea-box.md
  docs/global/general/procedure/memory-management.md
  docs/global/index.yaml
  ideas/260209-memory-review-job.md
  todos/icebox.md
  todos/idea-miner/input.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: restore memory-tiers concept content
  docs/global/general/concept/memory-tiers.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: remove idea-box remnants from memory-tiers
  docs/global/general/concept/memory-tiers.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(workflow): add telec-config-cli todo spec and rhetorical intent rule
  agents/CODEX.primer.md
  todos/dependencies.json
  todos/roadmap.md
  todos/telec-config-cli/implementation-plan.md
  todos/telec-config-cli/quality-checklist.md
  todos/telec-config-cli/requirements.md
  todos/telec-config-cli/state.json
Due: teleclaude-docs-check

Harden loose-dict guardrail marker handling
  tests/unit/test_lint_guardrails.py
  tools/lint/guardrails.py
Due: none

Add degraded agent status and exclude from auto dispatch
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/tui/widgets/footer.py
  teleclaude/cli/tui/widgets/modal.py
  teleclaude/core/db.py
  teleclaude/core/next_machine/core.py
  teleclaude/helpers/agent_cli.py
  teleclaude/mcp/handlers.py
  teleclaude/mcp/tool_definitions.py
  teleclaude/mcp_server.py
  tests/unit/test_agent_cli.py
  tests/unit/test_db.py
  tests/unit/test_mcp_handlers.py
  tests/unit/test_next_machine_breakdown.py
Due: none

Rename agent status tool and normalize Gemini hooks enablement
  teleclaude/cli/tui/widgets/footer.py
  teleclaude/cli/tui/widgets/modal.py
  teleclaude/install/install_hooks.py
  teleclaude/mcp/handlers.py
  teleclaude/mcp/tool_definitions.py
  teleclaude/mcp_server.py
  tests/unit/test_install_hooks.py
  tests/unit/test_mcp_handlers.py
Due: none

Surface orchestrator guidance for agent status degradation
  docs/global/software-development/procedure/orchestration.md
  docs/project/design/architecture/next-machine.md
  teleclaude/core/next_machine/core.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(hooks): harden checkpoint stop path
  teleclaude/hooks/receiver.py
  tests/unit/test_hook_receiver.py
Due: none

fix(tui): pad popup highlight labels
  teleclaude/cli/tui/widgets/modal.py
Due: none

fix(stt): harden parakeet fallback and stop-summary guards
  .pre-commit-config.yaml
  bin/install.sh
  teleclaude/adapters/telegram/input_handlers.py
  teleclaude/constants.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/summarizer.py
  teleclaude/mcp/handlers.py
  teleclaude/project_setup/macos_setup.py
  teleclaude/stt/backends/mlx_parakeet.py
  teleclaude/utils/transcript.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_daemon.py
  tests/unit/test_mcp_server.py
  tests/unit/test_mlx_parakeet_backend.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_summarizer.py
  todos/agent-output-monitor/implementation-plan.md
  todos/agent-output-monitor/requirements.md
Due: teleclaude-docs-check, teleclaude-docs-validate

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)
