Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

feat(config-wizard): add whatsapp setup guidance defaults
  teleclaude/cli/tui/config_components/guidance.py
  todos/config-wizard-whatsapp-wiring/implementation-plan.md
Due: teleclaude-docs-check

feat(config): add whatsapp sample configuration section
  config.sample.yml
  todos/config-wizard-whatsapp-wiring/implementation-plan.md
Due: teleclaude-docs-check

chore(deployment-migrations): commit worktree drift before merge
  todos/deployment-migrations/implementation-plan.md
  todos/deployment-migrations/quality-checklist.md
  todos/deployment-migrations/state.yaml
Due: teleclaude-docs-check

docs(config): include whatsapp keys and env vars in config spec
  docs/project/spec/teleclaude-config.md
  tests/integration/test_contracts.py
  todos/config-wizard-whatsapp-wiring/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(deployment-migrations): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(state): record review approval for skills-procedure-taxonomy-alignment
  todos/skills-procedure-taxonomy-alignment/state.yaml
Due: none

test(config-wizard): verify whatsapp wiring across registry and tui
  tests/unit/test_config_handlers.py
  tests/unit/test_config_wizard_whatsapp_wiring.py
  tests/unit/test_discord_adapter.py
  todos/config-wizard-whatsapp-wiring/implementation-plan.md
Due: teleclaude-docs-check

chore(deployment-migrations): add demo snapshot
  agents/commands/next-demo.md
  demos/deployment-migrations/snapshot.json
  docs/global/index.yaml
  docs/global/software-development/procedure/lifecycle/demo.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore: cleanup deployment-migrations todo artifacts
  todos/deployment-migrations/demo.md
  todos/deployment-migrations/dor-report.md
  todos/deployment-migrations/implementation-plan.md
  todos/deployment-migrations/input.md
  todos/deployment-migrations/quality-checklist.md
  todos/deployment-migrations/requirements.md
  todos/deployment-migrations/review-findings.md
  todos/deployment-migrations/state.yaml
Due: teleclaude-docs-check

chore(todo): complete build gates and demo artifact for whatsapp wiring
  demos/config-wizard-whatsapp-wiring/demo.md
  todos/config-wizard-whatsapp-wiring/implementation-plan.md
  todos/config-wizard-whatsapp-wiring/quality-checklist.md
Due: teleclaude-docs-check

fix(next-machine): prevent build regression after review approval
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_state_deps.py
Due: none

docs(quality): record 2 additional pre-existing xdist flaky tests post-merge
  todos/roadmap.yaml
  todos/skills-procedure-taxonomy-alignment/quality-checklist.md
  todos/skills-procedure-taxonomy-alignment/state.yaml
Due: teleclaude-docs-check

feat(deployment-channels): add DeploymentConfig schema with channel + pinned_minor
  teleclaude/config/schema.py
  todos/deployment-channels/implementation-plan.md
  todos/deployment-channels/state.yaml
Due: teleclaude-docs-check

review(integration-events-model): approve round 2 — all fixes verified
  todos/integration-events-model/review-findings.md
Due: teleclaude-docs-check

feat(deployment-channels): add deployment webhook handler and executor
  teleclaude/deployment/executor.py
  teleclaude/deployment/handler.py
  todos/deployment-channels/implementation-plan.md
Due: teleclaude-docs-check

feat(deployment-channels): register deployment contracts and fan-out consumer at startup
  teleclaude/daemon.py
  todos/deployment-channels/implementation-plan.md
Due: teleclaude-docs-check

docs(review): independent review approval for skills-procedure-taxonomy-alignment
  todos/skills-procedure-taxonomy-alignment/quality-checklist.md
  todos/skills-procedure-taxonomy-alignment/review-findings.md
  todos/skills-procedure-taxonomy-alignment/state.yaml
Due: teleclaude-docs-check

chore(review): approve config-wizard-whatsapp-wiring with 0 blockers
  todos/config-wizard-whatsapp-wiring/implementation-plan.md
  todos/config-wizard-whatsapp-wiring/quality-checklist.md
  todos/config-wizard-whatsapp-wiring/review-findings.md
  todos/config-wizard-whatsapp-wiring/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore: commit canonical main drift before finalize-apply
  docs/global/index.yaml
  frontend/AGENTS.master.md
  todos/skills-procedure-taxonomy-alignment/review-findings.md
  todos/skills-procedure-taxonomy-alignment/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(state): commit orchestration drift in worktree
  todos/skills-procedure-taxonomy-alignment/review-findings.md
  todos/skills-procedure-taxonomy-alignment/state.yaml
Due: teleclaude-docs-check

chore(state): commit integration-events-model state drift
  todos/integration-events-model/state.yaml
Due: none

chore(skills-procedure-taxonomy-alignment): record delivery
  docs/project/index.yaml
  docs/third-party/index.yaml
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-validate

feat(deployment-channels): add tests, fix telec version, validate build gates
  demos/deployment-channels/demo.md
  demos/deployment-channels/snapshot.json
  teleclaude/cli/telec.py
  tests/unit/test_deployment_channels.py
  todos/deployment-channels/implementation-plan.md
  todos/deployment-channels/quality-checklist.md
Due: teleclaude-docs-check, check-cli-help

chore(skills-procedure-taxonomy-alignment): add demo snapshot
  demos/skills-procedure-taxonomy-alignment/snapshot.json
Due: none

chore(integration-events-model): close builder build gates
  todos/integration-events-model/implementation-plan.md
  todos/integration-events-model/quality-checklist.md
Due: teleclaude-docs-check

chore: cleanup skills-procedure-taxonomy-alignment
  todos/skills-procedure-taxonomy-alignment/demo.md
  todos/skills-procedure-taxonomy-alignment/dor-report.md
  todos/skills-procedure-taxonomy-alignment/implementation-plan.md
  todos/skills-procedure-taxonomy-alignment/input.md
  todos/skills-procedure-taxonomy-alignment/quality-checklist.md
  todos/skills-procedure-taxonomy-alignment/requirements.md
  todos/skills-procedure-taxonomy-alignment/review-findings.md
  todos/skills-procedure-taxonomy-alignment/state.yaml
Due: teleclaude-docs-check

chore(state): mark deployment-channels build complete
  todos/deployment-channels/implementation-plan.md
  todos/deployment-channels/quality-checklist.md
  todos/deployment-channels/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

docs(architecture): add performance-tuning design doc
  docs/global/index.yaml
  docs/project/design/architecture/performance-tuning.md
  docs/project/index.yaml
  todos/deployment-channels/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

review(integration-events-model): approve round 2 — all fixes verified
  todos/integration-events-model/quality-checklist.md
  todos/integration-events-model/review-findings.md
  todos/roadmap.yaml
Due: teleclaude-docs-check

review(deployment-channels): REQUEST CHANGES — double-execution bug + dead code
  todos/deployment-channels/quality-checklist.md
  todos/deployment-channels/review-findings.md
Due: teleclaude-docs-check

refactor(deployment): remove dead _dispatch from handler
  teleclaude/daemon.py
  teleclaude/deployment/handler.py
  todos/deployment-channels/quality-checklist.md
  todos/deployment-channels/state.yaml
Due: teleclaude-docs-check

fix(deployment): remove unreachable version_info JSON parsing
  teleclaude/deployment/handler.py
Due: none

fix(deployment): cap fan-out stream at 1000 entries with maxlen
  teleclaude/deployment/handler.py
Due: none

fix(deployment): prevent double execution on originating daemon
  teleclaude/daemon.py
  teleclaude/deployment/handler.py
Due: none

fix(deployment): run_migrations in thread to avoid blocking event loop
  teleclaude/deployment/executor.py
Due: none

test(deployment): add missing executor error path and fan-out tests
  tests/unit/test_deployment_channels.py
Due: none

docs(deployment): record fixes applied in review-findings
  todos/deployment-channels/review-findings.md
Due: teleclaude-docs-check

review(deployment-channels): APPROVE — all round 1 findings resolved
  todos/deployment-channels/quality-checklist.md
  todos/deployment-channels/review-findings.md
  todos/deployment-channels/state.yaml
Due: teleclaude-docs-check

chore(state): mark deployment-channels review approved
  todos/deployment-channels/quality-checklist.md
  todos/deployment-channels/state.yaml
Due: teleclaude-docs-check
