Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (bin/format.sh)
    entry: ./bin/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs (sync_resources strict)
    entry: bash -c
    args:
    - 'uv run --quiet scripts/sync_resources.py --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)

Consolidate session focus intent handling for click/preview behavior
  scripts/cron_runner.py
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/api_client.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/controller.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/core/command_handlers.py
  teleclaude/core/command_mapper.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/018_add_session_metadata.py
  teleclaude/core/models.py
  teleclaude/cron/runner.py
  teleclaude/helpers/agent_cli.py
  teleclaude/types/commands.py
  tests/unit/cli/tui/views/test_jobs.py
  tests/unit/test_tui_sessions_view.py
Due: none

Fix TUI performance regression from forced layout rebuild per click
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/controller.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/views/jobs.py
  teleclaude/cli/tui/views/sessions.py
Due: none

Replace curses TUI with Textual framework (Phase 1)
  pyproject.toml
  teleclaude/cli/telec.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/messages.py
  teleclaude/cli/tui/pane_bridge.py
  teleclaude/cli/tui/state_store.py
  teleclaude/cli/tui/telec.tcss
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/utils/__init__.py
  teleclaude/cli/tui/utils/formatters.py
  teleclaude/cli/tui/views/__init__.py
  teleclaude/cli/tui/views/config.py
  teleclaude/cli/tui/views/jobs.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/__init__.py
  teleclaude/cli/tui/widgets/action_bar.py
  teleclaude/cli/tui/widgets/activity_row.py
  teleclaude/cli/tui/widgets/agent_badge.py
  teleclaude/cli/tui/widgets/banner.py
  teleclaude/cli/tui/widgets/computer_header.py
  teleclaude/cli/tui/widgets/job_row.py
  teleclaude/cli/tui/widgets/modals.py
  teleclaude/cli/tui/widgets/project_header.py
  teleclaude/cli/tui/widgets/session_row.py
  teleclaude/cli/tui/widgets/status_bar.py
  teleclaude/cli/tui/widgets/todo_row.py
  tests/conftest.py
Due: none

Fix TUI crash and restore visual parity with old curses TUI
  docs/global/general/procedure/maintenance/next-prepare.md
  docs/project/index.yaml
  docs/project/spec/jobs/next-prepare-draft.md
  docs/project/spec/jobs/next-prepare-gate.md
  docs/project/spec/jobs/next-prepare.md
  teleclaude.yml
  teleclaude/adapters/discord_adapter.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/telec.tcss
  teleclaude/cli/tui/views/jobs.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/computer_header.py
  teleclaude/cli/tui/widgets/project_header.py
  teleclaude/cli/tui/widgets/session_row.py
  todos/roadmap.md
Due: teleclaude-docs-check, teleclaude-docs-validate

Add design doc for TUI markdown editor and todo creation
  docs/plans/2026-02-20-tui-markdown-editor-design.md
  tests/unit/test_sessions_view.py
Due: teleclaude-docs-check, teleclaude-docs-validate

Add implementation plan for TUI markdown editor
  docs/plans/2026-02-20-tui-markdown-editor-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

Fix TUI pane race condition, add job notifications plan and todo scaffolds
  docs/plans/2026-02-20-job-report-notifications-design.md
  docs/plans/2026-02-20-job-report-notifications-plan.md
  teleclaude/cli/telec.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/pane_bridge.py
  teleclaude/cli/tui/pane_manager.py
  todos/job-report-notifications/implementation-plan.md
  todos/job-report-notifications/quality-checklist.md
  todos/job-report-notifications/requirements.md
  todos/job-report-notifications/state.json
  todos/roadmap.yaml
  todos/tui-markdown-editor/implementation-plan.md
  todos/tui-markdown-editor/input.md
  todos/tui-markdown-editor/quality-checklist.md
  todos/tui-markdown-editor/requirements.md
  todos/tui-markdown-editor/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: add parallelism diagram and execution handoff to implementation plan
  docs/plans/2026-02-20-tui-markdown-editor-plan.md
  todos/tui-markdown-editor/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

Fix TUI inactive haze to cover all cells uniformly
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/telec.tcss
Due: none

Fix MLX TTS cli env, Telegram edit hash, TUI polish and prep view enhancements
  teleclaude/adapters/telegram/message_ops.py
  teleclaude/cli/telec.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/modals.py
  teleclaude/tts/backends/mlx_tts.py
  tests/unit/test_mlx_tts_backend.py
  todos/roadmap.yaml
  todos/tui-todo-dependencies/implementation-plan.md
  todos/tui-todo-dependencies/quality-checklist.md
  todos/tui-todo-dependencies/requirements.md
  todos/tui-todo-dependencies/state.json
Due: teleclaude-docs-check

Fix Preparation view key binding regressions from Textual migration
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/views/preparation.py
Due: none

P key directly dispatches prepare session without modal
  teleclaude/cli/tui/views/preparation.py
Due: none

feat(tui): add _reconcile() to prune dead tmux panes before layout
  teleclaude/cli/tui/pane_manager.py
  todos/pane-state-reconciliation/implementation-plan.md
Due: teleclaude-docs-check

feat(tui): replace _adopt_existing_panes with reload-safe _init_panes
  teleclaude/cli/tui/pane_bridge.py
  teleclaude/cli/tui/pane_manager.py
  todos/pane-state-reconciliation/implementation-plan.md
Due: teleclaude-docs-check

feat(models): add after and group fields to TodoInfo
  teleclaude/core/models.py
  todos/tui-todo-dependencies/implementation-plan.md
Due: teleclaude-docs-check

feat(tui): pass is_reload flag through PaneManagerBridge to TmuxPaneManager
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/pane_bridge.py
  todos/pane-state-reconciliation/implementation-plan.md
Due: teleclaude-docs-check

feat(command_handlers): pass after/group through list_todos pipeline
  teleclaude/core/command_handlers.py
  todos/tui-todo-dependencies/implementation-plan.md
Due: teleclaude-docs-check

feat(api_models): add after and group fields to TodoDTO
  teleclaude/api_models.py
  todos/tui-todo-dependencies/implementation-plan.md
Due: teleclaude-docs-check

feat(api_server): serialize after/group in TodoDTO construction
  teleclaude/api_server.py
  todos/tui-todo-dependencies/implementation-plan.md
Due: teleclaude-docs-check

feat(tui): add after and group fields to TodoItem
  teleclaude/cli/tui/todos.py
  todos/tui-todo-dependencies/implementation-plan.md
Due: teleclaude-docs-check

feat(tui): add group sub-headers in PreparationView
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/widgets/group_separator.py
  todos/tui-todo-dependencies/implementation-plan.md
Due: teleclaude-docs-check

feat(tui): display dependency arrows on TodoRow
  teleclaude/cli/tui/widgets/todo_row.py
  todos/tui-todo-dependencies/implementation-plan.md
Due: teleclaude-docs-check

chore(tui-todo-dependencies): mark all build gates complete
  todos/tui-todo-dependencies/implementation-plan.md
  todos/tui-todo-dependencies/quality-checklist.md
Due: teleclaude-docs-check

refactor(pane-manager): reduce PaneState from 7 fields to 2
  teleclaude/cli/tui/pane_bridge.py
  teleclaude/cli/tui/pane_manager.py
  tests/unit/test_pane_manager.py
  todos/pane-state-reconciliation/implementation-plan.md
Due: teleclaude-docs-check

refactor(pane-manager): centralize reload logic, remove seed_layout_for_reload
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/pane_bridge.py
  teleclaude/cli/tui/pane_manager.py
  todos/pane-state-reconciliation/implementation-plan.md
Due: teleclaude-docs-check

fix(process): remove clerical checkbox gate from mark_phase
  teleclaude/core/next_machine/core.py
Due: none

test(pane-manager): add reconciliation and init lifecycle unit tests
  tests/unit/test_pane_manager.py
  todos/pane-state-reconciliation/implementation-plan.md
  todos/pane-state-reconciliation/quality-checklist.md
Due: teleclaude-docs-check

review(tui-todo-dependencies): request changes — off-by-2 width in GroupSeparator
  todos/tui-todo-dependencies/quality-checklist.md
  todos/tui-todo-dependencies/review-findings.md
  todos/tui-todo-dependencies/state.json
Due: teleclaude-docs-check

fix(tui): correct GroupSeparator width calculation off-by-2
  teleclaude/cli/tui/widgets/group_separator.py
Due: none

docs(tui): update GroupSeparator module docstring to reflect dual purpose
  teleclaude/cli/tui/widgets/group_separator.py
Due: none

docs(pane-state-reconciliation): add review findings with APPROVE verdict
  todos/pane-state-reconciliation/quality-checklist.md
  todos/pane-state-reconciliation/review-findings.md
  todos/pane-state-reconciliation/state.json
Due: teleclaude-docs-check

review(tui-todo-dependencies): approve — all round 1 findings resolved
  todos/tui-todo-dependencies/quality-checklist.md
  todos/tui-todo-dependencies/review-findings.md
  todos/tui-todo-dependencies/state.json
Due: teleclaude-docs-check

chore: cleanup tui-todo-dependencies
  teleclaude/cli/telec.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/session_row.py
  test_escape.py
  todos/delivered.md
  todos/pane-state-reconciliation/dor-report.md
  todos/pane-state-reconciliation/implementation-plan.md
  todos/pane-state-reconciliation/quality-checklist.md
  todos/pane-state-reconciliation/requirements.md
  todos/pane-state-reconciliation/state.json
  todos/roadmap.yaml
  todos/tui-todo-dependencies/implementation-plan.md
  todos/tui-todo-dependencies/quality-checklist.md
  todos/tui-todo-dependencies/requirements.md
  todos/tui-todo-dependencies/review-findings.md
  todos/tui-todo-dependencies/state.json
  tui-current-state.png
  tui-todo-columns.png
Due: teleclaude-docs-check

fix(tui): proper tree connectors with continuous vertical lines
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/widgets/group_separator.py
  teleclaude/cli/tui/widgets/todo_file_row.py
  teleclaude/cli/tui/widgets/todo_row.py
Due: none

chore(pane-state-reconciliation): log delivery and update roadmap
  todos/delivered.md
  todos/pane-state-reconciliation/quality-checklist.md
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore: cleanup pane-state-reconciliation
  todos/direct-conversation-flag/implementation-plan.md
  todos/direct-conversation-flag/quality-checklist.md
  todos/direct-conversation-flag/requirements.md
  todos/direct-conversation-flag/state.json
  todos/pane-state-reconciliation/dor-report.md
  todos/pane-state-reconciliation/implementation-plan.md
  todos/pane-state-reconciliation/quality-checklist.md
  todos/pane-state-reconciliation/requirements.md
  todos/pane-state-reconciliation/review-findings.md
  todos/pane-state-reconciliation/state.json
  todos/roadmap.yaml
  tui-indentation.png
Due: teleclaude-docs-check

feat(config): add subscription models and job category field
  teleclaude/config/schema.py
  teleclaude/cron/discovery.py
  tests/unit/test_config_schema.py
  todos/job-report-notifications/implementation-plan.md
Due: teleclaude-docs-check

feat(demo): add demos/ directory and demo-artifact spec
  demos/.gitkeep
  docs/project/spec/demo-artifact.md
  todos/next-demo/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(cron): add last_notified field and mark_notified to CronState
  teleclaude/cron/state.py
  tests/unit/test_cron_state.py
  todos/job-report-notifications/implementation-plan.md
Due: teleclaude-docs-check
