Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs (sync_resources strict)
  entry: bash -c
  args:
  - uv run --quiet scripts/sync_resources.py --project-root "$PWD"
  language: system
  pass_filenames: false

chore(release-manifests): finalize build gates
  todos/release-manifests/implementation-plan.md
  todos/release-manifests/quality-checklist.md
Due: teleclaude-docs-check

fix(diagrams): narrow transcript_discovery detection to actual discovery function
  scripts/diagrams/extract_runtime_matrix.py
Due: none

chore(release-manifests): sync index and state artifacts
  docs/project/index.yaml
  docs/third-party/index.yaml
  todos/release-manifests/state.json
Due: teleclaude-docs-validate

review(release-manifests): round 1 — REQUEST CHANGES
  todos/release-manifests/quality-checklist.md
  todos/release-manifests/review-findings.md
  todos/release-manifests/state.json
Due: teleclaude-docs-check

fix(release-manifests): restore repository-root paths in indexes
  docs/project/index.yaml
  docs/third-party/index.yaml
Due: teleclaude-docs-validate

chore(release-manifests): persist review state progress
  todos/release-manifests/state.json
Due: none

chore(release-manifests): record fix-review outcomes
  todos/release-manifests/review-findings.md
Due: teleclaude-docs-check

review(release-manifests): round 2 — APPROVE
  todos/release-manifests/quality-checklist.md
  todos/release-manifests/review-findings.md
  todos/release-manifests/state.json
Due: teleclaude-docs-check

chore(todos): mark release-manifests success criteria complete
  todos/release-manifests/requirements.md
Due: teleclaude-docs-check

chore(finalize): log release-manifests delivery
  todos/delivered.md
  todos/release-manifests/quality-checklist.md
  todos/roadmap.md
Due: teleclaude-docs-check

chore: remove release-manifests worktree, branch, and todo folder
  todos/release-manifests/dor-report.md
  todos/release-manifests/implementation-plan.md
  todos/release-manifests/quality-checklist.md
  todos/release-manifests/requirements.md
  todos/release-manifests/review-findings.md
  todos/release-manifests/state.json
Due: teleclaude-docs-check

fix(config): prompt for env var values during onboarding
  teleclaude/cli/prompt_utils.py
Due: none

feat(config): register all service env vars and prompt in environment step
  teleclaude/cli/config_handlers.py
  teleclaude/cli/onboard_wizard.py
Due: none

Improve TUI preview styling and related updates
  docs/explore/teleclaude-api-socket-degradation.md
  docs/project/design/architecture/daemon.md
  docs/project/procedure/troubleshooting.md
  scripts/cleanup_closed_session_channels.py
  teleclaude/adapters/telegram/input_handlers.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/core/command_handlers.py
  teleclaude/core/session_cleanup.py
  teleclaude/hooks/checkpoint.py
  teleclaude/install/install_hooks.py
  teleclaude/project_setup/macos_setup.py
  teleclaude/services/maintenance_service.py
  teleclaude/tts/backends/mlx_tts.py
  tests/unit/test_checkpoint_builder.py
  tests/unit/test_command_handlers.py
  tests/unit/test_daemon.py
  tests/unit/test_install_hooks.py
  tests/unit/test_mlx_tts_backend.py
  tests/unit/test_pane_manager.py
  tests/unit/test_session_cleanup.py
  tests/unit/test_telegram_adapter.py
  tests/unit/test_telegram_topic_closed.py
  tests/unit/test_tui_sessions_view.py
Due: teleclaude-docs-check, teleclaude-docs-validate

Keep previewed TUI sessions bold with muted background
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_sessions_view.py
Due: none

Improve preview and selected session row contrast in TUI
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_sessions_view.py
Due: none

Use muted focus colors for selected tree rows
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_sessions_view.py
Due: none

Use muted focus style for all selected rows in session tree
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_sessions_view.py
Due: none

Adjust TUI tree and preview selection behavior
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_sessions_view.py
Due: none

Improve session preview intent semantics and sticky badge hover styling
  teleclaude/cli/tui/controller.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_pane_manager.py
  tests/unit/test_tui_sessions_view.py
Due: none

Keep sticky badge style stable under selection highlight
  teleclaude/cli/tui/views/sessions.py
Due: none

feat(tui/release): optimize session selection and establish release surface manifests
  agents/CODEX.primer.md
  docs/project/spec/event-vocabulary.md
  docs/project/spec/mcp-tool-surface.md
  docs/project/spec/release-inspector-prompt.md
  docs/project/spec/release-report-schema.md
  docs/project/spec/telec-cli-surface.md
  docs/project/spec/teleclaude-config.md
  teleclaude/cli/tui/controller.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/hooks/checkpoint.py
  teleclaude/install/install_hooks.py
  tests/unit/test_tui_sessions_view.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(tui): implement sticky state deduplication and rendering stability
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/state_store.py
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_sessions_view.py
  tests/unit/test_tui_state.py
  tests/unit/test_tui_state_store.py
Due: none

fix(hooks): use absolute python path in agent hooks to ensure dependency availability
  teleclaude/install/install_hooks.py
Due: none

feat(orchestration): implement strict hands-off jurisdiction policy for Orchestrator role
  agents/CODEX.primer.md
  agents/GEMINI.primer.md
  docs/global/software-development/procedure/orchestration.md
  docs/project/index.yaml
  docs/project/policy/orchestrator-jurisdiction.md
  docs/project/spec/event-vocabulary.md
  docs/project/spec/mcp-tool-surface.md
  docs/project/spec/release-inspector-prompt.md
  docs/project/spec/release-report-schema.md
  docs/project/spec/telec-cli-surface.md
  docs/project/spec/teleclaude-config.md
  teleclaude/cli/tui/controller.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/state_store.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/hooks/checkpoint.py
  teleclaude/install/install_hooks.py
  tests/unit/test_tui_sessions_view.py
  tests/unit/test_tui_state.py
  tests/unit/test_tui_state_store.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(sync): implement robust atomic symlink replacement for documentation deployment
  scripts/distribute.py
Due: none

chore: remove release-workflow-foundation worktree, branch, and todo folder
  docs/global/index.yaml
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_sessions_view.py
  todos/release-workflow-foundation/dor-report.md
  todos/release-workflow-foundation/implementation-plan.md
  todos/release-workflow-foundation/quality-checklist.md
  todos/release-workflow-foundation/requirements.md
  todos/release-workflow-foundation/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(finalize): record delivery for release-workflow-foundation
  todos/delivered.md
Due: teleclaude-docs-check

chore(todos): unblock release lanes after workflow foundation delivery
  todos/dependencies.json
Due: none

chore(release): acknowledge pre-existing inspector prompt
  todos/release-lane-claude/implementation-plan.md
Due: teleclaude-docs-check

feat(release): implement Claude lane with claude-code-action@v1
  .github/workflows/release.yaml
  todos/release-lane-claude/implementation-plan.md
Due: teleclaude-docs-check

chore(release): complete verification tasks for Claude lane
  todos/release-lane-claude/implementation-plan.md
Due: teleclaude-docs-check

chore(release): update build gates for release-lane-claude
  todos/release-lane-claude/implementation-plan.md
  todos/release-lane-claude/quality-checklist.md
Due: teleclaude-docs-check

feat(config): add programmatic CLI API for config management
  teleclaude/cli/config_cli.py
  teleclaude/cli/telec.py
Due: none

chore(finalize): close release-lane-claude delivery
  todos/delivered.md
  todos/release-lane-claude/quality-checklist.md
  todos/release-lane-claude/requirements.md
  todos/release-lane-claude/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

feat(config): add config CLI tests and doc-access-control todo
  tests/unit/test_config_cli.py
  tests/unit/test_config_interactive.py
  tests/unit/test_tui_sessions_view.py
  todos/doc-access-control/input.md
  todos/doc-access-control/state.json
  todos/release-lane-claude/dor-report.md
  todos/release-lane-claude/implementation-plan.md
  todos/release-lane-claude/quality-checklist.md
  todos/release-lane-claude/requirements.md
  todos/release-lane-claude/state.json
Due: teleclaude-docs-check

feat(release): add Codex lane using openai/codex-action@v1
  .github/workflows/release.yaml
Due: none

chore(release): mark codex-lane tasks 1-2 complete
  todos/release-lane-codex/implementation-plan.md
Due: teleclaude-docs-check

chore(release): complete build gates for release-lane-codex
  todos/release-lane-codex/implementation-plan.md
  todos/release-lane-codex/quality-checklist.md
Due: teleclaude-docs-check

Preserve sticky badge colors during selection and preview highlights
  teleclaude/cli/tui/views/sessions.py
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)
