Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

test(guardrails): lock first-binary failure behavior in wrappers
  tests/unit/test_gh_wrapper_guardrails.py
  tests/unit/test_git_wrapper_guardrails.py
Due: none

docs(review): record applied fixes for re-review
  todos/finalize-push-guardrails/review-findings.md
Due: teleclaude-docs-check

chore(finalize-push-guardrails): record round-limit approval state
  todos/finalize-push-guardrails/review-round-limit.md
  todos/finalize-push-guardrails/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(finalize-push-guardrails): finalize delivery bookkeeping
  todos/delivered.yaml
  todos/finalize-push-guardrails/quality-checklist.md
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore: commit all pending workspace changes
  .tmp/delivered_slugs.txt
  .tmp/demo_recovery_report_20260224_213309.txt
  .tmp/demo_recovery_report_20260224_213324.txt
  .tmp/demo_recovery_report_20260224_213352_bash.txt
  todos/bidirectional-agent-links/implementation-plan.md
  todos/bidirectional-agent-links/input.md
  todos/bidirectional-agent-links/requirements.md
  todos/bidirectional-agent-links/state.yaml
  todos/icebox.yaml
  todos/roadmap.yaml
  todos/start-gathering-tool/implementation-plan.md
  todos/start-gathering-tool/input.md
  todos/start-gathering-tool/requirements.md
Due: teleclaude-docs-check

chore(tui): hide nav and view-switch hints from footer
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/views/config.py
  teleclaude/cli/tui/views/jobs.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
Due: none

chore: checkpoint local main changes before syncing origin/main
  todos/bidirectional-agent-links/demo.md
  todos/bidirectional-agent-links/dor-report.md
  todos/tui-footer-key-contract-restoration/demo.md
  todos/tui-footer-key-contract-restoration/implementation-plan.md
  todos/tui-footer-key-contract-restoration/input.md
  todos/tui-footer-key-contract-restoration/quality-checklist.md
  todos/tui-footer-key-contract-restoration/requirements.md
  todos/tui-footer-key-contract-restoration/state.yaml
Due: teleclaude-docs-check

tui: support shift-click preview on session rows
  docs/global/index.yaml
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/session_row.py
  todos/bidirectional-agent-links/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(todos): finalize footer migration cleanup and narrow key-contract scope
  todos/textual-footer-migration/demo.md
  todos/textual-footer-migration/dor-report.md
  todos/textual-footer-migration/implementation-plan.md
  todos/textual-footer-migration/input.md
  todos/textual-footer-migration/quality-checklist.md
  todos/textual-footer-migration/requirements.md
  todos/textual-footer-migration/review-findings.md
  todos/textual-footer-migration/state.yaml
  todos/tui-footer-key-contract-restoration/implementation-plan.md
  todos/tui-footer-key-contract-restoration/requirements.md
Due: teleclaude-docs-check

chore(todos): update bidirectional-agent-links state artifacts
  todos/bidirectional-agent-links/dor-report.md
  todos/bidirectional-agent-links/state.yaml
Due: teleclaude-docs-check

feat(bidirectional-agent-links): replace relay path with shared conversation links
  demos/bidirectional-agent-links/demo.md
  teleclaude/core/agent_coordinator.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/021_add_conversation_links.py
  teleclaude/core/schema.sql
  teleclaude/core/session_cleanup.py
  teleclaude/core/session_listeners.py
  teleclaude/core/session_relay.py
  teleclaude/mcp/handlers.py
  teleclaude/mcp/tool_definitions.py
  teleclaude/mcp_server.py
  teleclaude/transport/redis_transport.py
  tests/unit/test_bidirectional_links.py
  tests/unit/test_redis_adapter.py
  tests/unit/test_session_cleanup.py
  tests/unit/test_session_listeners.py
  tests/unit/test_session_relay.py
  todos/bidirectional-agent-links/dor-report.md
  todos/bidirectional-agent-links/implementation-plan.md
  todos/bidirectional-agent-links/quality-checklist.md
  todos/bidirectional-agent-links/state.yaml
Due: teleclaude-docs-check, check-raw-sql

chore(build): close transcript-first build gates
  todos/roadmap.yaml
  todos/transcript-first-output-and-hook-backpressure/implementation-plan.md
  todos/transcript-first-output-and-hook-backpressure/quality-checklist.md
Due: teleclaude-docs-check

fix(agent-coordinator): isolate linked stop fan-out failures
  teleclaude/core/agent_coordinator.py
  tests/unit/test_bidirectional_links.py
Due: none

fix(session-listeners): enforce strict scoped link closure
  teleclaude/core/session_listeners.py
  tests/unit/test_session_listeners.py
Due: none

docs(review): record fix-review outcomes and verification status
  todos/bidirectional-agent-links/review-findings.md
Due: teleclaude-docs-check

fix(session-links): serialize direct-link pair handshakes
  teleclaude/core/db.py
  teleclaude/core/session_listeners.py
  tests/unit/test_session_listeners.py
Due: check-raw-sql

chore(ui): save local session header update
  frontend/components/sidebar/SessionHeader.tsx
Due: none

chore(transcript-first-output-and-hook-backpressure): add demo snapshot
  demos/transcript-first-output-and-hook-backpressure/snapshot.json
  docs/global/index.yaml
Due: teleclaude-docs-validate

chore: cleanup transcript-first-output-and-hook-backpressure
  todos/delivered.yaml
  todos/roadmap.yaml
  todos/transcript-first-output-and-hook-backpressure/demo.md
  todos/transcript-first-output-and-hook-backpressure/dor-report.md
  todos/transcript-first-output-and-hook-backpressure/implementation-plan.md
  todos/transcript-first-output-and-hook-backpressure/input.md
  todos/transcript-first-output-and-hook-backpressure/quality-checklist.md
  todos/transcript-first-output-and-hook-backpressure/requirements.md
  todos/transcript-first-output-and-hook-backpressure/review-findings.md
  todos/transcript-first-output-and-hook-backpressure/state.yaml
Due: teleclaude-docs-check

chore(bidirectional-agent-links): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(bidirectional-agent-links): add demo snapshot
  demos/bidirectional-agent-links/snapshot.json
Due: none

chore: cleanup bidirectional-agent-links
  todos/bidirectional-agent-links/demo.md
  todos/bidirectional-agent-links/dor-report.md
  todos/bidirectional-agent-links/implementation-plan.md
  todos/bidirectional-agent-links/input.md
  todos/bidirectional-agent-links/quality-checklist.md
  todos/bidirectional-agent-links/requirements.md
  todos/bidirectional-agent-links/review-findings.md
  todos/bidirectional-agent-links/state.yaml
Due: teleclaude-docs-check

feat(skills): add systematic-debugging methodology skill
  agents/skills/systematic-debugging/SKILL.md
  todos/consolidate-methodology-skills/implementation-plan.md
  todos/consolidate-methodology-skills/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(skills): add test-driven-development methodology skill
  agents/skills/test-driven-development/SKILL.md
  todos/consolidate-methodology-skills/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(skills): add verification-before-completion methodology skill
  agents/skills/verification-before-completion/SKILL.md
  todos/consolidate-methodology-skills/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(skills): add brainstorming methodology skill
  agents/skills/brainstorming/SKILL.md
  todos/consolidate-methodology-skills/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(skills): add receiving-code-review methodology skill
  agents/skills/receiving-code-review/SKILL.md
  todos/consolidate-methodology-skills/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(skills): add frontend-design creative methodology skill
  agents/skills/frontend-design/SKILL.md
  todos/consolidate-methodology-skills/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(mcp): clarify direct flag semantics for send_message and start_session
  teleclaude/mcp/tool_definitions.py
Due: none

chore(skills): complete validation and distribution checks
  todos/consolidate-methodology-skills/implementation-plan.md
Due: teleclaude-docs-check

docs(demo): add methodology-skills demo artifact
  demos/consolidate-methodology-skills/demo.md
  todos/consolidate-methodology-skills/demo.md
Due: teleclaude-docs-check

chore(build): record gate results and test blocker
  todos/consolidate-methodology-skills/implementation-plan.md
  todos/consolidate-methodology-skills/quality-checklist.md
Due: teleclaude-docs-check

fix(build): resolve build gates for consolidate-methodology-skills
  docs/project/spec/telec-cli-surface.md
  teleclaude/cli/config_cli.py
  teleclaude/cli/telec.py
  teleclaude/config/runtime_settings.py
  teleclaude/install/install_hooks.py
  teleclaude/invite.py
  tests/integration/test_ai_to_ai_session_init_e2e.py
  tests/integration/test_e2e_smoke.py
  tests/integration/test_multi_adapter_broadcasting.py
  tests/integration/test_run_agent_command_e2e.py
  tests/integration/test_state_machine_workflow.py
  tests/unit/test_install_hooks.py
  tests/unit/test_next_machine_demo.py
  todos/consolidate-methodology-skills/implementation-plan.md
  todos/consolidate-methodology-skills/quality-checklist.md
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

fix(build): stabilize test gate for consolidate-methodology-skills
  todos/consolidate-methodology-skills/implementation-plan.md
  todos/consolidate-methodology-skills/quality-checklist.md
  tools/test.sh
Due: teleclaude-docs-check

fix(build): harden make-test stability for consolidate-methodology-skills
  todos/consolidate-methodology-skills/implementation-plan.md
  todos/consolidate-methodology-skills/quality-checklist.md
  tools/test.sh
Due: teleclaude-docs-check

fix(mcp): use full session/link IDs in all agent-facing strings
  teleclaude/core/agent_coordinator.py
  teleclaude/mcp/handlers.py
  todos/consolidate-methodology-skills/state.yaml
Due: none

feat(mcp): start_session(direct=True) creates relay link and announces to peer
  teleclaude/mcp/handlers.py
Due: none

docs(todo): align scope with implemented branch surfaces
  todos/consolidate-methodology-skills/implementation-plan.md
  todos/consolidate-methodology-skills/requirements.md
Due: teleclaude-docs-check

fix(mcp): skip listener registration in get_session_data when direct link exists
  teleclaude/mcp/handlers.py
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
