Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (bin/format.sh)
    entry: ./bin/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs (sync_resources strict)
    entry: bash -c
    args:
    - 'uv run --quiet scripts/sync_resources.py --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)

feat(widgets): wire widget and question renderers in ThreadView
  frontend/components/assistant/ThreadView.tsx
Due: none

docs(widgets): add AI authoring guide and mark all tasks complete
  frontend/lib/widgets/AUTHORING.md
  todos/widget-sdk/implementation-plan.md
Due: teleclaude-docs-check

chore(widgets): update quality checklist build gates
  todos/widget-sdk/quality-checklist.md
Due: teleclaude-docs-check

fix(adapter): suppress MCP/HOOK origin broadcasts to UI adapters
  teleclaude/core/adapter_client.py
Due: none

docs(widgets): add review findings with APPROVE verdict
  todos/widget-sdk/quality-checklist.md
  todos/widget-sdk/review-findings.md
  todos/widget-sdk/state.json
Due: teleclaude-docs-check

fix(adapters): prevent cross-adapter output_message_id race
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/core/models.py
Due: none

chore(widget-sdk): finalize delivery — merge, log, roadmap update
  todos/delivered.md
  todos/widget-sdk/quality-checklist.md
Due: teleclaude-docs-check

fix(adapters): serialize output delivery per session with async lock
  teleclaude/adapters/ui_adapter.py
Due: none

feat(hooks): add TTL support for hook contracts
  teleclaude/daemon.py
  teleclaude/hooks/api_routes.py
  teleclaude/hooks/registry.py
  teleclaude/hooks/webhook_models.py
  tests/unit/test_webhook_service.py
Due: none

feat(discord): handle voice/audio attachments and fix origin tracking
  teleclaude/adapters/discord_adapter.py
  teleclaude/core/command_handlers.py
Due: none

docs: add messaging spec for Telegram, Discord, and email with SMTP config
  docs/project/baseline-progressive.md
  docs/project/index.yaml
  docs/project/spec/messaging.md
  docs/project/spec/teleclaude-config.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(docs): add clearance field support to snippet index builder
  teleclaude/docs_index.py
  todos/doc-access-control/implementation-plan.md
  todos/doc-access-control/quality-checklist.md
Due: teleclaude-docs-check

feat(context): update member role audience filter
  teleclaude/context_selector.py
  todos/doc-access-control/implementation-plan.md
Due: teleclaude-docs-check

feat(context): add Phase 2 access-denied notices for forbidden snippets
  teleclaude/context_selector.py
  todos/doc-access-control/implementation-plan.md
Due: teleclaude-docs-check

feat(cli): gate mutating config commands for customer-role sessions
  teleclaude/cli/config_cli.py
  todos/doc-access-control/implementation-plan.md
Due: teleclaude-docs-check

docs: add clearance field to snippet schema and tag admin-only example
  docs/global/general/procedure/doc-snippet-authoring.md
  docs/global/general/spec/snippet-authoring-schema.md
  docs/global/general/spec/tools/memory-management-api.md
  todos/doc-access-control/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

test: add clearance filtering tests and sync build artifacts
  tests/unit/test_context_selector.py
  todos/doc-access-control/dor-report.md
  todos/doc-access-control/requirements.md
  todos/doc-access-control/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

test: add clearance derivation tests for index builder
  tests/unit/test_context_index.py
Due: none

fix(test): update member audience test for new clearance hierarchy
  tests/unit/test_help_desk_features.py
Due: none

chore: check off build gates in quality checklist
  todos/doc-access-control/quality-checklist.md
Due: teleclaude-docs-check

chore: check off build gates and sync state
  todos/doc-access-control/state.json
Due: none

refactor: simplify clearance model to 1:1 role mapping
  docs/global/general/procedure/doc-snippet-authoring.md
  docs/global/general/spec/snippet-authoring-schema.md
  teleclaude/context_selector.py
  teleclaude/docs_index.py
  tests/unit/test_context_index.py
  tests/unit/test_context_selector.py
  todos/doc-access-control/requirements.md
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(voice): restore NEXT_TURN cleanup and delete_feedback callback
  teleclaude/adapters/ui_adapter.py
  teleclaude/core/adapter_client.py
  teleclaude/core/command_handlers.py
Due: none

fix(footer): stop creating duplicate footers on edit failure
  teleclaude/adapters/ui_adapter.py
Due: none

fix(routing): stop broadcasting output when no UI origin
  teleclaude/core/adapter_client.py
Due: none

fix(routing): remove broadcast-all fallback from _route_to_ui
  teleclaude/core/adapter_client.py
Due: none

fix(routing): stop hook events from overwriting session origin
  teleclaude/adapters/discord_adapter.py
  teleclaude/adapters/telegram/message_ops.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/core/adapter_client.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/command_handlers.py
  teleclaude/core/models.py
  teleclaude/core/voice_message_handler.py
  teleclaude/daemon.py
  teleclaude/hooks/receiver.py
  teleclaude/install/install_hooks.py
  teleclaude/utils/transcript.py
  tests/unit/test_adapter_client.py
  tests/unit/test_adapter_client_terminal_origin.py
  tests/unit/test_install_hooks.py
  todos/doc-access-control/dor-report.md
  todos/doc-access-control/implementation-plan.md
  todos/doc-access-control/input.md
  todos/doc-access-control/requirements.md
  todos/doc-access-control/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

refactor(review): replace audience/clearance with single role field
  teleclaude/cli/config_cli.py
  teleclaude/constants.py
  teleclaude/context_selector.py
  teleclaude/docs_index.py
  teleclaude/mcp/handlers.py
  teleclaude/project_setup/help_desk_bootstrap.py
  teleclaude/resource_validation.py
  tests/unit/test_context_index.py
  tests/unit/test_context_selector.py
  tests/unit/test_help_desk_features.py
  todos/doc-access-control/dor-report.md
  todos/doc-access-control/implementation-plan.md
  todos/doc-access-control/input.md
  todos/doc-access-control/quality-checklist.md
  todos/doc-access-control/requirements.md
  todos/doc-access-control/review-findings.md
  todos/roadmap.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs: rename clearance to role in authoring docs and schema
  docs/global/general/procedure/doc-snippet-authoring.md
  docs/global/general/spec/snippet-authoring-schema.md
  docs/global/general/spec/tools/memory-management-api.md
  todos/roadmap.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(review): record round-2 fixes in review-findings
  todos/doc-access-control/review-findings.md
Due: teleclaude-docs-check

fix(worktree): make mcp-wrapper and distribute worktree-safe
  bin/mcp-wrapper.py
  docs/global/index.yaml
  scripts/distribute.py
  teleclaude/cli/tui/theme.py
  teleclaude/core/adapter_client.py
  teleclaude/utils/transcript.py
  tests/unit/test_transcript.py
  todos/multi-user-system-install/implementation-plan.md
  todos/multi-user-system-install/input.md
  todos/multi-user-system-install/quality-checklist.md
  todos/multi-user-system-install/requirements.md
  todos/multi-user-system-install/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(review): round 2 review — APPROVE with defensive hardening suggestions
  todos/doc-access-control/review-findings.md
  todos/doc-access-control/state.json
Due: teleclaude-docs-check

chore(finalize): mark delivery complete for doc-access-control
  todos/doc-access-control/quality-checklist.md
  todos/doc-access-control/state.json
Due: teleclaude-docs-check

chore: remove doc-access-control worktree, branch, and todo folder
  todos/.finalize-lock
  todos/doc-access-control/dor-report.md
  todos/doc-access-control/implementation-plan.md
  todos/doc-access-control/input.md
  todos/doc-access-control/quality-checklist.md
  todos/doc-access-control/requirements.md
  todos/doc-access-control/review-findings.md
  todos/doc-access-control/state.json
Due: teleclaude-docs-check

feat(proxy): add 10 REST proxy routes for daemon API coverage
  frontend/app/api/agents/availability/route.ts
  frontend/app/api/computers/route.ts
  frontend/app/api/projects/route.ts
  frontend/app/api/sessions/[id]/agent-restart/route.ts
  frontend/app/api/sessions/[id]/revive/route.ts
  frontend/app/api/sessions/[id]/route.ts
  frontend/app/api/settings/route.ts
  frontend/app/api/todos/route.ts
  frontend/app/components/widgets/sections/TextSection.tsx
  todos/web-api-proxy-completion/implementation-plan.md
Due: teleclaude-docs-check

feat(auth): add identity header validation and auth guard utilities
  frontend/lib/proxy/auth-guards.ts
  teleclaude/api_server.py
  todos/web-api-proxy-completion/implementation-plan.md
Due: teleclaude-docs-check

feat(ws): add WebSocket bridge with custom server for daemon proxying
  frontend/lib/proxy/ws-bridge.ts
  frontend/package.json
  frontend/server.ts
  todos/web-api-proxy-completion/implementation-plan.md
Due: teleclaude-docs-check

feat(ws): add browser WebSocket client with context provider
  frontend/app/(chat)/layout.tsx
  frontend/lib/ws/WebSocketProvider.tsx
  frontend/lib/ws/types.ts
  frontend/lib/ws/useWebSocket.ts
  todos/web-api-proxy-completion/implementation-plan.md
Due: teleclaude-docs-check

feat(state): add React Query with data-fetching hooks and WS invalidation
  frontend/app/(chat)/layout.tsx
  frontend/lib/hooks/useAgentAvailability.ts
  frontend/lib/hooks/useComputers.ts
  frontend/lib/hooks/useProjects.ts
  frontend/lib/hooks/useSessionActions.ts
  frontend/lib/hooks/useSessions.ts
  frontend/lib/hooks/useSettings.ts
  frontend/lib/hooks/useTodos.ts
  frontend/lib/query/QueryProvider.tsx
  frontend/lib/ws/useCacheInvalidation.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  todos/web-api-proxy-completion/implementation-plan.md
Due: teleclaude-docs-check
