Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

feat: recover stashed work, add STARTED phase status, prepare demo-runner
  teleclaude/cli/editor.py
  teleclaude/cli/tui/telec.tcss
  teleclaude/core/next_machine/core.py
  teleclaude/core/roadmap.py
  teleclaude/mcp/handlers.py
  teleclaude/mcp/tool_definitions.py
  todos/bugs-round-1/input.md
  todos/demo-runner/dor-report.md
  todos/demo-runner/implementation-plan.md
  todos/demo-runner/requirements.md
  todos/demo-runner/state.json
  todos/icebox.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

feat: per-adapter output_message_id and threaded output routing
  AGENTS.master.md
  experiments.yml
  teleclaude/adapters/telegram_adapter.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/cli/editor.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/theme.py
  teleclaude/config/__init__.py
  teleclaude/core/adapter_client.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/feature_flags.py
  tests/unit/test_adapter_client.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_config_experiments_overlay.py
  tests/unit/test_feature_flags.py
  tests/unit/test_threaded_output_updates.py
  tests/unit/test_ui_adapter.py
  todos/roadmap.yaml
Due: teleclaude-docs-check

feat(demo-runner): update demo artifact spec
  docs/project/spec/demo-artifact.md
  todos/demo-runner/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(invite): add token generation, bot resolution, and deep link helpers
  teleclaude/cli/config_handlers.py
  teleclaude/config/schema.py
  teleclaude/invite.py
  todos/member-invite/implementation-plan.md
Due: teleclaude-docs-check

feat(demo-runner): migrate demo folders to slug-based naming
  demos/001-tui-markdown-editor/demo.sh
  demos/002-themed-primary-color/demo.sh
  demos/themed-primary-color/snapshot.json
  demos/tui-markdown-editor/snapshot.json
  todos/demo-runner/implementation-plan.md
Due: teleclaude-docs-check

feat(notifications): add Brevo SMTP email sender and invite email template
  teleclaude/invite.py
  teleclaude/notifications/email.py
  templates/emails/member-invite.html
  templates/emails/member-invite.txt
  todos/member-invite/implementation-plan.md
Due: teleclaude-docs-check

feat(demo-runner): implement demo runner CLI
  teleclaude/cli/telec.py
  todos/demo-runner/implementation-plan.md
Due: teleclaude-docs-check, check-cli-help

feat(demo-runner): decouple demo from finalize step
  teleclaude/core/next_machine/core.py
  todos/demo-runner/implementation-plan.md
Due: teleclaude-docs-check

feat(config): rewrite invite with token generation, email delivery, and auto-invite on people add
  teleclaude/cli/config_cli.py
  todos/member-invite/implementation-plan.md
Due: teleclaude-docs-check, check-cli-help

feat(demo-runner): rewrite /next-demo as presentation ceremony
  agents/commands/next-demo.md
  todos/demo-runner/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(demo-runner): add demo verification to build gates
  templates/todos/quality-checklist.md
  todos/demo-runner/implementation-plan.md
Due: teleclaude-docs-check

feat(telegram): add private chat /start handler with invite token binding and personal workspace routing
  teleclaude/adapters/telegram_adapter.py
  todos/member-invite/implementation-plan.md
Due: teleclaude-docs-check

feat(demo-runner): update demo procedure doc
  docs/global/software-development/procedure/lifecycle/demo.md
  todos/demo-runner/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(discord): add DM handler with invite token binding and personal workspace routing
  teleclaude/adapters/discord_adapter.py
  todos/member-invite/implementation-plan.md
Due: teleclaude-docs-check

feat(demo-runner): update tests for slug-based demos
  tests/unit/test_next_machine_demo.py
  todos/demo-runner/implementation-plan.md
Due: teleclaude-docs-check

chore(demo-runner): mark build phase complete
  todos/demo-runner/implementation-plan.md
  todos/demo-runner/quality-checklist.md
  todos/demo-runner/state.json
Due: teleclaude-docs-check

review(member-invite): complete code review with REQUEST CHANGES verdict
  todos/member-invite/quality-checklist.md
  todos/member-invite/review-findings.md
  todos/member-invite/state.json
Due: teleclaude-docs-check

docs(member-invite): add deferrals.md for unchecked implementation tasks
  todos/member-invite/deferrals.md
Due: teleclaude-docs-check

chore(demo-runner): complete code review with APPROVE verdict
  todos/demo-runner/quality-checklist.md
  todos/demo-runner/review-findings.md
  todos/demo-runner/state.json
Due: teleclaude-docs-check

refactor(invite): remove unused resolve_project_path()
  teleclaude/invite.py
Due: none

chore(demo-runner): update state for finalization
  todos/demo-runner/state.json
Due: none

fix(invite): correct send_invite_email docstring
  teleclaude/invite.py
Due: none

fix(email): move import re to module top level
  teleclaude/notifications/email.py
Due: none

docs(member-invite): record fixes applied in review-findings.md
  todos/member-invite/review-findings.md
  todos/member-invite/state.json
Due: teleclaude-docs-check

chore(demo-runner): mark finalize gates complete
  todos/demo-runner/quality-checklist.md
Due: teleclaude-docs-check

chore(demo-runner): log delivery and update roadmap
  todos/roadmap.yaml
Due: none

review(member-invite): approve after round 2 - all findings addressed
  todos/member-invite/review-findings.md
  todos/member-invite/state.json
Due: teleclaude-docs-check

docs(delivery): log member-invite delivery and update roadmap
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore: cleanup member-invite worktree and todo artifacts
  teleclaude/cli/tui/widgets/computer_header.py
  teleclaude/cli/tui/widgets/project_header.py
  teleclaude/cli/tui/widgets/session_row.py
  teleclaude/cli/tui/widgets/todo_row.py
  todos/bugs-round-1/input.md
  todos/member-invite/deferrals.md
  todos/member-invite/dor-report.md
  todos/member-invite/implementation-plan.md
  todos/member-invite/input.md
  todos/member-invite/quality-checklist.md
  todos/member-invite/requirements.md
  todos/member-invite/review-findings.md
  todos/member-invite/state.json
Due: teleclaude-docs-check

design: bug delivery service
  docs/plans/2026-02-22-bug-delivery-service-design.md
Due: teleclaude-docs-check, teleclaude-docs-validate

plan: bug delivery service implementation
  docs/plans/2026-02-22-bug-delivery-service-plan.md
  teleclaude/core/next_machine/core.py
  todos/mcp-migration-telec-commands/dor-report.md
  todos/mcp-migration-telec-commands/implementation-plan.md
  todos/mcp-migration-telec-commands/requirements.md
  todos/mcp-migration-telec-commands/state.json
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor(state): update core state functions to use state.yaml
  teleclaude/core/next_machine/core.py
  todos/state-yaml-migration/implementation-plan.md
Due: teleclaude-docs-check

refactor(scaffold): update todo scaffold to generate state.yaml
  teleclaude/todo_scaffold.py
  todos/state-yaml-migration/implementation-plan.md
Due: teleclaude-docs-check

refactor(validation): update todo validation to use state.yaml
  teleclaude/resource_validation.py
  todos/state-yaml-migration/implementation-plan.md
Due: teleclaude-docs-check

refactor(roadmap): update roadmap assembly to use state.yaml
  teleclaude/core/roadmap.py
  todos/state-yaml-migration/implementation-plan.md
Due: teleclaude-docs-check

refactor(docs): update tool descriptions and CLI help to reference state.yaml
  teleclaude/cli/telec.py
  teleclaude/core/todo_watcher.py
  teleclaude/mcp/handlers.py
  teleclaude/mcp/tool_definitions.py
  todos/state-yaml-migration/implementation-plan.md
Due: teleclaude-docs-check, check-cli-help

docs: update all references from state.json to state.yaml
  agents/commands/next-finalize.md
  agents/commands/next-prepare-draft.md
  agents/commands/next-prepare-gate.md
  agents/commands/next-review.md
  docs/global/general/procedure/maintenance/log-bug-hunter.md
  docs/global/general/procedure/maintenance/next-prepare-draft.md
  docs/global/general/procedure/maintenance/next-prepare-gate.md
  docs/global/general/procedure/maintenance/next-prepare.md
  docs/global/software-development/procedure/lifecycle-overview.md
  docs/global/software-development/procedure/lifecycle/deferrals.md
  docs/global/software-development/procedure/lifecycle/prepare/input-assessment.md
  docs/global/software-development/procedure/lifecycle/review.md
  docs/global/software-development/procedure/orchestration.md
  docs/project/design/architecture/jobs-runner.md
  docs/project/design/architecture/next-machine.md
  docs/project/design/architecture/tui-state-layout.md
  docs/project/design/ux/session-highlight.md
  docs/project/policy/orchestrator-jurisdiction.md
  docs/project/spec/mcp-tool-surface.md
  todos/state-yaml-migration/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

test: update tests to use state.yaml instead of state.json
  tests/integration/test_state_machine_workflow.py
  tests/unit/core/test_next_machine_deferral.py
  tests/unit/core/test_roadmap.py
  tests/unit/test_next_machine_breakdown.py
  tests/unit/test_next_machine_group_sweep.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
  tests/unit/test_todo_scaffold.py
  tests/unit/test_todo_validation.py
  todos/state-yaml-migration/implementation-plan.md
Due: teleclaude-docs-check
