Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

docs: mark all implementation tasks and build gates complete
  todos/new-bug-key-in-todos-pane/implementation-plan.md
  todos/new-bug-key-in-todos-pane/quality-checklist.md
Due: teleclaude-docs-check

chore(bugs-round-1): finalize review state
  todos/bugs-round-1/state.yaml
  todos/roadmap.yaml
Due: none

chore(bugs-round-1): log delivery and update roadmap
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

docs(review): approve new-bug-key-in-todos-pane implementation
  todos/new-bug-key-in-todos-pane/quality-checklist.md
  todos/new-bug-key-in-todos-pane/review-findings.md
  todos/new-bug-key-in-todos-pane/state.yaml
Due: teleclaude-docs-check

chore: cleanup bugs-round-1 worktree and todo
  todos/bugs-round-1/dor-report.md
  todos/bugs-round-1/implementation-plan.md
  todos/bugs-round-1/input.md
  todos/bugs-round-1/quality-checklist.md
  todos/bugs-round-1/requirements.md
  todos/bugs-round-1/review-findings.md
  todos/bugs-round-1/state.yaml
  todos/fix-demo-runner/state.yaml
  todos/mcp-migration-telec-commands/dor-report.md
  todos/mcp-migration-telec-commands/implementation-plan.md
  todos/mcp-migration-telec-commands/requirements.md
  todos/mcp-to-tool-specs/requirements.md
  todos/new-bug-key-in-todos-pane/dor-report.md
  todos/new-bug-key-in-todos-pane/implementation-plan.md
  todos/new-bug-key-in-todos-pane/state.yaml
Due: teleclaude-docs-check

docs: log new-bug-key-in-todos-pane delivery and remove from roadmap
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore: cleanup new-bug-key-in-todos-pane worktree and todo
  todos/mature-deployment/implementation-plan.md
  todos/mature-deployment/input.md
  todos/mature-deployment/quality-checklist.md
  todos/mature-deployment/requirements.md
  todos/mature-deployment/state.yaml
  todos/mcp-migration-telec-commands/implementation-plan.md
  todos/mcp-to-tool-specs/requirements.md
  todos/new-bug-key-in-todos-pane/dor-report.md
  todos/new-bug-key-in-todos-pane/implementation-plan.md
  todos/new-bug-key-in-todos-pane/input.md
  todos/new-bug-key-in-todos-pane/quality-checklist.md
  todos/new-bug-key-in-todos-pane/requirements.md
  todos/new-bug-key-in-todos-pane/review-findings.md
  todos/new-bug-key-in-todos-pane/state.yaml
Due: teleclaude-docs-check

feat(demo): rewrite CLI runner to prefer demo.md with code block extraction
  teleclaude/cli/telec.py
  tests/unit/test_next_machine_demo.py
  todos/fix-demo-runner/implementation-plan.md
Due: teleclaude-docs-check, check-cli-help

feat(demo): add demo.md for existing demos and fix venv resolution
  demos/themed-primary-color/demo.md
  demos/tui-markdown-editor/demo.md
  teleclaude/cli/telec.py
Due: teleclaude-docs-check, check-cli-help

feat(demo): add demo validation as build gate
  docs/global/software-development/procedure/lifecycle/build.md
  templates/todos/quality-checklist.md
  todos/fix-demo-runner/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

docs(demo): rewrite command, procedure, spec, and lifecycle for demo.md framework
  agents/commands/next-demo.md
  docs/global/software-development/procedure/lifecycle-overview.md
  docs/global/software-development/procedure/lifecycle/demo.md
  docs/project/spec/demo-artifact.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(demo): add demo.md to scaffold and prepare-draft guidance
  agents/commands/next-prepare-draft.md
  docs/global/general/procedure/maintenance/next-prepare-draft.md
  teleclaude/todo_scaffold.py
  templates/todos/demo.md
  todos/fix-demo-runner/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

test(scaffold): assert demo.md created in todo skeleton
  tests/unit/test_todo_scaffold.py
  todos/fix-demo-runner/implementation-plan.md
Due: teleclaude-docs-check

chore(demo): complete build gates and add fix-demo-runner demo.md
  todos/fix-demo-runner/demo.md
  todos/fix-demo-runner/quality-checklist.md
Due: teleclaude-docs-check

chore(review): approve fix-demo-runner — no critical issues
  todos/fix-demo-runner/quality-checklist.md
  todos/fix-demo-runner/review-findings.md
  todos/fix-demo-runner/state.yaml
Due: teleclaude-docs-check

chore(fix-demo-runner): update state after review round 2
  todos/fix-demo-runner/state.yaml
Due: none

chore: save uncommitted changes from concurrent work items
  bin/telec-completion.zsh
  teleclaude/cli/editor.py
  teleclaude/cli/telec.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
  todos/fix-demo-runner/implementation-plan.md
  todos/mcp-migration-telec-commands/implementation-plan.md
  todos/mcp-migration-telec-commands/state.yaml
Due: teleclaude-docs-check, check-cli-help

chore(fix-demo-runner): log delivery and remove from roadmap
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore: cleanup fix-demo-runner
  todos/fix-demo-runner/demo.md
  todos/fix-demo-runner/dor-report.md
  todos/fix-demo-runner/implementation-plan.md
  todos/fix-demo-runner/input.md
  todos/fix-demo-runner/quality-checklist.md
  todos/fix-demo-runner/requirements.md
  todos/fix-demo-runner/review-findings.md
  todos/fix-demo-runner/state.yaml
Due: teleclaude-docs-check

fix: post-mortem fixes for new-bug-key delivery — paradigm compliance and process tightening
  docs/global/general/procedure/maintenance/next-prepare-gate.md
  docs/global/software-development/procedure/lifecycle/build.md
  docs/global/software-development/procedure/lifecycle/review.md
  docs/global/software-development/procedure/orchestration.md
  frontend/lib/api/types.ts
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/widgets/action_bar.py
  teleclaude/cli/tui/widgets/modals.py
Due: teleclaude-docs-check, teleclaude-docs-validate

fix: post-mortem fixes for new-bug-key delivery — paradigm compliance and process tightening
  demos/themed-primary-color/demo.md
  demos/tui-markdown-editor/demo.md
  docs/project/spec/demo-artifact.md
  templates/todos/demo.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(todos): add core todo removal logic
  teleclaude/core/next_machine/core.py
  teleclaude/todo_scaffold.py
  todos/todo-remove-cli-option/implementation-plan.md
Due: teleclaude-docs-check

feat(cli): add todo remove CLI subcommand
  teleclaude/cli/telec.py
  todos/todo-remove-cli-option/implementation-plan.md
Due: teleclaude-docs-check, check-cli-help

feat(tui): add todo removal keybinding to PreparationView
  teleclaude/cli/tui/views/preparation.py
  todos/todo-remove-cli-option/implementation-plan.md
Due: teleclaude-docs-check

test(todos): add unit and CLI tests for todo removal
  tests/unit/test_telec_todo_cli.py
  tests/unit/test_todo_scaffold.py
  todos/todo-remove-cli-option/implementation-plan.md
Due: teleclaude-docs-check

fix(test): patch correct module for remove_todo in CLI test
  tests/unit/test_telec_todo_cli.py
Due: none

docs(todos): add demo validation for todo removal
  todos/todo-remove-cli-option/demo.md
  todos/todo-remove-cli-option/implementation-plan.md
Due: teleclaude-docs-check

chore(todos): mark build gates complete for todo-remove-cli-option
  todos/todo-remove-cli-option/quality-checklist.md
Due: teleclaude-docs-check

review(todos): approve todo-remove-cli-option
  todos/todo-remove-cli-option/quality-checklist.md
  todos/todo-remove-cli-option/review-findings.md
  todos/todo-remove-cli-option/state.yaml
Due: teleclaude-docs-check

fix(tui): neutralize agent theme primary/secondary to prevent color leakage
  teleclaude/cli/tui/telec.tcss
  teleclaude/cli/tui/theme.py
  todos/fix-agent-theme-primary-secondary-set-to-cla/bug.md
Due: teleclaude-docs-check

review(todos): approve fix-agent-theme-primary-secondary-set-to-cla
  todos/fix-agent-theme-primary-secondary-set-to-cla/review-findings.md
  todos/fix-agent-theme-primary-secondary-set-to-cla/state.yaml
Due: teleclaude-docs-check

chore(state): update review state after approval
  todos/fix-agent-theme-primary-secondary-set-to-cla/state.yaml
Due: none

fix(tui): fix TTS toggle resetting and move pane_theming_mode to TUI state
  frontend/THEMING-PLAN.md
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/telec.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/messages.py
  teleclaude/cli/tui/state_store.py
  teleclaude/config/runtime_settings.py
  tests/unit/test_runtime_settings.py
  todos/fix-agent-theme-primary-secondary-set-to-cla/bug.md
  todos/fix-agent-theme-primary-secondary-set-to-cla/review-findings.md
  todos/fix-agent-theme-primary-secondary-set-to-cla/state.yaml
  todos/icebox.yaml
  todos/mcp-migration-telec-commands/state.yaml
  todos/member-invite/state.yaml
Due: teleclaude-docs-check, check-cli-help

fix(tui): remove invalid :active pseudo-class from TCSS
  teleclaude/cli/tui/telec.tcss
Due: none

fix(hooks): stop dropping events for non-headless sessions and prevent premature adoption
  teleclaude/daemon.py
  teleclaude/hooks/receiver.py
Due: check-raw-sql

fix(tui): prune stale sticky/preview session IDs on data refresh
  teleclaude/cli/tui/views/sessions.py
Due: none

fix: add [R] Remove hint to preparation action bar
  teleclaude/cli/tui/widgets/action_bar.py
Due: none

fix(tui): persist state on every stateful user interaction
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/messages.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/cli/tui/views/sessions.py
Due: none

fix(tui): validate tui pane belongs to tc_tui session on startup
  teleclaude/cli/tui/pane_manager.py
  tests/unit/test_pane_manager.py
  todos/frontend-theming-tui-parity/demo.md
  todos/frontend-theming-tui-parity/dor-report.md
  todos/frontend-theming-tui-parity/implementation-plan.md
  todos/frontend-theming-tui-parity/input.md
  todos/frontend-theming-tui-parity/quality-checklist.md
  todos/frontend-theming-tui-parity/requirements.md
  todos/frontend-theming-tui-parity/state.yaml
  todos/roadmap.yaml
  todos/textual-footer-migration/demo.md
  todos/textual-footer-migration/dor-report.md
  todos/textual-footer-migration/implementation-plan.md
  todos/textual-footer-migration/input.md
  todos/textual-footer-migration/quality-checklist.md
  todos/textual-footer-migration/requirements.md
  todos/textual-footer-migration/state.yaml
  todos/tui-state-persistence/demo.md
  todos/tui-state-persistence/dor-report.md
  todos/tui-state-persistence/implementation-plan.md
  todos/tui-state-persistence/input.md
  todos/tui-state-persistence/quality-checklist.md
  todos/tui-state-persistence/requirements.md
  todos/tui-state-persistence/state.yaml
Due: teleclaude-docs-check
