Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs (sync_resources strict)
  entry: bash -c
  args:
  - uv run --quiet scripts/sync_resources.py --project-root "$PWD"
  language: system
  pass_filenames: false

test(diagrams): add regression coverage for extractor scripts
  scripts/diagrams/extract_commands.py
  scripts/diagrams/extract_state_machines.py
  tests/unit/test_diagram_extractors.py
Due: none

chore(review): record fixes applied with commit hashes
  todos/auto-architecture-diagrams/review-findings.md
Due: teleclaude-docs-check

chore(review): approve auto-architecture-diagrams (round 2)
  todos/auto-architecture-diagrams/quality-checklist.md
  todos/auto-architecture-diagrams/review-findings.md
  todos/auto-architecture-diagrams/state.json
Due: teleclaude-docs-check

chore(finalize): mark pre-merge finalize gates
  todos/auto-architecture-diagrams/quality-checklist.md
Due: teleclaude-docs-check

chore(finalize): log auto-architecture-diagrams delivery
  todos/auto-architecture-diagrams/quality-checklist.md
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check

fix(tui): restore visible keyboard focus for selected headless rows
  teleclaude/cli/tui/views/sessions.py
  tests/unit/test_tui_sessions_view.py
Due: none

fix(next-machine): prevent orchestrator from entering worktree directory
  docs/global/software-development/procedure/lifecycle/finalize.md
  teleclaude/core/next_machine/core.py
Due: teleclaude-docs-check, teleclaude-docs-validate

chore: cleanup auto-architecture-diagrams delivery artifacts
  todos/auto-architecture-diagrams/dor-report.md
  todos/auto-architecture-diagrams/implementation-plan.md
  todos/auto-architecture-diagrams/quality-checklist.md
  todos/auto-architecture-diagrams/requirements.md
  todos/auto-architecture-diagrams/review-findings.md
  todos/auto-architecture-diagrams/state.json
Due: teleclaude-docs-check

hooks: enforce contract-first drop semantics in receiver
  docs/project/spec/hook-normalized-events.md
  docs/project/spec/session-identity-truth.md
  teleclaude/hooks/receiver.py
  tests/unit/test_hook_receiver.py
Due: teleclaude-docs-check, teleclaude-docs-validate

Harden hook receiver contract routing and headless adoption
  docs/project/spec/hook-normalized-events.md
  docs/project/spec/session-identity-truth.md
  teleclaude/hooks/receiver.py
Due: teleclaude-docs-check, teleclaude-docs-validate

Update hook receiver tests for fail-fast identity contract
  tests/unit/test_hook_receiver.py
Due: none

refactor(adapter): Unify UI routing through lane logic
  teleclaude/core/adapter_client.py
  tests/unit/test_adapter_client.py
  todos/telegram-adapter-hardening/implementation-plan.md
Due: teleclaude-docs-check

refactor(telegram): Harden adapter contracts and session metadata encapsulation
  teleclaude/adapters/telegram/channel_ops.py
  teleclaude/adapters/telegram/message_ops.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/models.py
  teleclaude/services/maintenance_service.py
  tests/unit/test_telegram_adapter.py
  todos/telegram-adapter-hardening/implementation-plan.md
Due: teleclaude-docs-check

feat(telegram): Suppress repeated invalid-topic deletion attempts
  teleclaude/adapters/telegram/channel_ops.py
  teleclaude/adapters/telegram_adapter.py
  tests/unit/test_telegram_adapter.py
  todos/telegram-adapter-hardening/implementation-plan.md
Due: teleclaude-docs-check

Fix Gemini hook normalization and run hook install in telec init
  teleclaude/install/install_hooks.py
  teleclaude/project_setup/init_flow.py
  tests/unit/test_install_hooks.py
  tests/unit/test_project_setup_init_flow.py
Due: none

Filter installed hooks by receiver-handled contract
  teleclaude/core/events.py
  teleclaude/hooks/receiver.py
  teleclaude/install/install_hooks.py
  tests/unit/test_install_hooks.py
Due: none

refactor(telegram): Remove brittle ownership inference and reactive cleanup
  docs/project/index.yaml
  docs/third-party/index.yaml
  teleclaude/adapters/telegram/channel_ops.py
  teleclaude/adapters/telegram_adapter.py
  tests/unit/test_telegram_adapter.py
  todos/telegram-adapter-hardening/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

refactor: enforce Law of Demeter for metadata access
  teleclaude/core/agent_coordinator.py
  teleclaude/core/models.py
  teleclaude/transport/redis_transport.py
  tests/unit/test_adapter_client.py
  tests/unit/test_db.py
  tests/unit/test_redis_adapter.py
  todos/telegram-adapter-hardening/implementation-plan.md
Due: teleclaude-docs-check

fix(tui): enrich todo cache from state.json and show session subdir
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/codex_transcript.py
  teleclaude/core/command_handlers.py
  teleclaude/core/polling_coordinator.py
  teleclaude/daemon.py
  teleclaude/hooks/adapters/codex.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_command_handlers.py
  tests/unit/test_daemon.py
  tests/unit/test_polling_coordinator.py
  tests/unit/test_tui_sessions_view.py
  todos/fallback-fail-fast-hardening/breakdown.md
  todos/fallback-fail-fast-hardening/dor-report.md
  todos/fallback-fail-fast-hardening/implementation-plan.md
  todos/fallback-fail-fast-hardening/input.md
  todos/fallback-fail-fast-hardening/requirements.md
  todos/fallback-fail-fast-hardening/state.json
  todos/roadmap.md
  todos/telegram-adapter-hardening/breakdown.md
  todos/telegram-adapter-hardening/dor-report.md
  todos/telegram-adapter-hardening/implementation-plan.md
  todos/telegram-adapter-hardening/requirements.md
  todos/telegram-adapter-hardening/state.json
  todos/telegram-ownership-layering-cleanup/input.md
  todos/telegram-ownership-layering-cleanup/state.json
  todos/telegram-routing-contract-hardening/breakdown.md
  todos/telegram-routing-contract-hardening/dor-report.md
  todos/telegram-routing-contract-hardening/implementation-plan.md
  todos/telegram-routing-contract-hardening/input.md
  todos/telegram-routing-contract-hardening/requirements.md
  todos/telegram-topic-cleanup-guards/input.md
  todos/telegram-topic-cleanup-guards/state.json
  todos/test-suite-ownership-reset/dor-report.md
  todos/test-suite-ownership-reset/implementation-plan.md
  todos/test-suite-ownership-reset/input.md
  todos/test-suite-ownership-reset/requirements.md
  todos/test-suite-ownership-reset/state.json
Due: teleclaude-docs-check

fix: resolve test failures from Law of Demeter refactor
  teleclaude/core/adapter_client.py
  tests/integration/test_multi_adapter_broadcasting.py
  tests/unit/test_adapter_client.py
  tests/unit/test_adapter_client_terminal_origin.py
  tests/unit/test_models.py
  tests/unit/test_ui_adapter.py
Due: none

fix(tui): normalize subdir spacing to single-space padding
  teleclaude/cli/tui/views/sessions.py
Due: none

docs(telegram-adapter-hardening): align lifecycle artifacts for finalize
  todos/telegram-adapter-hardening/quality-checklist.md
  todos/telegram-adapter-hardening/requirements.md
  todos/telegram-adapter-hardening/review-findings.md
  todos/telegram-adapter-hardening/state.json
Due: teleclaude-docs-check

chore(todos): finalize telegram-adapter-hardening delivery
  todos/delivered.md
  todos/roadmap.md
  todos/telegram-adapter-hardening/dor-report.md
  todos/telegram-adapter-hardening/implementation-plan.md
  todos/telegram-adapter-hardening/input.md
  todos/telegram-adapter-hardening/quality-checklist.md
  todos/telegram-adapter-hardening/requirements.md
  todos/telegram-adapter-hardening/review-findings.md
  todos/telegram-adapter-hardening/state.json
Due: teleclaude-docs-check

docs(policy): make unrelated local drift non-blocking for operations
  docs/global/software-development/policy/version-control-safety.md
  docs/global/software-development/procedure/lifecycle/build.md
  docs/project/index.yaml
  docs/project/procedure/deploy.md
  docs/third-party/index.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(cli): add `telec todo validate` and unified todo state schema
  docs/global/baseline.md
  docs/global/general/spec/tools/telec-cli.md
  docs/third-party/discord/bot-api.md
  docs/third-party/index.md
  docs/third-party/index.yaml
  docs/third-party/whatsapp/cloud-api.md
  teleclaude/cli/telec.py
  teleclaude/resource_validation.py
  teleclaude/todo_scaffold.py
  teleclaude/types/todos.py
  tests/unit/test_todo_validation.py
  todos/dependencies.json
  todos/help-desk-clients/implementation-plan.md
  todos/help-desk-clients/requirements.md
  todos/help-desk-clients/state.json
  todos/help-desk-control-room/implementation-plan.md
  todos/help-desk-control-room/quality-checklist.md
  todos/help-desk-control-room/requirements.md
  todos/help-desk-control-room/state.json
  todos/help-desk-discord/implementation-plan.md
  todos/help-desk-discord/quality-checklist.md
  todos/help-desk-discord/requirements.md
  todos/help-desk-discord/state.json
  todos/help-desk-whatsapp/implementation-plan.md
  todos/help-desk-whatsapp/quality-checklist.md
  todos/help-desk-whatsapp/requirements.md
  todos/help-desk-whatsapp/state.json
  todos/roadmap.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(release): implement baseline GitHub Actions workflows
  .github/workflows/lint-test.yaml
  .github/workflows/release.yaml
Due: none

feat(release): implement Gemini Release Lane and shared AI inspector assets
  .github/workflows/release.yaml
  docs/project/index.yaml
  docs/project/spec/release-inspector-prompt.md
  docs/project/spec/release-report-schema.md
  teleclaude/core/polling_coordinator.py
  tests/unit/test_polling_coordinator.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(release): ensure agent memory readiness in CI bootstrap
  .github/workflows/release.yaml
  Makefile
  bin/init.sh
  bin/install.sh
  teleclaude/core/polling_coordinator.py
  teleclaude/types/todos.py
  tests/unit/test_polling_coordinator.py
Due: none

feat(release): optimize macOS CI bootstrap with skip-build logic
  .github/workflows/lint-test.yaml
  .github/workflows/release.yaml
  bin/init.sh
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/command_handlers.py
  teleclaude/core/events.py
  teleclaude/core/polling_coordinator.py
  teleclaude/core/tool_activity.py
  teleclaude/daemon.py
  teleclaude/entrypoints/macos_setup.py
  teleclaude/install/install_hooks.py
  teleclaude/project_setup/macos_setup.py
  tests/unit/test_agent_activity_broadcast.py
  tests/unit/test_agent_activity_events.py
  tests/unit/test_daemon.py
  tests/unit/test_install_hooks.py
  tests/unit/test_polling_coordinator.py
  tests/unit/test_tui_sessions_view.py
Due: none

feat(role-based-notifications): add role-based notification outbox pipeline
  scripts/diagrams/extract_runtime_matrix.py
  teleclaude/config/schema.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/migrations/009_add_notification_outbox.py
  teleclaude/core/schema.sql
  teleclaude/cron/runner.py
  teleclaude/daemon.py
  teleclaude/notifications/__init__.py
  teleclaude/notifications/discovery.py
  teleclaude/notifications/router.py
  teleclaude/notifications/telegram.py
  teleclaude/notifications/worker.py
  tests/unit/test_config_schema.py
  tests/unit/test_notifications.py
  todos/role-based-notifications/implementation-plan.md
  todos/role-based-notifications/quality-checklist.md
Due: teleclaude-docs-check

review(role-based-notifications): request changes — 2 critical, 7 important findings
  todos/role-based-notifications/quality-checklist.md
  todos/role-based-notifications/review-findings.md
  todos/role-based-notifications/state.json
Due: teleclaude-docs-check

fix(notifications): log errors from fire-and-forget notification tasks
  teleclaude/cron/runner.py
Due: none

feat(hooks): implement webhook service — subscriber-first event routing
  teleclaude/config/schema.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/schema.sql
  teleclaude/hooks/api_routes.py
  teleclaude/hooks/bridge.py
  teleclaude/hooks/config.py
  teleclaude/hooks/delivery.py
  teleclaude/hooks/dispatcher.py
  teleclaude/hooks/handlers.py
  teleclaude/hooks/inbound.py
  teleclaude/hooks/matcher.py
  teleclaude/hooks/registry.py
  teleclaude/hooks/webhook_models.py
Due: none

fix(notifications): undeliverable status, retry cap, send/DB separation
  teleclaude/notifications/worker.py
Due: none

fix(notifications): skip bad person configs instead of aborting discovery
  teleclaude/notifications/discovery.py
Due: none

feat(hooks): wire webhook service into daemon and API server
  teleclaude/api_server.py
  teleclaude/daemon.py
Due: none

fix(notifications): handle non-JSON Telegram responses and log truncation
  teleclaude/notifications/telegram.py
Due: none

fix(notifications): isolate per-recipient enqueue failures in router
  teleclaude/notifications/router.py
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)
