Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

chore(prepare-state-machine): worktree and todo cleanup after delivery
  todos/prepare-state-machine/demo.md
  todos/prepare-state-machine/dor-report.md
  todos/prepare-state-machine/implementation-plan.md
  todos/prepare-state-machine/input.md
  todos/prepare-state-machine/quality-checklist.md
  todos/prepare-state-machine/requirements.md
  todos/prepare-state-machine/review-findings.md
  todos/prepare-state-machine/state.yaml
Due: teleclaude-docs-check

review(codex-render-semantic-runtime): requirements review — needs_work
  todos/codex-render-semantic-runtime/requirements-review-findings.md
  todos/codex-render-semantic-runtime/state.yaml
Due: teleclaude-docs-check

docs(todos): review codex render semantic runtime requirements
  todos/codex-render-semantic-runtime/requirements-review-findings.md
  todos/codex-render-semantic-runtime/state.yaml
Due: teleclaude-docs-check

review(mirror-runtime-isolation): requirements review — needs_work
  todos/mirror-runtime-isolation/requirements-review-findings.md
  todos/mirror-runtime-isolation/state.yaml
Due: teleclaude-docs-check

review(codex-render-semantic-runtime): capture readiness gaps
  todos/codex-render-semantic-runtime/requirements-review-findings.md
  todos/codex-render-semantic-runtime/state.yaml
Due: teleclaude-docs-check

review(mirror-runtime-isolation): requirements review R2 — approve
  todos/mirror-runtime-isolation/requirements-review-findings.md
  todos/mirror-runtime-isolation/state.yaml
Due: teleclaude-docs-check

review(mirror-runtime-isolation): plan review R1 — approve
  todos/mirror-runtime-isolation/plan-review-findings.md
  todos/mirror-runtime-isolation/state.yaml
Due: teleclaude-docs-check

review(mirror-runtime-isolation): plan review R1 — approve with fixes applied
  todos/mirror-runtime-isolation/implementation-plan.md
  todos/mirror-runtime-isolation/plan-review-findings.md
  todos/mirror-runtime-isolation/state.yaml
Due: teleclaude-docs-check

docs(review): enable reviewer auto-remediation
  docs/global/software-development/procedure/lifecycle/review-plan.md
  docs/global/software-development/procedure/lifecycle/review-requirements.md
  docs/global/software-development/procedure/lifecycle/review.md
Due: teleclaude-docs-check, teleclaude-docs-validate

review(mirror-runtime-isolation): DOR gate pass — score 9/10
  todos/mirror-runtime-isolation/dor-report.md
  todos/mirror-runtime-isolation/state.yaml
Due: teleclaude-docs-check

fix(next-prepare): avoid false re-grounding on unrelated HEAD changes
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_hitl.py
Due: none

fix(next-prepare): backfill input digest during grounding checks
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_hitl.py
Due: none

chore(icebox-physical-folder): approve requirements review
  todos/icebox-physical-folder/requirements.md
  todos/icebox-physical-folder/state.yaml
Due: teleclaude-docs-check

chore(todos): approve icebox physical folder plan review
  todos/icebox-physical-folder/demo.md
  todos/icebox-physical-folder/implementation-plan.md
  todos/icebox-physical-folder/state.yaml
Due: teleclaude-docs-check

docs(todos): finalize icebox physical folder gate
  todos/icebox-physical-folder/dor-report.md
  todos/icebox-physical-folder/implementation-plan.md
  todos/icebox-physical-folder/state.yaml
Due: teleclaude-docs-check

chore(icebox-physical-folder): approve plan review
  todos/icebox-physical-folder/state.yaml
Due: none

chore(icebox-physical-folder): approve plan review
  todos/icebox-physical-folder/implementation-plan.md
  todos/icebox-physical-folder/state.yaml
Due: teleclaude-docs-check

chore(icebox-physical-folder): refresh plan grounding after input update
  todos/icebox-physical-folder/state.yaml
Due: none

fix(sessions): restore tmux session healing and headless adoption
  teleclaude/core/command_handlers.py
  teleclaude/services/maintenance_service.py
Due: none

revert(sessions): undo spurious deliver_inbound condition change
  teleclaude/core/command_handlers.py
Due: none

refactor(sessions): move headless revival to tmux_io layer
  teleclaude/core/command_handlers.py
  teleclaude/core/tmux_io.py
  tests/unit/test_command_handlers.py
Due: none

feat(icebox): deliver icebox-physical-folder
  demos/icebox-physical-folder/demo.md
  teleclaude/cli/telec.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/roadmap.py
  teleclaude/resource_validation.py
  teleclaude/todo_scaffold.py
  teleclaude_events/cartridges/prepare_quality.py
  tests/unit/core/test_roadmap.py
  tests/unit/core/test_roadmap_api_parity.py
  tests/unit/test_telec_cli.py
  tests/unit/test_teleclaude_events/test_prepare_quality.py
  tests/unit/test_todo_scaffold.py
  todos/icebox-physical-folder/review-findings.md
Due: teleclaude-docs-check, check-cli-help

chore(icebox-physical-folder): delivery bookkeeping
  demos/icebox-physical-folder/snapshot.json
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(icebox-physical-folder): worktree and todo cleanup after delivery
  todos/icebox-physical-folder/demo.md
  todos/icebox-physical-folder/dor-report.md
  todos/icebox-physical-folder/implementation-plan.md
  todos/icebox-physical-folder/input.md
  todos/icebox-physical-folder/quality-checklist.md
  todos/icebox-physical-folder/requirements.md
  todos/icebox-physical-folder/review-findings.md
  todos/icebox-physical-folder/state.yaml
Due: teleclaude-docs-check

docs(session-role-metadata): author requirements.md and approve requirements review
  todos/codex-render-semantic-runtime/requirements-review-findings.md
  todos/codex-render-semantic-runtime/requirements.md
  todos/codex-render-semantic-runtime/state.yaml
  todos/session-role-metadata/requirements.md
  todos/session-role-metadata/state.yaml
Due: teleclaude-docs-check

Revert "docs(session-role-metadata): author requirements.md and approve requirements review"
  todos/codex-render-semantic-runtime/requirements-review-findings.md
  todos/codex-render-semantic-runtime/requirements.md
  todos/codex-render-semantic-runtime/state.yaml
  todos/session-role-metadata/requirements.md
  todos/session-role-metadata/state.yaml
Due: teleclaude-docs-check

fix(prepare): restore requirements review + improve manual-mode guidance
  teleclaude/core/next_machine/core.py
  todos/codex-render-semantic-runtime/requirements-review-findings.md
  todos/codex-render-semantic-runtime/requirements.md
  todos/codex-render-semantic-runtime/state.yaml
Due: teleclaude-docs-check

fix(policy): add git revert inspection gate and pre-commit inspection rule
  docs/global/software-development/policy/commits.md
  docs/global/software-development/policy/version-control-safety.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(todos): review todo-phase-status-display requirements
  todos/todo-phase-status-display/requirements.md
  todos/todo-phase-status-display/state.yaml
Due: teleclaude-docs-check

chore(todo): approve codex-render-semantic-runtime plan review
  todos/codex-render-semantic-runtime/implementation-plan.md
  todos/codex-render-semantic-runtime/state.yaml
Due: teleclaude-docs-check

chore(todo-phase-status-display): approve implementation plan
  todos/todo-phase-status-display/implementation-plan.md
  todos/todo-phase-status-display/state.yaml
Due: teleclaude-docs-check

chore(todo-phase-status-display): approve DOR gate, ready for build
  todos/todo-phase-status-display/dor-report.md
  todos/todo-phase-status-display/state.yaml
Due: teleclaude-docs-check

chore(todos): record codex render runtime gate verdict
  todos/codex-render-semantic-runtime/dor-report.md
  todos/codex-render-semantic-runtime/state.yaml
Due: teleclaude-docs-check

review(requirements): approve session-role-metadata
  todos/session-role-metadata/requirements.md
  todos/session-role-metadata/state.yaml
Due: teleclaude-docs-check

chore(todo-phase-status-display): approve implementation plan review
  todos/todo-phase-status-display/demo.md
  todos/todo-phase-status-display/implementation-plan.md
  todos/todo-phase-status-display/state.yaml
Due: teleclaude-docs-check

chore(todo-phase-status-display): finalize plan draft grounding
  todos/todo-phase-status-display/state.yaml
Due: none

review(session-role-metadata): record plan review findings
  todos/session-role-metadata/plan-review-findings.md
  todos/session-role-metadata/state.yaml
Due: teleclaude-docs-check

chore(worktree): untrack prep state marker
  .teleclaude/worktree-prep-state.json
Due: none

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
