Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

chore: sync state after pragmatic review closure (round 4)
  docs/global/general/principle/session-lifecycle.md
  todos/fix-roadmap-order-in-todos-view/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore: sync worktree state for finalize
  todos/fix-roadmap-order-in-todos-view/state.yaml
Due: none

chore: sync state.yaml before merge
  todos/fix-roadmap-order-in-todos-view/state.yaml
Due: none

chore: deliver fix-roadmap-order-in-todos-view, clean up artifacts
  todos/fix-roadmap-order-in-todos-view/bug.md
  todos/fix-roadmap-order-in-todos-view/review-findings.md
  todos/fix-roadmap-order-in-todos-view/state.yaml
Due: teleclaude-docs-check

feat(direct-link): block send during active direct conversation
  publications/inbox/20260227-nervous-system-awakens/content.md
  publications/inbox/20260227-nervous-system-awakens/meta.yaml
  teleclaude/api_server.py
  todos/content-dump-command/demo.md
  todos/content-dump-command/implementation-plan.md
  todos/content-dump-command/input.md
  todos/content-dump-command/quality-checklist.md
  todos/content-dump-command/requirements.md
  todos/content-dump-command/state.yaml
  todos/integrate-session-lifecycle-into-next-work/demo.md
  todos/integrate-session-lifecycle-into-next-work/implementation-plan.md
  todos/integrate-session-lifecycle-into-next-work/input.md
  todos/integrate-session-lifecycle-into-next-work/quality-checklist.md
  todos/integrate-session-lifecycle-into-next-work/requirements.md
  todos/integrate-session-lifecycle-into-next-work/state.yaml
  todos/prepare-quality-runner/input.md
  todos/roadmap.yaml
  todos/todo-dump-command/demo.md
  todos/todo-dump-command/implementation-plan.md
  todos/todo-dump-command/input.md
  todos/todo-dump-command/quality-checklist.md
  todos/todo-dump-command/requirements.md
  todos/todo-dump-command/state.yaml
Due: teleclaude-docs-check

restore next-prepare job specs accidentally deleted in b17b5434
  docs/project/index.yaml
  docs/project/spec/jobs/next-prepare-draft.md
  docs/project/spec/jobs/next-prepare-gate.md
  docs/project/spec/jobs/next-prepare.md
  todos/notification-service/input.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(tui): compact NewProjectModal sizing
  .teleclaude/worktree-prep-state.json
  teleclaude/cli/tui/telec.tcss
  todos/roadmap.yaml
  todos/tui-footer-polish/state.yaml
Due: none

feat(tui): theme-aware key contrast and plain key letters
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/widgets/telec_footer.py
  todos/tui-footer-polish/implementation-plan.md
Due: teleclaude-docs-check

feat(tui): add keyboard bindings for animation cycle and TTS toggle
  teleclaude/cli/tui/app.py
  todos/tui-footer-polish/implementation-plan.md
Due: teleclaude-docs-check

feat(tui): roadmap reordering with Shift+Up/Down in Preparation view
  teleclaude/cli/tui/views/preparation.py
  todos/tui-footer-polish/implementation-plan.md
Due: teleclaude-docs-check

chore(tui-footer-polish): complete build phase
  demos/tui-footer-polish/demo.md
  todos/tui-footer-polish/implementation-plan.md
  todos/tui-footer-polish/quality-checklist.md
Due: teleclaude-docs-check

chore(tui-footer-polish): mark working tree clean gate in quality checklist
  todos/tui-footer-polish/quality-checklist.md
Due: teleclaude-docs-check

draft(notification-service): requirements, implementation plan, demo, and DOR report
  todos/notification-service/demo.md
  todos/notification-service/dor-report.md
  todos/notification-service/implementation-plan.md
  todos/notification-service/requirements.md
  todos/notification-service/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(todo): gate pass for guaranteed-inbound-delivery (DOR 8/10)
  todos/guaranteed-inbound-delivery/dor-report.md
  todos/guaranteed-inbound-delivery/state.yaml
Due: teleclaude-docs-check

review(tui-footer-polish): REQUEST CHANGES — cursor must follow moved item
  .teleclaude/worktree-prep-state.json
  todos/tui-footer-polish/implementation-plan.md
  todos/tui-footer-polish/quality-checklist.md
  todos/tui-footer-polish/review-findings.md
  todos/tui-footer-polish/state.yaml
Due: teleclaude-docs-check

fix(tui): keep cursor on moved roadmap todo
  teleclaude/cli/tui/views/preparation.py
Due: none

docs(todos): record applied fix in review findings
  todos/tui-footer-polish/review-findings.md
Due: teleclaude-docs-check

gate(notification-service): DOR pass (8/10) — added Telegram delivery task, resolved open questions
  docs/global/software-development/procedure/orchestration.md
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
  todos/notification-service/dor-report.md
  todos/notification-service/implementation-plan.md
  todos/notification-service/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

review(tui-footer-polish): APPROVE — round 2, all findings resolved
  .teleclaude/worktree-prep-state.json
  todos/roadmap.yaml
  todos/tui-footer-polish/quality-checklist.md
  todos/tui-footer-polish/review-findings.md
  todos/tui-footer-polish/state.yaml
Due: teleclaude-docs-check

chore: add preparation artifacts for guaranteed-inbound-delivery
  todos/guaranteed-inbound-delivery/demo.md
  todos/guaranteed-inbound-delivery/implementation-plan.md
  todos/guaranteed-inbound-delivery/input.md
  todos/guaranteed-inbound-delivery/quality-checklist.md
  todos/guaranteed-inbound-delivery/requirements.md
Due: teleclaude-docs-check

chore: sync tui-footer-polish state and review findings
  todos/tui-footer-polish/review-findings.md
  todos/tui-footer-polish/state.yaml
Due: teleclaude-docs-check

chore: sync orchestrator state in worktree
  todos/tui-footer-polish/quality-checklist.md
  todos/tui-footer-polish/state.yaml
Due: teleclaude-docs-check

chore: sync tui-footer-polish state (review approved)
  todos/tui-footer-polish/state.yaml
Due: none

fix: correct review round counter (actual: 2, inflated by merge dance)
  todos/cli-cleanup-maintain-cwd-delivered/implementation-plan.md
  todos/cli-cleanup-maintain-cwd-delivered/input.md
  todos/cli-cleanup-maintain-cwd-delivered/requirements.md
  todos/tui-footer-polish/state.yaml
Due: teleclaude-docs-check

fix: correct state.yaml review round and status
  todos/tui-footer-polish/state.yaml
Due: none

fix: align state.yaml baseline to branch HEAD, mark approved
  todos/tui-footer-polish/state.yaml
Due: none

fix: align state.yaml baseline to branch HEAD, mark approved
  todos/cli-cleanup-maintain-cwd-delivered/implementation-plan.md
  todos/cli-cleanup-maintain-cwd-delivered/input.md
  todos/cli-cleanup-maintain-cwd-delivered/requirements.md
  todos/tui-footer-polish/state.yaml
Due: teleclaude-docs-check

chore: deliver tui-footer-polish, clean up artifacts
  todos/delivered.yaml
  todos/roadmap.yaml
  todos/tui-footer-polish/state.yaml
Due: none

draft: rewrite prepare-quality-runner artifacts for event-driven architecture
  todos/cli-cleanup-maintain-cwd-delivered/implementation-plan.md
  todos/cli-cleanup-maintain-cwd-delivered/input.md
  todos/prepare-quality-runner/demo.md
  todos/prepare-quality-runner/dor-report.md
  todos/prepare-quality-runner/implementation-plan.md
  todos/prepare-quality-runner/requirements.md
  todos/prepare-quality-runner/state.yaml
Due: teleclaude-docs-check

gate: DOR pass (8/10) for prepare-quality-runner
  todos/content-dump-command/demo.md
  todos/content-dump-command/implementation-plan.md
  todos/content-dump-command/requirements.md
  todos/content-dump-command/state.yaml
  todos/prepare-quality-runner/dor-report.md
  todos/prepare-quality-runner/state.yaml
  todos/todo-dump-command/demo.md
  todos/todo-dump-command/implementation-plan.md
  todos/todo-dump-command/requirements.md
  todos/todo-dump-command/state.yaml
Due: teleclaude-docs-check

gate: content-dump-command DOR pass (score 8)
  todos/content-dump-command/dor-report.md
  todos/content-dump-command/state.yaml
  todos/integrate-session-lifecycle-into-next-work/requirements.md
Due: teleclaude-docs-check

gate: pass todo-dump-command DOR (score 8)
  todos/todo-dump-command/dor-report.md
  todos/todo-dump-command/state.yaml
Due: teleclaude-docs-check

draft: prepare artifacts for integrate-session-lifecycle-into-next-work
  todos/integrate-session-lifecycle-into-next-work/demo.md
  todos/integrate-session-lifecycle-into-next-work/dor-report.md
  todos/integrate-session-lifecycle-into-next-work/implementation-plan.md
  todos/integrate-session-lifecycle-into-next-work/state.yaml
Due: teleclaude-docs-check

gate: DOR pass (8/10) for history-search-upgrade
  todos/history-search-upgrade/dor-report.md
  todos/history-search-upgrade/state.yaml
Due: teleclaude-docs-check

gate: pass todo-integrate-session-lifecycle-into-next-work DOR (score 8)
  todos/integrate-session-lifecycle-into-next-work/dor-report.md
  todos/integrate-session-lifecycle-into-next-work/state.yaml
Due: teleclaude-docs-check

chore: fix tui-footer-polish state to delivered/approved
  todos/tui-footer-polish/state.yaml
Due: none

chore: deliver tui-footer-polish, clean up artifacts
  todos/tui-footer-polish/demo.md
  todos/tui-footer-polish/dor-report.md
  todos/tui-footer-polish/implementation-plan.md
  todos/tui-footer-polish/input.md
  todos/tui-footer-polish/quality-checklist.md
  todos/tui-footer-polish/requirements.md
  todos/tui-footer-polish/review-findings.md
  todos/tui-footer-polish/state.yaml
Due: teleclaude-docs-check

feat(next-work): complete session lifecycle integration with artifact verification
  .teleclaude/worktree-prep-state.json
  agents/commands/next-fix-review.md
  agents/commands/next-work.md
  demos/integrate-session-lifecycle-into-next-work/demo.md
  demos/integrate-session-lifecycle-into-next-work/snapshot.json
  docs/global/index.yaml
  docs/project/index.yaml
  docs/third-party/index.yaml
  teleclaude/cli/telec.py
  teleclaude/core/next_machine/core.py
  tests/unit/core/test_next_machine_verify_artifacts.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
  todos/integrate-session-lifecycle-into-next-work/implementation-plan.md
  todos/integrate-session-lifecycle-into-next-work/quality-checklist.md
  todos/integrate-session-lifecycle-into-next-work/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

review(next-work): approve session lifecycle integration with 1 important finding
  .teleclaude/worktree-prep-state.json
  todos/integrate-session-lifecycle-into-next-work/implementation-plan.md
  todos/integrate-session-lifecycle-into-next-work/quality-checklist.md
  todos/integrate-session-lifecycle-into-next-work/review-findings.md
  todos/integrate-session-lifecycle-into-next-work/state.yaml
Due: teleclaude-docs-check

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
