Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

fix(next-machine): restore build gate compatibility and contract docs
  docs/project/spec/telec-cli-surface.md
  scripts/diagrams/extract_state_machines.py
  teleclaude/cli/telec.py
  teleclaude/core/next_machine/core.py
  todos/discord-slash-commands-like-telegram/quality-checklist.md
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

feat(help-desk): add whatsapp adapter and webhook flow
  demos/help-desk-whatsapp/demo.md
  docs/project/spec/telec-cli-surface.md
  scripts/diagrams/extract_state_machines.py
  teleclaude/adapters/telegram/message_ops.py
  teleclaude/adapters/telegram_adapter.py
  teleclaude/adapters/ui_adapter.py
  teleclaude/adapters/whatsapp_adapter.py
  teleclaude/api/auth.py
  teleclaude/cli/telec.py
  teleclaude/config/__init__.py
  teleclaude/config/schema.py
  teleclaude/core/adapter_client.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/command_handlers.py
  teleclaude/core/command_mapper.py
  teleclaude/core/identity.py
  teleclaude/core/models.py
  teleclaude/core/next_machine/core.py
  teleclaude/core/origins.py
  teleclaude/core/output_poller.py
  teleclaude/core/session_listeners.py
  teleclaude/daemon.py
  teleclaude/hooks/inbound.py
  teleclaude/hooks/normalizers/__init__.py
  teleclaude/hooks/normalizers/whatsapp.py
  teleclaude/hooks/whatsapp_handler.py
  teleclaude/utils/markdown.py
  tests/integration/test_whatsapp_flow.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_config_schema.py
  tests/unit/test_discord_adapter.py
  tests/unit/test_identity.py
  tests/unit/test_whatsapp_adapter.py
  todos/help-desk-whatsapp/implementation-plan.md
  todos/help-desk-whatsapp/quality-checklist.md
  todos/help-desk-whatsapp/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

fix(versioning): complete build gates and restore cli compatibility
  demos/deployment-versioning/demo.md
  docs/global/index.yaml
  docs/project/index.yaml
  docs/project/spec/telec-cli-surface.md
  docs/third-party/index.yaml
  scripts/diagrams/extract_state_machines.py
  teleclaude/__init__.py
  teleclaude/cli/telec.py
  teleclaude/cli/tui/widgets/todo_row.py
  teleclaude/core/next_machine/core.py
  todos/deployment-versioning/implementation-plan.md
  todos/deployment-versioning/quality-checklist.md
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

fix(whatsapp): preserve inbound read-receipt dispatch semantics
  teleclaude/hooks/whatsapp_handler.py
  tests/integration/test_whatsapp_flow.py
Due: none

fix(whatsapp): keep inbound media in session workspace
  teleclaude/hooks/whatsapp_handler.py
  tests/integration/test_whatsapp_flow.py
Due: none

fix(whatsapp): retry rate-limited outbound sends
  teleclaude/adapters/whatsapp_adapter.py
  tests/unit/test_whatsapp_adapter.py
Due: none

chore(review): record manual verification evidence and fix log
  todos/help-desk-whatsapp/review-findings.md
Due: teleclaude-docs-check

fix(discord): scope cancel slash to session threads
  teleclaude/adapters/discord_adapter.py
  tests/unit/test_discord_adapter.py
Due: none

fix(discord): pin forum launcher messages
  teleclaude/adapters/discord_adapter.py
Due: none

test(discord): lock thread-cancel and launcher pin contracts
  tests/unit/test_discord_adapter.py
Due: none

docs(review): record applied fixes for re-review
  todos/discord-slash-commands-like-telegram/review-findings.md
Due: teleclaude-docs-check

fix(command-handlers): honor configured help-desk jail path
  teleclaude/core/command_handlers.py
  tests/unit/test_access_control.py
Due: none

fix(whatsapp-adapter): retry media uploads on 429
  teleclaude/adapters/whatsapp_adapter.py
  tests/unit/test_whatsapp_adapter.py
Due: none

docs(review): record fixes applied for help-desk-whatsapp
  todos/help-desk-whatsapp/review-findings.md
Due: teleclaude-docs-check

fix(help-desk-whatsapp): close build regressions and gates
  teleclaude/core/command_handlers.py
  todos/help-desk-whatsapp/quality-checklist.md
  todos/help-desk-whatsapp/state.yaml
Due: teleclaude-docs-check

chore(deployment-versioning): commit reviewed deployment versioning changes
  teleclaude/constants.py
  teleclaude/core/lifecycle.py
  teleclaude/core/tmux_bridge.py
  teleclaude/daemon.py
  teleclaude/mcp_server.py
  tests/unit/test_tmux_bridge_tmpdir.py
  todos/deployment-versioning/implementation-plan.md
  todos/deployment-versioning/quality-checklist.md
  todos/deployment-versioning/review-findings.md
  todos/deployment-versioning/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

fix(discord): use forum thread launcher persistence
  teleclaude/adapters/discord_adapter.py
  tests/unit/test_discord_adapter.py
Due: none

test(discord): align forum doubles with create-thread flow
  tests/unit/test_discord_adapter.py
Due: none

docs(review): clarify live verification blocker evidence
  todos/help-desk-whatsapp/review-findings.md
Due: teleclaude-docs-check

docs(review): add commit trace for blocked finding
  todos/help-desk-whatsapp/review-findings.md
Due: teleclaude-docs-check

chore(help-desk-whatsapp): capture build verification for review handoff
  todos/help-desk-whatsapp/quality-checklist.md
  todos/help-desk-whatsapp/review-findings.md
  todos/help-desk-whatsapp/state.yaml
Due: teleclaude-docs-check

chore(todos): sync review artifacts before finalize prepare
  todos/discord-slash-commands-like-telegram/implementation-plan.md
  todos/discord-slash-commands-like-telegram/quality-checklist.md
  todos/discord-slash-commands-like-telegram/review-findings.md
  todos/discord-slash-commands-like-telegram/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(deployment-versioning): finalize build verification artifacts
  demos/deployment-versioning/snapshot.json
  todos/deployment-versioning/implementation-plan.md
  todos/deployment-versioning/quality-checklist.md
  todos/deployment-versioning/state.yaml
Due: teleclaude-docs-check

chore(deployment-versioning): record delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(deployment-versioning): add demo snapshot
  demos/deployment-versioning/snapshot.json
Due: none

feat(next-machine): gate finalize on canonical safety preconditions
  demos/integration-safety-gates/demo.md
  docs/project/design/architecture/next-machine.md
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_state_deps.py
  todos/integration-safety-gates/breakdown.md
  todos/integration-safety-gates/demo.md
  todos/integration-safety-gates/dor-report.md
  todos/integration-safety-gates/implementation-plan.md
  todos/integration-safety-gates/input.md
  todos/integration-safety-gates/quality-checklist.md
  todos/integration-safety-gates/requirements.md
  todos/integration-safety-gates/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(todos): preserve roadmap ordering before finalize prepare
  todos/roadmap.yaml
Due: none

fix(next-machine): treat ahead-check failures as unknown git state
  teleclaude/core/next_machine/core.py
Due: none

fix(next-machine): prioritize finalize lock before git safety checks
  teleclaude/core/next_machine/core.py
Due: none

test(next-machine): cover unknown-state and lock-first finalize dispatch
  tests/unit/test_next_machine_state_deps.py
Due: none

docs(todos): record applied fixes for integration-safety-gates
  todos/integration-safety-gates/review-findings.md
Due: teleclaude-docs-check

chore(discord-slash-commands-like-telegram): record delivery
  docs/global/index.yaml
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-validate

fix(next-machine): stabilize deferral finalize regression test
  tests/unit/core/test_next_machine_deferral.py
  todos/integration-safety-gates/quality-checklist.md
Due: teleclaude-docs-check

feat(next-machine): stabilize /todos/work prep and sync
  docs/project/design/architecture/next-machine.md
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_hitl.py
  tests/unit/test_next_machine_worktree_prep.py
  todos/api-todos-work-stability-hardening/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

chore(api-todos-work-stability-hardening): mark docs and test tasks complete
  todos/api-todos-work-stability-hardening/implementation-plan.md
Due: teleclaude-docs-check

chore(api-todos-work-stability-hardening): finalize build gates and demo
  demos/api-todos-work-stability-hardening/demo.md
  todos/api-todos-work-stability-hardening/implementation-plan.md
  todos/api-todos-work-stability-hardening/quality-checklist.md
Due: teleclaude-docs-check

Apply pending auth/session fixes, docs, and workspace updates
  README.md
  docs/global/index.yaml
  docs/project/spec/command-surface.md
  docs/project/spec/identity-and-auth.md
  teleclaude/adapters/discord_adapter.py
  teleclaude/api/auth.py
  teleclaude/api_server.py
  teleclaude/cli/session_auth.py
  teleclaude/cli/telec.py
  tests/unit/test_api_auth.py
  tests/unit/test_api_server.py
  tests/unit/test_discord_adapter.py
  tests/unit/test_session_auth.py
  tests/unit/test_telec_cli.py
  todos/adapter-output-qos-scheduler/implementation-plan.md
  todos/adapter-output-qos-scheduler/input.md
  todos/adapter-output-qos-scheduler/quality-checklist.md
  todos/adapter-output-qos-scheduler/requirements.md
  todos/adapter-output-qos-scheduler/research.md
  todos/adapter-output-qos-scheduler/state.yaml
  todos/api-todos-work-stability-hardening/state.yaml
  todos/integration-safety-gates/review-findings.md
  todos/integration-safety-gates/state.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

test(config-cli): make invite JSON test deterministic
  tests/unit/test_config_cli.py
Due: none
