Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs and artifacts
  entry: bash -c
  args:
  - uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"
  language: system
  pass_filenames: false

check-cli-help:
  name: Verify CLI -h exits cleanly
  entry: ./tools/checks/check-cli-help.sh
  language: system
  pass_filenames: false

check-raw-sql:
  name: Check for raw SQL without noqa markers
  entry: ./tools/checks/check-raw-sql.sh
  language: system
  pass_filenames: false

chore(event-envelope-schema): remove stale merge-conflict-resolution todo
  todos/event-envelope-schema-merge-conflict-resolution/demo.md
  todos/event-envelope-schema-merge-conflict-resolution/implementation-plan.md
  todos/event-envelope-schema-merge-conflict-resolution/input.md
  todos/event-envelope-schema-merge-conflict-resolution/quality-checklist.md
  todos/event-envelope-schema-merge-conflict-resolution/requirements.md
  todos/event-envelope-schema-merge-conflict-resolution/state.yaml
Due: teleclaude-docs-check

chore: commit operational state drift (delivered.yaml, roadmap.yaml)
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore: commit in-flight transcript refactoring to unblock integration
  frontend/lib/utils/text.ts
  teleclaude/api/transcript_converter.py
  teleclaude/utils/transcript.py
  tests/unit/test_transcript.py
  tests/unit/test_transcript_converter.py
Due: none

fix(chiptunes): resolve thread self-join, add track duration limit, and throttle emulation loop
  teleclaude/chiptunes/player.py
Due: none

fix(chiptunes): log CPU emulation exceptions instead of silently discarding them
  teleclaude/chiptunes/sid_cpu.py
Due: none

fix(tts): use consistent _chiptunes_manager access and guard resume by enabled state
  teleclaude/tts/manager.py
Due: none

fix(config): remove duplicate asyncio.get_running_loop() call in _schedule_flush
  teleclaude/config/runtime_settings.py
Due: none

feat(cli-authz-overhaul): add CLI command authorization matrix
  demos/cli-authz-overhaul/demo.md
  docs/project/design/cli-authorization-matrix.md
  teleclaude/cli/telec.py
  tests/unit/test_command_auth.py
  todos/cli-authz-overhaul/implementation-plan.md
  todos/cli-authz-overhaul/quality-checklist.md
  todos/cli-authz-overhaul/review-findings.md
  todos/cli-authz-overhaul/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

chore(cli-authz-overhaul): worktree and todo cleanup after delivery
  todos/cli-authz-overhaul/demo.md
  todos/cli-authz-overhaul/dor-report.md
  todos/cli-authz-overhaul/implementation-plan.md
  todos/cli-authz-overhaul/input.md
  todos/cli-authz-overhaul/quality-checklist.md
  todos/cli-authz-overhaul/requirements.md
  todos/cli-authz-overhaul/review-findings.md
  todos/integration-event-chain-phase2/demo.md
  todos/integration-event-chain-phase2/implementation-plan.md
  todos/integration-event-chain-phase2/input.md
  todos/integration-event-chain-phase2/quality-checklist.md
  todos/integration-event-chain-phase2/requirements.md
  todos/integration-event-chain-phase2/state.yaml
  todos/next-machine-old-code-cleanup/demo.md
  todos/next-machine-old-code-cleanup/implementation-plan.md
  todos/next-machine-old-code-cleanup/input.md
  todos/next-machine-old-code-cleanup/quality-checklist.md
  todos/next-machine-old-code-cleanup/requirements.md
  todos/next-machine-old-code-cleanup/state.yaml
Due: teleclaude-docs-check

feat(event-system-cartridges): add trust, enrichment, correlation, classification cartridges
  demos/cli-authz-overhaul/snapshot.json
  demos/event-system-cartridges/demo.md
  pyproject.toml
  teleclaude/daemon.py
  teleclaude_events/cartridges/__init__.py
  teleclaude_events/cartridges/classification.py
  teleclaude_events/cartridges/correlation.py
  teleclaude_events/cartridges/enrichment.py
  teleclaude_events/cartridges/notification.py
  teleclaude_events/cartridges/trust.py
  teleclaude_events/db.py
  teleclaude_events/pipeline.py
  teleclaude_events/schemas/system.py
  tests/unit/test_teleclaude_events/test_cartridge_classification.py
  tests/unit/test_teleclaude_events/test_cartridge_correlation.py
  tests/unit/test_teleclaude_events/test_cartridge_enrichment.py
  tests/unit/test_teleclaude_events/test_cartridge_trust.py
  tests/unit/test_teleclaude_events/test_pipeline_integration.py
  todos/delivered.yaml
  todos/event-system-cartridges/implementation-plan.md
  todos/event-system-cartridges/quality-checklist.md
  todos/event-system-cartridges/review-findings.md
  todos/event-system-cartridges/state.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

docs(chiptunes-audio): review verdict APPROVE — all findings resolved
  tests/unit/test_tts_fallback_saturation.py
  todos/chiptunes-audio/quality-checklist.md
  todos/chiptunes-audio/review-findings.md
Due: teleclaude-docs-check

chore(event-system-cartridges): delivery bookkeeping
  demos/event-system-cartridges/snapshot.json
  todos/delivered.yaml
  todos/integration-event-chain-phase2/implementation-plan.md
  todos/integration-event-chain-phase2/requirements.md
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(event-system-cartridges): worktree and todo cleanup after delivery
  teleclaude/core/integration/state_machine.py
  todos/event-system-cartridges/demo.md
  todos/event-system-cartridges/dor-report.md
  todos/event-system-cartridges/implementation-plan.md
  todos/event-system-cartridges/input.md
  todos/event-system-cartridges/quality-checklist.md
  todos/event-system-cartridges/requirements.md
  todos/event-system-cartridges/review-findings.md
  todos/event-system-cartridges/state.yaml
  todos/integration-event-chain-phase2/demo.md
Due: teleclaude-docs-check

chore(event-system-cartridges): worktree and todo cleanup after delivery
  todos/integration-event-chain-phase2/dor-report.md
  todos/integration-event-chain-phase2/state.yaml
Due: teleclaude-docs-check

chore(state): update chiptunes-audio to approved status
  todos/chiptunes-audio/state.yaml
  todos/roadmap.yaml
Due: none

gate(integration-event-chain-phase2): DOR pass — score 9, ready for build
  todos/integration-event-chain-phase2/dor-report.md
  todos/integration-event-chain-phase2/state.yaml
Due: teleclaude-docs-check

refactor(events): remove dead notification event handling
  docs/project/spec/event-vocabulary.md
  teleclaude/core/activity_contract.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/events.py
  teleclaude/daemon.py
  teleclaude/transport/redis_transport.py
  tests/unit/test_activity_contract.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_ansi_stripping.py
  tests/unit/test_install_hooks.py
  tests/unit/test_threaded_output_updates.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(event-domain-infrastructure): add domain pipeline runtime with cartridge lifecycle
  demos/event-domain-infrastructure/demo.md
  teleclaude/cli/cartridge_cli.py
  teleclaude/cli/telec.py
  teleclaude/config/schema.py
  teleclaude/daemon.py
  teleclaude_events/cartridge_loader.py
  teleclaude_events/cartridge_manifest.py
  teleclaude_events/cartridges/correlation.py
  teleclaude_events/cartridges/enrichment.py
  teleclaude_events/db.py
  teleclaude_events/domain_config.py
  teleclaude_events/domain_pipeline.py
  teleclaude_events/domain_registry.py
  teleclaude_events/lifecycle.py
  teleclaude_events/personal_pipeline.py
  teleclaude_events/pipeline.py
  teleclaude_events/schemas/system.py
  teleclaude_events/startup.py
  tests/unit/test_teleclaude_events/test_autonomy_matrix.py
  tests/unit/test_teleclaude_events/test_cartridge_loader.py
  tests/unit/test_teleclaude_events/test_domain_pipeline.py
  tests/unit/test_teleclaude_events/test_domain_registry.py
  tests/unit/test_teleclaude_events/test_lifecycle.py
  tests/unit/test_teleclaude_events/test_personal_pipeline.py
  tests/unit/test_teleclaude_events/test_startup.py
  todos/event-domain-infrastructure/implementation-plan.md
  todos/event-domain-infrastructure/quality-checklist.md
  todos/event-domain-infrastructure/requirements.md
  todos/event-domain-infrastructure/review-findings.md
Due: teleclaude-docs-check, check-cli-help

chore(event-domain-infrastructure): delivery bookkeeping
  demos/event-domain-infrastructure/snapshot.json
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(event-domain-infrastructure): worktree and todo cleanup after delivery
  todos/event-domain-infrastructure/demo.md
  todos/event-domain-infrastructure/dor-report.md
  todos/event-domain-infrastructure/implementation-plan.md
  todos/event-domain-infrastructure/input.md
  todos/event-domain-infrastructure/quality-checklist.md
  todos/event-domain-infrastructure/requirements.md
  todos/event-domain-infrastructure/review-findings.md
  todos/event-domain-infrastructure/state.yaml
Due: teleclaude-docs-check

Enforce closed-session send rejection and permanent inbound expiry
  teleclaude/api_server.py
  teleclaude/cli/telec.py
  teleclaude/cli/tool_commands.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
  teleclaude/core/inbound_errors.py
  teleclaude/core/inbound_queue.py
  tests/unit/cli/test_tool_commands.py
  tests/unit/test_api_server.py
  tests/unit/test_command_handlers.py
  tests/unit/test_inbound_queue.py
Due: check-cli-help, check-raw-sql

feat(event-signal-pipeline): add three-stage signal aggregation pipeline
  company/__init__.py
  company/cartridges/__init__.py
  company/cartridges/signal/__init__.py
  company/cartridges/signal/cluster.py
  company/cartridges/signal/ingest.py
  company/cartridges/signal/synthesize.py
  demos/event-signal-pipeline/demo.md
  docs/project/spec/event-vocabulary.md
  docs/project/spec/telec-cli-surface.md
  pyproject.toml
  teleclaude/cli/cartridge_cli.py
  teleclaude/cli/telec.py
  teleclaude/core/activity_contract.py
  teleclaude/daemon.py
  teleclaude/utils/transcript.py
  teleclaude_events/db.py
  teleclaude_events/pipeline.py
  teleclaude_events/schemas/__init__.py
  teleclaude_events/schemas/signal.py
  teleclaude_events/signal/__init__.py
  teleclaude_events/signal/ai.py
  teleclaude_events/signal/clustering.py
  teleclaude_events/signal/db.py
  teleclaude_events/signal/fetch.py
  teleclaude_events/signal/scheduler.py
  teleclaude_events/signal/sources.py
  tests/unit/test_signal/__init__.py
  tests/unit/test_signal/test_cluster.py
  tests/unit/test_signal/test_fetch.py
  tests/unit/test_signal/test_ingest.py
  tests/unit/test_signal/test_scheduler.py
  tests/unit/test_signal/test_sources.py
  tests/unit/test_signal/test_synthesize.py
  todos/event-signal-pipeline/implementation-plan.md
  todos/event-signal-pipeline/quality-checklist.md
  todos/event-signal-pipeline/review-findings.md
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

chore(event-signal-pipeline): delivery bookkeeping
  demos/event-signal-pipeline/snapshot.json
  todos/architecture-alignment-integration-pipeline/demo.md
  todos/architecture-alignment-integration-pipeline/implementation-plan.md
  todos/architecture-alignment-integration-pipeline/input.md
  todos/architecture-alignment-integration-pipeline/quality-checklist.md
  todos/architecture-alignment-integration-pipeline/requirements.md
  todos/architecture-alignment-integration-pipeline/state.yaml
  todos/async-operation-receipts/demo.md
  todos/async-operation-receipts/implementation-plan.md
  todos/async-operation-receipts/input.md
  todos/async-operation-receipts/quality-checklist.md
  todos/async-operation-receipts/requirements.md
  todos/async-operation-receipts/state.yaml
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore(event-signal-pipeline): worktree and todo cleanup after delivery
  todos/event-signal-pipeline/demo.md
  todos/event-signal-pipeline/dor-report.md
  todos/event-signal-pipeline/implementation-plan.md
  todos/event-signal-pipeline/input.md
  todos/event-signal-pipeline/quality-checklist.md
  todos/event-signal-pipeline/requirements.md
  todos/event-signal-pipeline/review-findings.md
  todos/event-signal-pipeline/state.yaml
Due: teleclaude-docs-check

chore(chiptunes-audio): delivery bookkeeping
  todos/chiptunes-audio/demo.md
  todos/chiptunes-audio/dor-report.md
  todos/chiptunes-audio/implementation-plan.md
  todos/chiptunes-audio/input.md
  todos/chiptunes-audio/quality-checklist.md
  todos/chiptunes-audio/requirements.md
  todos/chiptunes-audio/review-findings.md
  todos/chiptunes-audio/state.yaml
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore: commit in-flight operational state drift
  bin/install.sh
  pyproject.toml
  teleclaude/chiptunes/sid_cpu.py
  teleclaude/chiptunes/sid_renderer.py
  teleclaude/cli/tui/widgets/telec_footer.py
  teleclaude/daemon.py
  tests/unit/test_chiptunes.py
  todos/async-operation-receipts/demo.md
  todos/async-operation-receipts/implementation-plan.md
  todos/async-operation-receipts/input.md
  todos/async-operation-receipts/requirements.md
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore: housekeeping commit for in-flight chiptunes and TUI changes
  teleclaude/api_models.py
  teleclaude/chiptunes/manager.py
  teleclaude/chiptunes/player.py
  teleclaude/cli/models.py
  teleclaude/cli/tui/animations/sprites/ufo.py
Due: none

chore: add track start callback hook to ChiptunesManager
  teleclaude/chiptunes/manager.py
Due: none

feat(event-domain-pillars): register four business domain pillar configurations
  demos/event-domain-pillars/demo.md
  teleclaude/project_setup/domain_seeds.py
  teleclaude/project_setup/init_flow.py
  teleclaude_events/domain_seeds.py
  teleclaude_events/schemas/__init__.py
  teleclaude_events/schemas/creative_production.py
  teleclaude_events/schemas/customer_relations.py
  teleclaude_events/schemas/marketing.py
  teleclaude_events/schemas/software_development.py
  tests/unit/test_teleclaude_events/test_domain_cartridges.py
  tests/unit/test_teleclaude_events/test_domain_schemas.py
  todos/event-domain-pillars/implementation-plan.md
  todos/event-domain-pillars/quality-checklist.md
  todos/event-domain-pillars/review-findings.md
Due: teleclaude-docs-check

chore(event-domain-pillars): delivery bookkeeping
  demos/event-domain-pillars/snapshot.json
  teleclaude/chiptunes/manager.py
  teleclaude/daemon.py
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(event-domain-pillars): worktree and todo cleanup after delivery
  todos/event-domain-pillars/demo.md
  todos/event-domain-pillars/dor-report.md
  todos/event-domain-pillars/implementation-plan.md
  todos/event-domain-pillars/input.md
  todos/event-domain-pillars/quality-checklist.md
  todos/event-domain-pillars/requirements.md
  todos/event-domain-pillars/review-findings.md
  todos/event-domain-pillars/state.yaml
Due: teleclaude-docs-check

feat(clickable-sprites): draft preparation artifacts
  todos/clickable-sprites/demo.md
  todos/clickable-sprites/dor-report.md
  todos/clickable-sprites/implementation-plan.md
  todos/clickable-sprites/requirements.md
  todos/clickable-sprites/state.yaml
Due: teleclaude-docs-check

gate(clickable-sprites): DOR validation pass — score 8/10
  todos/clickable-sprites/dor-report.md
  todos/clickable-sprites/implementation-plan.md
  todos/clickable-sprites/state.yaml
Due: teleclaude-docs-check

gate(chiptunes-playlist-controls): DOR pass — score 8, all gates satisfied
  todos/chiptunes-playlist-controls/demo.md
  todos/chiptunes-playlist-controls/dor-report.md
  todos/chiptunes-playlist-controls/implementation-plan.md
  todos/chiptunes-playlist-controls/input.md
  todos/chiptunes-playlist-controls/quality-checklist.md
  todos/chiptunes-playlist-controls/requirements.md
  todos/chiptunes-playlist-controls/state.yaml
Due: teleclaude-docs-check

Improve next_work setup observability
  docs/project/design/architecture/next-machine.md
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_state_deps.py
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(clickable-sprites): clickable banner and sprites README
  assets/screenshots/tui/dark/tui-sessions-dark-0.1.1.png
  assets/screenshots/tui/dark/tui-sessions-dark-0.1.png
  assets/screenshots/tui/dark/tui-work-preparation-dark-0.1.1.png
  assets/screenshots/tui/dark/tui-work-preparation-dark-0.1.png
  assets/screenshots/tui/light/tui-sessions-light-0.1.png
  teleclaude/cli/tui/animations/sprites/README.md
  teleclaude/cli/tui/widgets/banner.py
Due: teleclaude-docs-check

fix(clickable-sprites): rewrite sprites README with proper formatting
  teleclaude/cli/tui/animations/sprites/README.md
Due: teleclaude-docs-check

gate(next-machine-old-code-cleanup): DOR pass — score 8, all gates satisfied
  todos/next-machine-old-code-cleanup/dor-report.md
  todos/next-machine-old-code-cleanup/state.yaml
Due: teleclaude-docs-check

gate(event-alpha-container): DOR pass — score 8, all gates satisfied
  todos/event-alpha-container/demo.md
  todos/event-alpha-container/dor-report.md
  todos/event-alpha-container/implementation-plan.md
  todos/event-alpha-container/requirements.md
  todos/event-alpha-container/state.yaml
Due: teleclaude-docs-check

feat(chiptunes-playlist-controls): four-button player control group with track history and favorites
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/chiptunes/favorites.py
  teleclaude/chiptunes/manager.py
  teleclaude/chiptunes/sid_renderer.py
  teleclaude/chiptunes/worker.py
  teleclaude/cli/api_client.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/widgets/telec_footer.py
  teleclaude/daemon.py
  tests/unit/test_chiptunes.py
  todos/chiptunes-playlist-controls/implementation-plan.md
  todos/chiptunes-playlist-controls/quality-checklist.md
Due: teleclaude-docs-check

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  check-cli-help: any of: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  check-raw-sql: any of: ^teleclaude/(core/db\.py|hooks/receiver\.py)$
