Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help, check-raw-sql

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: format
    name: Format (tools/format.sh)
    entry: ./tools/format.sh
    language: system
    pass_filenames: true
    require_serial: true
  - id: lint
    name: Lint (make lint)
    entry: make lint
    language: system
    pass_filenames: false
  - id: test
    name: Run tests
    entry: make test
    language: system
    pass_filenames: false
    stages:
    - manual
- repo: local
  hooks:
  - id: teleclaude-docs-check
    name: Check for hardcoded HOME paths in docs
    entry: bash -c
    args:
    - 'files=$(git diff --cached --name-only --diff-filter=ACM -- "*.md"); matches=""; for f in $files; do git show ":$f" | grep -q "@/Users/|@/home/" && matches="$matches $f"; done; if [ -n "$matches" ]; then printf "%s\n" "$matches"; echo "ERROR: Hardcoded HOME paths found in docs. Run ''telec init'' to set up filters."; exit 1; fi'
    language: system
    files: \.md$
    pass_filenames: false
  - id: teleclaude-docs-validate
    name: Validate docs and artifacts
    entry: bash -c
    args:
    - 'uv run --quiet -m teleclaude.cli.telec sync --validate-only --project-root "$PWD"'
    language: system
    pass_filenames: false
    files: ^(docs/|agents/|\.agents/|scripts/snippet_schema\.yaml|teleclaude/constants\.py)
  - id: check-cli-help
    name: Verify CLI -h exits cleanly
    entry: ./tools/checks/check-cli-help.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/cli/(telec|config_cli|config_cmd)\.py$
  - id: check-raw-sql
    name: Check for raw SQL without noqa markers
    entry: ./tools/checks/check-raw-sql.sh
    language: system
    pass_filenames: false
    files: ^teleclaude/(core/db\.py|hooks/receiver\.py)$

doc: mark implementation tasks as complete
  todos/tui-markdown-editor/implementation-plan.md
Due: teleclaude-docs-check

doc: complete build gates for tui-markdown-editor
  todos/tui-markdown-editor/quality-checklist.md
Due: teleclaude-docs-check

docs(review): approve tui-markdown-editor with minor findings
  todos/tui-markdown-editor/quality-checklist.md
  todos/tui-markdown-editor/review-findings.md
  todos/tui-markdown-editor/state.json
Due: teleclaude-docs-check

chore(roadmap): record tui-markdown-editor delivery
  todos/delivered.yaml
  todos/roadmap.yaml
  todos/tui-markdown-editor/quality-checklist.md
Due: teleclaude-docs-check

chore: cleanup tui-markdown-editor worktree and todo artifacts
  todos/tui-markdown-editor/dor-report.md
  todos/tui-markdown-editor/implementation-plan.md
  todos/tui-markdown-editor/input.md
  todos/tui-markdown-editor/quality-checklist.md
  todos/tui-markdown-editor/requirements.md
  todos/tui-markdown-editor/review-findings.md
  todos/tui-markdown-editor/state.json
Due: teleclaude-docs-check

Fix codex pane tint refresh and project header connector
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/pane_bridge.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/widgets/project_header.py
Due: none

feat(demo): tui-markdown-editor delivery celebration
  demos/001-tui-markdown-editor/demo.sh
  demos/001-tui-markdown-editor/snapshot.json
Due: none

Revert non-icon TUI state changes
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/pane_bridge.py
  teleclaude/cli/tui/theme.py
Due: none

refactor(core): extract roadmap assembly logic to core module
  teleclaude/core/command_handlers.py
  teleclaude/core/roadmap.py
  tests/unit/core/test_roadmap.py
Due: none

feat(cli): unify telec roadmap with core assembly logic
  teleclaude/cli/telec.py
Due: check-cli-help

fix(tui): pane reload stability, view→edit mode switch, doc preview cleanup
  docs/plans/2026-02-21-agent-dispatch-guidance-design.md
  docs/plans/2026-02-21-agent-dispatch-guidance-plan.md
  teleclaude/cli/editor.py
  teleclaude/cli/telec.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/pane_bridge.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/views/preparation.py
  teleclaude/core/next_machine/core.py
  tests/unit/test_pane_manager.py
  todos/agent-dispatch-guidance/dor-report.md
  todos/agent-dispatch-guidance/implementation-plan.md
  todos/agent-dispatch-guidance/input.md
  todos/agent-dispatch-guidance/quality-checklist.md
  todos/agent-dispatch-guidance/requirements.md
  todos/agent-dispatch-guidance/state.json
  todos/bugs-round-1/implementation-plan.md
  todos/bugs-round-1/input.md
  todos/bugs-round-1/quality-checklist.md
  todos/bugs-round-1/requirements.md
  todos/bugs-round-1/state.json
  todos/demo-runner/implementation-plan.md
  todos/demo-runner/input.md
  todos/demo-runner/quality-checklist.md
  todos/demo-runner/requirements.md
  todos/demo-runner/state.json
  todos/roadmap.yaml
  todos/unified-roadmap-assembly/dor-report.md
  todos/unified-roadmap-assembly/implementation-plan.md
  todos/unified-roadmap-assembly/requirements.md
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

docs(todo): update unified-roadmap-assembly status and plans
  todos/unified-roadmap-assembly/dor-report.md
  todos/unified-roadmap-assembly/implementation-plan.md
  todos/unified-roadmap-assembly/requirements.md
  todos/unified-roadmap-assembly/state.json
Due: teleclaude-docs-check

docs(todo): add review findings for unified-roadmap-assembly
  todos/unified-roadmap-assembly/quality-checklist.md
  todos/unified-roadmap-assembly/review-findings.md
  todos/unified-roadmap-assembly/state.json
Due: teleclaude-docs-check

refactor(core): cleanup roadmap assembly and test imports
  teleclaude/core/roadmap.py
  tests/unit/core/test_roadmap.py
Due: none

docs(unified-roadmap-assembly): check off build gates in quality checklist
  todos/unified-roadmap-assembly/quality-checklist.md
Due: teleclaude-docs-check

docs(unified-roadmap-assembly): approve review round 2
  todos/unified-roadmap-assembly/review-findings.md
  todos/unified-roadmap-assembly/state.json
Due: teleclaude-docs-check

feat(tui): add agent-variant themes with warm primary color
  teleclaude/cli/editor.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/preparation.py
  todos/themed-primary-color/implementation-plan.md
  todos/themed-primary-color/input.md
  todos/themed-primary-color/quality-checklist.md
  todos/themed-primary-color/requirements.md
  todos/themed-primary-color/state.json
Due: teleclaude-docs-check

fix(tui): restore legacy test stubs to unblock daemon and tests
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/views/preparation.py
Due: none

fix: editor autosave on focus loss, surface missing active_agent errors
  teleclaude/cli/editor.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/widgets/session_row.py
Due: none

chore: cleanup unified-roadmap-assembly todo artifacts
  todos/unified-roadmap-assembly/dor-report.md
  todos/unified-roadmap-assembly/implementation-plan.md
  todos/unified-roadmap-assembly/input.md
  todos/unified-roadmap-assembly/quality-checklist.md
  todos/unified-roadmap-assembly/requirements.md
  todos/unified-roadmap-assembly/review-findings.md
  todos/unified-roadmap-assembly/state.json
Due: teleclaude-docs-check

review(themed-primary-color): approve with suggestions
  todos/themed-primary-color/quality-checklist.md
  todos/themed-primary-color/review-findings.md
  todos/themed-primary-color/state.json
Due: teleclaude-docs-check

chore(todos): finalize themed-primary-color delivery
  todos/delivered.yaml
  todos/roadmap.yaml
Due: none

chore(todos): finalize themed-primary-color quality checklist
  todos/themed-primary-color/quality-checklist.md
Due: teleclaude-docs-check

fix(tui): treat None agent as valid shell session, not error
  docs/project/spec/telec-cli-surface.md
  teleclaude/cli/telec.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/pane_bridge.py
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/theme.py
  teleclaude/cli/tui/widgets/session_row.py
  teleclaude/core/next_machine/core.py
  tests/unit/test_next_machine_group_sweep.py
Due: teleclaude-docs-check, teleclaude-docs-validate, check-cli-help

fix: atomic session creation — emit SESSION_STARTED with complete data
  teleclaude/cli/tui/app.py
  teleclaude/core/command_handlers.py
  teleclaude/core/db.py
  teleclaude/daemon.py
  todos/demo-runner/dor-report.md
  todos/demo-runner/state.json
  todos/themed-primary-color/implementation-plan.md
  todos/themed-primary-color/input.md
  todos/themed-primary-color/quality-checklist.md
  todos/themed-primary-color/requirements.md
  todos/themed-primary-color/review-findings.md
  todos/themed-primary-color/state.json
Due: teleclaude-docs-check, check-raw-sql

wip(agent-dispatch-guidance): config-driven agent guidance composition (phase 2)
  teleclaude/config/__init__.py
  teleclaude/config/schema.py
  teleclaude/core/next_machine/core.py
  tests/integration/config.yml
  tests/unit/test_agent_config_loading.py
  tests/unit/test_agent_dispatch_config.py
  tests/unit/test_agent_guidance.py
Due: none

chore: update state.json for agent-dispatch-guidance build progress
  todos/agent-dispatch-guidance/state.json
Due: none

feat(config): add agent dispatch guidance config schema and loading
  config.sample.yml
  todos/agent-dispatch-guidance/implementation-plan.md
Due: teleclaude-docs-check

docs: mark Phase 2 as completed in implementation plan
  todos/agent-dispatch-guidance/implementation-plan.md
Due: teleclaude-docs-check

test: migrate next-machine tests to guidance-based dispatch
  tests/unit/core/test_next_machine_deferral.py
  tests/unit/test_next_machine_breakdown.py
  tests/unit/test_next_machine_state_deps.py
Due: none

feat(agent-cli): respect config.agents.enabled in _pick_agent
  teleclaude/helpers/agent_cli.py
  tests/unit/test_agent_cli.py
  todos/agent-dispatch-guidance/implementation-plan.md
Due: teleclaude-docs-check

docs: update next-machine and config docs for guidance-based dispatch
  docs/project/design/architecture/next-machine.md
  docs/project/spec/teleclaude-config.md
  todos/agent-dispatch-guidance/implementation-plan.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(dispatch): final wiring and validation for guidance-based dispatch
  teleclaude/api_server.py
  tests/unit/test_next_machine_demo.py
  tests/unit/test_next_machine_hitl.py
  todos/agent-dispatch-guidance/implementation-plan.md
  todos/agent-dispatch-guidance/quality-checklist.md
Due: teleclaude-docs-check

review(dispatch): R1 findings for guidance-based dispatch
  todos/agent-dispatch-guidance/quality-checklist.md
  todos/agent-dispatch-guidance/review-findings.md
  todos/agent-dispatch-guidance/state.json
Due: teleclaude-docs-check

fix(core): raise RuntimeError when all agents are unavailable
  teleclaude/core/next_machine/core.py
  tests/unit/test_agent_guidance.py
Due: none

docs(todo): mark Task 3.1 as completed
  todos/agent-dispatch-guidance/implementation-plan.md
Due: teleclaude-docs-check

docs(todo): update review findings and state after fixes
  todos/agent-dispatch-guidance/review-findings.md
  todos/agent-dispatch-guidance/state.json
Due: teleclaude-docs-check

review(dispatch): R2 approve guidance-based dispatch
  todos/agent-dispatch-guidance/quality-checklist.md
  todos/agent-dispatch-guidance/review-findings.md
  todos/agent-dispatch-guidance/state.json
Due: teleclaude-docs-check

chore(finalize): mark agent-dispatch-guidance delivered
  todos/agent-dispatch-guidance/quality-checklist.md
  todos/delivered.yaml
  todos/roadmap.yaml
Due: teleclaude-docs-check

chore: cleanup agent-dispatch-guidance delivery
  demos/002-themed-primary-color/demo.sh
  demos/002-themed-primary-color/snapshot.json
  todos/agent-dispatch-guidance/dor-report.md
  todos/agent-dispatch-guidance/implementation-plan.md
  todos/agent-dispatch-guidance/input.md
  todos/agent-dispatch-guidance/quality-checklist.md
  todos/agent-dispatch-guidance/requirements.md
  todos/agent-dispatch-guidance/review-findings.md
  todos/agent-dispatch-guidance/state.json
  todos/bugs.md
  todos/icebox.yaml
  todos/roadmap.yaml
  todos/telegram-fallback-audit-2026-02-12.md
Due: teleclaude-docs-check
