Repository InstruktAI/TeleClaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: teleclaude-docs-check, teleclaude-docs-validate

teleclaude-docs-check:
  name: Check for hardcoded HOME paths in docs
  entry: bash -c
  args:
  ...

teleclaude-docs-validate:
  name: Validate docs (sync_resources strict)
  entry: bash -c
  args:
  - uv run --quiet scripts/sync_resources.py --project-root "$PWD"
  language: system
  pass_filenames: false

fix(tui): remove stale SessionUpdateReason comment reference
  teleclaude/cli/tui/state.py
  todos/agent-activity-events/state.json
  todos/roadmap.md
Due: teleclaude-docs-check

docs(deferrals): document test fix details and unrelated failures
  todos/agent-activity-events/deferrals.md
Due: teleclaude-docs-check

feat(coordinator): add error handling for agent activity event emissions
  teleclaude/core/agent_coordinator.py
Due: none

fix(api): narrow exception handling in WebSocket broadcast
  teleclaude/api_server.py
Due: none

docs(events): add SUPPORTED_PAYLOAD_TYPES constant for build_agent_payload
  teleclaude/core/events.py
Due: none

docs(deferrals): document test gaps and justify Phase 3-7 deferral
  todos/agent-activity-events/deferrals.md
Due: teleclaude-docs-check

fix(coordinator): emit error events for user-visible background task failures
  teleclaude/core/agent_coordinator.py
Due: none

docs(review): document all fixes applied to address review findings
  todos/agent-activity-events/review-findings.md
Due: teleclaude-docs-check

docs(review): approve agent-activity-events Phase 1-2 foundation
  todos/agent-activity-events/quality-checklist.md
  todos/agent-activity-events/review-findings-round-2.md
  todos/agent-activity-events/state.json
Due: teleclaude-docs-check

feat(todos): process agent-activity-events deferrals, create phase-3-7 follow-up
  todos/agent-activity-events-phase-3-7/implementation-plan.md
  todos/agent-activity-events-phase-3-7/input.md
  todos/agent-activity-events-phase-3-7/quality-checklist.md
  todos/agent-activity-events-phase-3-7/requirements.md
  todos/agent-activity-events-phase-3-7/state.json
  todos/agent-activity-events/state.json
  todos/dependencies.json
  todos/roadmap.md
Due: teleclaude-docs-check

docs(finalize): update quality checklist for finalization
  todos/agent-activity-events/quality-checklist.md
Due: teleclaude-docs-check

docs(delivery): log agent-activity-events completion
  todos/delivered.md
  todos/roadmap.md
Due: teleclaude-docs-check

fix(tui): derive pane haze from terminal background
  agents/commands/next-finalize.md
  docs/global/software-development/procedure/lifecycle/finalize.md
  teleclaude/cli/tui/pane_manager.py
  teleclaude/cli/tui/theme.py
  teleclaude/core/next_machine/core.py
  todos/daemon-independent-jobs/dor-report.md
  todos/daemon-independent-jobs/implementation-plan.md
  todos/daemon-independent-jobs/quality-checklist.md
  todos/daemon-independent-jobs/requirements.md
  todos/daemon-independent-jobs/state.json
Due: teleclaude-docs-check, teleclaude-docs-validate

chore: post-delivery cleanup and daemon-independent-jobs docs
  docs/global/general/procedure/agent-job-hygiene.md
  docs/project/design/architecture/jobs-runner.md
  todos/agent-activity-events/deferrals.md
  todos/agent-activity-events/implementation-plan.md
  todos/agent-activity-events/quality-checklist.md
  todos/agent-activity-events/requirements.md
  todos/agent-activity-events/review-findings-round-2.md
  todos/agent-activity-events/review-findings.md
  todos/agent-activity-events/state.json
  todos/roadmap.md
Due: teleclaude-docs-check, teleclaude-docs-validate

feat(tui): decouple output rendering from session records
  teleclaude/api_models.py
  teleclaude/api_server.py
  teleclaude/cli/tui/app.py
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/cli/tui/widgets/footer.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/events.py
  teleclaude/hooks/checkpoint.py
  teleclaude/utils/transcript.py
  tests/unit/test_checkpoint_builder.py
  tests/unit/test_tui_footer_widget.py
  tests/unit/test_tui_sessions_view.py
  tests/unit/test_tui_state.py
Due: none

fix(checkpoint): read full transcript on session-fallback
  teleclaude/utils/transcript.py
Due: none

fix(checkpoint): add shared-utilities bucket for teleclaude/utils
  teleclaude/constants.py
Due: teleclaude-docs-validate

fix(tui): switch codex synthetic activity to output highlight
  teleclaude/cli/tui/views/sessions.py
  teleclaude/core/agent_coordinator.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_tui_sessions_view.py
Due: none

Fix Codex synthetic activity transition and temp output placeholder
  teleclaude/cli/tui/views/sessions.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/polling_coordinator.py
  tests/unit/test_agent_coordinator.py
  tests/unit/test_polling_coordinator.py
  tests/unit/test_tui_sessions_view.py
Due: none

feat: voices for kokoro
  config.sample.yml
Due: none

fix(checkpoint): remove reactivation threshold, rely on stop_hook_active
  teleclaude/constants.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/command_handlers.py
  teleclaude/hooks/receiver.py
  tests/unit/test_checkpoint_builder.py
  tests/unit/test_checkpoint_hook.py
Due: teleclaude-docs-validate

docs: mark Phase 1 documentation tasks complete
  todos/daemon-independent-jobs/implementation-plan.md
Due: teleclaude-docs-check

feat(tui): launch prep todo work via session modal
  teleclaude/cli/tui/views/preparation.py
  tests/unit/test_preparation_view.py
Due: none

feat(agent_cli): add run_job() for daemon-independent agent subprocess invocation
  teleclaude/helpers/agent_cli.py
  todos/daemon-independent-jobs/implementation-plan.md
Due: teleclaude-docs-check

feat(cron): replace daemon API with subprocess invocation for agent jobs
  teleclaude/config/schema.py
  teleclaude/cron/runner.py
  todos/daemon-independent-jobs/implementation-plan.md
Due: teleclaude-docs-check

fix(cron): include agent jobs in --list output
  scripts/cron_runner.py
  todos/daemon-independent-jobs/implementation-plan.md
Due: teleclaude-docs-check

feat(cron): add pidfile-based overlap prevention
  teleclaude/cron/runner.py
Due: none

feat(infra): 5-minute cron interval and plist auto-installation
  bin/init.sh
  launchd/ai.instrukt.teleclaude.cron.plist
Due: none

test: add unit tests for daemon-independent job execution
  tests/unit/test_daemon_independent_jobs.py
Due: none

docs: update implementation plan and quality checklist
  todos/daemon-independent-jobs/implementation-plan.md
  todos/daemon-independent-jobs/quality-checklist.md
Due: teleclaude-docs-check

fix(tests): align stale unit tests with current source behavior
  tests/snapshots/tui/sessions_basic.txt
  tests/unit/test_adapter_boundary_purity.py
  tests/unit/test_mcp_wrapper.py
  tests/unit/test_mlx_tts_backend.py
  tests/unit/test_next_machine_hitl.py
Due: none

docs: mark daemon-independent-jobs as in-progress in roadmap
  todos/roadmap.md
Due: teleclaude-docs-check

docs: add baseline evidence for pre-existing test failures
  todos/daemon-independent-jobs/implementation-plan.md
  todos/daemon-independent-jobs/quality-checklist.md
Due: teleclaude-docs-check

docs: refine baseline evidence with exact test counts and root causes
  todos/daemon-independent-jobs/implementation-plan.md
  todos/daemon-independent-jobs/quality-checklist.md
Due: teleclaude-docs-check

fix(tests): align integration tests with env-based telegram adapter startup
  tests/integration/conftest.py
  tests/integration/test_e2e_smoke.py
Due: none

docs: update build artifacts with clean test results
  todos/daemon-independent-jobs/implementation-plan.md
  todos/daemon-independent-jobs/quality-checklist.md
Due: teleclaude-docs-check

review(daemon-independent-jobs): approve with 0 critical, 2 important, 3 suggestions
  todos/daemon-independent-jobs/quality-checklist.md
  todos/daemon-independent-jobs/review-findings.md
  todos/daemon-independent-jobs/state.json
Due: teleclaude-docs-check

docs(review): add second-pass review confirmation for daemon-independent-jobs
  todos/daemon-independent-jobs/review-findings.md
  todos/daemon-independent-jobs/state.json
Due: teleclaude-docs-check

refactor(events): rename activity vocabulary (after_model/agent_output → tool_use/tool_done)
  teleclaude/cli/tui/state.py
  teleclaude/cli/tui/views/sessions.py
  teleclaude/core/agent_coordinator.py
  teleclaude/core/db.py
  teleclaude/core/db_models.py
  teleclaude/core/events.py
  teleclaude/core/migrations/007_rename_activity_columns.py
  teleclaude/core/models.py
  teleclaude/hooks/receiver.py
Due: none

review(daemon-independent-jobs): add I4 SystemExit escape finding from silent failure analysis
  todos/daemon-independent-jobs/review-findings.md
Due: teleclaude-docs-check

Path conditions:
  teleclaude-docs-check: any of: \.md$
  teleclaude-docs-validate: any of: ^(docs/|scripts/snippet_schema\.yaml|scripts/sync_resources\.py|teleclaude/constants\.py)
